<div class="modal-header">
    <h3 class="modal-title">
        שורשיו של פריט בפקודת עבודה
        </h3>
    <label>פריט</label>
    <span>{{workOrderBackTraceModel.workOrderItem.attributes.productDescription}}</span>
    <label>כמות</label>
    <span>{{workOrderBackTraceModel.workOrderItem.attributes.quantity | number:2}}</span>
    <span>{{workOrderBackTraceModel.workOrderItem.attributes.measurementUnit.label}}</span>
</div>
<div class="modal-body">
    <table class="table table-hover">
        <thead>
        <th></th>
        <th>
            סוג
        </th>
        <th>
            קטגוריה
        </th>
        <th>
            תיאור
        </th>
        <th>
            כמות בן
        </th>
        <th>
            כמות
        </th>
        <th>
            יח' מידה
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="item in workOrderBackTraceModel.backTrace
                | filter:workOrderBackTraceModel.isShowItem track by item.seq">
            <td ng-click="workOrderBackTraceModel.setExpand(item)"><b>{{item.expand}}</b></td>
             <td>{{item.ident+item.domain.label}}</td>
            <td>{{item.attributes.category.label}}</td>
            <td>{{item.attributes.productDescription}}</td>
            <td>{{item.quantity | number:2}}</td>
            <td>{{item.attributes.quantity | number:2}}</td>
            <td>{{item.attributes.measurementUnit.label}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="workOrderBackTraceModel.done()">
        סגור
        </button>
</div>
