<H4>
  <span>אירועים שעברו / בוטלו / השתנו / התווספו עד ליום</span>
  <span>{{workOrderModel.horizonDate | date:'EEE dd/MM/yy'}}</span>
</H4>
<table class="table" style="width: 80%">
  <thead>
  <th style="width: 9%">סיבה</th>
  <th style="width: 9%">    מספר  </th>
  <th style="width: 15%">   תאריך  </th>
  <th style="width: 8%">    מסירה  </th>
  <th style="width: 7%">יציאה  </th>
  <th style="width: 9%">    לקוח  </th>
  <th style="width: 9%">    סועדים  </th>
  <th style="width: 9%">    תפריט  </th>
  <th style="width: 9%">    סטטוס  </th>
  <th style="width: 9%">זיהוי</th>
  <th style="width: 7%">הכלל</th>
  </thead>
</table>
<div ng-repeat="changedOrder in workOrderModel.changedOrders track by changedOrder.id">
<table class="table" style="width: 80%">
  <tbody>
  <tr ng-class="changedOrder.woItem.view.orderStatus.id===1?'bg-active':
    changedOrder.woItem.view.orderStatus.id===2?'bg-warning':
   (changedOrder.woItem.view.orderStatus.id>=3 && changedOrder.woItem.view.orderStatus.id<=5)?'bg-success':
    changedOrder.woItem.view.orderStatus.id===6?'active myCanceledEvent':null">
    <td style="width: 9%"><label>{{changedOrder.reason}}</label></td>
    <td style="width: 9%">
      <a ng-href="#/editOrderView/{{changedOrder.woItem.properties.order.id}}/0">{{changedOrder.woItem.properties.order.number}}</a>
    </td>
    <td style="width: 15%">{{changedOrder.woItem.properties.order.eventDate | date: 'EEE dd/MM/yyyy'}}</td>
    <td style="width: 8%">{{changedOrder.woItem.properties.order.eventTime | date: 'HH:mm'}}</td>
    <td style="width: 7%">{{changedOrder.woItem.properties.order.exitTime | date: 'HH:mm'}}</td>
    <td style="width: 9%">{{changedOrder.woItem.view.customer.firstName+' '+
                            changedOrder.woItem.view.customer.lastName}}</td>
    <td style="width: 9%">{{changedOrder.woItem.properties.order.noOfParticipants}}</td>
    <td style="width: 9%">{{changedOrder.woItem.properties.order.header.title}}</td>
    <td style="width: 9%" ng-style="workOrderModel.isOrderColors ?
       changedOrder.woItem.view.color.style : null">
      {{changedOrder.woItem.view.orderStatus.name}}
    </td>
    <td style="width: 9%">{{changedOrder.woItem.view.color.tId}}</td>
    <td style="width: 7%">
      <input type="checkbox" ng-show="changedOrder.action==='new'" ng-model="changedOrder.isIncludeInWo">
    </td>
  </tr>
  </tbody>
</table>
  <div style="margin-right: 5%" ng-show="changedOrder.action==='itemChange'">
  <table class="table table-hover" style="width: 75%">
    <thead>
    <th style="width: 11%">סיבה</th>
    <th style="width: 25%">מנה</th>
    <th style="width: 7%">כמות קודמת</th>
    <th style="width: 7%">כמות חדשה</th>
    <th style="width: 25%">התאמה אישית קודמת</th>
    <th style="width: 25%">התאמה אישית חדשה</th>
    </thead>
    <tbody>
    <tr ng-repeat="item in changedOrder.items track by item.newItem.index">
      <td><label>{{item.reason}}</label></td>
      <td>{{item.newItem.productName}}</td>
      <td ng-hide="item.action==='new'">{{item.oldItem.quantity | number:2}}</td>
      <td ng-show="item.action==='new'">{{0 | number:2}}</td>
      <td ng-hide="item.action==='delete'">{{item.newItem.quantity | number:2}}</td>
      <td ng-show="item.action==='delete'">{{0 | number:2}}</td>
      <td ng-hide="item.item.action==='new'">
        {{item.oldItem.isDescChanged && !item.oldItem.isCosmeticChange ?
          item.oldItem.kitchenRemark ? item.oldItem.kitchenRemark : item.oldItem.productDescription : 'אין'}}
      </td>
      <td ng-show="item.action==='new'"></td>
      <td ng-hide="item.action==='delete'">
        {{item.newItem.isDescChanged && !item.newItem.isCosmeticChange ?
        item.newItem.kitchenRemark ? item.newItem.kitchenRemark : item.newItem.productDescription : 'אין'}}
      </td>
      <td ng-show="item.action==='delete'"></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
<button class="btn btn-success"
        ng-show="workOrderModel.isWoMajorChange" ng-disabled="true"
        ng-click="workOrderModel.updateWorkOrder()">
  עדכן פקודה קיימת
</button>
<button class="btn btn-primary"
        ng-show="workOrderModel.isWoMajorChange"
        ng-click="workOrderModel.createNewWorkOrder(true)">
  צור פקודה חדשה
</button>
<button class="btn btn-warning"
        ng-show="workOrderModel.isWoChanged"
        ng-click="workOrderModel.ignoreWorkOrderChanges()">
  <span ng-show="workOrderModel.isWoMajorChange">התעלם</span>
  <span ng-hide="workOrderModel.isWoMajorChange">OK</span>
</button>
