<div ng-class="workOrderModel.isPrint ? 'woPrint' : null">
  <table style="width:90%"  ng-hide="workOrderModel.isPrint">
  <tr>
    <td style="width:10%">
      <span>&nbsp;הצג</span>
      <input type="checkbox"
             ng-model="workOrderModel.hierarchicalWorkOrder[1].isShowAll"
             ng-change="workOrderModel.setShowAll(1)">
    </td>
    <td style="width:20%;font-size: large">
  {{workOrderModel.domains[1].forWorkItem}}
      <span ng-hide="workOrderModel.woIndex.properties.domainStatus[1]">
        --- לא מעודכן ---
      </span>
    </td>
    <td style="width: 15%">
      <button class="btn btn-default"
              ng-disabled="workOrderModel.isProcessing"
              ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
        <a href="#/woStickers/{{workOrderModel.woIndex.properties.woId}}" target="_blank"
           ng-disabled="workOrderModel.isProcessing"
           ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
          מדבקות
        </a>
      </button>
    </td>
    <td style="width: 15%">
      <button class="btn btn-default"
              ng-disabled="workOrderModel.isProcessing"
              ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
        <a href="#/snacksAndDesserts/{{workOrderModel.woIndex.properties.woId}}" target="_blank"
           ng-disabled="workOrderModel.isProcessing"
           ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
          חטיפים וקינוחים
        </a>
      </button>
    </td>
  </tr>
</table>
  <div ng-show="workOrderModel.isPrint">
    <h1>
      <span>רשימת</span>
      {{workOrderModel.domains[workOrderModel.domain].forWorkItem}}
      <span>{{workOrderModel.today | date:'dd/MM/yy'}}</span>
    </h1>
  </div>
<div ng-show="workOrderModel.woOrders.length>15">
  יותר מ 15 אירועים בפקודה - לא מוצג פירוט אירועים
</div>
<div ng-repeat="cat in workOrderModel.hierarchicalWorkOrder[1].categories track by cat.category.tId"
     ng-show="workOrderModel.isShowCategory(cat)">
  <div ng-show="workOrderModel.isPrint && $index>workOrderModel.firstCategoryIndex">
    <p style="page-break-after: always;">&nbsp;</p>
    <p style="page-break-before: always;">&nbsp;</p>
  </div>
  <input type="checkbox" ng-model="cat.isShow" style="margin-right: 1%" ng-hide="workOrderModel.isPrint">
  <label>{{cat.category.label}}</label>
  <table ng-show="cat.isShow" class="table" style="width:90%">
    <thead>
    <th>מנה</th>
    <th colspan="2">כמות</th>
    <th ng-repeat="order in workOrderModel.woOrders track by order.id"
        ng-show="workOrderModel.woOrders.length<16 &&
        (workOrderModel.isShowChanges || !(order.properties.status==='del'))">
      <span ng-class="order.properties.status==='del' ? 'cancel' : null">
        <span>{{order.view.customer.firstName}}</span>
        <span>{{workOrderModel.dayName(order.properties.order.eventDate)}}</span>
        <span>{{order.properties.order.exitTime | date:'HH:mm'}}</span>
        <img ng-show="workOrderModel.isOrderColors"
             ng-src="app/img/smallColors/{{order.view.color.stickerColor}}.jpg"/>
        <label ng-show="workOrderModel.isOrderNumbers">[{{order.view.color.tId}}]</label>
      </span>
    </th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="woItem in cat.list track by woItem.id"
        ng-show="workOrderModel.isShowChanges || !(woItem.properties.status==='del')"
        ng-class="workOrderModel.isShowChanges ? (woItem.properties.status==='new' ? 'new' :
                woItem.properties.status==='upd' ? 'changed' :
                woItem.properties.status==='del' ? 'bg-active cancel' : null) : null">
      <td style="width: 30%">
        {{woItem.properties.productName}}
        <div ng-show="woItem.properties.personalAdjustment">
          <label>התאמה אישית מס' {{woItem.descCnt}}</label>
        </div>
      </td>
      <td style="width: 7%">
        <span ng-show="workOrderModel.isShowChanges && woItem.properties.originalQuantity>0"
              class="cancel">
          {{woItem.properties.originalQuantity}}
        </span>
        <span ng-show="workOrderModel.isShowChanges && woItem.properties.originalQuantity>0">&nbsp;</span>
        <span ng-hide="workOrderModel.isShowChanges && woItem.properties.status==='del'">
          {{woItem.properties.quantity}}
        </span>
      </td>
      <td style="width: 10%">{{woItem.properties.measurementUnit.label}}</td>
      <td ng-repeat="order in woItem.view.orderQuant track by $index"
          ng-show="workOrderModel.woOrders.length<16 &&
        (workOrderModel.isShowChanges || !(order.status==='del'))"
          ng-class="workOrderModel.isShowChanges && order.quantity ? (
          order.status==='new' ? 'new' : order.status==='upd' ? 'changed' : order.status==='del' ? 'cancel' : null
          ) : (order.quantity && order.orderStatus.id===2?'bg-warning':null)"> <!-- mark events not in final status -->
        <span ng-show="workOrderModel.isShowChanges && order.originalQuantity>0"
              class="cancel">
          {{order.originalQuantity}}
        </span>
        <span ng-show="workOrderModel.isShowChanges && order.originalQuantity>0">&nbsp;</span>
        <span ng-hide="workOrderModel.isShowChanges && order.status==='del'">
           {{order.quantity ? order.quantity : 0}}
         </span>
       </td>
   </tr>
    </tbody>
  </table>

  <div ng-repeat="changed in cat.changedDescriptions track by changed.cnt" ng-show="cat.isShow">
      <label>התאמה אישית מס' {{changed.cnt}}:</label>
      <label>{{changed.desc}}</label>
  </div>
  <p ng-show="cat.isShow && cat.changedDescriptions.length"></p>
</div>
</div>