<table style="width:80%">
  <tr>
    <td style="width:20%" ng-hide="workOrderModel.isPrint[workOrderModel.domain]">
      <span>&nbsp;הצג</span>
      <input type="checkbox"
             ng-model="workOrderModel.hierarchicalWorkOrder[workOrderModel.domain].isShowAll"
             ng-change="workOrderModel.setShowAll(workOrderModel.domain)">
    </td>
    <td style="width:40%;font-size: large" ng-hide="workOrderModel.isPrint[workOrderModel.domain]">
      {{workOrderModel.domains[workOrderModel.domain].forWorkItem}}
      <span ng-show="workOrderModel.isShowTodayOnly[workOrderModel.domain]">להיום</span>
      <span ng-hide="workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]">
        --- לא מעודכן ---
      </span>
    </td>
    <td style="width:40%;font-size: large" ng-show="workOrderModel.isPrint[workOrderModel.domain]">
      {{workOrderModel.domains[workOrderModel.domain].forWorkItem}}
      <span ng-show="workOrderModel.isShowTodayOnly[workOrderModel.domain]">
        להיום
      </span>
    </td>
    <td style="width: 20%" ng-show="workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]">
      <span>פירוט</span>
      <input type="checkbox" ng-model="workOrderModel.isShowDetails[workOrderModel.domain]">
    </td>
    <td style="width: 20%" ng-show="workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]">
      <span>הצג רק להיום</span>
      <input type="checkbox" ng-model="workOrderModel.isShowTodayOnly[workOrderModel.domain]">
    </td>
    <td style="width:20%" ng-show="workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]">
      <span>להדפסה</span>
      <input type="checkbox" ng-model="workOrderModel.isPrint[workOrderModel.domain]">
    </td>
  </tr>
</table>
<div ng-repeat="cat in workOrderModel.hierarchicalWorkOrder[workOrderModel.domain].categories track by cat.category.tId"
     ng-hide="workOrderModel.isPrint[workOrderModel.domain] ||
              !workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]">
  <input type="checkbox" ng-model="cat.isShow" style="margin-right: 1%">
  <label>{{cat.category.label}}</label>
  <table ng-show="cat.isShow" class="table table-hover" style="width:90%">
    <tbody>
    <tr ng-repeat="woItem in cat.list track by woItem.id"
        ng-hide="workOrderModel.isShowTodayOnly[workOrderModel.domain] && woItem.properties.quantityForToday===0">
      <td style="width: 30%">{{woItem.properties.productName}}</td>
      <td style="width: 5%" ng-hide="workOrderModel.isShowTodayOnly[workOrderModel.domain]">
        {{woItem.properties.quantity | number:2}}
      </td>
      <td style="width: 5%" ng-show="workOrderModel.isShowTodayOnly[workOrderModel.domain]">
        {{woItem.properties.quantityForToday | number:2}}
      </td>
      <td style="width: 10%">{{woItem.properties.measurementUnit.label}}</td>
      <td style="width: 7%">
        <button ng-click="workOrderModel.backInfo(woItem)"
                ng-disabled= "!workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]"
                class="btn btn-default btn-sm">
          פרטים
        </button>
      </td>
      <td style="width: 7%">
        <button ng-click="workOrderModel.delItem(workOrderModel.domain,$parent.$index,$index)"
                ng-disabled= "!workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]"
                class="btn btn-default btn-sm">
          מחק
        </button>
      </td>
      <td style="width: 41%" ng-show="workOrderModel.isShowDetails[workOrderModel.domain]">
        <table class="table">
          <thead>
          <th>לקוח</th>
          <th>יום</th>
          <th>כמות</th>
          <th>מתי</th>
          </thead>
          <tbody>
          <tr ng-repeat="order in woItem.properties.orders track by order.id"
              ng-hide="workOrderModel.isShowTodayOnly[workOrderModel.domain] && order.select!=='today'">
            <td>{{order.customer}}</td>
            <td>{{order.day}}</td>
            <td>{{order.totalQuantity | number:2}}</td>
            <td>
              {{order.select==="delay"?"עוד לא":order.select==="today"?"להיום":"בוצע"}}
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td style="width: 34%" ng-hide="woItem.isShowDetails[workOrderModel.domain]"></td>
    </tr>
    </tbody>
  </table>
</div>
<div style="margin-right: 2%;margin-bottom: 2cm;margin-top: 1cm">
  <div ng-repeat="cat in workOrderModel.hierarchicalWorkOrder[workOrderModel.domain].categories track by cat.category.tId"
       ng-show="workOrderModel.isPrint[workOrderModel.domain] && workOrderModel.woIndex.properties.domainStatus[workOrderModel.domain]">
    <label ng-show="cat.isShow" style="font-size: x-large">{{cat.category.label}}</label>
    <div ng-show="cat.isShow" style="column-count: 2; width:90%">
      <div ng-repeat="woItem in cat.list track by woItem.id" style="font-size: large"
           ng-hide="workOrderModel.isShowTodayOnly[workOrderModel.domain] && woItem.properties.quantityForToday===0">
        <span style="position: relative;right:0%" ng-hide="workOrderModel.isShowTodayOnly[workOrderModel.domain]">
          {{woItem.properties.quantity | number:2}}</span>
        <span style="position: relative;right:0%" ng-show="workOrderModel.isShowTodayOnly[workOrderModel.domain]">
          {{woItem.properties.quantityForToday | number:2}}</span>
        <span style="position: relative;right:4%">{{woItem.properties.measurementUnit.label}}</span>
        <span style="position: relative;right:15%">{{woItem.properties.productName}}</span>
      </div>
    </div>
    <p></p>
  </div>
</div>
