<table style="width:70%">
  <tr>
    <td style="width:10%">
      <span>&nbsp;הצג</span>
      <input type="checkbox"
             ng-model="workOrderModel.hierarchicalWorkOrder[1].isShowAll"
             ng-change="workOrderModel.setShowAll(1)">
    </td>
    <td style="width:20%;font-size: large">
  {{workOrderModel.domains[1].forWorkItem}}
      <span ng-hide="workOrderModel.woIndex.properties.domainStatus[1]">
        --- לא מעודכן ---
      </span>
    </td>
    <td style="width: 15%">
      <button class="btn btn-default"
              ng-disabled="workOrderModel.isProcessing"
              ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
        <a href="#/woStickers/{{workOrderModel.woIndex.properties.woId}}" target="_blank"
           ng-disabled="workOrderModel.isProcessing"
           ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
          מדבקות
        </a>
      </button>
    </td>
    <td style="width: 15%">
      <button class="btn btn-default"
              ng-disabled="workOrderModel.isProcessing"
              ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
        <a href="#/snacksAndDesserts/{{workOrderModel.woIndex.properties.woId}}" target="_blank"
           ng-disabled="workOrderModel.isProcessing"
           ng-show="workOrderModel.woIndex.properties.domainStatus[1]">
          חטיפים וקינוחים
        </a>
      </button>
    </td>
  </tr>
</table>
<div ng-show="workOrderModel.woOrders.length>15">
  יותר מ 15 אירועים בפקודה - לא מוצג פירוט אירועים
</div>
<div ng-repeat="cat in workOrderModel.hierarchicalWorkOrder[1].categories track by cat.category.tId">
  <input type="checkbox" ng-model="cat.isShow" style="margin-right: 1%">
  <label>{{cat.category.label}}</label>
  <table ng-show="cat.isShow" class="table table-hover" style="width:60%">
    <thead>
    <th>מנה</th>
    <th colspan="2">כמות</th>
    <th ng-repeat="order in workOrderModel.woOrders track by order.id"
        ng-hide="workOrderModel.woOrders.length>15">
      <span>{{order.view.customer.firstName}}</span>
      <span>{{workOrderModel.dayName(order.properties.order.eventDate)}}</span>
      <span>{{order.properties.order.exitTime | date:'HH:mm'}}</span>
      <img ng-show="workOrderModel.isOrderColors" ng-src="app/img/smallColors/{{order.view.color.stickerColor}}.jpg"/>
      <label ng-show="workOrderModel.isOrderNumbers">[{{order.view.color.tId}}]</label>
    </th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="woItem in cat.list track by woItem.id">
      <td style="width: 60%">
        {{woItem.properties.productName}}
        <div ng-show="woItem.properties.isDescChanged">
          <label>התאמה אישית מס' {{woItem.descCnt}}</label>
        </div>
      </td>
      <td>{{woItem.properties.quantity}}</td>
      <td style="width: 20%">{{woItem.properties.measurementUnit.label}}</td>
      <td ng-repeat="order in woItem.view.orderQuant track by $index"
          ng-hide="woItem.view.orderQuant.length>15"
          ng-class="order.quantity && order.status===2?'bg-warning':null"> <!-- mark events not in final status -->
         <span>
           {{order.quantity ? order.quantity : 0}}
         </span>
       </td>
      <td>
        <button ng-click="workOrderModel.delItem(1,$parent.$index,$index)"
                ng-disabled= "!workOrderModel.woIndex.properties.domainStatus[1]"
                class="btn btn-default btn-sm">
          מחק
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div ng-repeat="changed in cat.changedDescriptions track by changed.cnt" ng-show="cat.isShow">
      <label>התאמה אישית מס' {{changed.cnt}}:</label>
      <label>{{changed.desc}}</label>
  </div>
  <p ng-show="cat.isShow && cat.changedDescriptions.length"></p>
</div>
