<h4>
  <span>בחר אירועים</span>
  <span>&nbsp;</span>
  <button class="btn btn-default"
          ng-disabled="workOrderModel.isProcessing"
          ng-click="workOrderModel.createWorkOrderDomain(1)">
    {{'חשב '+workOrderModel.domains[1].forWorkItem}}
  </button>
</h4>
<table style="width:50%">
  <thead>
  <th>
    מספר
  </th>
  <th>
    תאריך
  </th>
  <th>
    שעה
  </th>
  <th>
    לקוח
  </th>
  <th>
    משתתפים
  </th>
  <th>
    פק' עבודה
  </th>
  </thead>
  <tbody>
  <tr ng-repeat="woItem in workOrderModel.orderView">
    <td>
      <a ng-href="#/editOrderView/{{woItem.attributes.order.id}}">{{woItem.attributes.order.number}}</a>
    </td>
    <td>{{woItem.attributes.order.eventDate | date: 'dd/MM/yyyy'}}</td>
    <td>{{woItem.attributes.order.eventTime | date: 'HH:mm'}}</td>
    <td>{{woItem.attributes.customer.firstName+' '+woItem.attributes.customer.lastName}}</td>
    <td>{{woItem.attributes.order.noOfParticipants}}</td>
    <td>
      <input type="checkbox"
             ng-model="woItem.isInWorkOrder"
             ng-change="workOrderModel.setOrderInWorkOrder($index)">
    </td>
  </tr>
  </tbody>
</table>
