<h4>
  אירועים שנבחרו
</h4>
<table class="table table-hover" style="width:70%">
  <thead>
  <th>    מספר  </th>
  <th>   תאריך  </th>
  <th>    מסירה  </th>
  <th>יציאה  </th>
  <th>    לקוח  </th>
  <th>    סועדים  </th>
  <th>    תפריט  </th>
  <th>    סטטוס  </th>
  <th ng-show="workOrderModel.isOrderNumbers">זיהוי</th>
  </thead>
  <tbody>
  <tr ng-repeat="woItem in workOrderModel.woOrders track by woItem.id"
      ng-class="woItem.properties.orderStatus.id===1?'bg-active':
                        woItem.properties.orderStatus.id===2?'bg-warning':
                        (woItem.properties.orderStatus.id>=3 && woItem.properties.orderStatus.id<=5)?'bg-success':
                        woItem.properties.orderStatus.id===6?'active myCanceledEvent':null">
    <td>
      <a ng-href="#/editOrderView/{{woItem.properties.order.id}}/0">{{woItem.properties.order.number}}</a>
    </td>
    <td>{{woItem.properties.order.eventDate | date: 'EEE dd/MM/yyyy'}}</td>
    <td>{{woItem.properties.order.eventTime | date: 'HH:mm'}}</td>
    <td>{{woItem.properties.order.exitTime | date: 'HH:mm'}}</td>
    <td>{{woItem.properties.customer.firstName+' '+woItem.properties.customer.lastName}}</td>
    <td>{{woItem.properties.order.noOfParticipants}}</td>
    <td>{{woItem.properties.order.header.title}}</td>
    <td  ng-style="workOrderModel.isOrderColors ? woItem.properties.color.style : null">
      {{woItem.properties.orderStatus.name}}
    </td>
    <td ng-show="workOrderModel.isOrderNumbers">{{woItem.properties.color.tId}}</td>
  </tr>
  </tbody>
</table>

