<div ng-class="workOrderModel.isPrint ? 'woPrint' : null">
  <table style="width:100%"  ng-hide="workOrderModel.isPrint">
  <tr>
      <td ng-hide="workOrderModel.woIndex.properties.domainStatus[2]">
      <span>
        --- לא מעודכן ---
      </span>
      </td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width:6%">
        <span>&nbsp;הצג</span>
        <input type="checkbox"
               ng-model="workOrderModel.hierarchicalWorkOrder[2].isShowAll"
               ng-change="workOrderModel.setShowAll(2)">
      </td>
      <td style="width:12%; font-size: large">
        <span>{{workOrderModel.domains[2].forWorkItem}}</span>
        <span ng-show="workOrderModel.isShowTodayOnly[2]">להיום</span>
    </td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width: 10%">
        <span>הצג פירוט</span>
        <input type="checkbox"
               ng-model="workOrderModel.isShowDetails[workOrderModel.domain]"
               ng-change="workOrderModel.setGlobalDetail()">
      </td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width: 12%">
        <span>כולל מלאי?</span>
        <input type="checkbox" ng-model="workOrderModel.isIncludeStock[workOrderModel.domain]"
               ng-disabled="workOrderModel.isProcessing">
      </td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width: 15%">
        <span>כולל הכנות שהושלמו</span>
        <input type="checkbox" ng-model="workOrderModel.isShowDone[2]"
               ng-disabled="workOrderModel.isProcessing ||
               workOrderModel.isShowTodayOnly[2] || workOrderModel.isShowChanges"
               ng-change="workOrderModel.setPrepsDone()">
      </td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width: 15%">
        <span>הצג רק להיום</span>
        <input type="checkbox" ng-model="workOrderModel.isShowTodayOnly[2]"
               ng-disabled="workOrderModel.isProcessing || workOrderModel.isShowChanges"
               ng-change="workOrderModel.setPrepsTodayOnly()">
      </td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width: 3%">
          <button class="btn btn-default" ng-click="workOrderModel.prepEndDay()">
              סוף יום
          </button>
      </td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width: 17%"></td>
      <td ng-show="workOrderModel.woIndex.properties.domainStatus[2]" style="width: 10%">
          <span>ניהול</span>
          <input type="checkbox" ng-model="workOrderModel.isAdmin">
      </td>
    </tr>
  </table>
  <div ng-hide="workOrderModel.isShowChanges || workOrderModel.isPrint">
  <table class="table" style="width: 100%">
    <tr ng-show="workOrderModel.woIndex.properties.domainStatus[2] && !workOrderModel.isShowTodayOnly[2]">
      <td style="width: 30%"></td>
      <td style="text-align: left; width: 20%"><label>
        סימון סרוויס:
      </label></td>
      <td  style="width: 20%">
        <input type="checkbox"  ng-model="workOrderModel.isOrderFilter"
               ng-disabled="workOrderModel.isProcessing || workOrderModel.isShowTodayOnly[2]"
               ng-show="workOrderModel.woIndex.properties.domainStatus[2]">
      </td>
      <td style="width: 30%"></td>
     </tr>
  </table>
  <div ng-show="workOrderModel.woIndex.properties.domainStatus[2] && workOrderModel.isOrderFilter">
    <table class="table" style="width:90%">
      <thead>
      <tr>
        <th></th>
        <th colspan="4">סמן אירועים לסרוויס / הכנה לסרוויס להיום</th>
        <th colspan="6"></th>
      </tr>
      <tr>
        <th>    מספר  </th>
        <th>   תאריך  </th>
        <th>    מסירה  </th>
        <th>יציאה  </th>
        <th>    לקוח  </th>
        <th>    סועדים  </th>
        <th>    תפריט  </th>
        <th>    סטטוס  </th>
        <th>זיהוי</th>
        <th class="verticalLine">סרוויס</th>
        <th class="verticalLine">הכנה לסרוויס</th>
        <th class="verticalLine" style="width: 6px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="woItem in workOrderModel.woOrders track by woItem.id"
          ng-class="woItem.view.orderStatus.id===2?'bg-warning':
                    (woItem.view.orderStatus.id>=3 && woItem.view.orderStatus.id<=5)?'bg-success':
                    woItem.view.orderStatus.id===6?'active cancel':null">
        <td>
          <a ng-href="#/editOrderView/{{woItem.properties.order.id}}/0">{{woItem.properties.order.number}}</a>
        </td>
        <td>{{woItem.properties.order.eventDate | date: 'EEE dd/MM/yyyy'}}</td>
        <td>{{woItem.properties.order.eventTime | date: 'HH:mm'}}</td>
        <td>{{woItem.properties.order.exitTime | date: 'HH:mm'}}</td>
        <td>{{woItem.view.customer.firstName+' '+woItem.view.customer.lastName}}</td>
        <td>{{woItem.properties.order.noOfParticipants}}</td>
        <td>{{woItem.properties.order.header.title}}</td>
        <td  ng-style="workOrderModel.isOrderColors ? woItem.view.color.style : null">
          {{woItem.view.orderStatus.name}}
        </td>
        <td>{{woItem.view.color.tId}}</td>
        <td class="verticalLine">
          <input type="checkbox" ng-model="woItem.properties.isServiceToday"
                 ng-change="workOrderModel.setOrderServiceToday(woItem)">
        </td>
        <td class="verticalLine">
          <input type="checkbox" ng-model="woItem.properties.isPreServiceToday"
                 ng-change="workOrderModel.setOrderServiceToday(woItem)">
        </td>
        <td class="verticalLine"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  </div>
  <div ng-show="workOrderModel.isPrint">
    <h1>
      <span>רשימת</span>
      {{workOrderModel.domains[workOrderModel.domain].forWorkItem}}
      <span ng-show="workOrderModel.isShowTodayOnly[workOrderModel.domain]">להיום</span>
      <span>{{workOrderModel.today | date:'dd/MM/yy'}}</span>
    </h1>
  </div>
<div ng-repeat="cat in workOrderModel.hierarchicalWorkOrder[2].categories track by cat.category.tId"
     ng-show="workOrderModel.isShowCategory(cat)">
  <div ng-show="workOrderModel.isPrint && $index>workOrderModel.firstCategoryIndex">
    <p style="page-break-after: always;">&nbsp;</p>
    <p style="page-break-before: always;">&nbsp;</p>
  </div>
  <input type="checkbox" ng-model="cat.isShow" style="margin-right: 1%" ng-hide="workOrderModel.isPrint">
  <label>{{cat.category.label}}</label>
  <span ng-hide="workOrderModel.isPrint">
 <span>&nbsp;&nbsp;פירוט</span>
  <input type="checkbox" ng-model="cat.isShowDetails" ng-change="workOrderModel.setCategoryDetail(cat)">
  </span>
  <table ng-show="cat.isShow" class="table" style="width:100%">
    <tbody>
    <tr ng-repeat="woItem in cat.list  track by woItem.id"
        ng-show="workOrderModel.isShowItem(woItem) &&
                (workOrderModel.isShowChanges || !(woItem.properties.status==='del'))"
        ng-class="workOrderModel.isShowChanges ? (woItem.isAlert ? 'alert' :
                woItem.properties.status==='new' ? 'new' :
                woItem.properties.status==='upd' ? 'bg-warning' :
                woItem.properties.status==='del' ? 'cancel' : null) :
                 woItem.properties.isInStock ? 'inStock' : null">
    <td style="width: 15%">{{woItem.properties.productName}}</td>
      <td ng-show="!workOrderModel.isShowTodayOnly[2] && workOrderModel.isShowDone[2]" style="width: 10%">
        <span ng-show="workOrderModel.isShowChanges && woItem.properties.originalQuantity>0" class="cancel">
          {{woItem.properties.originalQuantity | number:2}}
        </span>
        <span ng-show="workOrderModel.isShowChanges && woItem.properties.originalQuantity>0">&nbsp;</span>
        <span ng-hide="workOrderModel.isShowChanges && woItem.properties.status==='del'">
          {{woItem.properties.quantity | number:2}}
        </span>
      </td>
      <td ng-show="!workOrderModel.isShowTodayOnly[2] && !workOrderModel.isShowDone[2]" style="width: 5%">
        {{woItem.properties.quantity - woItem.properties.quantityDone | number:2}}
      </td>
      <td ng-show="workOrderModel.isShowTodayOnly[2]" style="width: 5%">
        {{woItem.properties.quantityForToday | number:2}}
      </td>
        <td style="width: 7%">{{woItem.properties.measurementUnit.label}}</td>
      <td style="width:10%" ng-hide="workOrderModel.isPrint">
        <span>פירוט</span>
        <input type="checkbox" ng-model="woItem.isShowDetails"
               ng-disabled="(!workOrderModel.isShowTodayOnly[2] && woItem.properties.select==='mix') ||
                            (workOrderModel.isShowTodayOnly[2] && woItem.properties.isPartialDone)">
      </td>
      <td style="width:10%" ng-show="workOrderModel.isPrint"></td>
      <td ng-hide="woItem.isShowDetails || workOrderModel.isShowTodayOnly[2]" style="width: 10%">
        <span>עוד לא</span>
        <input type="radio" ng-model="woItem.properties.select" value="delay"
               ng-change="workOrderModel.setPrepSelect(woItem, true)"
               ng-disabled="woItem.properties.select==='mix' ||
                            (!workOrderModel.isAdmin && woItem.properties.select!=='delay')">
      </td>
        <td ng-show="!workOrderModel.isPrint && !woItem.isShowDetails && workOrderModel.isShowTodayOnly[2]"
            style="width: 10%">
            <span>בוצע?</span>
            <input type="checkbox" ng-model="woItem.isDone"
                   ng-change="workOrderModel.setPrepDone(woItem)">
        </td>
        <!-- ng-model of the above is a temp because if select==='mix' the isDone property is not changed -->
        <td ng-show="!workOrderModel.isPrint && !woItem.isShowDetails && workOrderModel.isShowTodayOnly[2]"
            style="width: 10%">
        </td>
        <td ng-hide="woItem.isShowDetails || workOrderModel.isShowTodayOnly[2]" style="width: 10%">
        <span>להיום</span>
        <input type="radio" ng-model="woItem.properties.select" value="today"
               ng-change="workOrderModel.setPrepSelect(woItem, true)"
               ng-disabled="woItem.properties.select==='mix' ||
               (!workOrderModel.isAdmin && woItem.properties.select==='done')">
      </td>
      <td ng-show="!woItem.isShowDetails && workOrderModel.isShowTodayOnly[2]" style="width: 10%"></td>
      <td ng-hide="woItem.isShowDetails || workOrderModel.isShowTodayOnly[2]" style="width: 10%">
        <span>הושלם</span>
        <input type="radio" ng-model="woItem.properties.select" value="done"
               ng-change="workOrderModel.setPrepSelect(woItem, true)"
               ng-disabled="woItem.properties.select==='mix'">
      </td>
      <td ng-show="!woItem.isShowDetails && workOrderModel.isShowTodayOnly[2]" style="width: 10%"></td>
      <td ng-hide="woItem.isShowDetails" style="width: 28%">
        <label ng-show="(!workOrderModel.isShowTodayOnly[2] && woItem.isAnyRemark) ||
                        (workOrderModel.isShowTodayOnly[2] && woItem.isRemarkForToday)">
          יש התאמות אישיות. </label>
        <label class="bg-warning" ng-show="woItem.properties.warning">ההכנה שונתה</label>
      </td>
      <td colspan="4" style="width: 58%" ng-show="woItem.isShowDetails">
         <table class="table" border="1" style="width:100%">
          <thead>
          <th style="width: 15%">לקוח</th>
          <th style="width: 10%">יום</th>
          <th ng-repeat="dish in woItem.view.dishes track by dish.id"
              ng-hide="(workOrderModel.isShowTodayOnly[2] && dish.quantityForToday===0) ||
                       (!workOrderModel.isShowDone[2] && dish.quantityDone===dish.quantity)">
            <span>{{dish.productName}}</span>
            <span ng-show="dish.isRemark">
              <label>{{"("+dish.remarkNo+")"}}</label>
            </span>
          </th>
          <th style="width: 10%">סה"כ</th>
          <th style="width: 10%" ng-hide="workOrderModel.isShowTodayOnly[2]">עוד לא</th>
          <th style="width: 10%" ng-hide="workOrderModel.isShowTodayOnly[2]">להיום</th>
          <th style="width: 10%" ng-hide="workOrderModel.isShowTodayOnly[2]">הושלם</th>
          <th style="width: 10%" ng-show="workOrderModel.isShowTodayOnly[2]">בוצע?</th>
          </thead>
          <tbody>
          <tr ng-repeat="order in woItem.view.orders track by order.id"
              ng-hide="(workOrderModel.isShowTodayOnly[2] && order.select!=='today') ||
                       (!workOrderModel.isShowDone[2] && order.select==='done') ||
                        (!workOrderModel.isShowChanges && order.status==='del')"
          ng-class="workOrderModel.isShowChanges ? (
              order.isAlert ? 'alert' :
              order.status === 'new' ? 'new' :
              order.status === 'upd' ? 'changed' :
              order.status === 'del' ? 'cancel' : null
             ) : null">
            <td>
              <span>{{order.customer}}</span>
             </td>
            <td>{{order.day}}</td>
            <td ng-repeat="dish in order.dishes track by dish.seq"
                ng-hide="(workOrderModel.isShowTodayOnly[2] &&
             woItem.view.dishes[dish.seq].quantityForToday===0) ||
                       (!workOrderModel.isShowDone[2] &&
             woItem.view.dishes[dish.seq].quantityDone===woItem.view.dishes[dish.seq].quantity)">
               <span ng-show="workOrderModel.isShowChanges && dish.originalQuantity>0" class="cancel">
                 {{dish.originalQuantity | number:2}}
               </span>
               <span ng-show="workOrderModel.isShowChanges && dish.originalQuantity>0">&nbsp;</span>
               <span ng-hide="workOrderModel.isShowChanges && order.status === 'del'">
                 {{dish.quantity | number:2}}
               </span>
            </td>
            <td>
               <span ng-show="workOrderModel.isShowChanges && order.totalOriginalQuantity>0" class="cancel">
                 {{order.totalOriginalQuantity | number:2}}
               </span>
              <span ng-show="workOrderModel.isShowChanges && order.totalOriginalQuantity>0">&nbsp;</span>
              <span ng-hide="workOrderModel.isShowChanges && order.status === 'del'">
                {{order.totalQuantity | number:2}}
              </span>
            </td>
            <td ng-hide="workOrderModel.isShowTodayOnly[2]">
              <input type="radio"
                     ng-model="order.select" value="delay"
                     ng-disabled="!workOrderModel.isAdmin && order.select !== 'delay'"
                     ng-change="workOrderModel.setPrepOrderSelect(woItem,order)">
            </td>
            <td ng-hide="workOrderModel.isShowTodayOnly[2]">
              <input type="radio"
                     ng-model="order.select" value="today"
                     ng-disabled="!workOrderModel.isAdmin && order.select === 'done'"
                     ng-change="workOrderModel.setPrepOrderSelect(woItem,order)">
            </td>
           <td ng-hide="workOrderModel.isShowTodayOnly[2]">
             <input type="radio"
                    ng-model="order.select" value="done"
                    ng-change="workOrderModel.setPrepOrderSelect(woItem,order)">
            </td>
            <td ng-show="workOrderModel.isShowTodayOnly[2]">
                <input type="checkbox" ng-model="order.isDone"
                       ng-change="workOrderModel.setPrepOrderDone(woItem,order)">
            </td>
          </tr>
          <tr>
          <td><label>סה"כ</label></td>
          <td></td>
          <td ng-repeat="dish in woItem.view.dishes track by dish.id"
              ng-hide="(workOrderModel.isShowTodayOnly[2] && dish.quantityForToday===0) ||
                       (!workOrderModel.isShowDone[2] && dish.quantityDone===dish.quantity)">
          <span ng-show="!workOrderModel.isShowTodayOnly[2] && workOrderModel.isShowDone[2]">
             <span ng-show="workOrderModel.isShowChanges && dish.originalQuantity>0" class="cancel">
                 {{dish.originalQuantity | number:2}}
               </span>
               <span ng-show="workOrderModel.isShowChanges && dish.originalQuantity>0">&nbsp;</span>
               <span>{{dish.quantity | number : 2}}</span>
          </span>
            <span ng-show="!workOrderModel.isShowTodayOnly[2] && !workOrderModel.isShowDone[2]">
            {{dish.quantity - dish.quantityDone | number : 2}}
          </span>
            <span ng-show="workOrderModel.isShowTodayOnly[2]">
              {{dish.quantityForToday | number : 2}}
            </span>
          </td>
            <td ng-show="!workOrderModel.isShowTodayOnly[2] && workOrderModel.isShowDone[2]">
              <span>{{woItem.properties.quantity | number:2}}</span>
              <span ng-show="workOrderModel.isShowChanges && woItem.properties.originalQuantity>0" class="cancel">
                 {{woItem.properties.originalQuantity | number:2}}
               </span>
              <span ng-show="workOrderModel.isShowChanges && woItem.properties.originalQuantity>0">&nbsp;</span>
            </td>
            <td ng-show="!workOrderModel.isShowTodayOnly[2] && !workOrderModel.isShowDone[2]">
              {{woItem.properties.quantity - woItem.properties.quantityDone | number:2}}
            </td>
            <td ng-show="workOrderModel.isShowTodayOnly[2]">
              {{woItem.properties.quantityForToday | number:2}}
            </td>
          </tr>
          </tbody>
        </table>
        <div ng-repeat="dish in woItem.view.dishes | filter:{isRemark:true} track by dish.id"
             ng-show="(dish.quantityForToday>0) ||
                      (dish.quantityDone>0 && workOrderModel.isShowDone[2]) ||
                      (dish.quantityDone===0 && dish.quantityForToday===0)">
          <label>{{"התאמה אישית מס'"+dish.remarkNo+":"}}</label>
          <span>{{dish.remarkText}}</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>