  <table style="width: 60%">
    <tr>
      <td style="width:15%">
        <span>&nbsp;הצג</span>
        <input type="checkbox"
               ng-model="workOrderModel.hierarchicalWorkOrder[2].isShowAll"
               ng-change="workOrderModel.setShowAll(2)">
      </td>
      <td style="width:20%">
  <span style="font-size: large">{{workOrderModel.domains[2].forWorkItem}}</span>
    </td>
      <td style="width: 15%">
        <button class="btn btn-default"
                ng-disabled="workOrderModel.isProcessing"
                ng-show="workOrderModel.woIndex.properties.domainStatus[2]">
        <a href="#/todaysPrep/{{workOrderModel.woIndex.properties.woId}}" target="_blank"
           ng-disabled="workOrderModel.isProcessing"
           ng-show="workOrderModel.woIndex.properties.domainStatus[2]">
          הכנות יומיות
          </a>
        </button>
      <span ng-hide="workOrderModel.woIndex.properties.domainStatus[2]">
        --- לא מעודכן ---
      </span>
      </td>
       <td style="width: 20%">
        <span>כולל מלאי?</span>
        <input type="checkbox" ng-model="workOrderModel.isIncludeStock">
      </td>
      <td  style="width: 10%">
        <button class="btn btn-default"
                ng-disabled="workOrderModel.isProcessing"
                ng-show="workOrderModel.woIndex.properties.domainStatus[2]"
                ng-click="workOrderModel.createWorkOrderDomain(4)">
          {{'חשב '+workOrderModel.domains[4].forWorkItem}}
        </button>
      </td>
      <td  style="width: 10%">
        <button class="btn btn-default"
                ng-disabled="workOrderModel.isProcessing"
                ng-show="workOrderModel.woIndex.properties.domainStatus[2]"
                ng-click="workOrderModel.createWorkOrderDomain(3)">
          {{'חשב '+workOrderModel.domains[3].forWorkItem}}
        </button>
      </td>
    </tr>
  </table>

<div ng-repeat="cat in workOrderModel.hierarchicalWorkOrder[2].categories track by cat.category.tId">
  <input type="checkbox" ng-model="cat.isShow" style="margin-right: 1%">
  <label>{{cat.category.label}}</label>
  <table ng-show="cat.isShow" class="table table-hover" style="width:60%">
    <tbody>
    <tr ng-hide="workOrderModel.isIncludeStock"
        ng-repeat="woItem in cat.list | filter : {isInStock:false} track by woItem.id">
      <td style="width: 20%">{{woItem.properties.productName}}</td>
      <td style="width: 5%">
        {{woItem.properties.quantity | number:2}}
      </td>
      <td style="width: 7%">{{woItem.properties.measurementUnit.label}}</td>
      <td style="widt:10%">
        <span>פירוט</span>
        <input type="checkbox" ng-model="woItem.isShowDetails">
      </td>
      <td style="width: 13%"
          ng-hide= "!workOrderModel.woIndex.properties.domainStatus[2]">
        <span>להיום: </span>
        <input type="checkbox" ng-model="woItem.properties.isForToday"
               ng-change="workOrderModel.setIsForToday(woItem)">
      </td>
      <td style="width: 10%">
        <button ng-click="workOrderModel.delItem(2,$parent.$index,$index)"
                ng-disabled= "!workOrderModel.woIndex.properties.domainStatus[2]"
                class="btn btn-default btn-sm">
          מחק
        </button>
      </td>
      <td style="width: 70%" ng-show="woItem.isShowDetails">
        <!--
        <table class="table table-hover" border="1" style="width: 100%">
          <thead>
          <th style="width: 35%">מנה</th>
          <th style="width: 10%">כמות</th>
          <th ng-repeat="order in workOrderModel.woOrders track by order.id">
            <span>{{order.properties.customer.firstName}}</span>
            <span>{{workOrderModel.dayName(order.properties.order.eventDate)}}</span>
          </th>
          </thead>
          <tr ng-repeat="menuItem in woItem.properties.menuItems track by menuItem.id">
            <td>{{menuItem.productName}}</td>
            <td>{{menuItem.quantity | number:2}}</td>
            <td ng-repeat="order in menuItem.orders track by order.seq">
              <span ng-show="order.quantity">{{order.quantity | number:2}}</span>
            </td>
          </tr>
        </table>
        -->
        <table class="table table-hover" border="1" style="width:100%">
          <thead>
          <th colspan="2">מנות ואירועים</th>
          </thead>
          <thead>
          <th style="width: 60%">לקוח</th>
          <th style="width: 20%">יום</th>
          <th ng-repeat="menuItem in woItem.properties.menuItems track by menuItem.id">
            <span>{{menuItem.productName}}</span>
            <span>{{menuItem.quantity | number : 2}}</span>
          </th>
          <th style="width: 20%">להיום</th>
          </thead>
          <tbody>
          <tr ng-repeat="order in woItem.properties.orders track by order.id">
            <td>{{order.customer}}</td>
            <td>{{order.day}}</td>
            <td ng-repeat="menuItem in order.menuItems track by menuItem.seq">
              {{menuItem.quantity}}
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr ng-show="workOrderModel.isIncludeStock"
        ng-repeat="woItem in cat.list track by woItem.id">
      <td style="width: 20%">{{woItem.properties.productName}}</td>
      <td style="width: 5%">
        {{woItem.properties.quantity | number:2}}
      </td>
      <td style="width: 7%">{{woItem.properties.measurementUnit.label}}</td>
      <td style="widt:10%">
        <span>פירוט</span>
        <input type="checkbox" ng-model="woItem.isShowDetails">
      </td>
      <td style="width: 13%"
          ng-hide= "!workOrderModel.woIndex.properties.domainStatus[2]">
        <span>להיום: </span>
        <input type="checkbox" ng-model="woItem.properties.isForToday"
               ng-change="workOrderModel.setIsForToday(woItem)">
      </td>
      <td style="width: 10%">
        <button ng-click="workOrderModel.delItem(2,$parent.$index,$index)"
                ng-disabled= "!workOrderModel.woIndex.properties.domainStatus[2]"
                class="btn btn-default btn-sm">
          מחק
        </button>
      </td>
      <td style="width: 70%" ng-show="woItem.isShowDetails">
        <table class="table table-hover" border="1" style="width: 100%">
          <thead>
          <th style="width: 35%">מנה</th>
          <th style="width: 10%">כמות</th>
          <th ng-repeat="order in workOrderModel.woOrders track by order.id">
            <span>{{order.properties.customer.firstName}}</span>
            <span>{{workOrderModel.dayName(order.properties.order.eventDate)}}</span>
          </th>
          </thead>
          <tr ng-repeat="menuItem in woItem.properties.menuItems track by menuItem.id">
            <td>{{menuItem.productName}}</td>
            <td>{{menuItem.quantity | number:2}}</td>
            <td ng-repeat="order in menuItem.orders track by order.seq">
              <span ng-show="order.quantity">{{order.quantity | number:2}}</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
