<table style="width:50%">
  <tr>
    <td style="width:90%;font-size: large;">
  <span>בחר אירועים</span>
      </td>
    <td style="width:10%">
  <button class="btn btn-default"
          ng-disabled="workOrderModel.isProcessing"
          ng-click="workOrderModel.createWorkOrderDomain(1)">
    {{'חשב '+workOrderModel.domains[1].forWorkItem}}
  </button>
    </td>
  </tr>
</table>
<table class="table table-hover" style="width:70%">
  <thead>
  <th>    מספר  </th>
  <th>    תאריך  </th>
  <th>    מסירה  </th>
  <th>יציאה  </th>
  <th>    לקוח  </th>
  <th>    סועדים  </th>
<th>  תפריט</th>
  <th>סטטוס  </th>
  <th ng-show="workOrderModel.isOrderNumbers">זיהוי</th>
  <th>    פק' עבודה  </th>
  </thead>
  <tbody>
  <tr ng-repeat="woItem in workOrderModel.orderView track by woItem.id"
      ng-class="woItem.properties.orderStatus.id===1?'bg-active':
                        woItem.properties.orderStatus.id===2?'bg-warning':
                        (woItem.properties.orderStatus.id>=3 && woItem.properties.orderStatus.id<=5)?'bg-success':
                        woItem.properties.orderStatus.id===6?'active myCanceledEvent':null">
    <td>
      <a ng-href="#/editOrderView/{{woItem.properties.order.id}}/0">{{woItem.properties.order.number}}</a>
    </td>
    <td>{{woItem.properties.order.eventDate | date: 'EEE dd/MM/yyyy'}}</td>
    <td>{{woItem.properties.order.eventTime | date: 'HH:mm'}}</td>
    <td>{{woItem.properties.order.exitTime | date: 'HH:mm'}}</td>
    <td>{{woItem.properties.customer.firstName+' '+woItem.properties.customer.lastName}}</td>
    <td>{{woItem.properties.order.noOfParticipants}}</td>
    <td>{{woItem.properties.order.header.title}}</td>
    <td  ng-style="workOrderModel.isOrderColors ? woItem.properties.color.style : null">
      {{woItem.properties.orderStatus.name}}
    </td>
    <td ng-show="workOrderModel.isOrderNumbers">{{woItem.properties.color.tId}}</td>
    <td>
      <input type="checkbox"
             ng-model="woItem.isInWorkOrder"
             ng-change="workOrderModel.setOrderInWorkOrder($index)">
    </td>
  </tr>
  </tbody>
</table>
