<table style="width:40%">
  <tr>
    <td style="width:20%">
      <span>&nbsp;הצג</span>
      <input type="checkbox"
             ng-model="workOrderModel.hierarchicalWorkOrder[3].isShowAll"
             ng-change="workOrderModel.setShowAll(3)">
    </td>
    <td style="width:80%;font-size: large">
      {{workOrderModel.domains[3].forWorkItem}}
      <span ng-hide="workOrderModel.woIndex.attributes.domainStatus[3]">
        --- לא מעודכן ---
      </span>
    </td>
  </tr>
</table>
<div ng-repeat="cat in workOrderModel.hierarchicalWorkOrder[3].categories">
  <input type="checkbox" ng-model="cat.isShow" style="margin-right: 1%">
  <label>{{cat.category.label}}</label>
  <table ng-show="cat.isShow" class="table table-hover" style="width:30%">
    <tbody>
    <tr ng-repeat="woItem in cat.list">
      <td style="width: 80%">{{woItem.attributes.productDescription}}</td>
      <td>
        <input type="text" money size="5"
               ng-model="woItem.attributes.quantity"
               ng-disabled= "!workOrderModel.woIndex.attributes.domainStatus[3]"
               ng-change="workOrderModel.setQuantity(woItem,3)">
      </td>
      <td style="width: 10%">{{woItem.attributes.measurementUnit.label}}</td>
      <td>
        <button ng-click="workOrderModel.backInfo(woItem)"
                ng-disabled= "!workOrderModel.woIndex.attributes.domainStatus[3]"
                class="btn btn-default btn-sm">
          פרטים
        </button>
      </td>
      <td>
        <button ng-click="workOrderModel.delItem(3,$parent.$index,$index)"
                ng-disabled= "!workOrderModel.woIndex.attributes.domainStatus[3]"
                class="btn btn-default btn-sm">
          מחק
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
