<div style="margin-right: 1%">
<h2>ניהול</h2>
<div>
  <!--
  <button class="btn btn-default" ng-click="adminModel.createNewQuoteData()">הסב להצעות מחיר חדשות</button>
  <button class="btn btn-default" ng-click="adminModel.dropOldQuoteData()">מחק נתוני הצעות מחיר ישנות</button>
  <button class="btn btn-default" ng-click="adminModel.createOrderHeaders()">צור כותרת אירוע</button>
  <button class="btn btn-default" ng-click="adminModel.prepareMultipleQuotes()">הכן ריבוי ציטוטים</button>
  <button class="btn btn-default" ng-click="adminModel.generateProductNames()">צור שמות מוצרים</button>
  <button class="btn btn-default" ng-click="adminModel.productNamesInItems()">שמות מוצרים בפריטי אירוע</button>
  <button class="btn-default" ng-click="adminModel.addQuoteTitles()">כותרות</button>
  <button class="btn-default" ng-click="adminModel.delPriceIncrease()">תוספת מחיר</button>
  <button class="btn-default" ng-click="adminModel.addMenuTypeToHeader()">הוסף סוג תפריט לפרטי כותרת</button>
  <button class="btn-default" ng-click="adminModel.handleForcedPrices()">מחירים כפויים</button>
  <button class="btn-default" ng-click="adminModel.handleHeavyweight()">תפריטים קלים וכבדים</button>
  <button class="btn-default" ng-click="adminModel.handlePackageMeasurementUnit()">יח מידה לאריזה</button>
  <button class="btn-default" ng-click="adminModel.handleEmpBonuses()">בונוסים</button>
  <button class="btn btn-default" ng-click="adminModel.generateStickerLabels()">צור שמות מדבקות</button>
  <button class="btn btn-default" ng-click="adminModel.orderCreatorName()">שם יוצר אירוע</button>
  -->
  <button class="btn btn-default" ng-click="adminModel.catalogSensitivities()">רגישויות</button>
</div>
 <tabset>
  <tab heading='מע"מ'>
    <label>שיעור מע"מ: </label>
    <input type="number" min="0" max="50" ng-change="adminModel.setVat()"
           ng-model-options="{updateOn: 'blur'}"
           ng-model="adminModel.vatRate"
           ng-class="adminModel.vatError?'bg-danger':null">
    <button class="btn btn-default" ng-click="adminModel.updateVat()">עדכן</button>
  </tab>
  <tab heading="שינוי סיסמה">
    <table>
      <tbody>
      <tr>
        <td><label>סיסמה חדשה: </label></td>
        <td><input type="password" size="8" ng-model="adminModel.pwd1"></td>
      </tr>
      <tr>
        <td><label>חזור על הסיסמה: </label></td>
        <td><input type="password" size="8" ng-model="adminModel.pwd2"></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-default" ng-click="adminModel.setPwd()">עדכן</button>
  </tab>
  <tab heading="משתמשים">
    <table class="table table-hover">
      <thead>
      <th style="text-align: left">username</th>
      <th style="text-align: left">email</th>
      <th>sales?</th>
      </thead>
      <tbody>
      <tr ng-repeat="user in adminModel.users">
        <td style="text-align: left">{{user.attributes.username}}</td>
        <td style="text-align: left">{{user.attributes.email}}</td>
        <td>{{user.attributes.isSalesPerson}}</td>
        <td>
          <button class="btn btn-warning"
                  ng-hide="user.isInRole || adminModel.isUserRefresh"
                  ng-click="adminModel.addUserToRole(user)">
            add to role
          </button>
        </td>
        <td>
          <button class="btn btn-default btn-sm" ng-click="adminModel.resetPwd(user)">
            אפס סיסמה
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-default" ng-click="adminModel.newUser()">משתמש חדש</button>
      <input type="text"
             ng-show="adminModel.isNewUser"
             ng-model="adminModel.user.attributes.username"
             placeholder="username">
      <input type="text"
             ng-show="adminModel.isNewUser"
             ng-model="adminModel.user.attributes.password"
             placeholder="password">
      <input type="text"
             ng-show="adminModel.isNewUser"
             ng-model="adminModel.user.attributes.email"
             placeholder="email">
      <span ng-show="adminModel.isNewUser">איש מכירות?</span>
      <input type="checkbox"
             ng-show="adminModel.isNewUser"
             ng-model="adminModel.user.attributes.isSalesPerson">
      <button ng-show="adminModel.isNewUser"
              class="btn btn-primary btn-sm"
              ng-click="adminModel.createUser()">צור</button>
      <button ng-show="adminModel.isNewUser"
              class="btn btn-warning btn-sm"
              ng-click="adminModel.cancelNewUser()">בטל</button>
    </div>
    <!-- only first time
    <div>
      <button class="btn btn-default" ng-click="adminModel.createRole()">Role</button>
    </div>
    -->
  </tab>
  <tab heading="עץ מוצר" select="adminModel.productTreeInit()">
    <div ng-hide="adminModel.isCatalogLoading">
    <label>בחר קטגוריה</label>
    <select ng-model="adminModel.productTreeCategory"
            ng-change="adminModel.productTree()"
            ng-options="category.label for category in adminModel.categories"></select>
    <div>
      <div ng-repeat="menuItem in adminModel.menuItems">
        <div style="font-weight: bold;height: 0.6cm ; vertical-align: middle">
        <div style="cursor: pointer;width: 60%; display: inline-block"
             ng-click="adminModel.selectCatItem(menuItem.id)">
        <span>מנה:</span>
        <span>{{menuItem.attributes.productName.substr(0,85)}}</span>
        </div>
        <div style="width: 30%; display: inline-block">
          <span>כמות ייצור</span>
          <span>{{menuItem.attributes.productionQuantity}}</span>
          <span>{{menuItem.measurementUnit.label}}</span>
        </div>
        </div>
        <div ng-repeat="prep in menuItem.preparations" style="margin-right: 2%">
          <div style="color: red;height: 0.6cm ; vertical-align: middle">
          <div style="cursor: pointer;width: 40%; display: inline-block"
               ng-click="adminModel.selectCatItem(prep.id)">
          <span>הכנה:</span>
          <span>{{prep.attributes.productName}}</span>
          </div>
          <div style="width: 18.4%;display: inline-block">
            <span>כמות במנה:</span>
            <span>{{prep.quantity}}</span>
            <span>{{prep.measurementUnit.label}}</span>
          </div>
          <div style="width: 20%;display: inline-block">
            <span>כמות יצור:</span>
            <span>{{prep.attributes.productionQuantity}}</span>
            <span>{{prep.measurementUnit.label}}</span>
          </div>
          </div>
          <div ng-repeat="prepMaterial in prep.materials" style="margin-right: 3%">
            <div style="height: 0.6cm ; vertical-align: middle">
            <div style="cursor: pointer;width: 37.5%; display: inline-block"
                 ng-click="adminModel.selectCatItem(prepMaterial.id)">
            <span>חומר:</span>
            <span>{{prepMaterial.attributes.productName}}</span>
            </div>
            <div style="width: 18.9%;display: inline-block">
              <span>כמות בהכנה:</span>
              <span>{{prepMaterial.quantity}}</span>
              <span>{{prepMaterial.measurementUnit.label}}</span>
            </div>
            </div>
          </div>
        </div>
        <div ng-repeat="material in menuItem.materials" style="margin-right: 2%">
          <div style="height: 0.6cm ; vertical-align: middle">
          <div style="cursor: pointer;width: 40%; display: inline-block"
               ng-click="adminModel.selectCatItem(material.id)">
          <span>חומר:</span>
          <span>{{material.attributes.productName}}</span>
          </div>
          <div style="width: 18.4%;display: inline-block">
            <span>כמות במנה:</span>
            <span>{{material.quantity}}</span>
            <span>{{material.measurementUnit.label}}</span>
          </div>
          </div>
        </div>
        <div>&nbsp;</div>
      </div>
    </div>
    </div>
  </tab>
 <tab heading="מנות ללא פירוק" select="adminModel.catalogReport()">
   <h3>רשימת מנות שהיו באירועים בשנה האחרונה ושאין להם פירוק להכנות ומצרכים</h3>
    <table class="table table-hover" style="width: 70%">
      <th>קטגוריה</th>
      <th>שם</th>
      <th>אירועים</th>
      <tr ng-repeat="catItem in adminModel.catalog">
        <td>{{catItem.view.category.label}}</td>
        <td style="cursor: pointer" ng-click="adminModel.selectCatItem(catItem.id)">
          {{catItem.attributes.productName}}</td>
        <td>{{catItem.view.count}}</td>
      </tr>
    </table>
  </tab>
  <tab heading="עדכון קטגוריות">
    <div ng-hide="adminModel.isProcessing">
      <label>בחר תחום</label>
      <select ng-model="adminModel.productNamesDomain"
              ng-change="adminModel.filterProductNameDomain()"
              ng-options="domain.label for domain in adminModel.domains"></select>
      <label>בחר קטגוריה</label>
      <select ng-model="adminModel.productNamesCategory"
              ng-change="adminModel.filterProductNameCategory()"
              ng-options="category.label for category in adminModel.categories"></select>
      <table class="table table-hover" style="width: 60%">
        <thead>
        <th>שם</th>
        <th>כמות</th>
        <th>יח'</th>
        <th ng-show="adminModel.productNamesDomain.id===1">שם למדבקה</th>
        <th ng-show="adminModel.productNamesDomain.id===1">כמות מדבקות</th>
        <th ng-show="adminModel.productNamesDomain.id===1">נוספות</th>
        <th>קטגוריה</th>
        <th>ביטול</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="productNameItem in adminModel.productNameCategoryItems"
            ng-class="productNameItem.errors ? 'bg-danger' :
                       productNameItem.isChanged ? 'bg-success' :
                       productNameItem.attributes.isDeleted ? 'active myCanceledEvent' : bg-active">
          <td>{{productNameItem.attributes.productName}}</td>
          <td>{{productNameItem.attributes.priceQuantity}}</td>
          <td>{{productNameItem.measurementUnitLabel}}</td>
          <td ng-show="adminModel.productNamesDomain.id===1">
            <input type="text" ng-model="productNameItem.attributes.stickerLabel" size="10"
                   ng-change="adminModel.productNameItemChanged(productNameItem)">
          </td>
          <td ng-show="adminModel.productNamesDomain.id===1">
            <input type="number" ng-model="productNameItem.attributes.stickerQuantity" min="0" max="99"
                   ng-change="adminModel.productNameItemChanged(productNameItem)">
          </td>
          <td ng-show="adminModel.productNamesDomain.id===1">
            {{productNameItem.exitListLength}}
          </td>
          <td>
            <select ng-model="productNameItem.categoryObject"
                    ng-change="adminModel.productNameItemChanged(productNameItem)"
                    ng-options="category.label for category in adminModel.categories"></select>          </td>
          <td>
          <input type="checkbox"
                 ng-model="productNameItem.attributes.isDeleted"
                 ng-change="adminModel.productNameItemChanged(productNameItem)">
          </td>
          <td>
            <button ng-show="productNameItem.isChanged"
                    ng-click="adminModel.saveProductNameitem(productNameItem)">
              עדכן
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </tab>
   <tab heading="קופסאות" select="adminModel.loadNoBoxes()">
     <h3>חטיפים וקינוחים שאין להם קישור לקופסת פומפידו בעץ המוצר</h3>
     <table class="table table-hover">
      <tr ng-repeat="product in adminModel.noBoxes">
        <td style="cursor: pointer" ng-click="adminModel.selectCatItem(product.id)">
          {{product.attributes.productName}}
        </td>
      </tr>
     </table>
   </tab>
  <tab heading="לקוחות" select="adminModel.loadCustomers()">
    <div>
      <label>ליצוא</label>
      <input type="checkbox" ng-model="adminModel.isCustomersExport">
    </div>
    <table class="table table-hover" ng-hide="adminModel.isCustomersExport">
      <thead>
      <th>שם</th>
      <th>דואל</th>
      <th>טלפון</th>
      <th>מס' הצלחות</th>
      <th>מס' כשלונות</th>
      <th>אירוע אחרון</th>
      </thead>
      <tbody>
      <tr ng-repeat="customer in adminModel.customers">
        <td>{{customer.attributes.firstName+' '+customer.attributes.lastName}}</td>
        <td>{{customer.attributes.email}}</td>
        <td>{{customer.attributes.mobilePhone}}</td>
        <td>{{customer.view.noOfSuccesses}}</td>
        <td>{{customer.view.noOfFailures}}</td>
        <td>{{customer.view.lastEventDate | date:'dd/MM/yyyy'}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div ng-show="adminModel.isCustomersExport">
      <div>
        <span>name,email,phone,successes,failures,lastEvent</span>
      </div>
      <div ng-repeat="customer in adminModel.customers">
        <span>{{customer.attributes.firstName+' '+customer.attributes.lastName}}</span>
        <span>,</span>
        <span>{{customer.attributes.email}}</span>
        <span>,'</span>
        <span>{{customer.attributes.mobilePhone}}</span>
        <span>,</span>
        <span>{{customer.view.noOfSuccesses}}</span>
        <span>,</span>
        <span>{{customer.view.noOfFailures}}</span>
        <span>,</span>
        <span>{{customer.view.lastEventDate | date:'dd/MM/yyyy'}}</span>
       </div>
    </div>
  </tab>
  <tab heading="סביבה" active="adminModel.isEnvTabActive">
    <div>
      <span>סביבה נוכחית היא </span>
      <span>{{environment}}</span>
    </div>
    <div>
      <button class="btn btn-default" ng-click="adminModel.switchEnv()">שנה</button>
    </div>
  </tab>
</tabset>
</div>
