
<div ng-show="bidModel.docNotAvailable">
  <h1>
    המסמך לא קיים
  </h1>
</div>


<div id="bid_container" ng-hide="bidModel.docNotAvailable">

    <div id="bid_content">

    	<!-- top of bid - contact and logo  -->
    	<div id="bid_head">
	    	<div id="contact">
	            <span>יובל רוזנן</span><br/>
	            <span>054-7514061</span><br/>
	            <span>yuval@pompidou.co.il</span><br/>
	        </div>


	        <div id="logo">
	            <img align="left" src="app/img/logo.png"/>
	        </div>

        </div>

        <!-- basic details of bid  -->
        <div>
            <label>תאריך: </label><span>{{bidModel.bid.attributes.date | date: 'dd/MM/yyyy'}}</span><br/>
            <label>מספרנו: </label><span>{{bidModel.currentOrder.number}}</span><br/>
            <span>לכבוד</span><br/>
            <span>{{bidModel.customer.firstName+' '+bidModel.customer.lastName}}</span>
        </div>


        <h1 ng-show="bidModel.bid.attributes.documentType===1">הצעת מחיר</h1>
        <h1 ng-show="bidModel.bid.attributes.documentType===2">הזמנה</h1>

        <!-- selected intro texts 1 and 2 -->
        <div ng-show="bidModel.bid.attributes.documentType===1" >
            <ng-include src="bidModel.startBidTextType.url"></ng-include>
        </div>
        <div ng-show="bidModel.bid.attributes.documentType===2" >
            <ng-include src="bidModel.config.orderStartTextUrl"></ng-include>
        </div>

        <br>
        <br>
        <br>


        <div class="bold event_details" >סוג ארוע: &nbsp;
            <span>{{bidModel.eventType.label}}</span>
        </div>

        <div class="bold event_details">תאריך: &nbsp;
            <span>{{bidModel.currentOrder.eventDate | date: 'dd/MM/yyyy'}}</span>
        </div>

        <div class="bold event_details">שעת המשלוח: &nbsp;
            <span>{{bidModel.currentOrder.eventTime | date: 'HH:mm'}}</span>
        </div>

      <div class="bold event_details">מס' משתתפים:&nbsp;
        <span >{{bidModel.currentOrder.noOfParticipants}}</span>
        <span ng-show="bidModel.currentOrder.children">
               &nbsp;&#40;<span>מתוכם</span>&nbsp;
                <span >{{bidModel.currentOrder.children}}</span>
                &nbsp;<span>ילדים</span>&#41;
         </span>
      </div>


      <div class="bold ">מקום משלוח:&nbsp;
            <span>{{bidModel.currentOrder.deliveryLocation}}</span>
        </div>

        <div ng-show="bidModel.currentOrder.includeRemarksInBid">
            <label class="bold">הערות: &nbsp;</label><span>{{bidModel.currentOrder.remarks}}</span>
        </div>

        <div>
            <label class="bold">טלפונים:&nbsp;</label><span>{{bidModel.customer.homePhone+' '+bidModel.customer.mobilePhone+' '+bidModel.customer.workPhone}}</span>
        </div>

        <br>
        <br>
        <br>

        <!--start of bid table -->

        <!--table of items and prices -->

        <h1>
        		תפריט
        </h1>

        <div  id="items_list">



            <div ng-repeat="category in bidModel.filteredCategories">

                <div class="bold">
                    {{category.label}}
                </div>

                {{bidModel.setupCategoryItems(category.tId)}}
                <div style="padding-right:3%" ng-repeat="item in bidModel.categoryItems">
                    <div style="width:67%;display:inline-block;">
                      <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
                      <span>{{item.productDescription}}</span>
                    </div>
                    <div style="width:10%;display:inline-block;"> {{item.quantity}}</div>
                    <div style="width:10%;display:inline-block;"> {{item.measurementUnit.label}}</div>
                    <div style="width:10%;display:inline-block;" ng-hide="bidModel.currentQuote.isFixedPrice" >{{item.price | currency }}</div>
                </div>

            </div>

          <!-- transportation items -->
          {{bidModel.setupTransportationItems()}}
          <div ng-show="bidModel.transportationItems.length">
          <P style="height: 1cm"></P>
            <div class="bold">
              השף בקופסא מגיע אלייך בדיוק ברגע הנכון לפני האורחים
              </div>
          <div style="padding-right:3%"
               ng-repeat="item in bidModel.transportationItems">
            <div style="width:67%;display:inline-block;">
              <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
              <span>{{item.productDescription}}</span>
            </div>
            <div style="width:10%;display:inline-block;"> </div>
            <div style="width:10%;display:inline-block;"> </div>
            <div style="width:10%;display:inline-block;"
                 ng-hide="bidModel.currentQuote.isFixedPrice" >{{item.price | currency }}</div>
          </div>
            </div>

        </div>
        <!--End of table of items and prices -->

         <div id="sum_up">


             <ul ng-hide="bidModel.currentQuote.isFixedPrice">
                <li class="bold" style="width:30%;">סה"כ הזמנה</li>
                <li class="bold" style="width:30%">{{bidModel.currentQuote.subTotal | currency}}</li>
             </ul>
             <ul ng-show="!bidModel.currentQuote.isFixedPrice && bidModel.currentQuote.oldTransportation">
               <li style="width:30%">משלוח</li>
               <li style="width:30%">{{bidModel.currentQuote.oldTransportation | currency}}</li>
             </ul>

           <!-- credits div  -->

           <div id="credits_list">

             <ul ng-show="!bidModel.currentQuote.isFixedPrice && bidModel.currentQuote.bonusValue">
               <li class="bold" style="width:30%">זיכוי פריטי בונוס</li>
               <li class="bold" style="width:30%">{{bidModel.currentQuote.bonusValue | currency}}</li>
             </ul>
             <ul ng-show="!bidModel.currentQuote.isFixedPrice && bidModel.currentQuote.transportationBonus">
               <li class="bold" style="width:30%">זיכוי משלוח</li>
               <li class="bold" style="width:30%;">{{bidModel.currentQuote.transportationBonus | currency}}</li>
             </ul>
             <ul ng-show="!bidModel.currentQuote.isFixedPrice && bidModel.currentQuote.discount">
               <li class="bold" style="width:30%">{{bidModel.discountCause.label}}</li>
               <li class="bold" style="width:30%">{{bidModel.currentQuote.discount | currency}}</li>
               </ul>
           </div>






                    <ul ng-show="!bidModel.currentQuote.isFixedPrice && bidModel.currentOrder.isBusinessEvent">

                        <li style="width:30%">
                            מע"מ בשיעור %
                            {{bidModel.currentOrder.vatRate*100}}
                        </li>
                        <li style="width:30%;">{{bidModel.currentQuote.vat | currency}}</li>
                    </ul>


                    <ul>
                        <li class="bold" style="width:30%">סה"כ לתשלום</li>

                        <!-- only one of those two will appear:-->
                        <li class="bold" ng-hide="bidModel.currentQuote.isFixedPrice"
                            style="width:30%">{{bidModel.currentQuote.total | currency}}</li>
                        <li class="bold" ng-show="bidModel.currentQuote.isFixedPrice"
                            style="width:30%">{{bidModel.currentQuote.fixedPrice | currency}}</li>
                    </ul>

           <ul ng-show="bidModel.currentQuote.advance">
             <li class="bold" style="width: 30%">שולם על חשבון</li>
             <li class="bold" style="width: 30%">{{bidModel.currentQuote.advance | currency}}</li>
           </ul>

           <ul ng-show="bidModel.currentQuote.advance">
             <li class="bold" style="width: 30%">יתרה לתשלום</li>
             <li class="bold" style="width: 30%">{{bidModel.currentQuote.balance | currency}}</li>
           </ul>

         </div>
      </div>
                <!-- End of sum_up div -->


        <div class="endText" ng-show="bidModel.bid.attributes.documentType===1" >
            <ng-include src="bidModel.endBidTextType.url"></ng-include>
        </div>
        <div class="endText" ng-show="bidModel.bid.attributes.documentType===2" >
            <div ng-repeat="textType in bidModel.currentOrder.orderDocTextTypes">
                <ng-include src="textType.url"></ng-include>
            </div>
        </div>

   <div id="pdf" ng-show="bidModel.isYuvalTest">
    <span>להורדת הצעת המחיר לקובץ PDF </span>
    <a href="//pdfcrowd.com/url_to_pdf/?width=210mm&height=297mm">לחץ כאן</a>
  </div>
    </div><!--End of bid_content -->


</div> <!--End of bid_container -->

