
<div id="bid_container">
    <header>
        <div id="contact">
            <span>יובל רוזנן</span><br/>
            <span>054-7514061</span><br/>
            <span>yuval@pompidou.co.il</span><br/>
        </div>

        <div id="logo">
            <img align="left" src="app/img/logo.png"/>
        </div>

    </header>



    <div id="bid_content">

        <!-- basic details of bid  -->
        <div>
            <label>תאריך: </label><span>{{bidModel.bid.attributes.date | date: 'dd/MM/yyyy'}}</span><br/>
            <label>מספרנו: </label><span>{{bidModel.bid.attributes.order.number}}</span><br/>
            <span>לכבוד</span><br/>
            <span>{{bidModel.customer.firstName+' '+bidModel.customer.lastName}}</span>
        </div>


        <h1 ng-show="bidModel.bid.attributes.documentType===1">הצעת מחיר</h1>
        <h1 ng-show="bidModel.bid.attributes.documentType===2">הזמנה</h1>

        <!-- selected intro texts 1 and 2 -->
        <div ng-show="bidModel.bid.attributes.documentType===1" >
            <ng-include src="bidModel.startBidTextType.url"></ng-include>
        </div>
        <div ng-show="bidModel.bid.attributes.documentType===2" >
            <ng-include src="bidModel.config.orderStartTextUrl"></ng-include>
        </div>

        <br>
        <br>
        <br>


        <div class="bold event_details" >סוג ארוע: &nbsp;
            <span>{{bidModel.eventType.label}}</span>
        </div>

        <div class="bold event_details">תאריך: &nbsp;
            <span>{{bidModel.bid.attributes.order.eventDate | date: 'dd/MM/yyyy'}}</span>
        </div>

        <div class="bold event_details">שעת המשלוח: &nbsp;
            <span>{{bidModel.bid.attributes.order.eventTime | date: 'HH:mm'}}</span>
        </div>

        <div class="bold event_details">מס' משתתפים:&nbsp;
            <span >{{bidModel.bid.attributes.order.noOfParticipants}}</span>
        </div>

        <div class="bold event_details">מקום משלוח:&nbsp;
            <span>{{bidModel.bid.attributes.order.deliveryLocation}}</span>
        </div>

        <div ng-show="bidModel.bid.attributes.order.includeRemarksInBid">
            <label class="bold">הערות: &nbsp;</label><span>{{bidModel.bid.attributes.order.remarks}}</span>
        </div>

        <div>
            <label class="bold">טלפונים:&nbsp;</label><span>{{bidModel.customer.homePhone+' '+bidModel.customer.mobilePhone+' '+bidModel.customer.workPhone}}</span>
        </div>

        <br>
        <br>
        <br>

        <!--start of bid table -->

        <!--table of items and prices -->
        <div  id="items_list">

            <div ng-repeat="category in bidModel.filteredCategories">

                <div class="bold">
                    {{category.label}}
                </div>

                {{bidModel.setupCategoryItems(category.tId)}}
                <div style="padding-right:3%" ng-repeat="item in bidModel.categoryItems">
                    <div style="width:67%;display:inline-block;">{{item.productDescription}}</div>
                    <div style="width:10%;display:inline-block;"> {{item.quantity}}</div>
                    <div style="width:10%;display:inline-block;"> {{item.measurementUnit.label}}</div>
                    <div style="width:10%;display:inline-block;" ng-hide="bidModel.bid.attributes.order.isFixedPrice" >{{item.price | currency }}</div>
                </div>

            </div>

        </div>
        <!--End of table of items and prices -->

        {{bidModel.setupFreeItems()}}

        <!--bonus items listing -->
        <div id="bonus_list" ng-show="bidModel.freeItems.length">

            <div class="bold">
                בונוס
            </div>

            <div style="padding-right:3%" ng-repeat="item in bidModel.freeItems">
                <div style="width:67%;display:inline-block;">{{item.productDescription}}</div>
                <div style="width:10%;display:inline-block;">{{item.quantity}}</div>
                <div style="width:20%;display:inline-block;">{{item.measurementUnit.label}}</div>

            </div>

        </div>
        <!-- End of bonus items div -->




         <div id="sum_up">
             <ul ng-hide="bidModel.bid.attributes.order.isFixedPrice">
                <li class="bold" style="width:30%;">סה"כ הזמנה</li>
                <li class="bold" style="width:30%">{{bidModel.bid.attributes.order.subTotal | currency}}</li>
             </ul>

             <!-- discounts div -->
             <div ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.discountCause">
                 <ul>
                     <li style="width:30%" class="bold">הנחה בגובה %</li>
                     <li style="width:30%">{{bidModel.bid.attributes.order.discountRate}}</li>
                 </ul>

                 <ul>
                     <li style="width:30%" class="bold">
                         עקב
                         {{bidModel.discountCause.label}}
                     </li>
                     <li style="width:30%">{{bidModel.bid.attributes.order.discount | currency}}</li>
                 </ul>
             </div> <!-- end of discounts div -->


                    <ul ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.bid.attributes.order.transportation">
                        <li class="bold" style="width:30%">משלוח</li>
                        <li style="width:30%">{{bidModel.bid.attributes.order.transportation | currency}}</li>
                    </ul>


                    <ul ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.bid.attributes.order.isTransportationBonus">
                      <li class="bold" style="width:30%">בונוס - זיכוי משלוח</li>
                      <li style="width:30%;">{{bidModel.bid.attributes.order.transportationBonus | currency}}</li>
                    </ul>

                    <ul ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.bid.attributes.order.isBusinessEvent">

                        <li class="bold" style="width:30%">
                            מע"מ בשיעור %
                            {{bidModel.bid.attributes.order.vatRate*100}}
                        </li>
                        <li style="width:30%;">{{bidModel.bid.attributes.order.vat | currency}}</li>
                    </ul>


                    <ul>
                        <li class="bold" style="width:30%">סה"כ לתשלום</li>

                        <!-- only one of those two will appear:-->
                        <li class="bold" ng-hide="bidModel.bid.attributes.order.isFixedPrice"
                            style="width:30%">{{bidModel.bid.attributes.order.total | currency}}</li>
                        <li class="bold" ng-show="bidModel.bid.attributes.order.isFixedPrice"
                            style="width:30%">{{bidModel.bid.attributes.order.fixedPrice | currency}}</li>
                    </ul>

                    <ul ng-hide="bidModel.bid.attributes.order.isFixedPrice">
                        <li class="bold" style="width:30%">מחיר למשתתף </li>
                        <li class="bold" style="width:30%">
                            {{bidModel.bid.attributes.order.total / bidModel.bid.attributes.order.noOfParticipants | currency}}
                        </li>
                    </ul>
                </div>
                <!-- End of sum_up div -->


        <div ng-show="bidModel.bid.attributes.documentType===1" >
            <ng-include src="bidModel.endBidTextType.url"></ng-include>
        </div>
        <div ng-show="bidModel.bid.attributes.documentType===2" >
            <div ng-repeat="textType in bidModel.bid.attributes.order.orderDocTextTypes">
                <ng-include src="textType.url"></ng-include>
            </div>
        </div>

    </div><!--End of bid_content -->

</div> <!--End of bid_container -->

