<h1>קטלוג</h1>
  <label>בחר תחום</label>
  <select ng-model="catalogListModel.currentDomain"
          ng-change="catalogListModel.setDomain()"
          ng-disabled="catalogListModel.isChanged"
          ng-options="domain.label for domain in catalogListModel.domains"></select>
  <label>בחר קטגוריה</label>
  <select ng-model="catalogListModel.currentCategory"
          ng-change="catalogListModel.setCategory()"
          ng-disabled="catalogListModel.isChanged"
          ng-options="category.label for category in catalogListModel.categories"></select>
  <label>סינון</label>
  <input type="text" size="20" ng-model="catalogListModel.filterText" ng-change="catalogListModel.filterItems()">
<label>כולל מבוטלים</label>
  <input type="checkbox" ng-model="catalogListModel.includeDeleted" ng-change="catalogListModel.filterItems()">
<label>רק עם הערות</label>
<input type="checkbox" ng-model="catalogListModel.isOnlyRemarks" ng-change="catalogListModel.filterItems()">
<button ng-click="catalogListModel.addItem()" class="btn btn-default">הוסף פריט</button>
<div>
  <label>חיפוש בכל התחום</label>
  <input type="text" size="20" ng-model="catalogListModel.searchText">
 <button ng-click="catalogListModel.searchDomain()" class="btn btn-default">חפש</button>
</div>
  <table class="table table-hover" style="width:100%">
      <thead>
      <th style="width:7%">קטגוריה</th>
        <th style="width:20%">שם</th>
        <th ng-show="catalogListModel.currentDomain.id===1" style="width:42%">תיאור</th>
        <th style="width:5%">יח' מידה</th>
        <th ng-show="catalogListModel.currentDomain.id===1" style="width:2%">כמות</th>
        <th ng-show="catalogListModel.currentDomain.id===1" style="width:4%">מחיר</th>
        <th ng-hide="catalogListModel.currentDomain.id===3" style="width:8%">כ' יצור</th>
        <th ng-show="catalogListModel.currentDomain.id===2" style="width: 4%">מינימום</th>
        <th ng-show="catalogListModel.currentDomain.id===2" style="width: 4%"></th>
        <th ng-show="catalogListModel.currentDomain.id===2" style="width: 4%">מקסימום</th>
        <th ng-show="catalogListModel.currentDomain.id===2" style="width: 6%"></th>
     </thead>
    <thead  ng-show="catalogListModel.currentDomain.id===2">
    <th></th><th></th><th></th>
    <th>זמן</th>
    <th>יחידה</th>
    <th>זמן</th>
    <th>יחידה</th>
    </thead>
      <tbody>
      <tr ng-repeat="catalogItem in catalogListModel.categoryItems"
          ng-class="catalogItem.attributes.isDeleted?'myCanceledEvent':null">
        <td>{{catalogItem.view.category.label}}</td>
        <td style="cursor: pointer" ng-click="catalogListModel.editItem(catalogItem.id)">
          {{catalogItem.attributes.productName}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===1">
          {{catalogItem.attributes.productDescription}}
        </td>
        <td>{{catalogItem.view.measurementUnit.label}}</td>
        <td ng-show="catalogListModel.currentDomain.id===1">
          {{catalogItem.attributes.priceQuantity | number:3}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===1">
          {{catalogItem.attributes.price | currency}}
        </td>
        <td ng-hide="catalogListModel.currentDomain.id===3">
          {{catalogItem.attributes.productionQuantity | number:3}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===2">
          {{catalogItem.attributes.minTime | number:0}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===2">
          {{catalogItem.view.minTimeUnit.label}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===2">
          {{catalogItem.attributes.maxTime | number:0}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===2">
          {{catalogItem.view.maxTimeUnit.label}}
        </td>
      </tr>
      </tbody>
    </table>
