<h3>
  <span ng-hide="catalogItemModel.isNewItem">עריכת</span>
  <span>{{catalogItemModel.currentDomain.single}}</span>
  <span ng-show="catalogItemModel.isNewItem">חדשה</span>
  <span>בקטגוריה</span>
  <span>{{catalogItemModel.item.view.category.label}}</span>
  <span ng-show="catalogItemModel.item.isChanged" class="bg-success">
    <span>     הקש על</span>
    <button ng-click="catalogItemModel.saveItem()" class="btn btn-success">שמור</button>
    <span> לשמירת העדכונים שבוצעו, או על </span>
    <button ng-click="catalogItemModel.cancel()" class="btn btn-warning">ביטול</button>
    <span> כדי לבטלם</span>
  </span>
  &nbsp;&nbsp;
  <button class="btn btn-default" ng-hide="catalogItemModel.item.isChanged"
          ng-click="catalogItemModel.back()">סגור</button>
</h3>
<div ng-hide="catalogItemModel.isMainTabActive || catalogItemModel.isNewItem">
  <span>{{catalogItemModel.currentDomain.single}}</span>
  <span>:&nbsp;</span>
  <span>{{catalogItemModel.item.attributes.productName}}</span>
  <span>&nbsp;&nbsp;כמות ייצור:</span>
  <span>{{catalogItemModel.item.attributes.productionQuantity}}</span>
  <span>{{catalogItemModel.item.view.measurementUnit.label}}</span>
</div>
<tabset>
  <tab heading="אירועים"
       ng-show="catalogItemModel.currentDomain.id===1"
       select="catalogItemModel.getOrders()">
    <h4 ng-hide="catalogItemModel.isProcessing">אירועים בשנה האחרונה בהם הוצעה מנה זו</h4>
    <h4 ng-show="catalogItemModel.isProcessing">"המתן...</h4>
    <ng-include src="'app/partials/order/orderTable.html'"></ng-include>
  </tab>
  <tab heading="שימושים"
       ng-show="catalogItemModel.currentDomain.id>1" select="catalogItemModel.findUsage()">
    <table>
      <tr>
        <td>
          <h3>מנות</h3>
          <table class="table table-hover" style="width:90%">
            <thead>
            <th><label>קטגוריה</label></th>
            <th><label>מנה</label></th>
            <th><label>כמות</label></th>
            <th><label>ייצור</label></th>
            <th><label>כמות</label></th>
            <th><label>במנה</label></th>
            </thead>
            <tbody>
            <tr ng-repeat="usage in catalogItemModel.usages | filter:{domain:1}">
              <td>{{usage.category.label}}</td>
              <td style="cursor: pointer" ng-hide="catalogItemModel.item.isChanged"
                  ng-click="catalogItemModel.editItem(usage.id)">
                {{usage.attributes.productName}}</td>
              <td ng-show="catalogItemModel.item.isChanged">{{usage.attributes.productName}}</td>
              <td>{{usage.attributes.productionQuantity}}</td>
              <td>{{usage.measurementUnit.label}}</td>
              <td>{{usage.quantity}}</td>
              <td>{{catalogItemModel.item.view.measurementUnit.label}}</td>
            </tr>
            </tbody>
          </table>
        </td>
        <td ng-show="catalogItemModel.currentDomain.id===3">
          <h3>הכנות</h3>
          <table class="table table-hover" style="width:90%">
            <thead>
            <th><label>קטגוריה</label></th>
            <th><label>מנה</label></th>
            <th><label>כמות</label></th>
            <th><label>ייצור</label></th>
            <th><label>כמות</label></th>
            <th><label>במנה</label></th>
            </thead>
            <tbody>
            <tr ng-repeat="usage in catalogItemModel.usages | filter:{domain:2}">
              <td>{{usage.category.label}}</td>
              <td style="cursor: pointer" ng-hide="catalogItemModel.item.isChanged"
                  ng-click="catalogItemModel.editItem(usage.id)">
                {{usage.attributes.productName}}</td>
              <td ng-show="catalogItemModel.item.isChanged">{{usage.attributes.productName}}</td>
              <td>{{usage.attributes.productionQuantity}}</td>
              <td>{{usage.measurementUnit.label}}</td>
              <td>{{usage.quantity}}</td>
              <td>{{catalogItemModel.item.view.measurementUnit.label}}</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </tab>
  <tab heading="שונות">
    <table>
      <tr>
        <td><label>שינוי קטגוריה</label></td>
        <td>
          <select ng-model="catalogItemModel.item.view.category"
                  ng-change="catalogItemModel.setChanged(true)"
                  ng-options="category.label for category in catalogItemModel.categories"></select>
        </td>
      </tr>
      <tr>
        <td><label>שכפול פריט</label></td>
        <td>
          <button class="btn btn-warning"
                  ng-click="catalogItemModel.dupItem()"
                  ng-disabled="catalogItemModel.isNewItem || catalogItemModel.item.isChanged"
          >שכפל</button>
        </td>
      </tr>
      <tr>
        <td><label>סמן פריט כמבוטל</label></td>
        <td>
          <input type="checkbox"
                 ng-model="catalogItemModel.item.attributes.isDeleted"
                 ng-change="catalogItemModel.setIsDeleted(true)">
        </td>
        <td ng-show="catalogItemModel.item.attributes.isDeleted">
הפריט סומן במבוטל. ניתן לצפות בפריטים מבוטלים ולבטל את ביטולם ע"י סימון מבוטלים בחלון הקטלוג הראשי
        </td>
      </tr>
    </table>
  </tab>
  <tab heading="רגישויות">
    <p></p>
    <table style="margin-right: 5%">
      <tr>
    <td>הוסף רגישות:</td>
      <td>
      <select ng-model="catalogItemModel.sensitivity"
              ng-change="catalogItemModel.addSensitivity()"
              ng-options="sensitivity.label for sensitivity in catalogItemModel.sensitivities"></select>
      </td>
      </tr>
      <tr ng-repeat="sensitivity in catalogItemModel.item.attributes.sensitivities">
        <td></td>
        <td>{{sensitivity.label}}</td>
        <td>
          <button class="btn btn-default"
                  ng-click="catalogItemModel.delSensitivity($index)">מחק</button>
        </td>
      </tr>
    </table>
  </tab>
  <tab heading="עץ מוצר"
       ng-show="catalogItemModel.currentDomain.id<3">
    <table style="width: 95%">
      <tr>
        <td style="width: 50%; vertical-align: top"
            ng-repeat="compDomain in catalogItemModel.compDomains">
          <h4>{{compDomain.label}}</h4>
          <span>הוסף:</span>&nbsp;
           <select ng-model="compDomain.currentCategory"
                    ng-change="catalogItemModel.setCompCategory(compDomain)"
                    ng-options="category.label
                                for category in compDomain.categories"></select>
            <select ng-model="compDomain.currentItem"
                    ng-change="catalogItemModel.setCompItem(compDomain)"
                    ng-options="item.attributes.productName
                              for item in compDomain.categoryItems"></select>
          <button class="btn btn-sm btn-default"ng-disabled="catalogItemModel.item.isChanged"
                  ng-click="catalogItemModel.addItem(compDomain.id,compDomain.currentCategory.tId)">
            {{compDomain.single}}&nbsp;חדשה
          </button>
          <table class="table table-hover" style="width:90%">
            <thead>
            <th style="width:15%"><label>קטגוריה</label></th>
            <th style="width:45%"><label>מוצר</label></th>
            <th style="width:10%"><label>כמות</label></th>
            <th style="width:20%"><label>יח' מידה</label></th>
            <th style="width:10%"></th>
            </thead>
            <tbody>
            <tr ng-repeat="component in compDomain.compItems track by component.id"
                ng-class="component.isError?'bg-danger':null">
              <td>{{component.view.category.label}}</td>
              <td style="cursor: pointer" ng-hide="catalogItemModel.item.isChanged"
                  ng-click="catalogItemModel.editItem(component.id)">
                {{component.attributes.productName}}</td>
              <td ng-show="catalogItemModel.item.isChanged">{{component.attributes.productName}}</td>
              <td>
              <input type="number" min=0 max=99999
                       ng-model="component.view.compQuantity"
                       ng-change="catalogItemModel.setCompQuantity(component)">
              </td>
              <td>{{component.view.measurementUnit.label}}</td>
              <td>
                <button class="btn btn-sm btn-default" ng-click="catalogItemModel.delItem(compDomain,$index)">מחק</button>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
       </tr>
    </table>
  </tab>
  <tab heading="רשימת יציאה" ng-show="catalogItemModel.currentDomain.id===1">
    <button class="btn btn-default" ng-click="catalogItemModel.addExitListItem()">הוסף</button>
    <table class="table table-hover" style="width:40%">
      <tbody>
      <tr ng-repeat="listItem in catalogItemModel.item.attributes.exitList track by listItem.item">
        <td>
          <input type="text" size=60 ng-model="listItem.item"
                 ng-change="catalogItemModel.setChanged(true)">
        </td>
        <td>
          <select ng-model="listItem.measurementUnit"
                  ng-change="catalogItemModel.setChanged(true)"
                  ng-options="measurementUnit.label for measurementUnit in catalogItemModel.measurementUnits">
          </select>
        </td>
        <td>
          <button class="btn btn-default" ng-click="catalogItemModel.delExitListItem($index)">מחק</button>
        </td>
      </tr>
      </tbody>
    </table>
  </tab>
   <tab heading="ראשי" active="catalogItemModel.isMainTabActive">
    <table>
      <tr ng-class="catalogItemModel.item.errors.productName?'bg-danger':null">
        <td><label>שם</label></td>
        <td>
        <input  type="text" size = 40 ng-model="catalogItemModel.item.attributes.productName"
                  ng-change="catalogItemModel.setProductName()">
          <span ng-show="catalogItemModel.item.errors.productName==='dup'">&nbsp;שם פריט כפול</span>
        </td>
      </tr>
      <tr ng-class="catalogItemModel.item.errors.productDescription?'bg-danger':null">
        <td><label>תיאור</label></td>
        <td>
        <textarea rows="3" cols="100" ng-model="catalogItemModel.item.attributes.productDescription"
                  ng-change="catalogItemModel.setProductDescription()"></textarea>
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1">
        <td><label>תיאור לתפריט</label></td>
        <td>
          <textarea rows="3" cols="100" ng-model="catalogItemModel.item.attributes.shortDescription"
                    ng-change="catalogItemModel.setShortDescription()"></textarea>
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1">
        <td><label>האם לכלול בתפריט?</label></td>
        <td><input type="checkbox" ng-model="catalogItemModel.item.attributes.isInMenu"
                    ng-change="catalogItemModel.setChanged(true)"></td>
      </tr>
      <tr>
        <td><label>יח' מידה</label></td>
        <td>
        <select ng-model="catalogItemModel.item.view.measurementUnit"
                ng-change="catalogItemModel.setChanged(true)"
                ng-options="measurementUnit.label for measurementUnit in catalogItemModel.measurementUnits"></select>
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1"
          ng-class="catalogItemModel.item.errors.priceQuantity?'bg-danger':null">
        <td><label>כמות להצעת מחיר</label></td>
        <td>
        <input type="text" size = 4 ng-model="catalogItemModel.item.attributes.priceQuantity"
               ng-change="catalogItemModel.setPriceQuantity()">

        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1"
          ng-class="catalogItemModel.item.errors.price?'bg-danger':null">
        <td><label>מחיר הכמות</label></td>
        <td>
        <input type="text" money min=0 size = 5 ng-model="catalogItemModel.item.attributes.price"
               ng-change="catalogItemModel.setPrice()">

        </td>
      </tr>
      <tr ng-hide="catalogItemModel.currentDomain.id===3"
          ng-class="catalogItemModel.item.errors.productionQuantity?'bg-danger':null">
        <td><label>כמות ייצור</label></td>
        <td>
        <input type="text" size = 4
               ng-model="catalogItemModel.item.attributes.productionQuantity"
               ng-change="catalogItemModel.setProductionQuantity()">
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===2"
          ng-class="catalogItemModel.item.errors.minTime?'bg-danger':null">
        <td><label>זמן מינימלי</label></td>
        <td>
          <input type="text" size = 4 ng-model="catalogItemModel.item.attributes.minTime"
                 ng-change="catalogItemModel.setMinTime()">
          &nbsp;
          <select ng-model="catalogItemModel.item.view.minTimeUnit"
                  ng-change="catalogItemModel.setChanged(true)"
                  ng-options="timeUnit.label for timeUnit in catalogItemModel.timeUnits"></select>
        </td>
    </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===2"
          ng-class="catalogItemModel.item.errors.maxTime?'bg-danger':null">
        <td><label>זמן מקסימלי</label></td>
        <td>
          <input type="text" size = 4 ng-model="catalogItemModel.item.attributes.maxTime"
                 ng-change="catalogItemModel.setMaxTime()">
          &nbsp;
          <select ng-model="catalogItemModel.item.view.maxTimeUnit"
                  ng-change="catalogItemModel.setChanged(true)"
                  ng-options="timeUnit.label for timeUnit in catalogItemModel.timeUnits"></select>
        </td>
    </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1">
        <td><label>יח' מידה לאריזה</label></td>
        <td>
          <select ng-model="catalogItemModel.item.view.packageMeasurementUnit"
                  ng-change="catalogItemModel.setChanged(true)"
                  ng-options="measurementUnit.label for measurementUnit in catalogItemModel.measurementUnits">
          </select>
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1">
        <td><label>שם למדבקה</label></td>
        <td>
          <input  type="text" size = 10 ng-model="catalogItemModel.item.attributes.stickerLabel"
                  ng-change="catalogItemModel.setChanged(true)">
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1">
        <td><label>מס' מדבקות</label></td>
        <td>
          <input  type="number" min="0" max="99" ng-model="catalogItemModel.item.attributes.stickerQuantity"
                  ng-change="catalogItemModel.setChanged(true)">
        </td>
      </tr>
    </table>
  </tab>
</tabset>
