<h1>קטלוג</h1>
  <label>בחר תחום</label>
  <select ng-model="catalogListModel.currentDomain"
          ng-change="catalogListModel.setDomain()"
          ng-disabled="catalogListModel.isChanged"
          ng-options="domain.label for domain in catalogListModel.domains"></select>
  <label>בחר קטגוריה</label>
  <select ng-model="catalogListModel.currentCategory"
          ng-change="catalogListModel.setCategory()"
          ng-disabled="catalogListModel.isChanged"
          ng-options="category.label for category in catalogListModel.categories"></select>
  <label>סינון</label>
  <input type="text" size="20" ng-model="catalogListModel.filterText" ng-change="catalogListModel.filterItems()">
<label>כולל מבוטלים</label>
  <input type="checkbox" ng-model="catalogListModel.includeDeleted" ng-change="catalogListModel.filterItems()">
<label>רק עם הערות</label>
<input type="checkbox" ng-model="catalogListModel.isOnlyRemarks" ng-change="catalogListModel.filterItems()">
<button ng-click="catalogListModel.addItem()" class="btn btn-default">הוסף פריט</button>
<div>
  <label>חיפוש בכל התחום</label>
  <input type="text" size="20" ng-model="catalogListModel.searchText">
 <button ng-click="catalogListModel.searchDomain()" class="btn btn-default">חפש</button>
  <label>ליצוא</label>
  <input type="checkbox" ng-model="catalogListModel.isForExport">
</div>
<div ng-hide="catalogListModel.isForExport">
  <table class="table table-hover" style="width:100%">
      <thead>
      <th style="width:7%">קטגוריה</th>
        <th style="width:20%">שם פנימי</th>
      <th ng-show="catalogListModel.currentDomain.id===2 || catalogListModel.currentDomain.id===4"
          style="width: 20%">שם תוצר</th>
      <th ng-show="catalogListModel.currentDomain.id===4" style="width: 20%">בלאסט צ'ילר</th>
      <th ng-show="catalogListModel.currentDomain.id===3" style="width:20%">ספק</th>
      <th ng-show="catalogListModel.currentDomain.id===1" style="width:35%">תיאור להצעת מחיר</th>
      <th ng-show="catalogListModel.currentDomain.id===1" style="width:1%">הצעת</th>
      <th ng-show="catalogListModel.currentDomain.id===1" style="width:5%">מחיר</th>
      <th ng-show="catalogListModel.currentDomain.id===1" style="width:0.2%"></th>
        <th ng-show="catalogListModel.currentDomain.id===1" style="width:8%"></th>
      <th ng-show="catalogListModel.currentDomain.id===1" style="width:4%">ייצור</th>
      <th ng-show="catalogListModel.currentDomain.id===1" style="width:6%"></th>
      <th ng-show="catalogListModel.currentDomain.id===2" style="width: 4%">כמות</th>
      <th ng-hide="catalogListModel.currentDomain.id===1" style="width: 4%">מידה</th>
      <th ng-show="catalogListModel.currentDomain.id===3" style="width: 4%">ספק</th>
      <th ng-show="catalogListModel.currentDomain.id===2 || catalogListModel.currentDomain.id===3"
          style="width: 4%">מלאי</th>
    </thead>
     <tbody>
      <tr ng-repeat="catalogItem in catalogListModel.categoryItems track by catalogItem.id"
          ng-class="catalogItem.properties.isDeleted?'cancel':null">
        <td>{{catalogItem.view.category.label}}</td>
        <td style="cursor: pointer" ng-click="catalogListModel.editItem(catalogItem.id)">
          {{catalogItem.properties.productName}}
        </td>
          <td ng-show="catalogListModel.currentDomain.id===2 || catalogListModel.currentDomain.id===4">
              {{catalogItem.properties.externalName}}
          </td>
          <td ng-show="catalogListModel.currentDomain.id===4">
              {{catalogItem.properties.isBlastChiller?'כן':''}}
          </td>
          <td ng-show="catalogListModel.currentDomain.id===3">
              {{catalogItem.properties.supplier}}
          </td>
          <td ng-show="catalogListModel.currentDomain.id===1">
              {{catalogItem.properties.productDescription}}
          </td>
          <td ng-show="catalogListModel.currentDomain.id===1">
          {{catalogItem.properties.priceQuantity | number:2}}
        </td>
        <td ng-hide="catalogListModel.currentDomain.id===2">
          {{catalogItem.view.measurementUnit.label}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===1">ב</td>
        <td ng-show="catalogListModel.currentDomain.id===1">
          {{catalogItem.properties.price | currency}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===1 || catalogListModel.currentDomain.id===2">
          {{catalogItem.properties.productionQuantity | number:2}}
        </td>
        <td ng-show="catalogListModel.currentDomain.id===1">
          {{catalogItem.view.prodMeasurementUnit.label}}
        </td>
          <td ng-show="catalogListModel.currentDomain.id===2">
              {{catalogItem.view.measurementUnit.label}}
          </td>
          <td ng-show="catalogListModel.currentDomain.id===3">
              {{catalogItem.properties.supplier}}
          </td>
          <td ng-show="catalogListModel.currentDomain.id===2 || catalogListModel.currentDomain.id===3">
          {{catalogItem.properties.isInStock ? 'כן' : ''}}
        </td>
      </tr>
      </tbody>
    </table>
</div>
<div ng-show="catalogListModel.isForExport" style="margin-right: 1%">
  <div ng-repeat="catalogItem in catalogListModel.categoryItems track by catalogItem.id">
    <span>{{catalogItem.view.category.label}}</span>
    <span>,</span>
    <span>{{catalogItem.properties.productName}}</span>
  </div>
</div>
