  <h1>קטלוג</h1>
  <label>בחר תחום</label>
  <select ng-model="catalogModel.currentDomain" ng-change="catalogModel.setDomain()"
          ng-disabled="catalogModel.isChanged"
          ng-options="domain.label for domain in catalogModel.domains"></select>
  <button ng-click="catalogModel.addItem()" class="btn btn-default">הוסף פריט</button>
  <label>ליצוא</label>
  <input type="checkbox" ng-model="catalogModel.isForExport">
  <span ng-show="catalogModel.isChanged" class="bg-success">
    <span>     הקש על</span>
    <button ng-click="catalogModel.updateItems()" class="btn btn-success">שמור</button>
    <span> לשמירת העדכונים שבוצעו, או על </span>
    <button ng-click="catalogModel.setDomain()" class="btn btn-warning">ביטול</button>
    <span> כדי לבטלם</span>
  </span>
  <div ng-hide="catalogModel.isForExport">
  <table class="table table-hover" style="width:100%">
      <thead>
        <th style="width:8%">קטגוריה</th>
        <th ng-show="catalogModel.currentDomain.id===1" style="width:54%">תיאור</th>
        <th ng-show="catalogModel.currentDomain.id>1" style="width:15%">תיאור</th>
        <th style="width:5%">יח' מידה</th>
        <th ng-show="catalogModel.currentDomain.id===1" style="width:3%">כמות</th>
        <th ng-show="catalogModel.currentDomain.id===1" style="width:5%">מחיר</th>
        <th style="width:10%">כ' יצור</th>
        <th ng-show="catalogModel.currentDomain.id===2" style="width: 5%">מינימום</th>
        <th ng-show="catalogModel.currentDomain.id===2" style="width: 5%"></th>
        <th ng-show="catalogModel.currentDomain.id===2" style="width: 5%">מקסימום</th>
        <th ng-show="catalogModel.currentDomain.id===2" style="width: 7%"></th>
        <th style="width:2%">מחק</th>
        <th style="width:6%"></th>
        <th style="width:6%"></th>
        <th style="width:6%"></th>
      </thead>
    <thead  ng-show="catalogModel.currentDomain.id===2">
    <th></th><th></th><th></th><th></th>
    <th>זמן</th>
    <th>יחידה</th>
    <th>זמן</th>
    <th>יחידה</th>
    </thead>
      <tbody>
      <tr ng-repeat="catalogItem in catalogModel.catalog" ng-class="catalogItem.isChanged?'bg-success':null">
        <td>
          <select ng-model="catalogItem.view.category" ng-change="catalogModel.itemChanged($index)"
                ng-options="category.label for category in catalogModel.categories"></select>
        </td>
        <td ng-show="catalogModel.currentDomain.id===1">
          <input type="text" size = 90 ng-model="catalogItem.attributes.productDescription"
                 ng-change="catalogModel.setProductDescription($index, true)"
                 ng-class="catalogItem.isProductDescriptionError?'bg-danger':null">
        </td>
        <td ng-show="catalogModel.currentDomain.id>1">
          <input type="text" size = 30 ng-model="catalogItem.attributes.productDescription"
                 ng-change="catalogModel.setProductDescription($index, true)"
                 ng-class="catalogItem.isProductDescriptionError?'bg-danger':null">
        </td>
        <td>
          <select ng-model="catalogItem.view.measurementUnit" ng-change="catalogModel.itemChanged($index)"
                  ng-options="measurementUnit.label for measurementUnit in catalogModel.measurementUnits"></select>
        </td>
        <td ng-show="catalogModel.currentDomain.id===1">
          <input type="text" size = 4 ng-model="catalogItem.attributes.priceQuantity"
                 ng-change="catalogModel.setPriceQuantity($index)"
                 ng-class="catalogItem.isPriceQuantityError?'bg-danger':null">
        </td>
        <td ng-show="catalogModel.currentDomain.id===1">
          <input type="text" money min=0 size = 5 ng-model="catalogItem.attributes.price"
                 ng-change="catalogModel.setPrice($index)"
                 ng-class="catalogItem.isPriceError?'bg-danger':null">
        </td>
        <td>
          <input type="text" size = 4 ng-model="catalogItem.attributes.productionQuantity"
                 ng-change="catalogModel.setProductionQuantity($index)"
                 ng-class="catalogItem.isProductionQuantityError?'bg-danger':null">
        </td>
        <td ng-show="catalogModel.currentDomain.id===2">
          <input type="text" size = 4 ng-model="catalogItem.attributes.minTime"
                 ng-change="catalogModel.setMinTime($index)"
                 ng-class="catalogItem.isMinTimeError?'bg-danger':null">
        </td>
        <td ng-show="catalogModel.currentDomain.id===2">
          <select ng-model="catalogItem.view.minTimeUnit" ng-change="catalogModel.itemChanged($index)"
                  ng-options="timeUnit.label for timeUnit in catalogModel.timeUnits"></select>
        </td>
        <td ng-show="catalogModel.currentDomain.id===2">
          <input type="text" size = 4 ng-model="catalogItem.attributes.maxTime"
                 ng-change="catalogModel.setMaxTime($index)"
                 ng-class="catalogItem.isMaxTimeError?'bg-danger':null">
        </td>
        <td ng-show="catalogModel.currentDomain.id===2">
          <select ng-model="catalogItem.view.maxTimeUnit" ng-change="catalogModel.itemChanged($index)"
                  ng-options="timeUnit.label for timeUnit in catalogModel.timeUnits"></select>
        </td>
        <td>
          <input type="checkbox" ng-model="catalogItem.view.isDeleted" ng-change="catalogModel.itemChanged($index)">
        </td>
        <td ng-show="catalogModel.currentDomain.id===1">
          <button ng-click="catalogModel.updateExitList($index)" class="btn btn-default btn-sm">עוד</button>
        </td>
        <td ng-show="catalogModel.currentDomain.id===1">
          <button ng-click="catalogModel.updateComponents($index,2)" class="btn btn-default btn-sm">הכנות</button>
        </td>
        <td ng-show="catalogModel.currentDomain.id<3">
          <button ng-click="catalogModel.updateComponents($index,3)" class="btn btn-default btn-sm">קניות</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="catalogModel.isForExport">
    <p></p>
    <div ng-repeat="catalogItem in catalogModel.catalog">
      <span>{{catalogItem.attributes.productDescription}}</span>
     </div>
  </div>
