<h3>
  <span ng-hide="catalogItemModel.isNewItem">עריכת</span>
  <span>{{catalogItemModel.currentDomain.single}}</span>
  <span ng-show="catalogItemModel.isNewItem">חדשה</span>
  <span>בקטגוריה</span>
  <span>{{catalogItemModel.item.view.category.label}}</span>
  <span ng-show="catalogItemModel.item.isChanged" class="bg-success">
    <span>     הקש על</span>
    <button ng-click="catalogItemModel.saveItem()" class="btn btn-success">שמור</button>
    <span> לשמירת העדכונים שבוצעו, או על </span>
    <button ng-click="catalogItemModel.cancel()" class="btn btn-warning">ביטול</button>
    <span> כדי לבטלם</span>
  </span>
  &nbsp;&nbsp;
  <button class="btn btn-default" ng-hide="catalogItemModel.item.isChanged"
          ng-click="catalogItemModel.close()">סגור</button>
</h3>
<tabset>
  <tab heading="רשימת יציאה">
    <button class="btn btn-default" ng-click="catalogItemModel.addExitListItem()">הוסף</button>
    <table class="table table-hover" style="width:40%">
      <tbody>
      <tr ng-repeat="listItem in catalogItemModel.item.attributes.exitList track by listItem.item">
        <td>
          <input type="text" size=60 ng-model="listItem.item"
                 ng-change="catalogItemModel.setChanged(true)">
        </td>
        <td>
          <button class="btn btn-default" ng-click="catalogItemModel.delExitListItem($index)">מחק</button>
        </td>
      </tr>
      </tbody>
    </table>
  </tab>
   <tab heading="ראשי" active="catalogItemModel.isMainTabActive">
    <table>
      <tr ng-class="catalogItemModel.item.errors.productDescription?'bg-danger':null">
        <td><label>תיאור</label></td>
        <td>
        <textarea rows="3" cols="100" ng-model="catalogItemModel.item.attributes.productDescription"
               ng-change="catalogItemModel.setProductDescription()"></textarea>
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1">
        <td><label>תיאור לתפריט</label></td>
        <td>
          <textarea rows="3" cols="100" ng-model="catalogItemModel.item.attributes.shortDescription"
                    ng-change="catalogItemModel.setShortDescription()"></textarea>
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1">
        <td><label>האם לכלול בתפריט?</label></td>
        <td><input type="checkbox" ng-model="catalogItemModel.item.attributes.isInMenu"
                    ng-change="catalogItemModel.setChanged(true)"></td>
      </tr>
      <tr>
        <td><label>יח' מידה</label></td>
        <td>
        <select ng-model="catalogItemModel.item.view.measurementUnit"
                ng-change="catalogItemModel.setChanged(true)"
                ng-options="measurementUnit.label for measurementUnit in catalogItemModel.measurementUnits"></select>
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1"
          ng-class="catalogItemModel.item.errors.priceQuantity?'bg-danger':null">
        <td><label>כמות</label></td>
        <td>
        <input type="text" size = 4 ng-model="catalogItemModel.item.attributes.priceQuantity"
               ng-change="catalogItemModel.setPriceQuantity()">

        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===1"
          ng-class="catalogItemModel.item.errors.price?'bg-danger':null">
        <td><label>מחיר</label></td>
        <td>
        <input type="text" money min=0 size = 5 ng-model="catalogItemModel.item.attributes.price"
               ng-change="catalogItemModel.setPrice()">

        </td>
      </tr>
      <tr ng-class="catalogItemModel.item.errors.productionQuantity?'bg-danger':null">
        <td><label>כמות ייצור</label></td>
        <td>
        <input type="text" size = 4
               ng-model="catalogItemModel.item.attributes.productionQuantity"
               ng-change="catalogItemModel.setProductionQuantity()">
        </td>
      </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===2"
          ng-class="catalogItemModel.item.errors.minTime?'bg-danger':null">
        <td><label>זמן מינימלי</label></td>
        <td>
          <input type="text" size = 4 ng-model="catalogItemModel.item.attributes.minTime"
                 ng-change="catalogItemModel.setMinTime()">
          &nbsp;
          <select ng-model="catalogItemModel.item.view.minTimeUnit"
                  ng-change="catalogItemModel.setChanged(true)"
                  ng-options="timeUnit.label for timeUnit in catalogItemModel.timeUnits"></select>
        </td>
    </tr>
      <tr ng-show="catalogItemModel.currentDomain.id===2"
          ng-class="catalogItemModel.item.errors.maxTime?'bg-danger':null">
        <td><label>זמן מקסימלי</label></td>
        <td>
          <input type="text" size = 4 ng-model="catalogItemModel.item.attributes.maxTime"
                 ng-change="catalogItemModel.setMaxTime()">
          &nbsp;
          <select ng-model="catalogItemModel.item.view.maxTimeUnit"
                  ng-change="catalogItemModel.setChanged(true)"
                  ng-options="timeUnit.label for timeUnit in catalogItemModel.timeUnits"></select>
        </td>
    </tr>
   </table>
  </tab>
</tabset>
