<div class="modal-header">
  <h3 class="modal-title" ng-show="componentsModel.targetDomain===2">רשימת הכנות לפריט</h3>
  <h3 class="modal-title" ng-show="componentsModel.targetDomain===3">רשימת קניות לפריט</h3>
</div>
<div class="modal-body">
  <div>
    <label>שם הפריט: </label>
    <span>{{componentsModel.productDescription}}</span>
  </div>
  <div>
    <label>כמות ייצור: </label>
    <span>{{componentsModel.productionQuantity}}</span>
    <span>{{componentsModel.measurementUnit.label}}</span>
  </div>
  <button class="btn btn-success" ng-click="componentsModel.addItem()">הוסף</button>
  <span ng-show="componentsModel.isAddItem">
      <select ng-model="componentsModel.currentCategory" ng-change="componentsModel.setCategory()"
              ng-options="category.label for category in componentsModel.targetCategories"></select>
    <select ng-model="componentsModel.currentItem" ng-change="componentsModel.setItem()"
            ng-options="item.attributes.productDescription for item in componentsModel.filteredItems"></select>
  </span>
  <table>
    <thead>
    <th><label>קטגוריה</label></th>
    <th><label>מוצר</label></th>
    <th><label>כמות</label></th>
    <th><label>יח' מידה</label></th>
    </thead>
    <tbody>
    <tr ng-repeat="component in componentsModel.components track by component.attr.id">
      <td>{{component.view.category.label}}</td>
      <td>{{component.view.productDescription}}</td>
      <td>
        <input type="number" size="3" min=0 ng-model="component.attr.quantity">
      </td>
      <td>{{component.view.measurementUnit.label}}</td>
      <td>
        <button class="btn btn-warning" ng-click="componentsModel.delItem($index)">מחק</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="componentsModel.done()">שמור</button>
  <button class="btn btn-warning" ng-click="componentsModel.cancel()">בטל</button>
</div>
