<h2>
  ניהול לקוחות
</h2>
  <div>
    <button class="btn btn-default"
            ng-show="customerListModel.isCustomerChanged"
            ng-click="customerListModel.clearChanges()">
בטל עדכון
    </button>
    <button class="btn btn-default"
            ng-click="customerListModel.updateCustomer()"
            ng-show="customerListModel.state==='selected' && customerListModel.isCustomerChanged">
      עדכן לקוח
    </button>
    <button class="btn btn-default"
            ng-click="customerListModel.updateCustomer()"
            ng-show="customerListModel.state==='new' && customerListModel.isCustomerChanged">
      צור לקוח
    </button>
    <button class="btn btn-default"
            ng-show="customerListModel.state==='selected' &&
                     !customerListModel.isCustomerChanged &&
                     !customerListModel.isShowOrders"
            ng-click="customerListModel.showOrders()">
      הצג אירועים
    </button>
    <button class="btn btn-default"
            ng-show="customerListModel.state==='selected' &&
                     !customerListModel.isCustomerChanged &&
                     customerListModel.isShowOrders"
            ng-click="customerListModel.isShowOrders = false">
      הסתר אירועים
    </button>
    <button class="btn btn-default"
            ng-show="customerListModel.state==='selected' && !customerListModel.isCustomerChanged"
            ng-click="customerListModel.createOrder()">
      אירוע חדש
    </button>
</div>
<div ng-show="customerListModel.isShowOrders">
  <h3>
    <span>רשימת אירועים של </span>
    {{customerListModel.currentCustomer.attributes.firstName+' '+ customerListModel.currentCustomer.attributes.lastName}}
  </h3>
  <ng-include src="'app/partials/order/orderTable.html'"></ng-include>
</div>
  <table class="table table-hover" style="width:99%">
    <thead>
    <th style="width:12%">שם פרטי</th>
    <th style="width:13%">שם משפחה</th>
    <th style="width:8%">        טל' נייד    </th>
    <th style="width:8%">        טל' בית    </th>
    <th style="width:8%">        טל' עבודה    </th>
    <th style="width:14%">        דוא"ל    </th>
    <th style="width:4%">        כתובת    </th>
    <th style="width:1%">הצ'</th>
    <th style="width:1%">כש'</th>
    <th style="width:6%">אחרון</th>
    <th style="width:3%"></th>
    </thead>
    <tbody>
    <tr ng-class="customerListModel.isCustomerChanged?'bg-success':null">
      <td>
        <input type="text" size=15 ng-model="customerListModel.currentCustomer.attributes.firstName"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=15 ng-model="customerListModel.currentCustomer.attributes.lastName"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=8 ng-model="customerListModel.currentCustomer.attributes.mobilePhone"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=8 ng-model="customerListModel.currentCustomer.attributes.homePhone"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=8 ng-model="customerListModel.currentCustomer.attributes.workPhone"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input style="text-align: left" type="text" size=27 ng-model="customerListModel.currentCustomer.attributes.email"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=10 ng-model="customerListModel.currentCustomer.attributes.address"
               ng-change="customerListModel.customerChanged()">
      </td>
       <!--<td style="text-align: left">
        <span>מוצגים</span>
        <span>{{customerListModel.filteredCustomers.length}}</span>
        <span>מתוך</span>
        <span>{{customerListModel.customers.length}}</span>
        <span>לקוחות</span>
      </td> -->
    </tr>
    <tr ng-repeat="customer in customerListModel.filteredCustomers track by customer.id"
        ng-class="customer.isSelected?'bg-success':null">
      <td style="cursor:pointer"
          ng-class="!customer.isSelected&&customer.matches.name?'bg-warning':null"
          ng-click="customerListModel.selectLine($index)">
        {{customer.attributes.firstName}}
      </td>
      <td style="cursor:pointer"
          ng-class="!customer.isSelected&&customer.matches.name?'bg-warning':null"
          ng-click="customerListModel.selectLine($index)">
        {{customer.attributes.lastName}}
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.mobilePhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.mobilePhone}}">{{customer.attributes.mobilePhone}}</a>
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.homePhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.homePhone}}">{{customer.attributes.homePhone}}</a>
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.workPhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.workPhone}}">{{customer.attributes.workPhone}}</a>
      </td>
      <td  style="text-align: left"ng-class="!customer.isSelected&&customer.matches.email?'bg-warning':null">
        <a href="mailto:{{customer.attributes.email}}">{{customer.attributes.email}}</a>
      </td>
      <td ng-click="customerListModel.selectLine($index)">{{customer.attributes.address}}</td>
      <td>{{customer.successOrderCount}}</td>
      <td>{{customer.failureOrderCount}}</td>
      <td ng-show="customer.lastDate>customerListModel.firstDate">{{customer.lastDate | date:'dd/MM/yyyy'}}</td>
      <td ng-hide="customer.lastDate>customerListModel.firstDate"></td>
      <td ng-show="customer.isUniqueMatch && !customer.isSelected && customer.orderCount > 0">
        <button class="btn btn-small btn-warning"
                ng-click="customerListModel.mergeCustomer($index)">
          מזג
        </button>
      </td>
      <td ng-show="!customer.isSelected && customer.orderCount === 0">
        <button class="btn btn-small btn-warning"
                ng-click="customerListModel.deleteCustomer($index)">
          מחק
        </button>
      </td>
    </tr>
    </tbody>
  </table>
