<h2>
  ניהול לקוחות
</h2>
  <div>
    <button class="btn btn-default"
            ng-show="customerListModel.isCustomerChanged"
            ng-click="customerListModel.clearChanges()">
בטל עדכון
    </button>
    <button class="btn btn-default"
            ng-click="customerListModel.updateCustomer()"
            ng-show="customerListModel.state==='selected' && customerListModel.isCustomerChanged">
      עדכן לקוח
    </button>
    <button class="btn btn-default"
            ng-click="customerListModel.updateCustomer()"
            ng-show="customerListModel.state==='new' && customerListModel.isCustomerChanged">
      צור לקוח
    </button>
    <button class="btn btn-default"
            ng-show="customerListModel.state==='selected' &&
                     !customerListModel.isCustomerChanged &&
                     !customerListModel.isShowOrders"
            ng-click="customerListModel.showOrders()">
      הצג אירועים
    </button>
    <button class="btn btn-default"
            ng-show="customerListModel.state==='selected' &&
                     !customerListModel.isCustomerChanged &&
                     customerListModel.isShowOrders"
            ng-click="customerListModel.isShowOrders = false">
      הסתר אירועים
    </button>
    <button class="btn btn-default"
            ng-show="customerListModel.state==='selected' && !customerListModel.isCustomerChanged"
            ng-click="customerListModel.createOrder()">
      אירוע חדש
    </button>
</div>
<div ng-show="customerListModel.isShowOrders">
  <ng-include src="'app/partials/customer/orderList.html'"></ng-include>
</div>
  <table class="table table-hover" style="width:80%">
    <thead>
    <th style="width:15%">שם פרטי</th>
    <th style="width:16%">שם משפחה</th>
    <th style="width:10%">        טל' נייד    </th>
    <th style="width:10%">        טל' בית    </th>
    <th style="width:10%">        טל' עבודה    </th>
    <th style="width:18%">        דוא"ל    </th>
    <th style="width:16%">        כתובת    </th>
    <th style="width:2%">אירועים</th>
    <th style="width:3%"></th>
    </thead>
    <tbody>
    <tr ng-class="customerListModel.isCustomerChanged?'bg-success':null">
      <td>
        <input type="text" size=15 ng-model="customerListModel.currentCustomer.attributes.firstName"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=15 ng-model="customerListModel.currentCustomer.attributes.lastName"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=8 ng-model="customerListModel.currentCustomer.attributes.mobilePhone"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=8 ng-model="customerListModel.currentCustomer.attributes.homePhone"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=8 ng-model="customerListModel.currentCustomer.attributes.workPhone"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input style="text-align: left" type="text" size=22 ng-model="customerListModel.currentCustomer.attributes.email"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=20 ng-model="customerListModel.currentCustomer.attributes.address"
               ng-change="customerListModel.customerChanged()">
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr ng-repeat="customer in customerListModel.filteredCustomers track by customer.id"
        ng-class="customer.isSelected?'bg-success':null">
      <td style="cursor:pointer"
          ng-class="!customer.isSelected&&customer.matches.name?'bg-warning':null"
          ng-click="customerListModel.selectLine($index)">
        {{customer.attributes.firstName}}
      </td>
      <td style="cursor:pointer"
          ng-class="!customer.isSelected&&customer.matches.name?'bg-warning':null"
          ng-click="customerListModel.selectLine($index)">
        {{customer.attributes.lastName}}
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.mobilePhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.mobilePhone}}">{{customer.attributes.mobilePhone}}</a>
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.homePhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.homePhone}}">{{customer.attributes.homePhone}}</a>
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.workPhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.workPhone}}">{{customer.attributes.workPhone}}</a>
      </td>
      <td  style="text-align: left"ng-class="!customer.isSelected&&customer.matches.email?'bg-warning':null">
        <a href="mailto:{{customer.attributes.email}}">{{customer.attributes.email}}</a>
      </td>
      <td ng-click="customerListModel.selectLine($index)">{{customer.attributes.address}}</td>
      <td>{{customer.orderCount}}</td>
      <td>
        <button class="btn btn-small btn-warning"
                ng-show="customer.isUniqueMatch && !customer.isSelected"
                ng-click="customerListModel.mergeCustomer($index)">
          מזג
        </button>
      </td>
    </tr>
    </tbody>
  </table>
