<div id="exitListContainer">
		<h1>
		  פומפידו - רשימת יציאה
		</h1>


		<table style="width:90%">
		  <tbody>
		  <tr>

		    <td style="width:20%">
		      <label>
		        הזמנה מס':
		      </label>
		      <span>{{exitListModel.currentOrder.number}}</span>
		    </td>

		    <td style="width:20%">
		      <label>
		        תאריך:
		      </label>
		      <span>{{exitListModel.currentOrder.eventDate | date: 'EEE dd/MM/yy'}}</span>
		    </td>

        <td style="width:20%">
          <label>
שעת מסירה:
          </label>
          <span>{{exitListModel.currentOrder.eventTime | date: 'H:mm'}}</span>
        </td>

        <td style="width:20%">
          <label>
שעת יציאה:
          </label>
          <span>{{exitListModel.currentOrder.exitTime | date: 'H:mm'}}</span>
        </td>

        <td style="width:20%">
		      <label>
		        משתתפים:
		      </label>
		      <span>{{exitListModel.currentOrder.noOfParticipants}}</span>
		    </td>

		  </tr>


		  <tr>
		    <td>
		      <label>
		        לקוח:
		      </label>
		      <span>{{exitListModel.customer.firstName+' '+exitListModel.customer.lastName}}</span>
		    </td>
		    <td>
		      <label>
		        נייד:
		      </label>
		      <span>{{exitListModel.customer.mobilePhone}}</span>
		    </td>
		    <td>
		      <label>
		        בית:
		      </label>
		      <span>{{exitListModel.customer.homePhone}}</span>
		    </td>
		    <td>
		      <label>
		        עבודה:
		      </label>
		      <span>{{exitListModel.customer.workPhone}}</span>
		    </td>
		  </tr>


		  </tbody>
		</table>


		<div>
		  <label>
		    כתובת:
		  </label>
		  <span>{{exitListModel.customer.address}}</span>
		</div>
		<div>
		  <label>
		    מקום משלוח:
		  </label>
		  <span>{{exitListModel.currentOrder.deliveryLocation}}</span>
		</div>
		<div>
		  <label>
		    הערות:
		  </label>
		  <span>{{exitListModel.currentOrder.remarks}}</span>
		</div>


		<table style="width:90%">
		  <tbody>
		  <tr>
		    <td style="width:33%">
		      <label>
		        ס"ה לפני מע"מ:
		      </label>
		      <span>{{exitListModel.currentQuote.totalBeforeVatForInvoice | currency}}</span>
		    </td>
		    <td style="width:33%">
		      <label>
		        מע"מ:
		      </label>
		      <span>{{exitListModel.currentQuote.vatForInvoice | currency}}</span>
		    </td>
		    <td style="width:33%">
		      <label>
		        לתשלום:
		      </label>
		      <span>
		        {{exitListModel.currentQuote.isFixedPrice?
		            exitListModel.currentQuote.fixedPrice:exitListModel.currentQuote.total | currency}}
		      </span>
		    </td>
		  </tr>
		  </tbody>
		</table>



		<div ng-repeat="category in exitListModel.filteredCategories">
		  <label>{{category.label}}</label>
		  {{exitListModel.setupCategoryItems(category.tId)}}
		  <table style="width:90%">
		    <tbody>
		    <tr ng-repeat="item in exitListModel.categoryItems">
		      <td style="width:85%">
		        &#9634;
		        {{item.productDescription}}
		        {{exitListModel.setupItemExitList(item.catalogId)}}
		        <table>
		          <tr ng-repeat="listItem in exitListModel.exitList">
		            <td>
		              &#9634;
		              {{listItem.item}}
		            </td>
		          </tr>
		        </table>
		      </td>
		      <td style="vertical-align: top; width: 5%">{{item.quantity}}</td>
		      <td style="vertical-align: top; width: 10%">{{item.measurementUnit.label}}</td>
		    </tr>
		    </tbody>
		  </table>
		</div>






</div> <!-- End of exitListContainer  -->
