<div id="exitListContainer">
		<h1>
		   רשימת יציאה -
      {{exitListModel.customer.firstName+' '+exitListModel.customer.lastName}}
      {{exitListModel.currentOrder.eventDate | date: 'EEE dd/MM/yy'}}
      <img src="app/img/bigColors/{{exitListModel.color.stickerColor}}.jpg"/>
		</h1>


		<table style="width:90%">
		  <tbody>
		  <tr>

		    <td style="width:20%">
		      <label>
		        הזמנה מס':
		      </label>
		      <span>{{exitListModel.currentOrder.number}}</span>
		    </td>

		    <td style="width:20%">
		      <label>
		        תאריך:
		      </label>
		      <span>{{exitListModel.currentOrder.eventDate | date: 'EEE dd/MM/yy'}}</span>
		    </td>

        <td style="width:20%">
          <label>
שעת מסירה:
          </label>
          <span>{{exitListModel.currentOrder.eventTime | date: 'H:mm'}}</span>
        </td>

        <td style="width:20%">
          <label>
שעת יציאה:
          </label>
          <span>{{exitListModel.currentOrder.exitTime | date: 'H:mm'}}</span>
        </td>

        <td style="width:20%">
		      <label>
		        משתתפים:
		      </label>
		      <span>{{exitListModel.currentOrder.noOfParticipants}}</span>
		    </td>

		  </tr>


		  <tr>
		    <td>
		      <label>
		        לקוח:
		      </label>
		      <span>{{exitListModel.customer.firstName+' '+exitListModel.customer.lastName}}</span>
		    </td>
		    <td>
		      <label>
		        נייד:
		      </label>
		      <span>{{exitListModel.customer.mobilePhone}}</span>
		    </td>
		    <td>
		      <label>
		        בית:
		      </label>
		      <span>{{exitListModel.customer.homePhone}}</span>
		    </td>
		    <td>
		      <label>
		        עבודה:
		      </label>
		      <span>{{exitListModel.customer.workPhone}}</span>
		    </td>
		  </tr>


		  </tbody>
		</table>


		<div>
		  <label>
		    כתובת:
		  </label>
		  <span>{{exitListModel.customer.address}}</span>
		</div>
		<div>
		  <label>
		    מקום משלוח:
		  </label>
		  <span>{{exitListModel.currentOrder.deliveryLocation}}</span>
		</div>
		<div>
		  <label>
		    הערות:
		  </label>
		  <span>{{exitListModel.currentOrder.remarks}}</span>
		</div>


		<table style="width:90%">
		  <tbody>
		  <tr>
		    <td style="width:20%">
		      <label>
		        ס"ה לפני מע"מ:
		      </label>
		      <span>{{exitListModel.currentQuote.totalBeforeVatForInvoice | currency}}</span>
		    </td>
		    <td style="width:20%">
		      <label>
		        מע"מ:
		      </label>
		      <span>{{exitListModel.currentQuote.vatForInvoice | currency}}</span>
		    </td>
        <td style="width:20%">
          <label>
            לתשלום:
          </label>
		      <span>
		        {{exitListModel.currentQuote.isFixedPrice?
		            exitListModel.currentQuote.fixedPrice:exitListModel.currentQuote.total | currency}}
		      </span>
        </td>
        <td style="width:20%" ng-show="exitListModel.currentQuote.advance">
          <label>
מקדמה:
          </label>
		      <span>
		        {{exitListModel.currentQuote.advance | currency}}
		      </span>
        </td>
        <td style="width:20%" ng-show="exitListModel.currentQuote.advance">
          <label>
יתרה:
          </label>
		      <span>
		        {{exitListModel.currentQuote.balance | currency}}
		      </span>
        </td>
		  </tr>
		  </tbody>
		</table>


  <table style="width:90%;height:20px" border="1">
    <tr>
      <td ng-repeat="role in exitListModel.pRoles" style="width: 25%">
        <label>{{role.label}}</label>
      </td>
    </tr>
  </table>

  <p style="height: 20px;"></p>

  <table style="width: 90%">
    <th style="width: 50%"></th>
    <th style="width: 25%"></th>
    <th style="width: 25%"></th>
    <tr ng-repeat="line in exitListModel.vec">
      <td ng-show="line.level===0">
        <label>{{line.data.label}}</label></td>
      <td ng-show="line.level===1 && !line.data.isExcludeMainItem" style="font-weight: bold">
        &nbsp;&#128440;
        {{line.data.productName}}
        <div ng-show="line.data.isDescChanged">
          &nbsp;&nbsp;&nbsp;<label>התאמה אישית:</label>&nbsp;
          {{line.data.productDescription}}
        </div>
      </td>
      <td ng-show="line.level===2">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#128410;
        {{line.data.item}}</td>
      <td ng-show="line.level===0"></td>
      <td ng-show="line.level===1 && !line.data.isExcludeMainItem">
        {{line.data.quantity}}&nbsp;{{line.data.measurementUnit.label}}
      </td>
      <td ng-show="line.level===2"></td>
      <td ng-show="line.level===0">
        <span ng-show="line.data.measurementUnit">
        <input type="text" size="5"> &nbsp; {{line.data.measurementUnitLabel}}
        </span>
      </td>
      <td ng-show="line.level===1 && !line.data.isExcludeMainItem">
        <span ng-show="line.data.packageMeasurementUnit.tId">
        <input type="text" size="5"> &nbsp; {{line.data.packageMeasurementUnit.label}}
        </span>
      </td>
      <td ng-show="line.level===2">
        <span ng-show="line.data.measurementUnit.tId">
        <input type="text" size="5"> &nbsp; {{line.data.measurementUnit.label}}
        </span>
      </td>
    </tr>
  </table>
  <div ng-show="exitListModel.accessories.length">
    <div><label>אביזרים נלווים</label></div>
    <table>
      <tbody>
      <tr ng-repeat="accessory in exitListModel.accessories">
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#128410;
          {{accessory.name}}
        </td>
        <td>{{accessory.quantity}}</td>
        <td>{{accessory.measurementUnit.label}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <table>
    <tbody>
    <tr ng-repeat="group in exitListModel.groups" style="font-weight: bold">
      <td>
        סה"כ
        {{group.label}}
        :
      </td>
      <td>{{group.quantity}}</td>
      <td>{{group.measurementUnit.label}}</td>
    </tr>
    </tbody>
  </table>


  <div>
    <p style="page-break-after: always;">&nbsp;</p>
    <p style="page-break-before: always;">&nbsp;</p>
  </div>

  <h3>
    {{exitListModel.customer.firstName+' '+exitListModel.customer.lastName}}
    {{exitListModel.currentOrder.eventDate | date: 'EEE dd/MM/yy'}}
    -
    חטיפים
    &nbsp;
    <img src="app/img/bigColors/{{exitListModel.color.stickerColor}}.jpg"/>
  </h3>
  <table style="width:60%">
    <thead>
    <th style="width:70%">פריט</th>
    <th style="width:15%">כמות</th>
    <th style="width:15%"></th>
    </thead>
    <tbody>
    <tr ng-repeat="item in exitListModel.snacks">
      <td>{{item.productName}}
        <div ng-show="item.isDescChanged">
          <label>התאמה אישית:</label>
          {{item.productDescription}}
        </div>
      </td>
      <td>{{item.quantity}}</td>
      <td>{{item.measurementUnitLabel}}</td>
    </tr>
    </tbody>
  </table>
  <h3>
    {{exitListModel.customer.firstName+' '+exitListModel.customer.lastName}}
    {{exitListModel.currentOrder.eventDate | date: 'EEE dd/MM/yy'}}
    -
    קינוחים
    &nbsp;
    <img src="app/img/bigColors/{{exitListModel.color.stickerColor}}.jpg"/>
  </h3>
  <table style="width:60%">
    <thead>
    <th style="width:70%">פריט</th>
    <th style="width:15%">כמות</th>
    <th style="width:15%"></th>
    </thead>
    <tbody>
    <tr ng-repeat="item in exitListModel.desserts">
      <td>{{item.productName}}
        <div ng-show="item.isDescChanged">
          <label>התאמה אישית:</label>
          {{item.productDescription}}
        </div>
      </td>
      <td>{{item.quantity}}</td>
      <td>{{item.measurementUnitLabel}}</td>
    </tr>
    </tbody>
  </table>





</div> <!-- End of exitListContainer  -->
