<div class="quoteMainContainer">

  <div class="quoteMainContent">

    <!-- Top Purple line  -->
    <div class="purpleBG topQuoteLine"></div>


    <!-- Header + main logo -->
    <div class="quoteTextBox">
      <h2 class="purpleText bold quoteMainTitle">
        אז מה נשאר לך לעשות?
      </h2>
      <div class="quoteLogo">
        <img align="left" src="app/img/logo.png"/>
      </div>
    </div>

    <!-- Customer's details + nice image -->
    <div class="quoteTextBox quoteDetails">

      <div class="floatRight">

        <span class="bold">שם:</span>
        <span>{{instructionsListModel.customer.properties.firstName+' '+
                instructionsListModel.customer.properties.lastName}}</span>
        <br>
        <span class="bold">תאריך האירוע:</span>
      <!--  <span>{{instructionsListModel.eventDate | convertTimezone:'Asia/Jerusalem' | formatTime: 'D/M/YYYY'}}</span> -->
       <span>{{instructionsListModel.eventDate | date: 'dd/MM/yy'}}</span>

      </div>


      <!-- image next to customer's details -->
      <div class="quoteTitleImg floatLeft">
        <div class="quotePhoneOnImg bold purpleText">טלפון: 054-7514061 </div>
        <img align="left" src="app/img/box_1.jpg"/>
      </div>

    </div>

    <div class="quoteTextBox quoteDetails">
      <div class="floatRight">
        <p>&nbsp;</p>
          <div ng-show="instructionsListModel.isAllFridge">
          <label>עם קבלת המשלוח יש להכניס את כל המנות למקרר</label>
        </div>
        <div ng-show="instructionsListModel.isAnyFridge && !instructionsListModel.isAllFridge">
          <div>
          <label>עם קבלת המשלוח יש להכניס את המנות הבאות למקרר:</label>
          </div>
          <ul>
            <li ng-repeat="item in instructionsListModel.fridgeItems track by item.id">
              {{item.desc}}
            </li>
          </ul>
        </div>
        <p>&nbsp;</p>
        <div ng-show="instructionsListModel.generalInstructions.length">
          <div>
            <labeL>הוראות פרטניות:</labeL>
          </div>
          <ul>
            <li ng-repeat="gi in instructionsListModel.generalInstructions track by gi.id">
              {{gi.text}}
            </li>
          </ul>
        </div>
        <p>&nbsp;</p>
       <div ng-show="instructionsListModel.instructions.length">
          <labeL>הוראות לפי זמן:</labeL>
        </div>
        <div ng-repeat="instructions in instructionsListModel.instructions track by instructions.id">
          <span>{{instructions.time | number:0}}</span>
          <span>דקות לפני ההגשה</span>
          <span>{{instructions.text}}</span>
        </div>
        <p>&nbsp;</p>
        <div><label>שיהיה בתיאבון והנאה באירוע</label></div>
      </div>
    </div>
  </div>
</div>
