<div id="printed_menu_container" onload="menuLoaded()">

    <img class="moveLeft" id="printed_menu_background" src="app/img/empty_menu-page-001.jpg" />

    <div id="printed_menu_list">
        <div id="printed_menu_category" ng-repeat="category in menuModel.filteredCategories">
           <label id="printed_menu_header">
              {{category.label}}
           </label>
           <input type="button" class="moveLeft"  value="move" />
              {{menuModel.setupCategoryItems(category.tId)}}
           <ul ng-repeat="item in menuModel.categoryItems">
              <li>
                  {{item.shortDescription}}
              </li>
           </ul>
        </div>
        <div id="left_column" >

        </div>
    </div>
</div>





