<div class="modal-header">
  <h3 class="modal-title">
    {{modalCustomerModel.modalHeader}}
  </h3>
    <button class="btn btn-primary btn-sm" ng-click="modalCustomerModel.doSelect()"
            ng-enabled="modalCustomerModel.currentCustomer.id">
        בחר
    </button>
    <button class="btn btn-warning btn-sm" ng-click="modalCustomerModel.doCancel()">
        בטל
    </button>
</div>
<div class="modal-body">
  <div>
   <button class="btn btn-warning btn-sm"
           ng-show="modalCustomerModel.isCustomerChanged"
           ng-click="modalCustomerModel.clearChanges()">
בטל עדכון
    </button>
    <button class="btn btn-success btn-sm"
            ng-click="modalCustomerModel.updateCustomer()"
            ng-show="modalCustomerModel.state==='selected' && modalCustomerModel.isCustomerChanged"
            ng-disabled="modalCustomerModel.currentCustomer.isError">
      עדכן
    </button>
    <button class="btn btn-success btn-sm"
            ng-click="modalCustomerModel.updateCustomer()"
            ng-show="modalCustomerModel.state==='new' && modalCustomerModel.isCustomerChanged"
            ng-disabled="modalCustomerModel.currentCustomer.isError">
    צור
    </button>
  </div>
  <table class="table table-hover" style="width:100%">
    <thead>
    <th>פרטי</th>
    <th>משפחה</th>
    <th>        טל' נייד    </th>
    <th>        טל' בית    </th>
    <th>        טל' עבודה    </th>
    <th>        דוא"ל    </th>
    <th>        כתובת    </th>
    </thead>
    <tbody>
    <tr ng-class="modalCustomerModel.isCustomerChanged?'bg-success':null">
      <td>
        <input type="text" size=3 ng-model="modalCustomerModel.currentCustomer.attributes.firstName"
               ng-class="modalCustomerModel.currentCustomer.isFirstNameError?'bg-danger':null"
               ng-change="modalCustomerModel.firstNameChanged()">
      </td>
     <td>
        <input type="text" size=4 ng-model="modalCustomerModel.currentCustomer.attributes.lastName"
               ng-change="modalCustomerModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=7 ng-model="modalCustomerModel.currentCustomer.attributes.mobilePhone"
               ng-class="modalCustomerModel.currentCustomer.isMobilePhoneError?'bg-danger':null"
               ng-change="modalCustomerModel.mobilePhoneChanged()">
       </td>
      <td>
        <input type="text" size=7 ng-model="modalCustomerModel.currentCustomer.attributes.homePhone"
               ng-change="modalCustomerModel.customerChanged()">
       </td>
      <td>
        <input type="text" size=7 ng-model="modalCustomerModel.currentCustomer.attributes.workPhone"
               ng-change="modalCustomerModel.customerChanged()">
      </td>
      <td>
        <input style="text-align: left" type="text" size=27 ng-model="modalCustomerModel.currentCustomer.attributes.email"
               ng-change="modalCustomerModel.customerChanged()">
      </td>
      <td>
        <input type="text" size=20 ng-model="modalCustomerModel.currentCustomer.attributes.address"
               ng-change="modalCustomerModel.customerChanged()">
      </td>
    </tr>
    <tr ng-repeat="customer in modalCustomerModel.filteredCustomers track by customer.id"
        ng-class="customer.isSelected?'bg-success':null">
      <td style="cursor:pointer"
          ng-class="!customer.isSelected&&customer.matches.name?'bg-warning':null"
          ng-click="modalCustomerModel.selectLine($index)">
        {{customer.attributes.firstName}}
      </td>
      <td style="cursor:pointer"
          ng-class="!customer.isSelected&&customer.matches.name?'bg-warning':null"
          ng-click="modalCustomerModel.selectLine($index)">
        {{customer.attributes.lastName}}
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.mobilePhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.mobilePhone}}">{{customer.attributes.mobilePhone}}</a>
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.homePhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.homePhone}}">{{customer.attributes.homePhone}}</a>
      </td>
      <td ng-class="!customer.isSelected&&customer.matches.workPhone?'bg-warning':null">
        <a href="tel:{{customer.attributes.workPhone}}">{{customer.attributes.workPhone}}</a>
      </td>
      <td style="text-align: left" ng-class="!customer.isSelected&&customer.matches.email?'bg-warning':null">
        <a href="mailto:{{customer.attributes.email}}">{{customer.attributes.email}}</a>
      </td>
      <td ng-click="modalCustomerModel.selectLine($index)">{{customer.attributes.address}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="modalCustomerModel.doSelect()"
          ng-enabled="modalCustomerModel.currentCustomer.id">
    בחר
  </button>
  <button class="btn btn-warning btn-sm" ng-click="modalCustomerModel.doCancel()">
    בטל
  </button>
</div>
