    <h3 style="display: inline">
      <span ng-show="orderModel.isNewOrder">אירוע חדש</span>
      <span ng-hide="orderModel.isNewOrder">
        <span ng-hide="orderModel.order.properties.template">אירוע מס' </span>
        <span ng-show="orderModel.order.properties.template">תבנית מס' </span>
        <span>{{orderModel.order.properties.number}}</span>
        <span ng-show="orderModel.order.properties.template">:</span>
        <span ng-show="orderModel.order.properties.template">{{orderModel.order.properties.template}}</span>
      </span>
      </h3>
    <div style="display: inline">
      <span ng-show="orderModel.order.view.isChanged" class="bg-success">
        &nbsp;&nbsp;<label>לשמירת העדכונים הקש על </label>
        <button ng-click="orderModel.saveOrder()" class="btn btn-primary"> שמור</button>
        <label> לביטול הקש על </label>
        <button ng-click="orderModel.cancel()" class="btn btn-warning">ביטול</button>
      </span>
      <span>&nbsp;&nbsp;</span>
      <span ng-hide="orderModel.order.view.isChanged">
        <button class="btn btn-default" ng-click="orderModel.close()">סגור</button>
      </span>
    </div>
    <div style="display: inline">
      &nbsp;&nbsp;&nbsp;
           <span ng-show="!orderModel.order.view.isChanged && orderModel.order.properties.taskData.kitchenInstructions">
            <label>הוראות למטבח:</label>
            <span>{{orderModel.order.properties.taskData.kitchenInstructions}}</span>
          </span>
      &nbsp;&nbsp;&nbsp;
          <span ng-show="!orderModel.order.view.isChanged">
            <label>מיקום:</label>
            <span>{{orderModel.order.properties.taskData.location}}</span>
          </span>
   </div>
    <p></p>
       <div>
          <ng-include src="'app/partials/order/header.html'"></ng-include>
        </div>
    <p></p>
        <tabset>
          <tab heading="בונוסים"
               ng-show="orderModel.order.view.orderStatus.id > 1 &&
                        orderModel.order.view.orderStatus.id < 6 && !orderModel.user.attributes.isKitchenStaff">
            <ng-include src="'app/partials/order/bonuses.html'"></ng-include>
          </tab>
            <tab heading="אירועים קודמים" ng-show="orderModel.order.properties.customer && !orderModel.user.attributes.isKitchenStaff"
              select="orderModel.getPrevOrders()">
              <ng-include src="'app/partials/order/orderTable.html'"></ng-include>
            </tab>
          <tab heading="מסמכים"
               ng-show="orderModel.order.view.orderStatus.id > 0 && !orderModel.user.attributes.isKitchenStaff">
          <ng-include src="'app/partials/order/docs.html'"></ng-include>
          </tab>
          <tab heading="תפריט מודפס"
               ng-show="orderModel.order.view.orderStatus.id > 1 &&
                        orderModel.order.view.orderStatus.id < 6 && !orderModel.user.attributes.isKitchenStaff">
          <ng-include src="'app/partials/order/printedMenu.html'"></ng-include>
          </tab>
            <tab heading="פעילויות" ng-show="!orderModel.user.attributes.isKitchenStaff">
                <ng-include src="'app/partials/order/activities.html'"></ng-include>
            </tab>
          <tab heading="פרטים כלליים"
               ng-show="!orderModel.user.attributes.isKitchenStaff"
               active="orderModel.isActiveGeneralTab">
            <ng-include src="'app/partials/order/general.html'"></ng-include>
          </tab>
          <tab ng-repeat="quote in orderModel.order.properties.quotes | filter : {isActive:false} track by quote.menuType.tId"
               ng-style="quote.isActive ? {'font-style':'oblique', 'font-weight': 'bold'}
                                        : {'font-style': 'italic', 'font-weight': 100}"
               select="orderModel.selectQuote(quote.menuType)"
               deselect="orderModel.deselectQuote(quote.menuType)"
               ng-show="!orderModel.user.attributes.isKitchenStaff"
               heading="{{quote.title}}">
            <ng-include src="'app/partials/order/quoteTabs.html'"></ng-include>
          </tab>
          <tab ng-repeat="quote in orderModel.order.properties.quotes | filter : {isActive:true} track by quote.menuType.tId"
               ng-style="quote.isActive ? {'font-style':'oblique', 'font-weight': 'bold'}
                                        : {'font-style': 'italic', 'font-weight': 100}"
               select="orderModel.selectQuote(quote.menuType)"
               deselect="orderModel.deselectQuote(quote.menuType)"
               ng-show="!orderModel.user.attributes.isKitchenStaff"
               heading="{{quote.title}}">
            <ng-include src="'app/partials/order/quoteTabs.html'"></ng-include>
          </tab>
          <tab heading="ניהול תפריטים:"
               ng-show="!orderModel.user.attributes.isKitchenStaff"
               active="orderModel.isActiveQuoteManagementTab">
            <ng-include src="'app/partials/order/quoteManagement.html'"></ng-include>
          </tab>
          <tab heading="משימות"
               ng-show="!orderModel.user.attributes.isKitchenStaff"
               active="orderModel.isActiveTasksTab">
            <ng-include src="'app/partials/order/tasks.html'"></ng-include>
          </tab>
        </tabset>
