<h2>
  <span ng-hide="orderListModel.queryType==='templates'">
    רשימת אירועים
    </span>&nbsp;&nbsp;
  <span ng-show="orderListModel.queryType==='templates'">
    רשימת תבניות
    </span>&nbsp;&nbsp;
  <button class="btn btn-default" ng-click="orderListModel.newOrder()">חדש</button>
</h2>
<div class="messageBox">
  <span>בשבעת הימים האחרונים יצרת </span>
  <span>{{orderListModel.recentOpenings}}</span>
  <span> אירועים וסגרת </span>
  <span>{{orderListModel.recentClosings}}</span>
  <span> אירועים</span>
</div>
<table style="width: 99%">
  <tr>
    <td style="width: 65%">
      <span>  עתידיים </span>
      <input type="radio" ng-model="orderListModel.queryType" value="future"
                                     ng-change="orderListModel.setQuery()">
      <span>תבניות </span>
      <input type="radio" ng-model="orderListModel.queryType" value="templates"
                                     ng-change="orderListModel.setQuery()">
      <span>חובות</span>
      <input type="radio" ng-model="orderListModel.queryType" value="debts"
             ng-change="orderListModel.setQuery()">
      &nbsp;
      <span>אירועי עבר משנת:</span>
      <select ng-model="orderListModel.queryYear"
              ng-change="orderListModel.setQueryYear()"
              ng-options="year for year in orderListModel.years">
        <option value=""></option>
      </select>
      &nbsp;&nbsp;<span>מבוטלים:</span>
      <input type="checkbox"
             ng-model="orderListModel.isIncludecanceled"
             ng-change="orderListModel.filterOrders()"> &nbsp;&nbsp;
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-show="orderListModel.filterByCustomer.id">
          {{orderListModel.filterByCustomer.firstName + ' ' + orderListModel.filterByCustomer.lastName}}
        </button>
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-hide="orderListModel.filterByCustomer.id">
          סינון לפי לקוח
        </button>
        <span>סטטוס אירוע: </span>
        <select ng-model="orderListModel.filterByStatus"
                ng-change="orderListModel.setStatusFilter()"
                ng-options="orderStatus.name for orderStatus in orderListModel.orderStatuses">
            <option value=""></option>
          </select>
      </td>
    <td ng-hide="orderListModel.isProcessing" style="width: 35%;text-align: left">
       <span>מוצגים</span>
      <span>{{orderListModel.noOfDisplayedOrders}}</span>
      <span>מתוך</span>
      <span>{{orderListModel.noOfFetchedOrders}}</span>
      <span>אירועים</span>
    </td>
  </tr>
  </table>
        <ng-include src="'app/partials/order/orderTable.html'"></ng-include>


