    <h3 style="display: inline">
      <span ng-show="orderModel.isNewOrder">אירוע חדש</span>
      <span ng-hide="orderModel.isNewOrder">
        <span>אירוע מס' </span>
        <span>{{orderModel.order.attributes.number}}</span>
      </span>
      </h3>
    <div style="display: inline">
      <span ng-show="orderModel.order.view.isChanged" class="bg-success">
        &nbsp;&nbsp;<label>לשמירת העדכונים הקש על </label>
        <button ng-click="orderModel.saveOrder()" class="btn btn-primary"> שמור</button>
        <label> לביטול הקש על </label>
        <button ng-click="orderModel.cancel()" class="btn btn-warning">ביטול</button>
      </span>
    </div>
    <p></p>
       <div>
          <ng-include src="'app/partials/order/header.html'"></ng-include>
        </div>
    <p></p>
        <tabset>
            <tab heading="אירועים קודמים"
              select="orderModel.getPrevOrders()">
                <ng-include src="'app/partials/order/prevOrders.html'"></ng-include>
            </tab>
          <tab heading="מסמכים">
            <ng-include src="'app/partials/order/docs.html'"></ng-include>
          </tab>
          <tab heading="תפריט מודפס">
            <ng-include src="'app/partials/order/printedMenu.html'"></ng-include>
          </tab>
            <tab heading="פעילויות">
                <ng-include src="'app/partials/order/activities.html'"></ng-include>
            </tab>
          <tab heading="פרטים כלליים">
            <ng-include src="'app/partials/order/general.html'"></ng-include>
          </tab>
          <tab ng-repeat="quote in orderModel.order.attributes.quotes | filter: {isActive:false}"
               style="font-style: italic"
               select="orderModel.selectQuote(quote.menuType)"
               deselect="orderModel.deselectQuote(quote.menuType)"
               heading="{{quote.title}}">
            <ng-include src="'app/partials/order/quoteTabs.html'"></ng-include>
            </tab>
          <tab ng-repeat="quote in orderModel.order.attributes.quotes | filter: {isActive:true}"
               class="bg-success"
               style="font-style: italic; font-weight: bold"
               active="orderModel.isActiveQuoteTab"
               select="orderModel.selectQuote(quote.menuType)"
               deselect="orderModel.deselectQuote(quote.menuType)"
               heading="{{quote.title}}">
            <ng-include src="'app/partials/order/quoteTabs.html'"></ng-include>
          </tab>
          <tab heading="ניהול תפריטים:">
            <ng-include src="'app/partials/order/quoteManagement.html'"></ng-include>
          </tab>
        </tabset>
