<h2>
  <span>
    רשימת אירועים
    </span>&nbsp;&nbsp;
  <button class="btn btn-default" ng-click="orderListModel.newOrder()">חדש</button>
</h2>
<table style="width: 99%">
  <tr>
    <td style="width: 60%">
      <span>  עתידיים </span>
      <input type="radio" ng-model="orderListModel.queryType" value="future"
                                     ng-change="orderListModel.setQuery()">
      <span>תבניות </span>
      <input type="radio" ng-model="orderListModel.queryType" value="templates"
                                     ng-change="orderListModel.setQuery()">
      <span>חובות</span>
      <input type="radio" ng-model="orderListModel.queryType" value="debts"
             ng-change="orderListModel.setQuery()">
      &nbsp;
      <span>אירועי עבר משנת:</span>
      <select ng-model="orderListModel.queryYear"
              ng-change="orderListModel.setQueryYear()"
              ng-options="year for year in orderListModel.years">
        <option value=""></option>
      </select>
      &nbsp;&nbsp;<span>מבוטלים:</span>
      <input type="checkbox"
             ng-model="orderListModel.isIncludecanceled"
             ng-change="orderListModel.filterOrders()"> &nbsp;&nbsp;
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-show="orderListModel.filterByCustomer.id">
          {{orderListModel.filterByCustomer.firstName + ' ' + orderListModel.filterByCustomer.lastName}}
        </button>
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-hide="orderListModel.filterByCustomer.id">
          סינון לפי לקוח
        </button>
        <span>סטטוס אירוע: </span>
        <select ng-model="orderListModel.filterByStatus"
                ng-change="orderListModel.setStatusFilter()"
                ng-options="orderStatus.name for orderStatus in orderListModel.orderStatuses">
            <option value=""></option>
          </select>
      </td>
    <td ng-hide="orderListModel.isProcessing" style="width: 40%;text-align: left">
       <span>מוצגים</span>
      <span>{{orderListModel.noOfDisplayedOrders}}</span>
      <span>מתוך</span>
      <span>{{orderListModel.noOfFetchedOrders}}</span>
      <span>אירועים</span>
    </td>
  </tr>
  </table>
    <div ng-hide="orderListModel.queryType==='templates'" class="table table-responsive">
    <table class="table table-hover" style="width: 99%">
      <thead ng-hide="orderListModel.isProcessing">
      <th style="width: 3%">מס'</th>
      <th style="width: 11%">תאריך</th>
      <th style="width: 4%">מסירה</th>
      <th ng-show="orderListModel.queryType==='future'" style="width: 4%">יציאה</th>
      <th style="width: 8%">לקוח</th>
      <th style="width:1%">טל'</th>
      <th style="width: 5%">סועדים</th>
      <th class="hidden-xs" style="width: 7%">סוג אירוע</th>
      <th style="width: 7%">סטטוס</th>
      <th style="width: 7%">סכום</th>
      <th  ng-show="orderListModel.queryType==='debts'" style="width: 7%">יתרה</th>
      <th class="hidden-xs" style="width: 7%">משלוח</th>
      <th style="width: 3%">הנחה</th>
      <th ng-show="orderListModel.queryType==='templates'" style="width: 33%">תבנית</th>
      <th class="hidden-xs" ng-show="orderListModel.queryType==='future'" style="width: 6%">ת' פעילות</th>
      <th class="hidden-xs" ng-show="orderListModel.queryType==='future'" style="width: 22%">פעילות</th>
      <th class="hidden-xs" ng-show="orderListModel.queryType==='future'"style="width: 6%">הצעת מחיר</th>
      </thead>
      <tbody>
       <tr ng-repeat="order in orderListModel.orders"
              ng-class="order.view.orderStatus.id===1?'bg-active':
                        order.view.orderStatus.id===2?'bg-warning':
                        (order.view.orderStatus.id>=3 && order.view.orderStatus.id<=5)?'bg-success':
                        order.view.orderStatus.id===6?'active myCanceledEvent':null">
        <td>
            <a ng-href="#/editOrderView/{{order.id}}">{{order.attributes.number}}</a>
        </td>
        <td>{{order.attributes.eventDate | date: 'EEE dd/MM/yy'}}</td>
        <td>{{order.attributes.eventTime | date: 'HH:mm'}}</td>
        <td ng-show="orderListModel.queryType==='future'">{{order.attributes.exitTime | date: 'HH:mm'}}</td>
        <td>{{order.view.customer.attributes.firstName+' '+order.view.customer.attributes.lastName}}</td>
         <td ng-show="order.view.customer.anyPhone">
           <a href="tel:{{order.view.customer.anyPhone}}">
             <img src="app/img/phone.png">
           </a>
         </td>
         <td ng-hide="order.view.customer.anyPhone"></td>
        <td>{{order.attributes.noOfParticipants}}</td>
        <td class="hidden-xs">{{order.view.eventType.label}}</td>
        <td>
          <select ng-model="order.view.orderStatus"
                  ng-change="orderListModel.setStatus(order)"
                  ng-options="orderStatus.name for orderStatus in orderListModel.orderStatuses"
              ></select>
          </td>
         <td>{{order.attributes.header.total | currency}}</td>
         <td ng-show="orderListModel.queryType==='debts'">
           {{order.attributes.header.balance | currency}}
         </td>
         <td class="hidden-xs">{{order.attributes.header.transportationInclVat | currency}}</td>
          <td>{{order.attributes.header.discountRate | number:0}}</td>
        <td ng-show="orderListModel.queryType==='templates'">{{order.attributes.template}}</td>
        <td class="hidden-xs" ng-show="orderListModel.queryType==='future'">{{order.attributes.header.activityDate | date: 'dd/MM/yy'}}</td>
        <td class="hidden-xs" ng-show="orderListModel.queryType==='future'">{{order.attributes.header.activityText}}</td>
          <td class="hidden-xs" ng-show="orderListModel.queryType==='future'">
              <button class="btn btn-default btn-sm" ng-click="orderListModel.getLastBid(order)">הצג</button>
          </td>
      </tr>
      </tbody>
    </table>
    </div>
<div ng-show="orderListModel.queryType==='templates'">
  <table class="table table-hover" style="width: 99%">
    <thead ng-hide="orderListModel.isProcessing">
    <th style="width: 3%">מס'</th>
    <th style="width: 23%">תבנית</th>
    <th style="width: 5%">סועדים</th>
    <th style="width: 7%">סוג אירוע</th>
    <th style="width: 7%">סטטוס</th>
    <th style="width: 7%">סכום</th>
    <th style="width: 48%">הערות</th>
    </thead>
    <tbody>
    <tr ng-repeat="order in orderListModel.orders"
        ng-class="order.view.orderStatus.id===1?'bg-active':
                        order.view.orderStatus.id===2?'bg-warning':
                        (order.view.orderStatus.id>=3 && order.view.orderStatus.id<=5)?'bg-success':
                        order.view.orderStatus.id===6?'active myCanceledEvent':null">
      <td>
        <a ng-href="#/editOrderView/{{order.id}}">{{order.attributes.number}}</a>
      </td>
      <td>{{order.attributes.template}}</td>
      <td>{{order.attributes.noOfParticipants}}</td>
      <td>{{order.view.eventType.label}}</td>
      <td>
        <select ng-model="order.view.orderStatus"
                ng-change="orderListModel.setStatus(order)"
                ng-options="orderStatus.name for orderStatus in orderListModel.orderStatuses"
          ></select>
      </td>
      <td>{{order.attributes.header.total | currency}}</td>
      <td>{{order.attributes.remarks}}</td>
    </tr>
    </tbody>
  </table>
</div>

