<h2>
    רשימת אירועים
</h2>
    <div>
      <input type="radio" ng-model="orderListModel.queryType" value="future"
                                     ng-change="orderListModel.setQuery()">
      <span>  עתידיים </span>
      <input type="radio" ng-model="orderListModel.queryType" value="templates"
                                     ng-change="orderListModel.setQuery()">
      <span>תבניות </span>
      <input type="radio" ng-model="orderListModel.queryType" value="past"
                                     ng-change="orderListModel.setQuery()">
      <span>הסטוריה </span>
      <input type="radio" ng-model="orderListModel.queryType" value="all"
                                  ng-change="orderListModel.setQuery()">
      <span>כולם </span> &nbsp;&nbsp;
      <span>מבוטלים:</span>
      <input type="checkbox"
             ng-model="orderListModel.isIncludecanceled"
             ng-change="orderListModel.filterOrders()"> &nbsp;&nbsp;
      <span ng-show="orderListModel.queryType==='past' || orderListModel.queryType==='all'">
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-show="orderListModel.filterByCustomer.id">
          {{orderListModel.filterByCustomer.firstName + ' ' + orderListModel.filterByCustomer.lastName}}
        </button>
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-hide="orderListModel.filterByCustomer.id">
          סינון לפי לקוח
        </button>
      </span>
    </div>
    <table style="width: 99%">
      <thead>
      <th style="width: 3%">מס'</th>
      <th style="width: 9%">תאריך</th>
      <th style="width: 4%">שעה</th>
      <th style="width: 8%">לקוח</th>
      <th style="width: 5%">סועדים</th>
      <th style="width: 7%">סוג אירוע</th>
      <th style="width: 7%">סטטוס</th>
      <th style="width: 7%">סכום</th>
      <th style="width: 7%">משלוח</th>
      <th style="width: 3%">הנחה</th>
      <th ng-show="orderListModel.queryType==='templates'" style="width: 33%">תבנית</th>
      <th ng-show="orderListModel.queryType==='future'" style="width: 6%">ת' פעילות</th>
      <th ng-show="orderListModel.queryType==='future'" style="width: 28%">פעילות</th>
      <th  ng-show="orderListModel.queryType==='future'"style="width: 6%">הצעת מחיר</th>
      </thead>
      <tbody>
      <tr ng-repeat="order in orderListModel.orders"
              ng-class="orderListModel.queryType!=='future'?null:
                        order.view.orderStatus.id===1?'myNewEvent':
                        order.view.orderStatus.id===2?'myActiveEvent':
                        order.view.orderStatus.id===3?'myFinalEvent':
                        order.view.orderStatus.id===6?'mycanceledEvent':null">
        <td>
            <a ng-href="#/editOrderView/{{order.id}}">{{order.attributes.number}}</a>
        </td>
        <td>{{order.attributes.eventDate | date: 'EEE dd/MM/yy'}}</td>
        <td>{{order.attributes.eventTime | date: 'HH:mm'}}</td>
        <td>{{order.view.customer.attributes.firstName+' '+order.view.customer.attributes.lastName}}</td>
        <td>{{order.attributes.noOfParticipants}}</td>
        <td>{{order.view.eventType.label}}</td>
        <td ng-show="orderListModel.queryType==='future'">
          <select ng-model="order.view.orderStatus"
                  ng-change="orderListModel.setStatus(order)"
                  ng-options="orderStatus.name for orderStatus in orderListModel.orderStatuses"
              ></select>
          </td>
          <td ng-hide="orderListModel.queryType==='future'">
              {{order.view.orderStatus.name}}
          </td>
          <td>{{order.attributes.total | currency}}</td>
          <td>{{order.attributes.transportationInclVat | currency}}</td>
          <td>{{order.attributes.discountRate | number:0}}</td>
        <td ng-show="orderListModel.queryType==='templates'">{{order.attributes.template}}</td>
        <td ng-show="orderListModel.queryType==='future'">{{order.attributes.activities[0].date | date: 'dd/MM/yy'}}</td>
        <td ng-show="orderListModel.queryType==='future'">{{order.attributes.activities[0].text}}</td>
          <td ng-show="orderListModel.queryType==='future'">
              <button class="btn btn-default btn-sm" ng-click="orderListModel.getLastBid(order)">הצג</button>
          </td>
      </tr>
      </tbody>
    </table>

