<div class="quoteMainContainer">

	<div class="quoteMainContent">

		<!-- Top Purple line  -->
		<div class="purpleBG topQuoteLine"></div>


		<!-- Header + main logo -->
		<div class="quoteTextBox">
			<h2 class="purpleText bold quoteMainTitle">הצעת תפריט</h2>
			<div class="quoteLogo">
			   <img align="left" src="app/img/logo.png"/>
		    </div>
		</div>


		<!-- Customer's details + nice image -->
		<div class="quoteTextBox quoteDetails">

			<div class="floatRight">

			  <span class="bold">שם:</span>
			  <span>{{quoteModel.bid.attributes.customer.firstName+' '+quoteModel.bid.attributes.customer.lastName}}</span>
			  <br>
			  <span class="bold">תאריך האירוע:</span>
			  <span>{{quoteModel.bid.attributes.order.eventDate | date: 'EEEE  dd/MM/yyyy'}}</span>
			  <br>
			  <span class="bold">זמן האספקה:</span>
			  <span>{{quoteModel.bid.attributes.order.eventTime | date: 'H:mm'}}</span>
			  <br>
			  <span class="bold">מספר המשתתפים:</span>
			  <span>{{quoteModel.bid.attributes.order.noOfParticipants}}</span>

		    </div>


		  	<!-- image next to customer's details -->
		    <div class="quoteTitleImg floatLeft">
		       <div class="quotePhoneOnImg bold purpleText">טלפון: 054-7514061 </div>
			   <img align="left" src="app/img/box_1.jpg"/>
		    </div>

		</div>

		<!-- Purple backgroung event type header -->
	    <div class="purpleBG quoteTextBox bold">
		    <span>{{quoteModel.quoteHeading}}</span>
	    </div>

	    <!-- Starting event food items list by categeries -->
		<div class="quoteTextBox greyWhiteAlternate" ng-repeat="category in quoteModel.filteredCategories" on-finish-render="ngRepeatFinished">

		  <!-- Food category header -->
		  <div class="bold quoteFoodCategoryName">
		    {{category.label}}
		  </div>

		  <!-- Food category description -->
		  <div class="bold">
		  	{{category.description}}
		  </div>

			{{quoteModel.setupCategoryItems(category.tId)}}

			<!-- Regular items  -->
			<div class="quoteTextItemLine"  ng-repeat="item in quoteModel.categoryItems">

			  <!-- Item description taken from DB, bonus/free added if needed -->
			  <div class="quoteItemDescription">
			    <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
			    <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
			    <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
			    ...................................................................................................................................................................................................
			  </div>



		  	  <div class="quoteQuantAndUnit">
				  <!-- Item quantity -->
				  <span style="display:inline-block;"> {{item.quantity}}</span>

				  <!-- Item measurement -->
				  <span style="display:inline-block;"> {{item.measurementUnit.label}}</span>

		      </div>

			</div>
			<!-- End of  regular items -->


			  <div style="width:70%;padding-right: 3%" ng-hide="quoteModel.currentQuote.isFixedPrice">
			    <div style="width:77%;display: inline-block;">
			      <span class="bold">מחיר</span>
			      <span class="bold">{{category.label}}</span>
			    </div>
			   <div style="width:10%;display: inline-block">{{quoteModel.categoryPrice | currency}}</div>
			  </div>
			</div>

		{{quoteModel.setupTransportationItems()}}
		<div class="quoteTextBox" ng-show="quoteModel.transportationItems.length">
		  <P style="height: 0.5cm"></P>
		  <div class="bold">
		    השף בקופסא מגיע אלייך בדיוק ברגע הנכון לפני האורחים
		  </div>
		  <div ng-repeat="item in quoteModel.transportationItems">
		    <div style="width:77%;display:inline-block;">
		      <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
		      <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
		      <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
		    </div>
		   <div style="width:20%;display:inline-block;"
		         ng-hide="quoteModel.currentQuote.isFixedPrice" >{{item.price | currency }}</div>
		  </div>
		</div>

		<p style="height: 0.5cm"></p>


		<!-- Sum up of prices - purple BG  -->

		<div class="quoteTextBox purpleBG">

			<div ng-hide="quoteModel.currentQuote.isFixedPrice">
			  <div class="bold quoteItemDescription">סה"כ</div>
			  <div class="quoteQuantAndUnit">
			    {{quoteModel.currentQuote.subTotal | currency}}
			  </div>
			</div>

			<div>
			    <div class="bold quoteItemDescription">סה"כ זיכויים...................................................................................................................................................................................................</div>
			    <div class="quoteQuantAndUnit">
			      {{quoteModel.currentQuote.bonusValue + quoteModel.currentQuote.transportationBonus | currency}}
			    </div>
			</div>

			<div ng-show="quoteModel.currentQuote.discount && !quoteModel.currentQuote.isFixedPrice">
			  <div class="bold quoteItemDescription">
			    הנחה מיוחדת...................................................................................................................................................................................................
			  </div>
			  <div class="quoteQuantAndUnit">
			    {{quoteModel.currentQuote.discount | currency}}
			  </div>
			</div>

			<div ng-show="quoteModel.currentOrder.isBusinessEvent && !quoteModel.currentQuote.isFixedPrice">
			  <div class="bold quoteItemDescription" >
			    <span>מע"מ בשיעור %</span>
			    <span>{{quoteModel.currentOrder.vatRate * 100}}</span>
			    ...................................................................................................................................................................................................
			  </div>
			  <div class="quoteQuantAndUnit">
			    {{quoteModel.currentQuote.vat | currency}}
			  </div>
			</div>

			<div>
			  <div class="bold quoteItemDescription">סה"כ לתשלום...................................................................................................................................................................................................</div>
			  <div class="quoteQuantAndUnit">
			    {{quoteModel.currentQuote.isFixedPrice ? quoteModel.currentQuote.fixedPrice : quoteModel.currentQuote.total | currency}}
			  </div>
			</div>

		</div>

		<p style="height: 0.5cm"></p>

		<div ng-show="quoteModel.endBoxType.quoteEndBoxUrl">  <!-- show black box only if text exists -->
      <div class="whyShould" class="quoteTextBox">

          <div class="whyShouldChefImg">
           <img src="app/img/portrait_yuval.jpg"/>
        </div>


        <div class="whyShouldText">
          <!-- Content taken from src\app\bidTexts\chefMenuEndBox.html -->
          <ng-include src="quoteModel.endBoxType.quoteEndBoxUrl"></ng-include>
        </div>

        </div>
      </div>

		<p style="height: 0.5cm"></p>

		<div class="quoteTextBox" ng-bind-html="quoteModel.currentQuote.endText"></div>

		<p style="height: 0.5cm"></p>

		<div class="quoteTextBox">
		  <span>
		    הקטלוג המלא שלנו נמצא
		  </span>
		  <a href="http://pompidou.co.il" target="_blank">כאו.</a>
		  <span>
		    ניתן להחליף מנה מסויימת באחרת ולבקש שינוי תמהיל.
		  </span>
		</div>

		<p style="height: 0.5cm"></p>


	</div>

</div>
