<div class="container">

  <section>
    <article class="left_article">
		<p><span class="column_title_black">הצעת מחיר לאירוע - השף בקופסה</span></p>
<p>      <strong>שם:</strong>
          <span>{{quote2Model.bid.properties.customer.firstName+' '+quote2Model.bid.properties.customer.lastName}}</span><br>
        <strong>תאריך האירוע:</strong>
          <span ng-hide="quote2Model.bid.properties.order.isDateUnknown">
                  {{quote2Model.eventDate | convertTimezone:'Asia/Jerusalem' | formatTime: 'D/M/YYYY'}}
                </span>
          <span ng-show="quote2Model.bid.properties.order.isDateUnknown">
                  טרם נקבע
                </span><br>
          <strong ng-show="quote2Model.eventTime">זמן האספקה:</strong>
            <span ng-show="quote2Model.eventTime">
                    {{quote2Model.eventTime | convertTimezone:'Asia/Jerusalem' | formatTime: 'H:mm'}}
                  </span><br>
          <strong> מספר המשתתפים:</strong>
            <span>{{quote2Model.bid.properties.order.noOfParticipants}}</span><br>
      <strong ng-show="quote2Model.currentOrder.children">מתוכם ילדים:</strong>
                <span ng-show="quote2Model.currentOrder.children">{{quote2Model.currentOrder.children}}</span>
</p>
      <p>טקסט מקדים לגוף ההצעה - נראה לי משהו ששווה לבדוק כהקדמה אישית לפני המספרים.</p>
    </article>
    <aside class="right_article">
      <div class="logo"><img src="app/img/chefbekufsa_logo_82.png" width="186" height="80" alt=""/></div>
      <img src="app/img/kadaifenstein_1200-800x533.jpg" alt="" width="420" height="282" class="placeholder"/></aside>
  </section>
<section>
	<div class="table-1">
	<div class="title-row"><span class="column_title">{{quote2Model.quoteHeading}}</span></div>
    <div ng-repeat="category in quote2Model.filteredCategories track by category.tId">

      {{quote2Model.setupCategoryItems(category.tId)}}

      <div ng-hide="quote2Model.categoryItems.length===0"> <!-- skip categories with only bonus items -->

        <table width="100%">
	<thead>
		<tr>
      <th ng-show="quote2Model.itemsNoOfCols===1" align="right">
        <h3><span style="color: #ed2891;">{{category.label}}</span></h3>
        <strong ng-hide="quote2Model.categoryItems.length===1"> <!-- don't show description if only one item in category -->
          {{category.description}}
        </strong></th>
      <th ng-show="quote2Model.itemsNoOfCols===2" colspan="2" align="right">
        <h3><span style="color: #ed2891;">{{category.label}}</span></h3>
        <strong ng-hide="quote2Model.categoryItems.length===1"> <!-- don't show description if only one item in category -->
          {{category.description}}
        </strong></th>
      <th ng-show="quote2Model.itemsNoOfCols===3" colspan="3" align="right">
        <h3><span style="color: #ed2891;">{{category.label}}</span></h3>
        <strong ng-hide="quote2Model.categoryItems.length===1"> <!-- don't show description if only one item in category -->
          {{category.description}}
        </strong></th>
		</tr>
	</thead>
	<tbody>
  <tr ng-repeat="item in quote2Model.categoryItems track by item.index">
    <td ng-show="quote2Model.itemsNoOfCols===1" style="width: 100%" align="right">{{item.productDescription}}</td>
    <td ng-show="quote2Model.itemsNoOfCols===2" style="width: 80%" align="right">{{item.productDescription}}</td>
    <td ng-show="quote2Model.itemsNoOfCols===3" style="width: 60%" align="right">{{item.productDescription}}</td>
    <td ng-hide="quote2Model.currentQuote.isNoQuantities" style="width: 20%" align="right">
      {{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
    <td ng-show="quote2Model.currentQuote.isShowPrices" style="width: 20%" align="right">{{item.price | currency}}</td>
  </tr>
 </tbody>
</table>
      </div>
    </div>
    <table ng-show="!quote2Model.currentQuote.isFixedPrice && quote2Model.currentQuote.isShowTransportationPrice" width="100%">
      <tfoot>
      <tr>
        <td align="left" width="80%" class="ttltxt" colspan="3">ס"ה מחיר האוכל:</td>
        <td align="right" width="20%" class="ttltxt">{{quote2Model.currentQuote.foodPrice | currency}}</td>
      </tr>
      </tfoot>
    </table>

    {{quote2Model.setupTransportationItems()}}

    <table width="100%" ng-show="quote2Model.transportationItems.length">
      <thead>
      <tr>
        <th  ng-hide="quote2Model.currentQuote.isShowPrices" align="right">
          <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
          <strong>{{quote2Model.category.description}}</strong></th>
        <th  ng-show="quote2Model.currentQuote.isShowPrices" align="right" colspan="2">
          <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
          <strong>{{quote2Model.category.description}}</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in quote2Model.transportationItems track by item.index">
        <td ng-hide="quote2Model.currentQuote.isShowPrices" width="100%" align="right">
          <span class="bold" ng-show="item.isFreeItem">החלטנו לתת לך במתנה את המשלוח:</span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ערך כספי</span>
          <span class="bold" ng-show="item.isFreeItem">{{item.price | currency}}</span>
          <span class="bold" ng-show="item.isFreeItem">)</span>
        </td>
        <td ng-show="quote2Model.currentQuote.isShowPrices" width="80%" align="right">
          <span class="bold" ng-show="item.isFreeItem">החלטנו לתת לך במתנה את המשלוח:</span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ערך כספי</span>
          <span class="bold" ng-show="item.isFreeItem">{{item.price | currency}}</span>
          <span class="bold" ng-show="item.isFreeItem">)</span>
        </td>
        <td ng-show="quote2Model.currentQuote.isShowPrices && !item.isFreeItem" width="20%" align="right">
          {{item.price | currency}}</td>
      </tr>
      </tbody>
    </table>

    <table width="100%">
      <tfoot>
      <tr ng-show="!quote2Model.currentQuote.isFixedPrice && quote2Model.currentQuote.isShowTransportationPrice">
        <td align="left" width="80%" class="ttltxt">
          <span>מחיר</span>
          <span>{{quote2Model.category.label}}</span>
        </td>
        <td align="right" width="20%" class="ttltxt">{{quote2Model.categoryPrice | currency}}</td>
      </tr>
      </tfoot>
    </table>
    <table width="100%">
      <tfoot>
      <tr ng-hide="quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="ttltxt">
          <span ng-show="quote2Model.transportationItems.length">
            סה"כ אוכל ומשלוח
          </span>
          <span ng-hide="quote2Model.transportationItems.length">
            סה"כ אוכל
          </span>
        </td>
        <td align="right" width="20%" class="ttltxt">{{quote2Model.currentQuote.subTotal | currency}}</td>
      </tr>
      </tfoot>
    </table>
    <table width="100%">
      <tfoot>
      <tr ng-show="quote2Model.currentQuote.discount && !quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="ttltxt">
          <span>
הנחה מיוחדת
          </span>
        </td>
        <td align="right" width="20%" class="ttltxt">{{quote2Model.currentQuote.discount | currency}}</td>
      </tr>
      </tfoot>
    </table>
    <table width="100%">
      <tfoot>
      <tr ng-show="quote2Model.currentQuote.discount && !quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="ttltxt">
          <span>
לאחר הנחה
          </span>
        </td>
        <td align="right" width="20%" class="ttltxt">
          {{quote2Model.currentQuote.subTotal + quote2Model.currentQuote.discount | currency}}</td>
      </tr>
      </tfoot>
    </table>
    <table width="100%">
      <tfoot>
      <tr ng-hide="quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="ttltxt">
          <span>
מחיר לסועד
          </span>
        </td>
        <td align="right" width="20%" class="ttltxt">
          {{quote2Model.currentQuote.perPerson | currency}}</td>
      </tr>
      </tfoot>
    </table>

    {{quote2Model.setupBonusItems()}}

        <div>
      <table width="100%">
        <thead>
        <tr>
          <th  align="right">
            <h3 ng-show="quote2Model.bonusItems.length > 1">
              <span style="color: #ed2891;">החלטנו לצ'פר אותך בפריטים הבאים:</span></h3>
            <h3 ng-show="quote2Model.bonusItems.length === 1">
              <span style="color: #ed2891;">החלטנו לצ'פר אותך בפריט הבא:</span></h3>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in quote2Model.bonusItems track by item.index">
          <td align="right">
            <strong>
            <span>{{item.quantity}}</span>
            <span>{{item.measurementUnit.label}}</span>
            <span>{{item.productDescription}}</span>
            <span ng-hide="item.price <= 100">
            <span>(ערך כספי:</span>
            <span>{{item.price | currency}}</span>
            <span>)</span>
            </span>
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    {{quote2Model.setupPriceIncreaseItems()}}

    <table width="100%" ng-show="quote2Model.priceIncreaseItems.length">
      <thead>
      <tr>
        <th colspan="2">
          <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in quote2Model.priceIncreaseItems track by item.index">
        <td align="right" colspan="2">{{item.productDescription}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr ng-hide="quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="ttltxt">
          <span>{{quote2Model.category.label}}</span>
        </td>
        <td align="right" width="20%" class="ttltxt">{{quote2Model.categoryPrice | currency}}</td>
      </tr>
      </tfoot>
    </table>


  </div>
</section>
<section>

  {{quote2Model.setupExternalServicesItems()}}

	<div class="table-1">
    <table width="100%" ng-show="quote2Model.isAnyExternalServices">
      <thead>
      <tr>
        <th colspan="4" align="right"> <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
          <strong>{{quote2Model.category.description}}</strong></th>
      </tr>
      <tr ng-show="quote2Model.isTableExternalServices">
        <th align="right" width="40%">פריט</th>
        <th align="right" width="20%">כמות</th>
        <th align="right" width="20%">מחיר ליחידה</th>
        <th align="right" width="20%">סך הכל</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in quote2Model.externalServicesItems track by item.index">
        <td align="right">
          <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
        </td>
        <td align="right">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
        <td align="right" width="20%">{{item.isFreeItem?'':(item.price / item.quantity | currency)}}</td>
        <td ng-hide="item.isFreeItem" align="right">{{item.price | currency}}</td>
      </tr>
     <tr ng-show="quote2Model.disposableItems.length">
        <td colspan="4" align="right"><strong>כלים חד פעמיים</strong></td>
      </tr>
      <tr ng-show="quote2Model.disposableItems.length" ng-repeat="item in quote2Model.disposableItems track by item.index">
        <td align="right">{{item.productDescription}}</td>
        <td align="right">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
        <td align="right">{{item.price / item.quantity | currency}}</td>
        <td align="right">{{item.price | currency}}</td>
      </tr>
      <tr ng-show="quote2Model.equipRentalItems.length">
        <td colspan="4" align="right"><strong>השכרת ציוד</strong></td>
      </tr>
      <tr ng-show="quote2Model.equipRentalItems.length" ng-repeat="item in quote2Model.equipRentalItems track by item.index">
        <td align="right" width="40%">{{item.productDescription}}</td>
        <td align="right" width="20%">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
        <td align="right" width="20%">{{item.price / item.quantity | currency}}</td>
        <td align="right" width="20%">{{item.price | currency}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr ng-show="!quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="ttltxt" colspan="3">
          <span>מחיר</span>
          <span>{{quote2Model.category.label}}</span>
        </td>
        <td align="right" width="20%" class="ttltxt">{{quote2Model.categoryPrice | currency}}</td>
      </tr>
      </tfoot>
    </table>
    <div ng-hide="quote2Model.currentQuote.isNoTotal">
      <table width="100%">
        <tfoot>
        <tr ng-show="quote2Model.currentOrder.isBusinessEvent && !quote2Model.currentQuote.isFixedPrice">
          <td align="left" width="80%" class="ttltxt">
            <span>מע"מ בשיעור %</span>
            <span>{{quote2Model.currentOrder.vatRate * 100}}</span>
          </td>
          <td align="right" width="20%" class="ttltxt">{{quote2Model.currentQuote.vat | currency}}</td>
        </tr>
        </tfoot>
      </table>
      <table width="100%">
        <tfoot>
        <tr>
          <td align="left" width="80%" class="ttltxt">סה"כ לתשלום          </td>
          <td align="right" width="20%" class="ttltxt">
     {{quote2Model.currentQuote.isFixedPrice ? quote2Model.currentQuote.fixedPrice : quote2Model.currentQuote.total | currency}}
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    </div>
</section>
</div>
</section>
  <section class="pinkborder">
<div class="row blockDisplay">
    <div class="column_third right_half">
	  <img src="app/img/portrait_yuval.jpg" width="224" height="329" alt=""/>
    </div>
    <div class="colomn_two_thirds left_half">
      <span class="column_title_black">למה כדאי להזמין את תפריט השף פרימיום?</span>
		<ul class="list-chef">
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
		</ul>
    </div>
  </div>
</section>
  <section>
    <article class="left_article">

      <span class="column_title_black">הצעת מחיר לאירוע - השף בקופסה</span>
      <p>
      <ol>
        <li>תאריך האירוע המבוקש משוריין למשך שלושה ימים ממשלוח הצעה זו. על מנת לשריין סופית את התאריך, יש לאשר במייל
          חוזר את ההצעה לאחר בדיקה של התאריך, השעה ומספר הסועדים. שינויים קלים בתפריט ובכמויות ניתן לבצע עד שלושה ימים לפני
          האירוע.</li>
        <li>עם האישור במייל חוזר, מתחייבים שני הצדדים לקיום העסקה, לרבות תנאי התקשרות אלו.</li>
        <li>יובהר כי, אלא אם כן צוין אחרת, ההזמנה כוללת את האוכל, המשלוח והליווי המקצועי כמפורט בהצעה זו בלבד ואינה כוללת
          דברים נוספים שלא צויינו ובפרט לא כלי אוכל והגשה.</li>
        <li>תנאי ביטול:
          ביטול מכל סיבה שהיא בין 30 ל 14 יום לפני מועד האירוע, יחוייב ב 15% מהעלות הכוללת. ·
          ביטול בין 13 ל 4 ימים לפני האירוע, יחוייב ב 25% מהעלות. ·
          ביטול בין 3 ימים עד 24 שעות לפני האירוע, יחוייב ב 50% מהעלות. ·
          ביטול ב 24 השעות שלפני האירוע יחוייב במלוא סכום העסקה. ·</li>
        <li>תנאי תשלום: צ'ק מזומן ביום האירוע לפקודת יובל רוזנן או העברה בנקאית עד יום לפני האירוע לזכות חשבון 542183 בסניף
          773 של בנק הפועלים ע"ש יובל רוזנן. בכל מקרה יש לשלם עבור האירוע עד למסירת האוכל.</li>
        <li>באחריות הלקוח לדאוג לכך שמישהו מטעמו יהיה נוכח במקום האירוע בשעה שהוסכמה לקבלת הסחורה ויהיה מוסמך לקבל את
          כל ההסברים הנדרשים. כמו כן על הלקוח לדאוג לאפשרות חניה בטווח של 50 מטר ממקום האירוע, ובמידה ואין אפשרות כזו, לציין
          זאת במפורש במייל החוזר על מנת שנוכל לעדכן את עלות המשלוח.</li>
        <li>הכמויות מחושבות על סמך ניסיון של מאות אירועים כך שיספיקו בוודאות ואף יישארו כ- 10%-20% מהאוכל בתום האירוע.
          עם זאת, בהחלט ייתכן כי פריטים מסוימים 'ייחטפו' ויאזלו במהלך האירוע.</li>
        <li>אנו מתחייבים לספק את מלוא התפריט המוסכם בטריות מירבית ובשעה ובמקום המסוכמים.</li>
      </ol>
      </p>
    </article>
    <aside class="right_article"> <img src="app/img/waranty_homepage_dark.png" alt=""/></aside>
  </section>
<footer class="secondary_header footer">
    <div class="copyright"><strong>השף בקופסה - 050-1234567</strong></div>
  </footer>
</div>
