<div class="quoteMainContainer">

	<div class="quoteMainContent">

		<!-- Top Purple line  -->
		<div class="purpleBG topQuoteLine"></div>


		<!-- Header + main logo -->
		<div class="quoteTextBox">
      <h2 ng-show="quoteModel.bid.attributes.documentType===4"
          class="purpleText bold quoteMainTitle">
        הצעת תפריט
      </h2>
     <div class="quoteLogo">
			   <img align="left" src="app/img/logo.png"/>
		    </div>
		</div>


		<!-- Customer's details + nice image -->
		<div class="quoteTextBox quoteDetails">

			<div class="floatRight">

			  <span class="bold">שם:</span>
			  <span>{{quoteModel.bid.attributes.customer.firstName+' '+quoteModel.bid.attributes.customer.lastName}}</span>
			  <br>
			  <span class="bold">תאריך האירוע:</span>
        <span ng-hide="quoteModel.bid.attributes.order.isDateUnknown">
          {{quoteModel.eventDate | convertTimezone:'Asia/Jerusalem' | formatTime: 'D/M/YYYY'}}
        </span>
        <span ng-show="quoteModel.bid.attributes.order.isDateUnknown">
          טרם נקבע
        </span>
        <br>
			  <span class="bold" ng-show="quoteModel.eventTime">זמן האספקה:</span>
        <span ng-show="quoteModel.eventTime">
          {{quoteModel.eventTime | convertTimezone:'Asia/Jerusalem' | formatTime: 'H:mm'}}
        </span>
			  <br>
			  <span class="bold">מספר המשתתפים:</span>
			  <span>{{quoteModel.bid.attributes.order.noOfParticipants}}</span>
        <span ng-show="quoteModel.currentOrder.children">
               &nbsp;&#40;<span>מתוכם</span>&nbsp;
                <span >{{quoteModel.currentOrder.children}}</span>
                &nbsp;<span>ילדים</span>&#41;
         </span>
        <br>

		    </div>


		  	<!-- image next to customer's details -->
		    <div class="quoteTitleImg floatLeft">
		       <div class="quotePhoneOnImg bold purpleText">טלפון: 054-7514061 </div>
			   <img align="left" src="app/img/box_1.jpg"/>
		    </div>

		</div>

		<!-- Purple background event type header -->
	    <div class="purpleBG quoteTextBox bold">
		    <span>{{quoteModel.quoteHeading}}</span>
	    </div>

	    <!-- Starting event food items list by categeries -->
		<div class="quoteTextBox greyWhiteAlternate" ng-repeat="category in quoteModel.filteredCategories" on-finish-render="ngRepeatFinished">

		  <!-- Food category header -->
		  <div class="bold quoteFoodCategoryName">
		    {{category.label}}
		  </div>

		  <!-- Food category description -->
		  <div class="bold">
		  	{{category.description}}
		  </div>

			{{quoteModel.setupCategoryItems(category.tId)}}

			<!-- Regular items  -->
			<div class="quoteTextItemLine"  ng-repeat="item in quoteModel.categoryItems">

			  <div style="width:80%;display:inline-block;">
			    <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
			    <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
			    <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
			  </div>



		  	  <div ng-hide="quoteModel.currentQuote.isNoQuantities"
               style="width:20%" class="quoteQuantAndUnit">
				  <span style="display:inline-block;"> {{item.quantity}}</span>&nbsp;
				  <span style="display:inline-block;"> {{item.measurementUnit.label}}</span>

		      </div>

			</div>
			<!-- End of  regular items -->

    </div>

    <div class="quoteTextBox"
         style="padding-right: 7%"
         ng-show="!quoteModel.currentQuote.isFixedPrice &&
                  quoteModel.currentQuote.isShowTransportationPrice">
      <p></p>
        <div style="width:77%;display: inline-block;">
          <span class="bold">ס"ה מחיר האוכל</span>
        </div>
        <div class="quoteQuantAndUnit bold">{{quoteModel.currentQuote.foodPrice | currency}}</div>
      </div>

    {{quoteModel.setupTransportationItems()}}
    <div class="quoteTextBox greyWhiteAlternate" ng-show="quoteModel.transportationItems.length">
      <P style="height: 0.5cm"></P>
      <div class="bold">
        {{quoteModel.category.description}}
      </div>
      <div ng-repeat="item in quoteModel.transportationItems">
        <div style="width:77%;display:inline-block;">
          <span class="bold" ng-show="item.isFreeItem">החלטנו לתת לך במתנה את המשלוח:</span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ערך כספי</span>
          <span class="bold" ng-show="item.isFreeItem">{{item.price | currency}}</span>
          <span class="bold" ng-show="item.isFreeItem">)</span>
        </div>
      </div>

      <div style="padding-right: 1%" ng-show="!quoteModel.currentQuote.isFixedPrice &&
                                              quoteModel.currentQuote.isShowTransportationPrice">
        <div style="width:77%;display: inline-block;">
          <span class="bold">מחיר</span>
          <span class="bold">{{quoteModel.category.label}}</span>
        </div>
        <div class="quoteQuantAndUnit bold">{{quoteModel.categoryPrice | currency}}</div>
      </div>

    </div>


      <div class="quoteTextBox purpleBG">

      <div ng-hide="quoteModel.currentQuote.isFixedPrice">
        <div class="bold quoteItemDescription">
          <span ng-show="quoteModel.transportationItems.length">
            סה"כ אוכל ומשלוח
          </span>
          <span ng-hide="quoteModel.transportationItems.length">
            סה"כ אוכל
          </span>
        </div>
        <div class="quoteQuantAndUnit">
          {{quoteModel.currentQuote.subTotal | currency}}
        </div>
      </div>

      <div ng-show="quoteModel.currentQuote.discount && !quoteModel.currentQuote.isFixedPrice">
        <div class="bold quoteItemDescription">הנחה מיוחדת</div>
        <div class="quoteQuantAndUnit">
          {{quoteModel.currentQuote.discount | currency}}
        </div>
      </div>

      <div ng-show="quoteModel.currentQuote.discount && !quoteModel.currentQuote.isFixedPrice">
        <div class="bold quoteItemDescription">
          <span>לאחר הנחה</span>
        </div>
        <div class="quoteQuantAndUnit">
          {{quoteModel.currentQuote.subTotal + quoteModel.currentQuote.discount | currency}}
        </div>
      </div>

      <div ng-hide="quoteModel.currentQuote.isFixedPrice">
        <div class="bold quoteItemDescription">
          <span>(מחיר לסועד</span>
        </div>
        <div class="quoteQuantAndUnit">
          {{quoteModel.currentQuote.perPerson | currency}})
        </div>
      </div>
    </div>


      {{quoteModel.setupBonusItems()}}
    <div class="quoteTextBox greyWhiteAlternate" ng-show="quoteModel.bonusItems.length === 1">
      <P style="height: 0.5cm"></P>
      <div ng-repeat="item in quoteModel.bonusItems">
        <div style="width:77%;display:inline-block;" class="bold">
          <span>החלטנו לצ'פר אותך ב</span>
          <span>{{item.quantity}}</span>
          <span>{{item.measurementUnit.label}}</span>
          <span>{{item.productDescription}}</span>
          <span>(ערך כספי:</span>
          <span>{{item.price | currency}}</span>
          <span>)</span>
        </div>
      </div>
     </div>
    <div class="quoteTextBox greyWhiteAlternate" ng-show="quoteModel.bonusItems.length > 1">
      <P style="height: 0.5cm"></P>
      <div class="bold">
        החלטנו לצ'פר אותך בפריטים הבאים:
      </div>
      <div ng-repeat="item in quoteModel.bonusItems">
        <div style="width:77%;display:inline-block;" class="bold">
          <span>{{item.quantity}}</span>
          <span>{{item.measurementUnit.label}}</span>
          <span>{{item.productDescription}}</span>
          <span>(ערך כספי:</span>
          <span>{{item.price | currency}}</span>
          <span>)</span>
        </div>
      </div>
      </div>


    {{quoteModel.setupPriceIncreaseItems()}}
    <div class="quoteTextBox greyWhiteAlternate" ng-show="quoteModel.priceIncreaseItems.length">
      <P style="height: 0.5cm"></P>
      <div ng-repeat="item in quoteModel.priceIncreaseItems">
        <div style="width:77%;display:inline-block;">
          <span>{{item.productDescription}}</span>
        </div>
      </div>
      <div style="padding-right: 1%" ng-hide="quoteModel.currentQuote.isFixedPrice">
        <div style="width:77%;display: inline-block;">
          <span class="bold">{{quoteModel.category.label}}</span>
        </div>
        <div class="quoteQuantAndUnit">{{quoteModel.categoryPrice | currency}}</div>
      </div>
    </div>


    {{quoteModel.setupExternalServicesItems()}}
    <div class="quoteTextBox greyWhiteAlternate" ng-show="quoteModel.externalServicesItems.length">
      <P style="height: 0.5cm"></P>
      <div class="bold quoteFoodCategoryName">
        {{quoteModel.category.label}}
      </div>
      <div class="bold">
        {{quoteModel.category.description}}
      </div>
      <div ng-repeat="item in quoteModel.externalServicesItems">
        <div style="width:30%;display:inline-block;">
          <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
        </div>
     <div style="width:30%;display: inline-block;" class="externalQuantAndUnit">
          <span style="display:inline-block;"> {{item.quantity}}</span>&nbsp;
         <span style="display:inline-block;"> {{item.measurementUnit.label}}</span>
     </div>
        <div style="width:30%;display: inline-block;"
             class="quoteQuantAndUnit"
             ng-hide="quoteModel.currentQuote.isFixedPrice">
          <span style="display:inline-block">{{item.price | currency}}</span>
        </div>
      </div>


      <div style="padding-right: 1%" ng-show="!quoteModel.currentQuote.isFixedPrice &&
                                              quoteModel.currentQuote.isShowTransportationPrice">
        <div style="width:77%;display: inline-block;">
          <span class="bold">מחיר</span>
          <span class="bold">{{quoteModel.category.label}}</span>
        </div>
        <div class="quoteQuantAndUnit bold">{{quoteModel.categoryPrice | currency}}</div>
      </div>

    </div>


    <p style="height: 0.5cm"></p>


		<!-- Sum up of prices - purple BG  -->

		<div class="quoteTextBox purpleBG" ng-hide="quoteModel.currentQuote.isNoTotal">


      <div ng-show="quoteModel.currentOrder.isBusinessEvent && !quoteModel.currentQuote.isFixedPrice">
			  <div class="bold quoteItemDescription" >
			    <span>מע"מ בשיעור %</span>
			    <span>{{quoteModel.currentOrder.vatRate * 100}}</span>
			   </div>
			  <div class="quoteQuantAndUnit">
			    {{quoteModel.currentQuote.vat | currency}}
			  </div>
			</div>

			<div>
			  <div class="bold quoteItemDescription">סה"כ לתשלום</div>
			  <div class="quoteQuantAndUnit">
			    {{quoteModel.currentQuote.isFixedPrice ? quoteModel.currentQuote.fixedPrice : quoteModel.currentQuote.total | currency}}
			  </div>
			</div>

		</div>

    <div ng-hide="quoteModel.currentQuote.isFixedPrice" class="quoteTextBox">
		  <span>
		    הקטלוג המלא שלנו נמצא
		  </span>
      <a href="http://pompidou.co.il" target="_blank">כאו.</a>
      <span>
		    ניתן להחליף מנה מסויימת באחרת ולבקש שינוי תמהיל.
		  </span>
    </div>


    <p style="height: 0.5cm"></p>

		<div ng-show="quoteModel.endBoxType.quoteEndBoxUrl">  <!-- show black box only if text exists -->
      <div class="whyShould" class="quoteTextBox">

          <div class="whyShouldChefImg">
           <img src="app/img/portrait_yuval.jpg"/>
        </div>


        <div class="whyShouldText">
          <!-- Content taken from src\app\bidTexts\chefMenuEndBox.html -->
          <ng-include src="quoteModel.endBoxType.quoteEndBoxUrl"></ng-include>
        </div>

        </div>
      </div>

		<p style="height: 0.5cm"></p>

		<div class="quoteTextBox" ng-bind-html="quoteModel.currentQuote.endText"></div>

		<p style="height: 0.5cm"></p>


		<p style="height: 0.5cm"></p>


	</div>

</div>
