<div id="quoteMainContainer">
		
	<div class="purpleBG bold" id="topQuoteLine"></div>
	<div class="quoteTextBox">
		<h2 class="purpleText quoteTextBox bold" id="quoteMainTitle">הצעת תפריט</h2>
		<div id="logo">
		   <img align="left" src="app/img/logo.png"/>
	    </div>
	</div>
	
	<div class="quoteTextBox">
	  <ul class="floatRight">
	    <li>
	      <span class="bold">שם:</span>
	      <span>{{quoteModel.bid.attributes.customer.firstName+' '+quoteModel.bid.attributes.customer.lastName}}</span>
	    </li>
	    <li>
	      <span class="bold">תאריך האירוע:</span>
	      <span>{{quoteModel.bid.attributes.order.eventDate | date: 'EEEE  dd/MM/yyyy'}}</span>
	    </li>
	    <li>
	      <span class="bold">זמן האספקה:</span>
	      <span>{{quoteModel.bid.attributes.order.eventTime | date: 'H:mm'}}</span>
	    </li>
	    <li>
	      <span class="bold">מספר המשתתפים:</span>
	      <span>{{quoteModel.bid.attributes.order.noOfParticipants}}</span>
	    </li>
	  </ul>

	  
	    <div id="titleImg">
		   <img align="left" src="app/img/box_1.jpg"/>
	    </div>

	</div>
	
    <p class="purpleBG quoteTextBox bold">
	    <span>{{quoteModel.quoteHeading}}</span>
    </p>
    
	<div class="quoteTextBox" ng-repeat="category in quoteModel.filteredCategories">
	
	  <div class="bold">
	    {{category.label}}
	  </div>
	  <div>{{category.description}}</div>
	
	{{quoteModel.setupCategoryItems(category.tId)}}
	
	<div class="quoteTextBox"  ng-repeat="item in quoteModel.categoryItems">
	  <div style="width:77%;display:inline-block;">
	    <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
	    <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
	    <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
	  </div>
	  <div style="width:10%;display:inline-block;"> {{item.quantity}}</div>
	  <div style="width:10%;display:inline-block;"> {{item.measurementUnit.label}}</div>
	 </div>
	  <div style="width:70%;padding-right: 3%" ng-hide="quoteModel.currentQuote.isFixedPrice">
	    <div style="width:77%;display: inline-block;">
	      <span class="bold">מחיר</span>
	      <span class="bold">{{category.label}}</span>
	    </div>
	   <div style="width:10%;display: inline-block">{{quoteModel.categoryPrice | currency}}</div>
	  </div>
	</div>
	
	{{quoteModel.setupTransportationItems()}}
	<div class="quoteTextBox" ng-show="quoteModel.transportationItems.length">
	  <P style="height: 0.5cm"></P>
	  <div class="bold">
	    השף בקופסא מגיע אלייך בדיוק ברגע הנכון לפני האורחים
	  </div>
	  <div ng-repeat="item in quoteModel.transportationItems">
	    <div style="width:77%;display:inline-block;">
	      <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
	      <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
	      <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
	    </div>
	   <div style="width:20%;display:inline-block;"
	         ng-hide="quoteModel.currentQuote.isFixedPrice" >{{item.price | currency }}</div>
	  </div>
	</div>
	
	<p style="height: 0.5cm"></p>
	
	<div class="quoteTextBox purpleBG">
	
		<div ng-hide="quoteModel.currentQuote.isFixedPrice">
		  <div class="bold" style="width:77%;display: inline-block">סה"כ</div>
		  <div style="width:20%;display:inline-block;">
		    {{quoteModel.currentQuote.subTotal | currency}}
		  </div>
		</div>
		
		<div>
		    <div class="bold" style="width:77%;display: inline-block">סה"כ זיכויים</div>
		    <div style="width:20%;display:inline-block;">
		      {{quoteModel.currentQuote.bonusValue + quoteModel.currentQuote.transportationBonus | currency}}
		    </div>
		</div>
		
		<div ng-show="quoteModel.currentQuote.discount && !quoteModel.currentQuote.isFixedPrice">
		  <div class="bold" style="width:77%;display: inline-block">
		    הנחה מיוחדת
		  </div>
		  <div style="width:20%;display:inline-block;">
		    {{quoteModel.currentQuote.discount | currency}}
		  </div>
		</div>
		
		<div ng-show="quoteModel.currentOrder.isBusinessEvent && !quoteModel.currentQuote.isFixedPrice">
		  <div class="bold" style="width:77%;display: inline-block">
		    <span>מע"מ בשיעור %</span>
		    <span>{{quoteModel.currentOrder.vatRate * 100}}</span>
		  </div>
		  <div style="width:20%;display:inline-block;">
		    {{quoteModel.currentQuote.vat | currency}}
		  </div>
		</div>
		
		<div>
		  <div class="bold" style="width:77%;display: inline-block">סה"כ לתשלום</div>
		  <div style="width:20%;display:inline-block;">
		    {{quoteModel.currentQuote.isFixedPrice ? quoteModel.currentQuote.fixedPrice : quoteModel.currentQuote.total | currency}}
		  </div>
		</div>
		
	</div>
	
	<p style="height: 0.5cm"></p>
	
	
	<div id="whyShould" class="quoteTextBox">
	
    	<div id="chefImg">
		   <img src="app/img/portrait_yuval.jpg"/>
		</div>
		
		<ng-include src="quoteModel.menuType.quoteEndBoxUrl"></ng-include>
  
   </div>

	<p style="height: 0.5cm"></p>
	
	<div class="quoteTextBox" ng-bind-html="quoteModel.currentQuote.endText"></div>
	
	<p style="height: 0.5cm"></p>
	
	<div class="quoteTextBox">
	  <span>
	    הקטלוג המלא שלנו נמצא
	  </span>
	  <a href="http://pompidou.co.il" target="_blank">כאו.</a>
	  <span>
	    ניתן להחליף מנה מסויימת באחרת ולבקש שינוי תמהיל.
	  </span>
	</div>
	
	<p style="height: 0.5cm"></p>


</div>
