<div class="container">

  <section>
    <article class="left_article">
		<p><span class="column_title_black">הצעת מחיר לאירוע - השף בקופסה</span></p>
<p>      <strong>שם</strong>: מזמין אירוע <br>
        <strong> תאריך האירוע</strong>: 23/6/2020 <br>
        <strong> מספר המשתתפים</strong>: 42<br>
        <strong> מתוכם ילדים</strong>: 12&nbsp;</p>
      <p>טקסט מקדים לגוף ההצעה - נראה לי משהו ששווה לבדוק כהקדמה אישית לפני המספרים.</p>
    </article>
    <aside class="right_article">
      <div class="logo"><img src="app/img/chefbekufsa_logo_82.png" width="186" height="80" alt=""/></div>
      <img src="app/img/kadaifenstein_1200-800x533.jpg" alt="" width="420" height="282" class="placeholder"/></aside>
  </section>
<section>
	<div class="table-1">
	<div class="title-row"><span class="column_title">תפריט קוקטייל פרימיום</span></div>
<table width="100%">
	<thead>
		<tr>
		<th colspan="2" align="right">
		<h3><span style="color: #ed2891;">מגשים</span></h3>
		<strong>המגשים של פומפידו הם חלק מהמנה העיקרית של האירוע. הכל מיוצר אצלנו במטבח, טרי ומסודר באופן מרהיב
		לבחירה 2-3 סוגי מגשים בהתאם לתקציב ולגודל האירוע</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
		<td align="right">20 יח'</td>
		</tr>
		<tr>
		<td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
		<td align="right">20 יח'</td>
		</tr>
		<tr>
		<td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
		<td align="right">20 יח'</td>
		</tr>
		<tr>
		<td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
		<td align="right">20 יח'</td>
		</tr>
		<tr>
		<td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
		<td align="right">20 יח'</td>
		</tr>
	</tbody>
</table>
<table width="100%">
  <thead>
    <tr>
      <th colspan="2" align="right"> <h3><span style="color: #ed2891;">עיקריות ותוספות</span></h3>
        <strong>אלו הן מנות עיקריות שמחממים באירוע. מנות אלו מרחיבות את המגוון הרב באמצעות תוספת של משהו חם, מבלי לפגוע
בנוחות ההגשה ובסגנון.</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
      <td align="right">20 יח'</td>
    </tr>
    <tr>
      <td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
      <td align="right">20 יח'</td>
    </tr>
    <tr>
      <td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
      <td align="right">20 יח'</td>
    </tr>
    <tr>
      <td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
      <td align="right">20 יח'</td>
    </tr>
    <tr>
      <td align="right">טארטלט טוסטדס עם סביצ'ה ואיולי מעושן בסיום האירוע</td>
      <td align="right">20 יח'</td>
    </tr>
  </tbody>
</table>

	</div>
</section>
<section>
	<div class="table-1">
	  <div class="title-row">
	    <span class="column_title">תפריט קוקטייל פרימיום</span>
      </div>
	  <table width="100%">
	    <thead>
	      <tr>
	        <th colspan="2" align="right"> <h3><span style="color: #ed2891;">שרותים נלווים</span></h3>
	          <strong>בנוסף לאוכל, אנחנו מציעים לך גם את עזרתנו למהלך המוצלח של האירוע בעזרת השירותים הנוספים הבאים:</strong></th>
          </tr>
        </thead>
	    <tbody>
	      <tr>
	        <td align="right">מלצרים מקצועיים ואדיבים, שיתפעלו
	          את כל האירוע מהסידור בהתחלה עד
	          הקיפול בסיום האירוע</td>
	        <td align="right">500 ₪</td>
          </tr>
	      <tr>
	        <td align="right">צלחות מעץ במבוק, מזלגות וסכינים
	          בצבע שחור (מחומר מתכלה), כוסות
	          פלסטיק קשיחות, כפות הגשה מבמבוק-
	          מתומחר לפי 42 סועדים</td>
	        <td align="right">140 ₪</td>
          </tr>
        </tbody>
      </table>
  </div>
</section>
<section>
	<div class="table-1">
  <table width="100%">
<thead>
<tr>
<th align="right">פריט</th>
<th align="right">כמות</th>
<th align="right">מחיר ליחידה</th>
<th align="right">סך הכל</th>
</tr>
</thead>
<tbody>
<tr>
<td colspan="4" align="right"><strong>כלי אוכל</strong></td>
</tr>
<tr>
<td align="right">צלחות</td>
<td align="right">40</td>
<td align="right">3 ₪</td>
<td align="right">120 ₪</td>
</tr>
<tr>
<td align="right">צלחות</td>
<td align="right">40</td>
<td align="right">3 ₪</td>
<td align="right">120 ₪</td>
</tr>
<tr>
<td align="right">צלחות</td>
<td align="right">40</td>
<td align="right">3 ₪</td>
<td align="right">120 ₪</td>
</tr>
<tr>
<td align="right">צלחות</td>
<td align="right">40</td>
<td align="right">3 ₪</td>
<td align="right">120 ₪</td>
</tr>
</tbody>
	<tfoot>
	<tr>
		<td align="left" class="ttltxt" colspan="3">סך הכל:</td>
		<td align="right" class="ttltxt">140 ₪</td>
	</tr>

	</tfoot>
</table>
</div>
</section>
  <section class="pinkborder">
<div class="row blockDisplay">
    <div class="column_third right_half">
	  <img src="app/img/portrait_yuval.jpg" width="180" height="263" alt=""/>
    </div>
    <div class="colomn_two_thirds left_half">
      <span class="column_title_black">למה כדאי להזמין את תפריט השף פרימיום?</span>
		<ul class="list-chef">
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
			<li>שפע אדיר של חטיפים וקינוחים שיוצר התפעלות באירוע</li>
		</ul>
    </div>
  </div>
</section>
  <section>
    <article class="left_article">

      <span class="column_title_black">הצעת מחיר לאירוע - השף בקופסה</span>
      <p>
      <ol>
        <li>תאריך האירוע המבוקש משוריין למשך שלושה ימים ממשלוח הצעה זו. על מנת לשריין סופית את התאריך, יש לאשר במייל
          חוזר את ההצעה לאחר בדיקה של התאריך, השעה ומספר הסועדים. שינויים קלים בתפריט ובכמויות ניתן לבצע עד שלושה ימים לפני
          האירוע.</li>
        <li>עם האישור במייל חוזר, מתחייבים שני הצדדים לקיום העסקה, לרבות תנאי התקשרות אלו.</li>
        <li>יובהר כי, אלא אם כן צוין אחרת, ההזמנה כוללת את האוכל, המשלוח והליווי המקצועי כמפורט בהצעה זו בלבד ואינה כוללת
          דברים נוספים שלא צויינו ובפרט לא כלי אוכל והגשה.</li>
        <li>תנאי ביטול:
          ביטול מכל סיבה שהיא בין 30 ל 14 יום לפני מועד האירוע, יחוייב ב 15% מהעלות הכוללת. ·
          ביטול בין 13 ל 4 ימים לפני האירוע, יחוייב ב 25% מהעלות. ·
          ביטול בין 3 ימים עד 24 שעות לפני האירוע, יחוייב ב 50% מהעלות. ·
          ביטול ב 24 השעות שלפני האירוע יחוייב במלוא סכום העסקה. ·</li>
        <li>תנאי תשלום: צ'ק מזומן ביום האירוע לפקודת יובל רוזנן או העברה בנקאית עד יום לפני האירוע לזכות חשבון 542183 בסניף
          773 של בנק הפועלים ע"ש יובל רוזנן. בכל מקרה יש לשלם עבור האירוע עד למסירת האוכל.</li>
        <li>באחריות הלקוח לדאוג לכך שמישהו מטעמו יהיה נוכח במקום האירוע בשעה שהוסכמה לקבלת הסחורה ויהיה מוסמך לקבל את
          כל ההסברים הנדרשים. כמו כן על הלקוח לדאוג לאפשרות חניה בטווח של 50 מטר ממקום האירוע, ובמידה ואין אפשרות כזו, לציין
          זאת במפורש במייל החוזר על מנת שנוכל לעדכן את עלות המשלוח.</li>
        <li>הכמויות מחושבות על סמך ניסיון של מאות אירועים כך שיספיקו בוודאות ואף יישארו כ- 10%-20% מהאוכל בתום האירוע.
          עם זאת, בהחלט ייתכן כי פריטים מסוימים 'ייחטפו' ויאזלו במהלך האירוע.</li>
        <li>אנו מתחייבים לספק את מלוא התפריט המוסכם בטריות מירבית ובשעה ובמקום המסוכמים.</li>
      </ol>
      </p>
    </article>
    <aside class="right_article"> <img src="app/img/waranty_homepage_dark.png" alt="" width="190"/></aside>

<div class="table-1">
		<div class="title-row"><span class="column_title">נספח: פירוט כלים חד פעמיים</span></div>

 <table width="100%">
<thead>
<tr>
<th align="right">פריט</th>
<th align="right">כמות</th>
<th align="right">מחיר ליחידה</th>
<th align="right">סך הכל</th>
</tr>
</thead>
<tbody>
<tr>
<td align="right">מזלגות וסכינים בצבע שחור, מחומר מתכלה</td>
<td align="right">100 יחידות</td>
<td align="right">1 ₪</td>
<td align="right">100 ₪</td>
</tr>
<tr>
<td align="right">מזלגות וסכינים בצבע שחור, מחומר מתכלה</td>
<td align="right">100 יחידות</td>
<td align="right">1 ₪</td>
<td align="right">100 ₪</td>
</tr>
<tr>
<td align="right">מזלגות וסכינים בצבע שחור, מחומר מתכלה</td>
<td align="right">100 יחידות</td>
<td align="right">1 ₪</td>
<td align="right">100 ₪</td>
</tr>
<tr>
<td align="right">מזלגות וסכינים בצבע שחור, מחומר מתכלה</td>
<td align="right">100 יחידות</td>
<td align="right">1 ₪</td>
<td align="right">100 ₪</td>
</tr>
<tr>
<td align="right">מזלגות וסכינים בצבע שחור, מחומר מתכלה</td>
<td align="right">100 יחידות</td>
<td align="right">1 ₪</td>
<td align="right">100 ₪</td>
</tr>
</tbody>
<tfoot>
	<tr>
		<td align="left" class="ttltxt" colspan="3">סך הכל:</td>
		<td align="right" class="ttltxt">140 ₪</td>
	</tr>

</tfoot>
</table>
</div>
  </section>

	<footer class="secondary_header footer">
    <div class="copyright"><strong>השף בקופסה - 050-1234567</strong></div>
  </footer>
</div>
