 <div id="quote2" class="quote-body">
<div class="container">

  <section>
    <article class="left_article">
		<p><span class="column_title_black">הצעת מחיר לאירוע השף בקופסא</span></p>
      <p>
        <span>מספר אירוע:</span>
        <span>{{quote2Model.bid.properties.order.number}}</span>
      </p>
<p>      <strong>שם:</strong>
          <span>{{quote2Model.bid.properties.customer.firstName+' '+quote2Model.bid.properties.customer.lastName}}</span><br>
        <strong>תאריך האירוע:</strong>
          <span ng-hide="quote2Model.bid.properties.order.isDateUnknown">
          <!--    {{quote2Model.eventDate | convertTimezone:'Asia/Jerusalem' | formatTime: 'D/M/YYYY'}}  -->
          <!--        {{quote2Model.bid.properties.order.eventDate | date: 'dd/MM/yy'}}  -->
            {{quote2Model.bid.properties.eventDateStr}}
                </span>
          <span ng-show="quote2Model.bid.properties.order.isDateUnknown">
                  טרם נקבע
                </span><br>
          <strong ng-show="quote2Model.bid.properties.eventTimeStr">זמן האספקה:</strong>
            <span ng-show="quote2Model.bid.properties.eventTimeStr">
           <!--     {{quote2Model.eventTime | convertTimezone:'Asia/Jerusalem' | formatTime: 'H:mm'}}  -->
            <!--        {{quote2Model.bid.properties.order.eventTime | date: 'H:mm'}}  -->
              {{quote2Model.bid.properties.eventTimeStr}}
                  </span><br>
          <strong ng-hide="quote2Model.currentQuote.isNoParticipants"> מספר המשתתפים:</strong>
            <span ng-hide="quote2Model.currentQuote.isNoParticipants">
              {{quote2Model.bid.properties.order.noOfParticipants}}
            </span><br>
      <strong ng-show="quote2Model.currentOrder.children">מתוכם ילדים:</strong>
                <span ng-show="quote2Model.currentOrder.children">{{quote2Model.currentOrder.children}}</span>
</p>
  <!--    <p>טקסט מקדים לגוף ההצעה - נראה לי משהו ששווה לבדוק כהקדמה אישית לפני המספרים.</p>  -->
    </article>
    <aside class="right_article">
      <div class="logo"><img src="app/img/chefbekufsa_logo_82.png" width="186" height="80" alt=""/></div>
      <img src="app/img/kadaifenstein_1200-800x533.jpg" alt="" width="420" height="282" class="placeholder"/></aside>
  </section>
<section>
	<div class="table-1">
	<div class="title-row"><span class="column_title">{{quote2Model.quoteHeading}}</span></div>
    <div ng-repeat="category in quote2Model.filteredCategories track by category.tId">

      {{quote2Model.setupCategoryItems(category.tId)}}

      <div ng-hide="quote2Model.categoryItems.length===0"> <!-- skip categories with only bonus items -->

        <table width="100%">
	<thead>
		<tr>
      <th ng-show="quote2Model.itemsNoOfCols===1" align="right">
        <h3><span style="color: #ed2891;">{{category.label}}</span></h3>
        <strong ng-hide="quote2Model.categoryItems.length===1"> <!-- don't show description if only one item in category -->
          {{category.description}}
        </strong></th>
      <th ng-show="quote2Model.itemsNoOfCols===2" colspan="2" align="right">
        <h3><span style="color: #ed2891;">{{category.label}}</span></h3>
        <strong ng-hide="quote2Model.categoryItems.length===1"> <!-- don't show description if only one item in category -->
          {{category.description}}
        </strong></th>
      <th ng-show="quote2Model.itemsNoOfCols===3" colspan="3" align="right">
        <h3><span style="color: #ed2891;">{{category.label}}</span></h3>
        <strong ng-hide="quote2Model.categoryItems.length===1"> <!-- don't show description if only one item in category -->
          {{category.description}}
        </strong></th>
		</tr>
	</thead>
	<tbody>
  <tr ng-repeat="item in quote2Model.categoryItems track by item.index">
    <td ng-show="quote2Model.itemsNoOfCols===1" style="width: 100%" align="right">{{item.productDescription}}</td>
    <td ng-show="quote2Model.itemsNoOfCols===2" style="width: 80%" align="right">{{item.productDescription}}</td>
    <td ng-show="quote2Model.itemsNoOfCols===3" style="width: 60%" align="right">{{item.productDescription}}</td>
    <td ng-hide="quote2Model.currentQuote.isNoQuantities" style="width: 20%" align="right">
      {{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
    <td ng-show="quote2Model.currentQuote.isShowPrices" style="width: 20%" align="right">{{item.price | currency}}</td>
  </tr>
 </tbody>
</table>
      </div>
    </div>
    <table ng-show="!quote2Model.currentQuote.isFixedPrice && quote2Model.currentQuote.isShowTransportationPrice" width="100%">
      <tbody>
      <tr>
        <td align="left" width="80%"><p></p><strong>ס"ה מחיר האוכל:</strong></td>
        <td align="right" width="20%"><p></p><strong>{{quote2Model.currentQuote.foodPrice | currency}}</strong></td>
      </tr>
      </tbody>
    </table>

    {{quote2Model.setupTransportationItems()}}

    <table width="100%" ng-show="quote2Model.transportationItems.length">
      <thead>
      <tr>
        <th  ng-hide="quote2Model.currentQuote.isShowPrices" align="right">
          <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
          <strong>{{quote2Model.category.description}}</strong></th>
        <th  ng-show="quote2Model.currentQuote.isShowPrices" align="right" colspan="2">
          <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
          <strong>{{quote2Model.category.description}}</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in quote2Model.transportationItems track by item.index">
        <td ng-hide="quote2Model.currentQuote.isShowPrices" width="100%" align="right">
          <span class="bold" ng-show="item.isFreeItem">החלטנו לתת לך במתנה את המשלוח:</span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ערך כספי</span>
          <span class="bold" ng-show="item.isFreeItem">{{item.price | currency}}</span>
          <span class="bold" ng-show="item.isFreeItem">)</span>
        </td>
        <td ng-show="quote2Model.currentQuote.isShowPrices" width="80%" align="right">
          <span class="bold" ng-show="item.isFreeItem">החלטנו לתת לך במתנה את המשלוח:</span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ערך כספי</span>
          <span class="bold" ng-show="item.isFreeItem">{{item.price | currency}}</span>
          <span class="bold" ng-show="item.isFreeItem">)</span>
        </td>
        <td ng-show="quote2Model.currentQuote.isShowPrices && !item.isFreeItem" width="20%" align="right">
          {{item.price | currency}}</td>
      </tr>
      </tbody>
    </table>

    <table width="100%" ng-show="!quote2Model.currentQuote.isFixedPrice && quote2Model.currentQuote.isShowTransportationPrice">
      <tbody>
      <tr>
        <td align="left" width="80%"><strong><p></p>
          <span>מחיר</span>
          <span>{{quote2Model.category.label}}</span>
        </strong>
        </td>
        <td align="right" width="20%"><p></p><strong>{{quote2Model.categoryPrice | currency}}</strong></td>
      </tr>
      </tbody>
    </table>
    <table width="100%">
      <tfoot class="soft">
      <tr ng-hide="quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" ><strong>
          <span ng-show="quote2Model.transportationItems.length">
            סה"כ אוכל ומשלוח
          </span>
          <span ng-hide="quote2Model.transportationItems.length">
            סה"כ אוכל
          </span>
        </strong></td>
        <td align="right" width="20%" class="blackTxt"><strong>
          {{quote2Model.currentQuote.subTotal | currency}}</strong></td>
      </tr>
    </tfoot>
    </table>
    <table width="100%">
      <tfoot class="soft">
      <tr ng-show="quote2Model.currentQuote.discount && !quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="blackTxt"><strong>
          <span>
הנחה מיוחדת
          </span>
        </strong></td>
        <td align="right" width="20%" class="blackTxt"><strong>
          {{quote2Model.currentQuote.discount | currency}}
        </strong></td>
      </tr>
      </tfoot>
    </table>
    <table width="100%">
      <tfoot class="soft">
      <tr ng-show="quote2Model.currentQuote.couponDiscount && !quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="blackTxt"><strong>
          <span>
הנחת קופון
          </span>
        </strong></td>
        <td align="right" width="20%" class="blackTxt"><strong>
          {{quote2Model.currentQuote.couponDiscount | currency}}
        </strong></td>
      </tr>
      </tfoot>
    </table>
    <table width="100%">
      <tfoot class="soft">
      <tr ng-show="(quote2Model.currentQuote.discount + quote2Model.currentQuote.couponDiscount) && !quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%" class="blackTxt"><strong>
          <span>
לאחר הנחה
          </span>
        </strong></td>
        <td align="right" width="20%" class="blackTxt"><strong>
          {{quote2Model.currentQuote.subTotal + quote2Model.currentQuote.discount + quote2Model.currentQuote.couponDiscount | currency}}
        </strong></td>
      </tr>
      </tfoot>
    </table>
    <table width="100%">
      <tfoot class="soft">
      <tr ng-hide="quote2Model.currentQuote.isFixedPrice || quote2Model.currentQuote.isNoParticipants">
        <td align="left" width="80%" class="blackTxt"><strong>
          <span>(מחיר לסועד
          </span>
        </strong></td>
        <td align="right" width="20%" class="blackTxt"><strong>
          {{quote2Model.currentQuote.perPerson | currency}})
        </strong></td>
      </tr>
      </tfoot>
    </table>

    {{quote2Model.setupBonusItems()}}

        <div>
      <table width="100%">
        <thead>
        <tr>
          <th  align="right">
            <h3 ng-show="quote2Model.bonusItems.length > 1">
              <span style="color: #ed2891;">החלטנו לצ'פר אותך בפריטים הבאים:</span></h3>
            <h3 ng-show="quote2Model.bonusItems.length === 1">
              <span style="color: #ed2891;">החלטנו לצ'פר אותך בפריט הבא:</span></h3>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in quote2Model.bonusItems track by item.index">
          <td align="right">
            <strong>
            <span>{{item.quantity}}</span>
            <span>{{item.measurementUnit.label}}</span>
            <span>{{item.productDescription}}</span>
            <span ng-hide="item.price <= 100">
            <span>(ערך כספי:</span>
            <span>{{item.price | currency}}</span>
            <span>)</span>
            </span>
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    {{quote2Model.setupPriceIncreaseItems()}}

    <table width="100%" ng-show="quote2Model.priceIncreaseItems.length">
      <thead>
      <tr>
        <th colspan="2">
          <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in quote2Model.priceIncreaseItems track by item.index">
        <td align="right" colspan="2">{{item.productDescription}}</td>
      </tr>
      <tr ng-hide="quote2Model.currentQuote.isFixedPrice">
        <td align="left" width="80%"><p></p>
          <strong><span>{{quote2Model.category.label}}</span></strong>
        </td>
        <td align="right" width="20%"><p></p><strong>{{quote2Model.categoryPrice | currency}}</strong></td>
      </tr>
      </tbody>
    </table>


  </div>
</section>
<section>

  {{quote2Model.setupExternalServicesItems()}}

	<div class="table-1">
    <table width="100%" ng-show="quote2Model.isAnyExternalServices">
      <thead>
      <tr>
        <th colspan="3" align="right"> <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
          <strong>{{quote2Model.category.description}}</strong></th>
      </tr>
      <!--
      <tr ng-show="quote2Model.isTableExternalServices">
        <th align="right" width="40%">פריט</th>
        <th align="right" width="20%">כמות</th>
        <th align="right" width="20%">מחיר ליחידה</th>
        <th align="right" width="20%">סך הכל</th>
      </tr>
      -->
      </thead>
      <tbody>
      <tr ng-repeat="item in quote2Model.externalServicesItems track by item.index">
        <td align="right" width="60%">
          <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
          <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
          <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
        </td>
        <td align="right" width="20%">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
        <!--<td align="right" width="20%">{{item.isFreeItem?'':(item.price / item.quantity | currency)}}</td> -->
        <td ng-hide="item.isFreeItem" align="right" width="20%">{{item.price | currency}}</td>
      </tr>
     <tr ng-show="quote2Model.disposableItems.length">
        <td align="right" width="60%">כלים חד פעמיים (פירוט בנספח)</td>
        <td width="20%"></td>
        <td width="20%">{{quote2Model.disposablePrice | currency}}</td>
      </tr>
      <!--
      <tr ng-show="quote2Model.disposableItems.length" ng-repeat="item in quote2Model.disposableItems track by item.index">
        <td align="right">{{item.productDescription}}</td>
        <td align="right">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
        <td align="right">{{item.price / item.quantity | currency}}</td>
        <td align="right">{{item.price | currency}}</td>
      </tr>
      -->
      <tr ng-show="quote2Model.equipRentalItems.length">
        <td align="right" width="60%">השכרת ציוד (פירוט בנספח)</td>
        <td width="20%"></td>
        <td width="20%">{{quote2Model.equipRentalPrice | currency}}</td>
      </tr>
      <!--
      <tr ng-show="quote2Model.equipRentalItems.length" ng-repeat="item in quote2Model.equipRentalItems track by item.index">
        <td align="right" width="40%">{{item.productDescription}}</td>
        <td align="right" width="20%">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
        <td align="right" width="20%">{{item.price / item.quantity | currency}}</td>
        <td align="right" width="20%">{{item.price | currency}}</td>
      </tr>
      -->
      <tr ng-show="quote2Model.liquidsItems.length">
        <td align="right" width="60%">שתיה (פירוט בנספח)</td>
        <td width="20%"></td>
        <td width="20%">{{quote2Model.liquidsPrice | currency}}</td>
      </tr>
      <tr ng-show="!quote2Model.currentQuote.isFixedPrice">
        <td align="left" colspan="2"><strong><p></p>
          <span>מחיר</span>
          <span>{{quote2Model.category.label}}</span>
        </strong>
        </td>
        <td align="right"><strong><p></p>{{quote2Model.categoryPrice | currency}}</strong></td>
      </tr>
      </tbody>
    </table>
    <div ng-hide="quote2Model.currentQuote.isNoTotal">
      <table width="100%">
        <tfoot>
        <tr ng-show="quote2Model.currentOrder.isBusinessEvent && !quote2Model.currentQuote.isFixedPrice">
          <td align="left" width="80%" class="ttltxt">
            <span>מע"מ בשיעור %</span>
            <span>{{quote2Model.currentOrder.vatRate * 100}}</span>
          </td>
          <td align="right" width="20%" class="ttltxt">{{quote2Model.currentQuote.vat | currency}}</td>
        </tr>
        </tfoot>
      </table>
      <table width="100%">
        <tfoot>
        <tr>
          <td align="left" width="80%" class="ttltxt">סה"כ לתשלום          </td>
          <td align="right" width="20%" class="ttltxt">
     {{quote2Model.currentQuote.isFixedPrice ? quote2Model.currentQuote.fixedPrice : quote2Model.currentQuote.total | currency}}
          </td>
        </tr>
        </tfoot>
      </table>
    </div>

      {{quote2Model.setupMidiatedServicesItems()}}

      <div class="table-1">
        <table width="100%" ng-show="quote2Model.midiatedServicesItems.length">
          <thead>
          <tr>
            <th colspan="3" align="right"> <h3><span style="color: #ed2891;">{{quote2Model.category.label}}</span></h3>
              <strong>{{quote2Model.category.description}}</strong></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in quote2Model.midiatedServicesItems track by item.index">
            <td align="right" width="60%">
              <span class="bold" ng-show="item.isFreeItem">בונוס: </span>
              <span ng-class="item.isFreeItem?'bold':null">{{item.productDescription}}</span>
              <span class="bold" ng-show="item.isFreeItem">(ללא חיוב)</span>
            </td>
            <td align="right" width="20%">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
            <!--<td align="right" width="20%">{{item.isFreeItem?'':(item.price / item.quantity | currency)}}</td> -->
            <td ng-hide="item.isFreeItem" align="right" width="20%">{{item.price | currency}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      </div>
</section>
</div>
<!--  -->
  <section class="pinkborder" ng-show="quote2Model.endBoxType.quoteEndBoxUrl">
<div class="row blockDisplay">
  <div class="column_third right_half" >
    <img src="app/img/portrait_yuval.jpg" width="180" height="263" alt=""/>
  </div>
  <ng-include src="quote2Model.endBoxType.quoteEndBoxUrl"></ng-include>
</div>
</section>
  <section ng-show="quote2Model.currentQuote.endText">
    <div id="terms_and_conditions" style="margin-left:2cm;margin-right:3cm;margin-bottom: 1cm"
         ng-bind-html="quote2Model.currentQuote.endText"></div>
    <!--
    <article class="left_article">
      <div id="terms_and_conditions" ng-bind-html="quote2Model.currentQuote.endText"></div>
    </article>
        <aside class="right_article">
      <img src="app/img/cucumber_cups.webp" alt="" height="150" style="margin-right:3.5cm;margin-top:0.8cm">
    </aside>
    -->
  </section>

  <section>
    <div class="table-1"  ng-show="quote2Model.disposableItems.length">
      <div class="title-row"><span class="column_title">נספח: פירוט כלים חד פעמיים</span></div>

      <table width="100%">
        <thead>
        <tr>
          <th align="right" width="40%">פריט</th>
          <th align="right" width="20%">כמות</th>
          <th align="right" width="20%">מחיר ליחידה</th>
          <th align="right" width="20%">סך הכל</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in quote2Model.disposableItems track by item.index">
          <td align="right">{{item.productDescription}}</td>
          <td align="right">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
          <td align="right">{{item.price / item.quantity | currency}}</td>
          <td align="right">{{item.price | currency}}</td>
        </tr>
        <tr>
          <td colspan="3" align="left"><strong>סה"כ כלים חד פעמיים:</strong></td>
          <td align="right"><strong>{{quote2Model.disposablePrice | currency}}</strong></td>
        </tr>
        </tbody>
      </table>
      <p style="height:0.2cm"></p>
    </div>
    <div class="table-1"  ng-show="quote2Model.equipRentalItems.length">
      <div class="title-row"><span class="column_title">נספח: פירוט השכרת ציוד</span></div>

      <table width="100%">
        <thead>
        <tr>
          <th align="right" width="40%">פריט</th>
          <th align="right" width="20%">כמות</th>
          <th align="right" width="20%">מחיר ליחידה</th>
          <th align="right" width="20%">סך הכל</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in quote2Model.equipRentalItems track by item.index">
          <td align="right">{{item.productDescription}}</td>
          <td align="right">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
          <td align="right">{{item.price / item.quantity | currency}}</td>
          <td align="right">{{item.price | currency}}</td>
        </tr>
        <tr>
          <td colspan="3" align="left"><strong>סה"כ ציוד:</strong></td>
          <td align="right"><strong>{{quote2Model.equipRentalPrice | currency}}</strong></td>
        </tr>
        </tbody>
      </table>
      <p style="height:0.2cm"></p>
    </div>
    <div class="table-1"  ng-show="quote2Model.liquidsItems.length">
      <div class="title-row"><span class="column_title">נספח: פירוט שתיה</span></div>

      <table width="100%">
        <thead>
        <tr>
          <th align="right" width="40%">פריט</th>
          <th align="right" width="20%">כמות</th>
          <th align="right" width="20%">מחיר ליחידה</th>
          <th align="right" width="20%">סך הכל</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in quote2Model.liquidsItems track by item.index">
          <td align="right">{{item.productDescription}}</td>
          <td align="right">{{item.quantity}}&nbsp;{{item.measurementUnit.label}}</td>
          <td align="right">{{item.price / item.quantity | currency}}</td>
          <td align="right">{{item.price | currency}}</td>
        </tr>
        <tr>
          <td colspan="3" align="left"><strong>סה"כ שתיה:</strong></td>
          <td align="right"><strong>{{quote2Model.liquidsPrice | currency}}</strong></td>
        </tr>
        </tbody>
      </table>
      <p style="height:0.2cm"></p>
    </div>
  </section>

<footer class="secondary_header footer">
    <div class="copyright"><strong>השף בקופסה - 054-7514061</strong></div>

  <!--
  <p></p>
  <div ng-hide="quoteModel.currentQuote.isFixedPrice" class="copyright">
    <strong>
		  <span>
		    הקטלוג המלא שלנו נמצא
		  </span>
    <a href="http://pompidou.co.il" target="_blank">כאו.</a>
    <span>
		    ניתן להחליף מנה מסויימת באחרת ולבקש שינוי תמהיל.
		  </span>
    </strong>
  </div>
  -->
   </footer>
  <div id="waranty" bgcolor="#FFFBFE" ng-show="quote2Model.endBoxType.isWaranty">
    <div>
      <p style="page-break-after: always;">&nbsp;</p>
      <p style="page-break-before: always;">&nbsp;</p>
    </div>
    <div class="container" style="border: #D908BE solid 0px; padding: 8px; margin: 5%; border-radius: 4px; -webkit-box-shadow: -5px -4px 42px 11px rgba(217,217,217,1);
-moz-box-shadow: -5px -4px 42px 11px rgba(217,217,217,1);
box-shadow: -5px -4px 42px 11px rgba(217,217,217,1);">
      <div style="border: #DF019F solid 4px; padding: 20px; border-radius: 5px;"> <!-- padding was 35px 42 px -->

        <section id="waranty_head">
          <article class="waranty_stamp">
            <div align="center" style="padding: 42px 0 0 0;"><img src="app/img/waranty_homepage_dark.png" width="249" height="252" alt=""/></div>
          </article>
          <aside class="waranty_main_text">
            <p><span class="column_title_black-big">תעודת אחריות</span></p>
            <!-- עבור תפריט השף בהצעת מחיר מספר------  בסכום של-------- עבור הלקוח--------->
            <p style="font-size: 1.12em;">
              <span>עבור</span>
              <span>{{quote2Model.quoteHeading}}</span>
              <span>בהצעת מחיר מספר</span>
              <span>{{quote2Model.bid.properties.order.number}}</span>
              <span>בסכום של</span>
              <span>{{quote2Model.currentQuote.total | currency}}</span>
              <span>ללקוח/ה</span>
              <span>{{quote2Model.bid.properties.customer.firstName+' '+quote2Model.bid.properties.customer.lastName}}</span>
            </p>
            <p style="font-size: 1.12em;">השף בקופסה מתחייב בזאת שהאורחים באירוע הנ"ל יתלהבו מהאוכל ויציינו זאת בקול רם. כמו כן, יחמיאו למארח על הבחירה הטובה.</p>
            <p style="font-size: 1.12em;">במידה והשף בקופסה לא יעמוד בהתחייבות הזאת יוחזר 20% מעלות האוכל באירוע ללקוח.</p>
          </aside>
       </section>
        <section>
          <div>
            <table width="100%">
              <tbody>
              <tr>
                <td align="right"><span class="diploma_table_subtitle">למה אנחנו נותנים כזאת אחריות?</span>
                  מנסיון של קרוב ל- 2000 אירועים יש לנו ביטחון גדול ביכולת שלנו לספק את הסחורה, שהיא מבחינתינו קודם כל אורחים שמתלהבים מהאוכל.
                  היכולת שלנו לעמוד בהבטחה שלנו נובעת קודם כל מניסיון מקצועי בין לאומי של השף שצבר למעלה משני עשורים של עשייה קולינרית, ובנוסף, מלמעלה מעשור שבמהלכו שימחנו קרוב ל- 2000 לקוחות ועשרות אלפי אורחים.<br>
                  <br>
                  בנוסף לניסיון אנחנו משקיעים בכל אירוע משאבים אדירים כדי לעמוד בהבטחה הגדולה שלנו. כל אירוע מקבל את מלוא תשומת הלב, כאילו הוא היה הראשון שלנו.
                  על למנת לשקף לך את הרצינות שלנו ואת המחויבות שלנו להצלחת האירוע שלך אנחנו נותנים את האחריות יוצאת הדופן הזאת.
                </td>
              </tr>
              <tr>
                <td align="right"><span class="diploma_table_subtitle">למי אנחנו נותנים כזאת אחריות?</span>
                  אנחנו נותנים אחריות להתלהבות האורחים רק לתפריטי השף שלנו ללא שינויים מהותיים, ורק ללקוחות שלאחר שיחה איתם התרשמנו שהתפריט מתאים להם, ועל בסיס אמון הדדי.<br>
                  <br>
                  לשף בקופסה יש גם תפריטים אחרים שעליהם אין את האחריות הזאת ויכול להיות שבסופו של דבר תרכשו תפריט כזה. <strong>חשוב להדגיש שבכל מקרה אנחנו תמיד לוקחים אחריות מלאה על איכות האוכל שלנו</strong>. אבל אחריות כזאת על התלהבותם של האורחים אנחנו יכולים לתת על תפריטי השף בלבד מפני שיש בהם שפע גדול של מנות שאי אפשר להישאר אדישים אליהן.</td>
              </tr>
              <tr>
                <td align="right"><span class="diploma_table_subtitle">איך זה עובד בפועל?</span>
                  במידה והאורחים שלך לא יתלהבו מהאוכל, כל שצריך לעשות הוא לשלוח לנו הודעה בנוסח הבא: האורחים לא התלהבו מהאוכל, ולהוסיף פרטי חשבון בנק להעברה.<br>
                  <br>אנחנו נעביר לחשבון הבנק שלך 20% ממחיר האוכל באירוע
                  <br>
                  <br><strong>אשמח לעמוד לשרותכם באירוע החשוב שלכם ולדאוג עבורכם שהוא יהיה בלתי נשכח</strong><br>

                  בברכה<br>
                  יובל

                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </section>


      </div>
    </div>
  </div>
</div>

