<div id="exitListContainer">
    <h4 style="width: 100%">
        <span style="text-align: right">השף בקופסה</span>
        <span>  --  </span>
        <span style="text-align: left">054-7514061</span>
    </h4>
    <h2>
        טופס שימור דגימות מזון לאירוע
        {{samplingFormModel.currentOrder.number}} -
        {{samplingFormModel.currentOrder.eventDate | date: 'dd/MM/yy'}}
    </h2>
    <p style="height: 0.5cm"></p>
    <table style="width: 100%">
        <thead>
        <tr class="form-line">
            <th class="form-box" style="width: 25%">מספר הדגימה</th>
            <th class="form-box" style="width: 25%">תאריך איסוף</th>
            <th class="form-box" style="width: 25%">שם המנה</th>
            <th class="form-box" style="width: 25%">שעת איסוף</th>
        </tr>
        </thead>
        <tbody>
        <tr class="form-line" ng-repeat="sample in samplingFormModel.samples track by $index">
            <td class="form-box">{{$index+1}}</td>
            <td class="form-box">{{samplingFormModel.currentOrder.eventDate | date: 'dd/MM/yy'}}</td>
            <td class="form-box">{{sample.stickerLabel}}</td>
            <td class="form-box"></td>
        </tr>
        </tbody>
        <tr style="height: 0.5cm"></tr>
        <tr>
            <td colspan="3"><label>שם</label></td>
            <td><label>חתימה</label></td>
        </tr>
        <tr>
            <td colspan="3">________________</td>
            <td>________________</td>
        </tr>
    </table>
</div>