<div class="quoteMainContainer">

  <div class="quoteMainContent">

  <!-- Top Purple line  -->
<div class="purpleBG topQuoteLine"></div>


<!-- Header + main logo -->
<div class="quoteTextBox">
  <h2 class="purpleText bold quoteMainTitle">
   רשימת רגישויות
  </h2>
  <div class="quoteLogo">
    <img align="left" src="app/img/logo.png"/>
  </div>
</div>

    <!-- Customer's details + nice image -->
    <div class="quoteTextBox quoteDetails">

      <div class="floatRight">

        <span class="bold">שם:</span>
        <span>{{sensitivityListModel.customer.attributes.firstName+' '+
                sensitivityListModel.customer.attributes.lastName}}</span>
        <br>
        <span class="bold">תאריך האירוע:</span>
        <span>{{sensitivityListModel.eventDate | convertTimezone:'Asia/Jerusalem' | formatTime: 'D/M/YYYY'}}</span>
        <p></p>
        <label>חשוב:</label>
        <span>במטבח שלנו יש הקפדה על נקיון והיגיינה </span>
        <br>
        <span>ומודעות לרגישויות שונות </span>
        <br>
        <span>יחד עם זאת סביבת העבודה אינה סטרילית</span>

      </div>


      <!-- image next to customer's details -->
      <div class="quoteTitleImg floatLeft">
        <div class="quotePhoneOnImg bold purpleText">טלפון: 054-7514061 </div>
        <img align="left" src="app/img/box_1.jpg"/>
      </div>

    </div>

    <div class="quoteTextBox quoteDetails">
      <div class="floatRight">
      <div ng-repeat="sensitivity in sensitivityListModel.sensitivities">
  <h3 class="bold" ng-show="sensitivity.items.length"ng-style="sensitivity.colorObj.style">
    {{sensitivity.description}}
    <img ng-show="sensitivity.colorObj.backColor==='green'" src="app/img/green_light.jpg"/>
    <img ng-show="sensitivity.colorObj.backColor==='red'" src="app/img/red_light.jpg"/>
  </h3>
        <ul>
  <li ng-repeat="item in sensitivity.items">
    {{item.productName}}
  </li>
        </ul>
</div>
      </div>
    </div>
  </div>
</div>
