<div ng-repeat="wo in serviceListModel.workOrder track by wo.id">
<div id="exitListContainer">
		<h2>
		   רשימת סרוויס -
      {{wo.customer.firstName+' '+wo.customer.lastName}}
      {{wo.order.eventDate | date: 'EEE dd/MM/yy'}}
      <img ng-show="serviceListModel.isOrderColors" src="app/img/bigColors/{{wo.color.stickerColor}}.jpg"/>
      <span ng-show="serviceListModel.isOrderNumbers">[{{wo.color.tId}}]</span>
    </h2>


		<table style="width:90%">
		  <tbody>
		  <tr>

		    <td>
		      <label>
		        הזמנה מס':
		      </label>
		      <span>{{wo.order.number}}</span>
		    </td>

          <td>
		      <label>
		        תאריך:
		      </label>
		      <span>{{wo.order.eventDate | date: 'EEE dd/MM/yy'}}</span>
		    </td>

        <td>
          <label>
שעת מסירה:
          </label>
          <span>{{wo.eventTimeStr}}</span>
        </td>

        <td>
          <label>
שעת יציאה:
          </label>
          <span>{{wo.order.exitTime | date: 'H:mm'}}</span>
        </td>

        <td>
          <label>
            משתתפים:
          </label>
          <span>{{wo.order.noOfParticipants}}</span>
        </td>

        <td>
          <label>
            מתוכם ילדים:
          </label>
          <span>{{wo.order.children}}</span>
        </td>

      </tr>


		  <tr>
		    <td>
		      <label>
		        לקוח:
		      </label>
		      <span>{{wo.customer.firstName+' '+wo.customer.lastName}}</span>
		    </td>
		    <td>
		      <label>
		        נייד:
		      </label>
		      <span>{{wo.customer.mobilePhone}}</span>
		    </td>
		    <td>
		      <label>
		        בית:
		      </label>
		      <span>{{wo.customer.homePhone}}</span>
		    </td>
		    <td>
		      <label>
		        עבודה:
		      </label>
		      <span>{{wo.customer.workPhone}}</span>
		    </td>
		  </tr>
      <tr></tr>
      <tr>
         <td ng-show="wo.order.taskData.isSurpriseParty">
          <h4>זוהי מסיבת הפתעה!!!</h4>
        </td>
        <td ng-show="wo.order.taskData.surpriseContact">
          <label>לדבר עם</label>
          <span>{{wo.order.taskData.surpriseContact}}</span>
        </td>
        <td ng-show="wo.order.taskData.eventCause">
          <label>מה חוגגים:</label>
          <span>{{wo.order.taskData.eventCause}}</span>
        </td>
      </tr>


		  </tbody>
		</table>

  <div ng-show="wo.order.taskData.kitchenInstructions">
    <label>הוראות לאירוע:</label>
    <span>{{wo.order.taskData.kitchenInstructions}}</span>
  </div>
    <h4 ng-show="wo.order.taskData.isServiceOnSite">
      נדרש סרוויס באירוע!
    </h4>
  <div ng-show="wo.order.taskData.serviceRemarks">
    <label>הערות לסרוויס:</label>
    <span>{{wo.order.taskData.serviceRemarks}}</span>
  </div>
		<div ng-show="wo.order.remarks">
		  <label>
		    הערות:
		  </label>
		  <span>{{wo.order.remarks}}</span>
		</div>



  <p></p>

  <table border="1" style="width: 90%">
    <thead>
    <tr style="height:10mm">
    <th style="width: 70%">
      רשימת סרוויס -
      {{wo.customer.firstName+' '+wo.customer.lastName}}
      {{wo.order.eventDate | date: 'EEE dd/MM/yy'}}
      <img ng-show="serviceListModel.isOrderColors" src="app/img/bigColors/{{wo.color.stickerColor}}.jpg"/>
      <span ng-show="serviceListModel.isOrderNumbers">[{{wo.color.tId}}]</span>
    </th>
    <th style="width: 30%"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="line in wo.vec track by line.ind">
  <!-- column 1: name -->
      <td ng-show="line.level===0">
        <label>{{line.data.label}}</label></td>
      <td ng-show="line.level===1 && !line.data.isExcludeMainItem">
        &nbsp;&#128440;
        {{line.data.productName}}
        <div ng-show="line.data.isDescChanged">
          &nbsp;&nbsp;&nbsp;<label>התאמה אישית:</label>&nbsp;
          {{line.data.productDescription}}
        </div>
      </td>
      <!-- column 2: quantity -->
      <td ng-show="line.level===0"></td>
     <td ng-show="line.level===1 && !line.data.isExcludeMainItem">
        {{line.data.quantity}}&nbsp;{{line.data.measurementUnit.label}}
      </td>
    </tr>
    </tbody>
  </table>

  <p></p>

  <div class="row">
    <div class="column">
      <table border="1" ng-hide="wo.splitSeparates[0].items.length===0">
        <tbody>
        <tr>
          <td>
            <span style="font-weight: bold">{{wo.splitSeparates[0].category.label}}</span>
          </td>
          <td></td>
        </tr>
        <tr ng-repeat="item in wo.splitSeparates[0].items track by item.index">
          <td>{{item.productName}}
            <div ng-show="item.isDescChanged">
              <label>התאמה אישית:</label>
              {{item.productDescription}}
            </div>
          </td>
          <td>{{item.quantity}} {{item.measurementUnitLabel}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <table border="1" ng-hide="wo.splitSeparates[1].items.length===0">
        <tbody>
        <tr>
          <td>
            <span style="font-weight: bold">{{wo.splitSeparates[1].category.label}}</span>
          </td>
          <td></td>
        </tr>
        <tr ng-repeat="item in wo.splitSeparates[1].items track by item.index">
          <td>{{item.productName}}
            <div ng-show="item.isDescChanged">
              <label>התאמה אישית:</label>
              {{item.productDescription}}
            </div>
          </td>
          <td>{{item.quantity}} {{item.measurementUnitLabel}}</td>
        </tr>
        </tbody>
      </table>
      <p></p>
      <table border="1" ng-hide="wo.splitSeparates[2].items.length===0">
        <tbody>
        <tr>
          <td>
            <span style="font-weight: bold">{{wo.splitSeparates[2].category.label}}</span>
          </td>
          <td></td>
        </tr>
        <tr ng-repeat="item in wo.splitSeparates[2].items track by item.index">
          <td>{{item.productName}}
            <div ng-show="item.isDescChanged">
              <label>התאמה אישית:</label>
              {{item.productDescription}}
            </div>
          </td>
          <td>{{item.quantity}} {{item.measurementUnitLabel}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <p style="page-break-after: always;">&nbsp;</p>
    <p style="page-break-before: always;">&nbsp;</p>
  </div>


  <div ng-repeat="separate in wo.separates track by separate.id">
  <div ng-show="separate.items.length > 0">
  <h3>
    {{wo.customer.firstName+' '+wo.customer.lastName}}
    {{wo.order.eventDate | date: 'EEE dd/MM/yy'}}
    -
    {{separate.category.label}}
    &nbsp;
    <img ng-show="serviceListModel.isOrderColors" src="app/img/bigColors/{{wo.color.stickerColor}}.jpg"/>
    <span ng-show="serviceListModel.isOrderNumbers">[{{wo.color.tId}}]</span>
  </h3>
  <table border="1" style="width:60%">
    <thead>
    <th style="width:70%">פריט</th>
    <th style="width:15%">כמות</th>
    </thead>
    <tbody>
    <tr ng-repeat="item in separate.items track by item.index">
      <td>{{item.productName}}
        <div ng-show="item.isDescChanged">
          <label>התאמה אישית:</label>
          {{item.productDescription}}
        </div>
      </td>
      <td>{{item.quantity}} {{item.measurementUnitLabel}}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
    <div ng-hide="$index === serviceListModel.workOrder.length-1">
        <p style="page-break-after: always;">&nbsp;</p>
        <p style="page-break-before: always;">&nbsp;</p>
    </div>
</div> <!-- End of exitListContainer  -->
</div>