<h3>סטטיסטיקות של אירועים</h3>
<div>
  <table>
    <tbody>
    <tr>
      <td>
        <label>אוכסוליה:</label>
      </td>
      <td>
        <label>תאריך יצירה</label>
        <input type="radio" ng-model="statisticsModel.filterField" value="createdAt">
      </td>
      <td>
        <label>תאריך אירוע</label>
        <input type="radio" ng-model="statisticsModel.filterField" value="eventDate">
      </td>
      <td>
        <label>מתאריך</label>
        <input type="date" ng-model="statisticsModel.fromDate">
      </td>
      <td>
        <label>עד תאריך</label>
        <input type="date" ng-model="statisticsModel.toDate">
      </td>
      <td>
        <button class="btn btn-default" ng-click="statisticsModel.loadOrders()">טען</button>
      </td>
    </tr>
    <tr>
      <td><label>סינון:</label></td>
      <td>
        <label>מסכום</label>
        <input type="text" size="7" money
               ng-model="statisticsModel.fromTotal"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>עד סכום</label>
        <input type="text" size="7" money
               ng-model="statisticsModel.toTotal"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>ממשתתפים</label>
        <input type="number" size="1" min="0" max="10000"
               ng-model="statisticsModel.fromParticipants"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>עד משתתפים</label>
        <input type="number" size="1"  min="0" max="10000"
               ng-model="statisticsModel.toParticipants"
               ng-change="statisticsModel.filterOrders()">
      </td>
    </tr>
     </tbody>
  </table>
  <br/>
  <table style="width: 80%">
    <thead>
    <th><label>חודש</label></th>
    <th><label>מס' פוט'</label></th>
    <th><label>סכום פוט'</label></th>
    <th><label>ממוצע לאירוע</label></th>
    <th><label>מס' בפועל</label></th>
    <th><label>% בפועל</label></th>
    <th><label>סכום בפועל</label></th>
    <th><label>ממוצע לאירוע</label></th>
    <th><label>מס' משתתפים</label></th>
    <th><label>מחיר לאורח</label></th>
    </thead>
    <tbody>
    <tr ng-repeat="month in statisticsModel.monthStats track by month.month">
      <td>{{month.month | date: 'MM.yy'}}</td>
      <td>{{month.potCount}}</td>
      <td>{{month.potTotal | currency}}</td>
      <td>{{month.potTotal / month.potCount | currency}}</td>
      <td>{{month.actCount}}</td>
      <td>{{(month.actCount / month.potCount) * 100 | number:1}}</td>
      <td>{{month.actTotal | currency}}</td>
      <td>{{month.actTotal / month.actCount | currency}}</td>
      <td>{{month.actParticipants / month.actCount | number:1}}</td>
      <td>{{month.actTotal / month.actParticipants | currency}}</td>
    </tr>
    <tr><td></td></tr>
    <tr>
      <td><label>ס"ה</label></td>
      <td>{{statisticsModel.tot.potCount}}</td>
      <td>{{statisticsModel.tot.potTotal | currency}}</td>
      <td></td>
      <td>{{statisticsModel.tot.actCount}}</td>
      <td>{{(statisticsModel.tot.actCount / statisticsModel.tot.potCount) * 100 | number:1}}</td>
      <td>{{statisticsModel.tot.actTotal | currency}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><label>ממוצע</label></td>
      <td>{{statisticsModel.avg.potCount | number:2}}</td>
      <td>{{statisticsModel.avg.potTotal | currency}}</td>
      <td>{{statisticsModel.avg.potTotal / statisticsModel.avg.potCount | currency}}</td>
      <td>{{statisticsModel.avg.actCount | number:2}}</td>
      <td>{{(statisticsModel.avg.actCount / statisticsModel.avg.potCount) * 100 | number:1}}</td>
      <td>{{statisticsModel.avg.actTotal | currency}}</td>
      <td>{{statisticsModel.avg.actTotal / statisticsModel.avg.actCount | currency}}</td>
      <td>{{statisticsModel.avg.actParticipants / statisticsModel.avg.actCount | number:1}}</td>
      <td>{{statisticsModel.tot.actTotal / statisticsModel.tot.actParticipants | currency}}</td>
    </tr>
    </tbody>
  </table>
</div>
