<h3>סטטיסטיקות של אירועים</h3>
<div>
  <table>
    <tbody>
    <tr>
      <td>
        <label>אוכסוליה:</label>
      </td>
      <td>
        <label>תאריך יצירה</label>
        <input type="radio" ng-model="statisticsModel.filterBy" value="createdAt">
      </td>
      <td>
        <label>תאריך סגירה</label>
        <input type="radio" ng-model="statisticsModel.filterBy" value="closingDate">
      </td>
      <td>
        <label>תאריך אירוע</label>
        <input type="radio" ng-model="statisticsModel.filterBy" value="eventDate">
      </td>
      <td>
        <label>מתאריך</label>
        <input type="date" ng-model="statisticsModel.fromDate">
      </td>
      <td>
        <label>עד תאריך</label>
        <input type="date" ng-model="statisticsModel.toDate">
      </td>
      <td>
        <button class="btn btn-default" ng-click="statisticsModel.loadOrders()">טען</button>
      </td>
      <td>
        <label>ליצוא</label>
        <input type="checkbox" ng-model="statisticsModel.isForExport">
      </td>
    </tr>
    <tr>
      <td><label>סינון:</label></td>
      <td>
        <label>מסכום</label>
        <input type="text" size="7" money
               ng-model="statisticsModel.fromTotal"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>עד סכום</label>
        <input type="text" size="7" money
               ng-model="statisticsModel.toTotal"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>ממשתתפים</label>
        <input type="number" size="1" min="0" max="10000"
               ng-model="statisticsModel.fromParticipants"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>עד משתתפים</label>
        <input type="number" size="1"  min="0" max="10000"
               ng-model="statisticsModel.toParticipants"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td><label>אירועים:</label></td>
      <td>
        <label>כולם</label>
        <input type="radio"
               ng-model="statisticsModel.filterByWeight" value="all"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>קלים</label>
        <input type="radio"
               ng-model="statisticsModel.filterByWeight" value="light"
               ng-change="statisticsModel.filterOrders()">
      </td>
      <td>
        <label>כבדים</label>
        <input type="radio"
               ng-model="statisticsModel.filterByWeight" value="heavy"
               ng-change="statisticsModel.filterOrders()">
      </td>
     </tr>
     </tbody>
  </table>
  <tabset>
    <tab heading="חודש" deselect="statisticsModel.deselectTab(statisticsModel.monthStats)">
      <div ng-hide="statisticsModel.isForExport">
        <table class="table table-hover" style="width: 80%">
          <thead ng-show="statisticsModel.monthStats.length">
          <th><label>חודש</label></th>
          <th><label>פניות</label></th>
          <th><label>הצעות</label></th>
          <th><label>סכום הצעות</label></th>
          <th><label>סגירות</label></th>
          <th><label>% מפניות</label></th>
          <th><label>% מהצעות</label></th>
          <th><label>סכום</label></th>
          <th><label>ממוצע לאירוע</label></th>
          <th><label>מס' משתתפים</label></th>
          <th><label>מחיר לאורח</label></th>
          </thead>
          <tbody>
          <tr ng-repeat="line in statisticsModel.monthStats track by line.label"
              ng-class="line.isBold?'bg-warning':null">
            <td style="cursor: pointer"
                ng-click="statisticsModel.setupLineOrders(statisticsModel.monthStats,line)">{{line.label | date: 'MM.yy'}}</td>
            <td>{{line.leads}}</td>
            <td>{{line.bids}}</td>
            <td>{{line.bidsTotal | currency}}</td>
            <td>{{line.closed}}</td>
            <td>{{(line.closed / line.leads) * 100 | number:1}}</td>
            <td>{{(line.closed / line.bids) * 100 | number:1}}</td>
            <td>{{line.closedTotal | currency}}</td>
            <td>{{line.closedTotal / line.closed | currency}}</td>
            <td>{{line.closedParticipants / line.closed | number:1}}</td>
            <td>{{line.closedTotal / line.closedParticipants | currency}}</td>
          </tr>
          <tr><td></td></tr>
          <tr ng-show="statisticsModel.monthStats.length">
            <td><label>ס"ה</label></td>
            <td>{{statisticsModel.monthTot.leads}}</td>
            <td>{{statisticsModel.monthTot.bids}}</td>
            <td>{{statisticsModel.monthTot.bidsTotal | currency}}</td>
            <td>{{statisticsModel.monthTot.closed}}</td>
            <td></td>
            <td></td>
            <td>{{statisticsModel.monthTot.closedTotal | currency}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-show="statisticsModel.monthStats.length">
            <td><label>ממוצע</label></td>
            <td>{{statisticsModel.monthAvg.leads | number:2}}</td>
            <td>{{statisticsModel.monthAvg.bids | number:2}}</td>
            <td>{{statisticsModel.monthAvg.bidsTotal | currency}}</td>
            <td>{{statisticsModel.monthAvg.closed | number:2}}</td>
            <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.leads) * 100 | number:1}}</td>
            <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.bids) * 100 | number:1}}</td>
            <td>{{statisticsModel.monthAvg.closedTotal | currency}}</td>
            <td>{{statisticsModel.monthAvg.closedTotal / statisticsModel.monthAvg.closed | currency}}</td>
            <td>{{statisticsModel.monthAvg.closedParticipants / statisticsModel.monthAvg.closed | number:1}}</td>
            <td>{{statisticsModel.monthTot.closedTotal / statisticsModel.monthTot.closedParticipants | currency}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="statisticsModel.isForExport">
        <p></p>
        <div ng-repeat="line in statisticsModel.monthStats track by line.label">
          <span>{{line.label | date: 'MM/yy'}}</span>
          <span>,</span>
          <span>{{line.leads }}</span>
          <span>,</span>
          <span>{{line.bids }}</span>
          <span>,</span>
          <span>{{line.bidsTotal }}</span>
          <span>,</span>
          <span>{{line.closed }}</span>
          <span>,</span>
          <span>{{line.closedTotal }}</span>
        </div>
      </div>
    </tab>
    <tab heading="משתתפים" deselect="statisticsModel.deselectTab(statisticsModel.participantStats)">
    <table class="table table-hover" style="width: 80%">
        <thead ng-show="statisticsModel.participantStats.length">
        <th><label>משתתפים</label></th>
        <th><label>פניות</label></th>
        <th><label>הצעות</label></th>
        <th><label>סכום הצעות</label></th>
        <th><label>סגירות</label></th>
        <th><label>% מפניות</label></th>
        <th><label>% מהצעות</label></th>
        <th><label>סכום</label></th>
        <th><label>ממוצע לאירוע</label></th>
        <th><label>מס' משתתפים</label></th>
        <th><label>מחיר לאורח</label></th>
        </thead>
        <tbody>
        <tr ng-repeat="line in statisticsModel.participantStats track by line.label"
            ng-class="line.isBold?'bg-warning':null">
          <td style="cursor: pointer"
              ng-click="statisticsModel.setupLineOrders(statisticsModel.participantStats,line)">{{line.label}}</td>
          <td>{{line.leads}}</td>
          <td>{{line.bids}}</td>
          <td>{{line.bidsTotal | currency}}</td>
          <td>{{line.closed}}</td>
          <td>{{(line.closed / line.leads) * 100 | number:1}}</td>
          <td>{{(line.closed / line.bids) * 100 | number:1}}</td>
          <td>{{line.closedTotal | currency}}</td>
          <td>{{line.closedTotal / line.closed | currency}}</td>
          <td>{{line.closedParticipants / line.closed | number:1}}</td>
          <td>{{line.closedTotal / line.closedParticipants | currency}}</td>
        </tr>
        <tr><td></td></tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ס"ה</label></td>
          <td>{{statisticsModel.monthTot.leads}}</td>
          <td>{{statisticsModel.monthTot.bids}}</td>
          <td>{{statisticsModel.monthTot.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthTot.closed}}</td>
          <td></td>
          <td></td>
          <td>{{statisticsModel.monthTot.closedTotal | currency}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ממוצע</label></td>
          <td>{{statisticsModel.monthAvg.leads | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bids | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closed | number:2}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.leads) * 100 | number:1}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.bids) * 100 | number:1}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal / statisticsModel.monthAvg.closed | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedParticipants / statisticsModel.monthAvg.closed | number:1}}</td>
          <td>{{statisticsModel.monthTot.closedTotal / statisticsModel.monthTot.closedParticipants | currency}}</td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="סכום" deselect="statisticsModel.deselectTab(statisticsModel.totalStats)">
      <table class="table table-hover" style="width: 80%">
        <thead ng-show="statisticsModel.totalStats.length">
        <th><label>סכום</label></th>
        <th><label>פניות</label></th>
        <th><label>הצעות</label></th>
        <th><label>סכום הצעות</label></th>
        <th><label>סגירות</label></th>
        <th><label>% מפניות</label></th>
        <th><label>% מהצעות</label></th>
        <th><label>סכום</label></th>
        <th><label>ממוצע לאירוע</label></th>
        <th><label>מס' משתתפים</label></th>
        <th><label>מחיר לאורח</label></th>
        </thead>
        <tbody>
        <tr ng-repeat="line in statisticsModel.totalStats track by line.label"
            ng-class="line.isBold?'bg-warning':null">
          <td style="cursor: pointer"
              ng-click="statisticsModel.setupLineOrders(statisticsModel.totalStats,line)">{{line.label}}</td>
          <td>{{line.leads}}</td>
          <td>{{line.bids}}</td>
          <td>{{line.bidsTotal | currency}}</td>
          <td>{{line.closed}}</td>
          <td>{{(line.closed / line.leads) * 100 | number:1}}</td>
          <td>{{(line.closed / line.bids) * 100 | number:1}}</td>
          <td>{{line.closedTotal | currency}}</td>
          <td>{{line.closedTotal / line.closed | currency}}</td>
          <td>{{line.closedParticipants / line.closed | number:1}}</td>
          <td>{{line.closedTotal / line.closedParticipants | currency}}</td>
        </tr>
        <tr><td></td></tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ס"ה</label></td>
          <td>{{statisticsModel.monthTot.leads}}</td>
          <td>{{statisticsModel.monthTot.bids}}</td>
          <td>{{statisticsModel.monthTot.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthTot.closed}}</td>
          <td></td>
          <td></td>
          <td>{{statisticsModel.monthTot.closedTotal | currency}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ממוצע</label></td>
          <td>{{statisticsModel.monthAvg.leads | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bids | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closed | number:2}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.leads) * 100 | number:1}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.bids) * 100 | number:1}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal / statisticsModel.monthAvg.closed | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedParticipants / statisticsModel.monthAvg.closed | number:1}}</td>
          <td>{{statisticsModel.monthTot.closedTotal / statisticsModel.monthTot.closedParticipants | currency}}</td>
        </tr>
        </tbody>
      </table>
    </tab>
    </tab>
    <tab heading="מחיר לאורח" deselect="statisticsModel.deselectTab(statisticsModel.totalPerParticipantStats)">
      <table class="table table-hover" style="width: 80%">
        <thead ng-show="statisticsModel.totalPerParticipantStats.length">
        <th><label>סכום</label></th>
        <th><label>פניות</label></th>
        <th><label>הצעות</label></th>
        <th><label>סכום הצעות</label></th>
        <th><label>סגירות</label></th>
        <th><label>% מפניות</label></th>
        <th><label>% מהצעות</label></th>
        <th><label>סכום</label></th>
        <th><label>ממוצע לאירוע</label></th>
        <th><label>מס' משתתפים</label></th>
        <th><label>מחיר לאורח</label></th>
        </thead>
        <tbody>
        <tr ng-repeat="line in statisticsModel.totalPerParticipantStats track by line.label"
            ng-class="line.isBold?'bg-warning':null">
          <td style="cursor: pointer"
              ng-click="statisticsModel.setupLineOrders(statisticsModel.totalPerParticipantStats,line)">{{line.label}}</td>
          <td>{{line.leads}}</td>
          <td>{{line.bids}}</td>
          <td>{{line.bidsTotal | currency}}</td>
          <td>{{line.closed}}</td>
          <td>{{(line.closed / line.leads) * 100 | number:1}}</td>
          <td>{{(line.closed / line.bids) * 100 | number:1}}</td>
          <td>{{line.closedTotal | currency}}</td>
          <td>{{line.closedTotal / line.closed | currency}}</td>
          <td>{{line.closedParticipants / line.closed | number:1}}</td>
          <td>{{line.closedTotal / line.closedParticipants | currency}}</td>
        </tr>
        <tr><td></td></tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ס"ה</label></td>
          <td>{{statisticsModel.monthTot.leads}}</td>
          <td>{{statisticsModel.monthTot.bids}}</td>
          <td>{{statisticsModel.monthTot.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthTot.closed}}</td>
          <td></td>
          <td></td>
          <td>{{statisticsModel.monthTot.closedTotal | currency}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ממוצע</label></td>
          <td>{{statisticsModel.monthAvg.leads | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bids | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closed | number:2}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.leads) * 100 | number:1}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.bids) * 100 | number:1}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal / statisticsModel.monthAvg.closed | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedParticipants / statisticsModel.monthAvg.closed | number:1}}</td>
          <td>{{statisticsModel.monthTot.closedTotal / statisticsModel.monthTot.closedParticipants | currency}}</td>
        </tr>
        </tbody>
      </table>
    </tab>
    </tab>
    <tab heading="סוג תפריט" deselect="statisticsModel.deselectTab(statisticsModel.menuTypeStats)">
      <table class="table table-hover" style="width: 80%">
        <thead ng-show="statisticsModel.menuTypeStats.length">
        <th><label>הפניה</label></th>
        <th><label>פניות</label></th>
        <th><label>הצעות</label></th>
        <th><label>סכום הצעות</label></th>
        <th><label>סגירות</label></th>
        <th><label>% מפניות</label></th>
        <th><label>% מהצעות</label></th>
        <th><label>סכום</label></th>
        <th><label>ממוצע לאירוע</label></th>
        <th><label>מס' משתתפים</label></th>
        <th><label>מחיר לאורח</label></th>
        </thead>
        <tbody>
        <tr ng-repeat="line in statisticsModel.menuTypeStats track by line.label"
            ng-class="line.isBold?'bg-warning':null">
          <td style="cursor: pointer"
              ng-click="statisticsModel.setupLineOrders(statisticsModel.menuTypeStats,line)">{{line.label}}</td>
          <td>{{line.leads}}</td>
          <td>{{line.bids}}</td>
          <td>{{line.bidsTotal | currency}}</td>
          <td>{{line.closed}}</td>
          <td>{{(line.closed / line.leads) * 100 | number:1}}</td>
          <td>{{(line.closed / line.bids) * 100 | number:1}}</td>
          <td>{{line.closedTotal | currency}}</td>
          <td>{{line.closedTotal / line.closed | currency}}</td>
          <td>{{line.closedParticipants / line.closed | number:1}}</td>
          <td>{{line.closedTotal / line.closedParticipants | currency}}</td>
        </tr>
        <tr><td></td></tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ס"ה</label></td>
          <td>{{statisticsModel.monthTot.leads}}</td>
          <td>{{statisticsModel.monthTot.bids}}</td>
          <td>{{statisticsModel.monthTot.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthTot.closed}}</td>
          <td></td>
          <td></td>
          <td>{{statisticsModel.monthTot.closedTotal | currency}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ממוצע</label></td>
          <td>{{statisticsModel.monthAvg.leads | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bids | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closed | number:2}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.leads) * 100 | number:1}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.bids) * 100 | number:1}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal / statisticsModel.monthAvg.closed | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedParticipants / statisticsModel.monthAvg.closed | number:1}}</td>
          <td>{{statisticsModel.monthTot.closedTotal / statisticsModel.monthTot.closedParticipants | currency}}</td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="הפניה" deselect="statisticsModel.deselectTab(statisticsModel.referralSourceStats)">
      <table class="table table-hover" style="width: 80%">
        <thead ng-show="statisticsModel.referralSourceStats.length">
        <th><label>הפניה</label></th>
        <th><label>פניות</label></th>
        <th><label>הצעות</label></th>
        <th><label>סכום הצעות</label></th>
        <th><label>סגירות</label></th>
        <th><label>% מפניות</label></th>
        <th><label>% מהצעות</label></th>
        <th><label>סכום</label></th>
        <th><label>ממוצע לאירוע</label></th>
        <th><label>מס' משתתפים</label></th>
        <th><label>מחיר לאורח</label></th>
        </thead>
        <tbody>
        <tr ng-repeat="line in statisticsModel.referralSourceStats track by line.label"
            ng-class="line.isBold?'bg-warning':null">
          <td style="cursor: pointer"
              ng-click="statisticsModel.setupLineOrders(statisticsModel.referralSourceStats,line)">{{line.label}}</td>
          <td>{{line.leads}}</td>
          <td>{{line.bids}}</td>
          <td>{{line.bidsTotal | currency}}</td>
          <td>{{line.closed}}</td>
          <td>{{(line.closed / line.leads) * 100 | number:1}}</td>
          <td>{{(line.closed / line.bids) * 100 | number:1}}</td>
          <td>{{line.closedTotal | currency}}</td>
          <td>{{line.closedTotal / line.closed | currency}}</td>
          <td>{{line.closedParticipants / line.closed | number:1}}</td>
          <td>{{line.closedTotal / line.closedParticipants | currency}}</td>
        </tr>
        <tr><td></td></tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ס"ה</label></td>
          <td>{{statisticsModel.monthTot.leads}}</td>
          <td>{{statisticsModel.monthTot.bids}}</td>
          <td>{{statisticsModel.monthTot.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthTot.closed}}</td>
          <td></td>
          <td></td>
          <td>{{statisticsModel.monthTot.closedTotal | currency}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ממוצע</label></td>
          <td>{{statisticsModel.monthAvg.leads | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bids | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closed | number:2}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.leads) * 100 | number:1}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.bids) * 100 | number:1}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal / statisticsModel.monthAvg.closed | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedParticipants / statisticsModel.monthAvg.closed | number:1}}</td>
          <td>{{statisticsModel.monthTot.closedTotal / statisticsModel.monthTot.closedParticipants | currency}}</td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="ביטול" deselect="statisticsModel.deselectTab(statisticsModel.cancelReasonStats)">
      <table class="table table-hover" style="width: 80%">
        <thead ng-show="statisticsModel.cancelReasonStats.length">
        <th><label>ביטול</label></th>
        <th><label>פניות</label></th>
        <th><label>הצעות</label></th>
        <th><label>סכום הצעות</label></th>
        <th><label>סגירות</label></th>
        <th><label>% מפניות</label></th>
        <th><label>% מהצעות</label></th>
        <th><label>סכום</label></th>
        <th><label>ממוצע לאירוע</label></th>
        <th><label>מס' משתתפים</label></th>
        <th><label>מחיר לאורח</label></th>
        </thead>
        <tbody>
        <tr ng-repeat="line in statisticsModel.cancelReasonStats track by line.label"
            ng-class="line.isBold?'bg-warning':null">
          <td style="cursor: pointer"
              ng-click="statisticsModel.setupLineOrders(statisticsModel.cancelReasonStats,line)">{{line.label}}</td>
          <td>{{line.leads}}</td>
          <td>{{line.bids}}</td>
          <td>{{line.bidsTotal | currency}}</td>
          <td>{{line.closed}}</td>
          <td>{{(line.closed / line.leads) * 100 | number:1}}</td>
          <td>{{(line.closed / line.bids) * 100 | number:1}}</td>
          <td>{{line.closedTotal | currency}}</td>
          <td>{{line.closedTotal / line.closed | currency}}</td>
          <td>{{line.closedParticipants / line.closed | number:1}}</td>
          <td>{{line.closedTotal / line.closedParticipants | currency}}</td>
        </tr>
        <tr><td></td></tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ס"ה</label></td>
          <td>{{statisticsModel.monthTot.leads}}</td>
          <td>{{statisticsModel.monthTot.bids}}</td>
          <td>{{statisticsModel.monthTot.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthTot.closed}}</td>
          <td></td>
          <td></td>
          <td>{{statisticsModel.monthTot.closedTotal | currency}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="statisticsModel.monthStats.length">
          <td><label>ממוצע</label></td>
          <td>{{statisticsModel.monthAvg.leads | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bids | number:2}}</td>
          <td>{{statisticsModel.monthAvg.bidsTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closed | number:2}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.leads) * 100 | number:1}}</td>
          <td>{{(statisticsModel.monthAvg.closed / statisticsModel.monthAvg.bids) * 100 | number:1}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedTotal / statisticsModel.monthAvg.closed | currency}}</td>
          <td>{{statisticsModel.monthAvg.closedParticipants / statisticsModel.monthAvg.closed | number:1}}</td>
          <td>{{statisticsModel.monthTot.closedTotal / statisticsModel.monthTot.closedParticipants | currency}}</td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="בונוסים" select="statisticsModel.loadEmpBonuses()">
      <table class="table table-hover">
        <thead ng-show="statisticsModel.empBonuses.length">
        <th style="width:10%">חודש</th>
        <th style="width:90%">עובדים</th>
        </thead>
        <tbody>
        <tr ng-repeat="line in statisticsModel.empBonuses track by line.calcMonth">
          <td>{{line.month | date:'MM.yy'}}</td>
          <td>
            <table>
              <tr ng-repeat="employee in line.employees track by employee.tId">
                <td>{{employee.name}}</td>
                <td>
                  <span>(</span>
                  <span>{{employee.totBonuses}}</span>
                  <span>)</span>
                </td>
                <td ng-repeat="role in employee.roles">
                  <span>{{role.label}}</span>
                  <span>:</span>
                  <span>{{role.bonuses}}</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="קטגוריות" select="statisticsModel.loadOrderCategories()">
      <div ng-hide="statisticsModel.catProcessing">
      <table class="table" border="1">
        <thead>
        <th><label>חודש</label></th>
        <th ng-repeat="category in statisticsModel.categories | filter: {isActive: true}"><label>
          {{category.label}}
        </label></th>
        </thead>
        <tbody>
        <tr ng-repeat="month in statisticsModel.categoryOrdersByMonth | filter: {isActive: true}">
          <td>{{month.label | date: 'MM.yy'}}</td>
          <td ng-repeat="category in month.categories | filter: {isActive: true}">
            {{category.total | currency}}
          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </tab>
    <tab heading="עמידה ביעד" select="statisticsModel.computeYtdIncrease()">
      <div>סכום הסגירות מתחילת השנה עד היום בהשווואה לתקופה המקבילה אשתקד</div>
      <table>
        <tr>
          <td>
            <label>סגירות אשתקד:</label>
            <span>{{statisticsModel.lastYearCloses | currency}}</span>
          </td>
          <td>
            <label>סגירות השנה:</label>
            <span>{{statisticsModel.thisYearCloses | currency}}</span>
          </td>
          <td>
            <label>שינוי באחוזים:</label>
            <span>{{(statisticsModel.thisYearCloses - statisticsModel.lastYearCloses) / statisticsModel.lastYearCloses * 100 | number:1}}%</span>
          </td>
        </tr>
      </table>
    </tab>
  </tabset>
  <div ng-hide="statisticsModel.isHideOrders">
    <h4>פירוט אירועים:</h4>
  <ng-include src="'app/partials/order/orderTable.html'"></ng-include>
  </div>
</div>
