<div ng-repeat="page in stickersModel.stickerPage"
     style="margin-right: 1cm;  margin-bottom: 0.5cm"> <!-- was margin-top 0.7 cm -->
  <table>
    <thead>
    <th style="height:0.7cm">{{page.seq}}</th>
    </thead>
  <tr ng-repeat="line in page.lines" style="height:2.55cm">
    <td ng-repeat="sticker in line.stickers track by sticker.seq" style="width:7cm">
      <div>
      <label>{{sticker.label}}</label>
      </div>
      <div>
        <span>{{sticker.customer.firstName}}</span>
        <span>{{stickersModel.dayName(sticker.eventDate)}}</span>
        <img src="app/img/bigColors/{{sticker.color.stickerColor}}.jpg"/>
      </div>
    </td>
  </tr>
  </table>
</div>
