<h2>
  <span>רשימת הכנות לתאריך </span>
  <input type="date" ng-model="todaysPrepModel.dailyDate">
</h2>
<table class="table table-hover" border="1" style="width: 80%">
<thead>
  <th style="width: 3%"></th>
  <th style="width: 13%">שם הכנה</th>
  <th style="width: 7%">כמות כללית</th>
  <th style="width: 7%">כמות להיום</th>
  <th style="width: 70%">מנות וכמויות לפי אירועים</th>
</thead>
  <tbody>
  <tr ng-repeat="prep in todaysPrepModel.todaysPreps track by prep.id">
    <td></td>
    <td>{{prep.productName}}</td>
    <td>{{(prep.quantity | number:2) + ' ' + prep.measurementUnit.label}}</td>
    <td>{{(prep.quantityForToday | number:2) + ' ' + prep.measurementUnit.label}}</td>
    <td>
      <table class="table table-hover" border="3" style="width: 100%">
        <thead>
          <th style="width: 35%">מנה</th>
          <th style="width: 10%">כמות</th>
          <th style="width: 10%" ng-repeat="ord in todaysPrepModel.allOrders track by ord.id">
            {{ord.customer.firstName+' '+todaysPrepModel.dayName(ord.order.eventDate)}}
          </th>
        </thead>
        <tr ng-repeat="menuItem in prep.menuItems track by menuItem.id">
          <td>{{menuItem.productName}}</td>
          <td>{{menuItem.quantity | number:2}}</td>
          <td ng-repeat="order in menuItem.orders track by order.seq">
            <span ng-show="order.quantity">{{order.quantity | number:2}}</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
