<table style="width: 70%">
  <tr>
    <td style="width: 30%;font-size: x-large">
  פקודת עבודה
<span>{{workOrderModel.woIndex.properties.label}}</span>
      </td>
    <td style="width: 30%">
<button ng-click="workOrderModel.createNewWorkOrder()"
        ng-disabled="workOrderModel.isProcessing"
        class="btn btn-default">
<span>צור פקודה</span>
  <span>{{workOrderModel.woIndex.properties.label}}</span>
  <span>חדשה</span>
</button>
      </td>
    <td style="width: 40%">
  <span>החלף סוג פקודה:</span>
  <select ng-model="workOrderModel.woIndex" ng-change="workOrderModel.switchWorkOrders()"
          ng-disabled="workOrderModel.isProcessing"
          ng-options="woIndex.properties.label for woIndex in workOrderModel.woIndexes"></select>
    </td>
  </tr>
</table>
<h4 ng-show="workOrderModel.isProcessing">
  המתן...
</h4>
<div style="font-size: large"
  ng-show="workOrderModel.woIndex.properties.isQuery &&
            workOrderModel.woIndex.properties.domainStatus[0] &&
            !workOrderModel.isProcessing">
  <span>כל האירועים שהתקיימו בפועל מתאריך</span>
  <span>{{workOrderModel.fromDate | date:'dd/MM/yy'}}</span>
  <span>עד תאריך</span>
  <span>{{workOrderModel.toDate | date:'dd/MM/yy'}}</span>
</div>
<tabset ng-hide="workOrderModel.isProcessing">
  <tab heading="{{workOrderModel.domains[3].forWorkItem}}"
       active="workOrderModel.isActiveTab[3]">
    <ng-include src="'app/partials/workOrder/shoppingList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[2].forWorkItem}}"
       active="workOrderModel.isActiveTab[2]">
    <ng-include src="'app/partials/workOrder/preparationList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[1].forWorkItem}}"
       active="workOrderModel.isActiveTab[1]">
    <ng-include src="'app/partials/workOrder/menuItemList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[0].forWorkItem}}"
       active="workOrderModel.isActiveTab[0]">
    <ng-include ng-show="workOrderModel.woIndex.properties.domainStatus[0]"
                src="'app/partials/workOrder/orderList.html'"></ng-include>
    <ng-include ng-show="!workOrderModel.woIndex.properties.domainStatus[0] && !workOrderModel.woIndex.properties.isQuery"
                src="'app/partials/workOrder/selectOrders.html'"></ng-include>
    <ng-include ng-show="!workOrderModel.woIndex.properties.domainStatus[0] && workOrderModel.woIndex.properties.isQuery"
                src="'app/partials/workOrder/queryOrders.html'"></ng-include>
  </tab>
  </tabset>
