<table style="width: 90%">
  <tr>
    <td style="width: 45%;font-size: x-large">
  פקודת עבודה
<span>{{workOrderModel.woIndex.properties.label}}</span>
      <span ng-show="workOrderModel.isWoChanged">
      <bold style="font-size: x-large">לא מעודכנת</bold>
    </span>
    </td>
     <td style="width: 20%">
<button ng-click="workOrderModel.createNewWorkOrder(false)"
        ng-disabled="workOrderModel.isProcessing"
        class="btn btn-default">
<span>צור פקודה</span>
  <span>{{workOrderModel.woIndex.properties.label}}</span>
  <span>חדשה</span>
</button>
      </td>
    <td style="width: 20%">
  <span>החלף סוג פקודה:</span>
  <select ng-model="workOrderModel.woIndex" ng-change="workOrderModel.switchWorkOrders()"
          ng-disabled="workOrderModel.isProcessing"
          ng-options="woIndex.properties.label for woIndex in workOrderModel.woIndexes"></select>
    </td>
    <td>
      <span>הצג שינויים:</span>
      <input type="checkbox" ng-model="workOrderModel.isShowChanges"
             ng-change="workOrderModel.setShowChanges()">
    </td>
  </tr>
</table>
<h4 ng-show="workOrderModel.isProcessing">
  המתן...
</h4>
<div style="font-size: large"
  ng-show="workOrderModel.woIndex.properties.isQuery &&
            workOrderModel.woIndex.properties.domainStatus[0] &&
            !workOrderModel.isProcessing">
  <span>כל האירועים שהתקיימו בפועל מתאריך</span>
  <span>{{workOrderModel.fromDate | date:'dd/MM/yy'}}</span>
  <span>עד תאריך</span>
  <span>{{workOrderModel.toDate | date:'dd/MM/yy'}}</span>
</div>
<!--
<div ng-show=" !workOrderModel.isProcessing && workOrderModel.isWoChanged">
  <ng-include src="'app/partials/workOrder/changedOrderList.html'"></ng-include>
</div>
-->
<tabset ng-hide="workOrderModel.isProcessing ">
  <tab heading="שינויים" active="workOrderModel.isActiveTab[5]">
    <ng-include src="'app/partials/workOrder/changedOrderList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[3].forWorkItem}}"
       active="workOrderModel.isActiveTab[3]"
       select="workOrderModel.setDomain(3)">
    <ng-include src="'app/partials/workOrder/domainList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[4].forWorkItem}}"
       active="workOrderModel.isActiveTab[4]"
       select="workOrderModel.setDomain(4)">
    <ng-include src="'app/partials/workOrder/domainList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[2].forWorkItem}}"
       active="workOrderModel.isActiveTab[2]"
       select="workOrderModel.setDomain(2)">
    <ng-include src="'app/partials/workOrder/preparationList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[1].forWorkItem}}"
       active="workOrderModel.isActiveTab[1]"
       select="workOrderModel.setDomain(1)">
    <ng-include src="'app/partials/workOrder/dishList.html'"></ng-include>
  </tab>
  <tab heading="{{workOrderModel.domains[0].forWorkItem}}"
       active="workOrderModel.isActiveTab[0]"
       select="workOrderModel.setDomain(0)">
    <ng-include ng-show="workOrderModel.woIndex.properties.domainStatus[0]"
                src="'app/partials/workOrder/orderList.html'"></ng-include>
    <ng-include ng-show="!workOrderModel.woIndex.properties.domainStatus[0] && !workOrderModel.woIndex.properties.isQuery"
                src="'app/partials/workOrder/selectOrders.html'"></ng-include>
    <ng-include ng-show="!workOrderModel.woIndex.properties.domainStatus[0] && workOrderModel.woIndex.properties.isQuery"
                src="'app/partials/workOrder/queryOrders.html'"></ng-include>
  </tab>
  </tabset>
