#menu_container
{
   width:29.7cm;
   height:21cm; 
}


#background_element, #background_img
{  
    position:absolute;  
    z-index: -7; 
    width:29.7cm;
    height:21cm; 
   
}


#menu_items
{
    
    width:14.1cm;
    float: right; 
    padding-right: 3cm;
}

#menu_items ul
{
    padding:0;
    
}

#menu_list
{
    position:absolute;
    width:29.7cm;
    height:21cm; 
    font-size:13pt;
    padding-top:6cm;
    padding-bottom:3cm;
    z-index:3;
}


#menu_container li 
{
    list-style-type:none;
    line-height: 100%;
    margin-bottom: -.5em;  
}

@media print {
    #Header, #Footer 
    { 
        display: none !important; 
    }
}




