
#background_element img
{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1; 
    height:19cm;
    width:29.7cm;
      
}

#menu_items
{
    padding-right:4cm;
    width:14.1cm;
    float: right; 
}

#menu_container
{
    height: 16cm;
    position: fixed;
    left: 0cm;
    top: 6cm;
}

#menu_container li 
{
    list-style-type:none;
    line-height: 100%;
    margin-bottom: -.5em;   
}

@media print
{   
    
   -webkit-print-color-adjust: exact;
   print-color-adjust: exact;
} 
}