@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&display=swap');

@page {
  size: 21cm 29.7cm;
  margin: 30mm 45mm 30mm 45mm;
  /* change the margins as you want them to be. */
}

body  {
  width: 1000px;
  margin-top: 42px;
  margin-left: auto !important;
  margin-right: auto !important;
}

#quote2 p  {
  font-size: 1.42em;
}

#terms_and_conditions p {
  font-size: 1.0em;
}

.table-1 {
}

#quote2 table  {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Assistant', sans-serif;
  color: #252323;
  font-size: 1.35em;
}

.table-1 table th, .tkt-slctr-tbl-wrap-dv table th {
  border: 1px solid #dcdcdc;
  background: #f6f6f6;
  padding: 20px;
}

.table-1 tr td, .tkt-slctr-tbl-wrap-dv tr td {
  border: 1px solid #dcdcdc;
  padding: 10px 20px;
}

.table-1 tr:nth-child(2n) {
  background: #f6f6f6;
}

tfoot {
  border: none;
  background: #ed2891;
  line-height: 2em;
}

.ttltxt {
  font-size: 1.22em;
  color: #fff;
  font-weight: 400;
}

.container {
  background-color: #FFFFFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-width: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  max-width: 1140px;
  direction: rtl;
}

.row {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: inline-block
}

.row.blockDisplay {
  display: block;
}

.column_half {
  width: 50%;
  float: right;
  margin-top: 0px;
}

.column_third {
  width: 33%;
  float: right;
  margin-top: 0px;
}

.column_two_thirds {
  width: 67%;
  float: right;
  margin-top: 0px;
}

section {
  margin-bottom: 15px;
}

.columns {
  width: 25%;
  float: right;
  font-family: 'Assistant', sans-serif;
  color: #252323;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.row .columns p {
  padding-left: 10%;
  padding-right: 10%;
}

.container .columns h4 {
  text-align: center;
  color: #252323;
}

.primary_header {
  width: 100%;
  background-color: #52bad5;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: left;
  border-bottom: 2px solid #2C9AB7;
}

.secondary_header {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #5C5656;
  clear: left;
}

.container .secondary_header ul {
  margin-top: 0%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  width: 100%;
}

.secondary_header ul li {
  list-style: none;
  float: left;
  margin-right: auto;
  margin-top: 0px;
  font-family: 'Assistant', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-left: auto;
  text-align: center;
  width: 16%;
  transition: all 0.3s linear;
}

.secondary_header ul li:hover {
  color: #717070;
  cursor: pointer;
}

.left_article {
  background-color: #FFFFFF;
  width: 65%;
  float: left;
  font-size: 1.2em;
  font-family: 'Assistant', sans-serif;
  color: #343434;
  padding-bottom: 15px;
}

.noDisplay {
  display: none;
}

.pinkborder {
  border-top: medium #ed2891 solid;
  border-bottom: medium #ed2891 solid;
  padding: 20px;
}

.list-chef {
  font-family: 'Assistant', sans-serif;
  color: #050505;
  font-size: 1.45em;
  line-height: 1.6em;
}

#quote2 h3  {
  margin: 8px auto;
}

.container .left_article h3 {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  color: #131313;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.2em;
}

#quote2 h2  {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Assistant', sans-serif;
  margin: 15px auto;
}

.title-row {
  margin-top: 35px;
  padding-right: 5%;
  width: 50%;
  float: right;
  clear: both;
  background-color: #ed2891;
}

.container .left_article p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.1em;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #5C5656;
}

.right_article {
  width: 35%;
  float: right;
  background-color: #ffffff;
  height: auto;
}

.container .right_article ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.right_article ul li {
  font-family: 'Assistant', sans-serif;
  list-style: none;
  text-align: center;
  background-color: #5C5656;
  width: 70%;
  margin-left: 5px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 0px;
  transition: all 0.3s linear;
  border-left: 5px solid #717070;
}

.right_article ul li:hover {
  background-color: #717070;
  cursor: pointer;
}

.footer {
  background-color: #717070;
}

.title {
  font-weight: bold;
  font-style: normal;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.placeholder {
  /* [disabled]max-width: 400px;
*/
  /* [disabled]max-height: 200px;
*/
  width: 100%;
  padding-top: 30px;
  /* [disabled]padding-left: 19px;
*/
  padding-bottom: 30px;
  height: 100%;
}

.left_half {
}

.container .column_half.left_half h2 {
  color: #212121;
  font-family: 'Assistant', sans-serif;
  text-align: center;
}

.right_half {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  font-weight: bold;
}

.column_title {
  font-family: 'Assistant', sans-serif;
  font-size: 25px;
  line-height: 2em;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.column_title_black {
  font-family: 'Assistant', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.copyright {
  text-align: center;
  background-color: #717070;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
  font-family: 'Assistant', sans-serif;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #252323;
}

@media (max-width: 320px) {
  .secondary_header ul li {
    float: none;
    margin-top: 28px;
    margin-left: 0px;
    width: 100%;
  }

  .container .secondary_header ul {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: auto;
    width: 100%;
    text-align: center;
  }

  .secondary_header {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 1px;
    padding-bottom: 40px;
  }

  /*

  .left_article {
    width: 100%;
    height: auto;
  }

  .right_article {
    width: 100%;
    height: auto;
  }

   */

  .placeholder {
    width: 100%;
    margin-top: 22PX;
    margin-right: 0px;
    margin-bottom: 22PX;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 400px;
    max-height: 200px;
    height: auto;
  }

  .columns {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0PX;
    padding-right: 0PX;
    padding-bottom: 0PX;
    padding-left: 0PX;
  }

  .columns p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .column_half.left_half {
    width: 100%;
  }

  .column_half.right_half {
    width: 100%;
  }

  .copyright {
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .container .left_article h3 {
    margin-top: 30px;
  }

  .social .social_icon img {
    width: 80%;
  }

  .container .secondary_header {
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .secondary_header ul li {
    float: none;
    margin-top: 28px;
    margin-left: 0px;
    width: 100%;
  }

  .container .secondary_header ul {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: auto;
    width: 100%;
    text-align: center;
  }

  .secondary_header {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 1px;
    padding-bottom: 40px;
  }

  /*
  .left_article {
    width: 100%;
    height: auto;
  }

  .right_article {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
  }

   */

  .placeholder {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .columns {
    width: 100%;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .columns p {
    padding-left: 14px;
    padding-right: 14px;
  }

  .column_half.left_half {
    width: 100%;
  }

  .column_half.right_half {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .secondary_header {
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .secondary_header ul li {
    margin-top: 10px;
    margin-right: 7%;
    margin-bottom: 10px;
    margin-left: 7%;
  }

  .left_article {
    height: auto;
  }

  .right_article {
    height: auto;
    padding-bottom: 27px;
  }

  .placeholder {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .columns {
    width: 50%;
    float: left;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .container .columns p {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 1001px) {
}

.thumbnail {
  width: 100px;
  border-radius: 200px;
  height: 100px;
  margin-left: auto;
}

.thumbnail_align {
  text-align: center;
}

.social {
  text-align: center;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  background-color: #414141;
  clear: both;
  overflow: auto;
}

.social_icon {
  width: 25%;
  text-align: center;
  float: left;
  transition: all 0.3s linear;
  line-height: 0px;
  padding-top: 7px;
}

.container .social .social_icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

#menu {
}

.logo {
  background-color: #5C5656;
  /*background-image: url("../img/logo-bg.jpg");*/
  padding: 12px;
}

.diploma {
  font-family: 'Assistant', sans-serif;
  clear: both;
  float: right;
  width: 760px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin: 50px 20px;
  border: thin solid #9D67A7;
}

