

#printed_menu_background
{
    position: fixed;
    top: 0;
    right: 0;
    z-index:-1;
    width:29.7cm;
    height:21cm;
}


#printed_menu_container
{
    width:29.7cm;
    height:21cm;
    margin: 0;
    padding:0;
}



#printed_menu_list #printed_menu_category
{

    width:100%;
    padding-right: 3cm;
    margin-bottom:1cm;
}

#printed_menu_leftColumn #printed_menu_category
{

    width:100%;
    padding-right: 2.2cm; 
    margin-bottom:1cm;
}

#printed_menu_category ul, #printed_menu_leftColumn ul
{
    padding: 0;

}

#printed_menu_header
{
    font-size:12pt;
}

#printed_menu_list
{

    width:50%;
    height:100%;
    font-size:11pt;
    padding-top:22%;
    padding-bottom:14.3%;
    float:right;
    overflow: scroll;
}

#printed_menu_leftColumn
{
	width:50%;
    height:100%;
    font-size:11pt;
    padding-top:22%;
    padding-bottom:14.3%;
    float:left;
	
}


#printed_menu_container li
{
    list-style-type:none;
    line-height: 90%; /* The gap between lines of same item description */
    margin-bottom:5pt;  /* The gap between items */
}



@media print
{
    *
    {
        -webkit-print-color-adjust:exact;
    }

    #Header, #Footer
    {
        display: none !important;
    }

	.hideInPrint
	{
		display:none;
	}




}

/*----------------- End of version 2  ------------------ */

