

#printed_menu_background
{
    position: fixed;
    top: 0;
    right: 0;
    z-index:-1;
    width:29.7cm;
    height:21cm;
}


#printed_menu_container
{
    width:29.7cm;
    height:21cm;
    margin: 0;
    padding:0;
}



#printed_menu_category
{

    width:100%;

    padding-right: 3cm;
    margin-bottom:1cm;
}

#printed_menu_category ul
{
    padding: 0;

}

#printed_menu_header
{
    font-size:12pt;
}

#printed_menu_list
{

    width:50%;
    height:100%;
    font-size:11pt;
    padding-top:22%;
    padding-bottom:14.3%;
    float:right;
}

#printed_menu_leftColumn
{
	width:50%;
    height:100%;
    font-size:11pt;
    padding-top:22%;
    padding-bottom:14.3%;
    float:left;
	
}


#printed_menu_container li
{
    list-style-type:none;
    line-height: 100%; /* The gap between lines of same item description */
    margin-bottom:-5pt;  /* The gap between items */
}

@page
{
    size: A4 landscape;
    margin: 0;
}

@media print
{
    *
    {
        -webkit-print-color-adjust:exact;
    }

    #Header, #Footer
    {
        display: none !important;
    }





}

/*----------------- End of version 2  ------------------ */

