/*The  "body" of the bid */
.quoteMainContainer {
	background-color: #3D3D3D;
}

/*The container of content - taking part of the width only */
.quoteMainContent {
	width: 900px;
	margin: 0 auto;
	font-size: 130%;
	background-color: #ffffff;
	line-height: 1.5em;
}

/*The purple line in the top of the qute*/
.topQuoteLine {
	height: 8px;
	width: 100%;
}
/**/
.quoteFoodCategoryName {
	font-size: 110%;
}

.greyWhiteAlternate:nth-child(odd) {
	background-color: #f4f4f4;
}


.quoteMainTitle {
	float: right;
	line-height: 100px;
}

.quoteMainContainer .quoteLogo {
    height:100px;
    float:left;
}

.quoteMainContainer .quoteTitleImg {
	height: 200px;
}
.quoteMainContainer .quoteLogo img, .quoteMainContainer .quoteTitleImg img
{
    height:100%;
    display: inline-block;
}

/* the top part with all the customer's details*/
.quoteDetails {
	background-color: #F4F4F4;
	overflow:auto;
}
.quotePhoneOnImg {
	position: absolute;
	left: 5%;
	padding: 1%;
	background-color: #ffffff;
}

.quoteMainContainer .floatRight {
	float: right;
	position: relative;
}

.quoteMainContainer .floatLeft {
	float: left;
	position: relative;
}

.quoteMainContainer .titleImg {
	width: 35%;
	float: left;

}
.quoteTextItemLine {
	clear: both;
}
.quoteItemDescription {
  /* Handle the  ............................. */
  overflow-x: hidden;
  white-space: nowrap;
  display: inline;
  text-align: left;
  text-overflow: ellipsis;
  position: relative;
  float: right;
  width: 85%;
}

/* The quantityt and units of items*/
.quoteQuantAndUnit {
	position: relative;
	text-align: left;
	float: left;
}


.whyShouldChefImg {
	display: inline-block;
	margin: 30px;
	vertical-align: top;

}

.purpleText {
	color: #9D2086;
}
.purpleBG {
	background-color: #9D2086 !important;
	color: #ffffff;
	float: left;
}

.quoteTextBox {
	padding: 0.2em 5%;
	width: 100%;
	clear: both;
}


.quoteMainContainer .whyShould {
	color: #ffffff;
	background-color: #393536;
}

.quoteMainContainer .whyShouldText {
	display: inline-block;
	width: 65%;
	clear: both;
}

.quoteMainContainer .whyShouldText li {
	list-style-type: square;
	list-style-position: inside;
}
.quoteMainContainer .whyShouldText ul {
	padding-right: 0;
}
