#quoteMainContainer {
	background-color: #3D3D3D;
}

#quoteMainContent {
	width: 80%;
	margin: 0 auto;
	font-size: 150%;
	background-color: #ffffff;
}
#quoteMainContainer li {
	list-style-type: none;
	line-height: 200%;
}
#quoteMainTitle {
	float: right;
	
}

#quoteDetails {
	background-color: #F4F4F4;
	overflow:auto;
}

#quoteMainContainer #logo {
    width:25%;
    float:left;
}
#quoteMainContainer #logo img, #quoteMainContainer #titleImg img
{
    width:100%;
}

#quoteMainContainer .floatRight {
	float: right;
	position: relative;
}

#quoteMainContainer #titleImg {
	width: 35%;
	float: left;
	
}
#chefImg {
	float: right;
	height: 100%;
	
}

.purpleText {
	color: #9D2086;
}
.purpleBG {
	background-color: #9D2086;
	color: #ffffff;
}

.quoteTextBox {
	padding: 20px 40px;
	clear: both;
}

#topQuoteLine {
	height: 5px;
}

#quoteMainContainer #whyShould {
	color: #ffffff;
	background-color: #393536;
	overflow: hidden;
	
}

#quoteMainContainer #whyShouldText {
	
	float: left:
	border: 1px solid yellow;
	padding: 0 5%;
	overflow: hidden;
}
