<div ng-show="bidModel.docNotAvailable">
  <h1>
    המסמך לא קיים
  </h1>
</div>
<div id="bid_container" ng-hide="bidModel.docNotAvailable"style="padding: 2% 20%; width: 100%; background-color: #ffffff; direction:rtl;">
    <header >
        
        <div id="contact" style="color:purple; font: 14pt Tahoma; float:right">
            <span>יובל רוזנן</span><br/>
            <span>054-7514061</span><br/>
            <span>yuval@pompidou.co.il</span><br/>
        </div>
                        
        <div id="logo" style="width:35%;float:left;">
            <img align="left" style="width:100%;" src="img/menu_logo.png"/>
        </div>
                   
    </header>
    
   
    
    <div id="bid_content" style="clear:both;padding:0;margin:0" >
    
        <span>{{bidModel.bid.attributes.date | date: 'dd/MM/yyyy'}}</span><br/>
        <label>מספרנו: </label><span>{{bidModel.bid.attributes.order.number}}</span><br/>
            <div>
              <span>לכ'</span><br/>
              <span>{{bidModel.customer.firstName+' '+bidModel.customer.lastName}}</span>
            </div>
            <h1 ng-show="bidModel.bid.attributes.documentType===1" align="center" style="font-size:5em; ">הצעת מחיר</h1>
            <h1 ng-show="bidModel.bid.attributes.documentType===2" align="center" style="font-size:5em; ">הזמנה</h1>
        
        <div ng-show="bidModel.bid.attributes.documentType===1" >
            <ng-include src="bidModel.startBidTextType.url"></ng-include>
        </div>
        <div ng-show="bidModel.bid.attributes.documentType===2" >
            <ng-include src="bidModel.config.orderStartTextUrl"></ng-include>
        </div>
            
        <div class="bold" style="margin-left:5%; display:inline-block;">סוג ארוע: &nbsp;&nbsp;
            <span>{{bidModel.eventType.label}}</span>
        </div>
        
        <div class="bold" style="margin-left:5%; display:inline-block;">תאריך: &nbsp;&nbsp;
            <span>{{bidModel.bid.attributes.order.eventDate | date: 'dd/MM/yyyy'}}</span>
        </div>
        
        <div class="bold" style="margin-left:5%; display:inline-block;">שעת המשלוח: &nbsp;&nbsp;
            <span>{{bidModel.bid.attributes.order.eventTime | date: 'HH:mm'}}</span>
        </div>
        
        <div class="bold" style="margin-left:5%; display:inline-block;">מס' משתתפים:&nbsp;&nbsp;
            <span >{{bidModel.bid.attributes.order.noOfParticipants}}</span>
        </div>
        
        <div class="bold" style="margin-left:5%; display:inline-block;">מקום משלוח:&nbsp;&nbsp;
            <span>{{bidModel.bid.attributes.order.deliveryLocation}}</span>
        </div>
           
        <div ng-show="bidModel.bid.attributes.order.includeRemarksInBid">
            <label class="bold">הערות: &nbsp;&nbsp; </label><span>{{bidModel.bid.attributes.order.remarks}}</span>
        </div>
        
        <div>
            <label class="bold">טלפונים:&nbsp;&nbsp; </label><span>{{bidModel.customer.homePhone+' '+bidModel.customer.mobilePhone+' '+bidModel.customer.workPhone}}</span>
        </div>
            
            <!--start of bid table -->
            <div ng-repeat="category in bidModel.filteredCategories">
                                  
                <div style="font-weight: bold;">
                    {{category.label}}
                </div>
                                      
                {{bidModel.setupCategoryItems(category.tId)}}
                <div style="padding-right:3%" ng-repeat="item in bidModel.categoryItems">
                    <div style="width:60%;display:inline-block;">{{item.productDescription}}</div>
                    <div style="width:10%;display:inline-block;"> {{item.quantity}}</div>
                    <div style="width:10%;display:inline-block;"> {{item.measurementUnit.label}}</div>
                    <div style="width:10%;display:inline-block;" ng-hide="bidModel.bid.attributes.order.isFixedPrice" >{{item.price | currency }}</div>
                </div>
            </div>
            
            
            
            {{bidModel.setupFreeItems()}}
            
            <!--bonus items div -->
            <ul ng-show="bidModel.freeItems.length" style="clear:both; width:100%;list-style-type: none;padding:0;">
           
                <li style="font-weight: bold;">בונוס</li> 
                                               
                <ul style="padding-right:3%" ng-repeat="item in bidModel.freeItems">
                    <li style="width:60%;display:inline-block;">{{item.productDescription}}</li>
                    <li style="width:10%;display:inline-block;">{{item.quantity}}</li>
                    <li style="width:10%;display:inline-block;">{{item.measurementUnit.label}}</li>
                    <li style="width:10%;display:inline-block;">&nbsp;</li>
                </ul>
                
            </ul>
            <!-- End of bonus items div -->
            
            
                
                
           
                <ul ng-hide="bidModel.bid.attributes.order.isFixedPrice">
                  <li class="bold" style="width:80%;">סה"כ הזמנה</li>
                  <li class="bold" style="width:10%">{{bidModel.bid.attributes.order.subTotal | currency}}</li>
                </ul>
                
                <!-- discounts div -->
                <div ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.discountCause">
                    <ul>
                        <li style="width:80%" class="bold">הנחה בגובה %</li>
                        <li style="width:10%">{{bidModel.bid.attributes.order.discountRate}}</li>
                    </ul>
                    
                    <ul>
                        <li style="width:70%" class="bold"> עקב </li>
                        <li style="width:10%">{{bidModel.discountCause.label}}</li>                   
                        <li style="width:10%">{{bidModel.bid.attributes.order.discount | currency}}</li>
                    </ul>
                </div> <!-- end of discounts div -->
                    
                    
                    <ul ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.bid.attributes.order.transportation">
                        <li class="bold" style="width:80%">משלוח</li>
                        <li style="width:10%">{{bidModel.bid.attributes.order.transportation | currency}}</li>
                    </ul>
                    
                    
                    <ul ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.bid.attributes.order.isTransportationBonus">
                      <li class="bold" style="width:80%">בונוס - זיכוי משלוח</li>
                      <li style="width:10%;">{{bidModel.bid.attributes.order.transportationBonus | currency}}</li>
                    </ul>
                    
                    <ul ng-show="!bidModel.bid.attributes.order.isFixedPrice && bidModel.bid.attributes.order.isBusinessEvent">
                      
                        <li class="bold" style="width:70%">מע"מ בשיעור %</li>
                        <li style="width:10%;" class="bold">{{bidModel.bid.attributes.order.vatRate*100}}</li>
                        <li style="width:10%;">{{bidModel.bid.attributes.order.vat | currency}}</li>
                    </ul>
                    
                    
                    <ul>
                        <li class="bold" style="width:80%">סה"כ לתשלום</li>
                        
                        <!-- only one of those two will appear:-->
                        <li class="bold" ng-hide="bidModel.bid.attributes.order.isFixedPrice"
                            style="width:10%">{{bidModel.bid.attributes.order.total | currency}}</li>
                        <li class="bold" ng-show="bidModel.bid.attributes.order.isFixedPrice"
                            style="width:10%">{{bidModel.bid.attributes.order.fixedPrice | currency}}</li>
                    </ul>
                    
                    <ul ng-hide="bidModel.bid.attributes.order.isFixedPrice">
                        <li class="bold" style="width:80%">מחיר למשתתף </li>
                        <li class="bold" style="width:10%">
                        {{bidModel.bid.attributes.order.total / bidModel.bid.attributes.order.noOfParticipants | currency}}</li>
                    </ul>
                    
               
          
        <div ng-show="bidModel.bid.attributes.documentType===1" >
            <ng-include src="bidModel.endBidTextType.url"></ng-include>
        </div>
        <div ng-show="bidModel.bid.attributes.documentType===2" >
            <div ng-repeat="textType in bidModel.bid.attributes.order.orderDocTextTypes">
                <ng-include src="textType.url"></ng-include>
            </div>
        </div>
        
    </div><!--End of bid_content -->
 </div> <!--End of bid_container -->

