<h1>קטלוג</h1>
<label>בחר תחום</label><select ng-model="catalogModel.currentDomain" ng-change="catalogModel.setDomain()"
                                ng-options="domain.label for domain in catalogModel.domains"></select>
    <button ng-click="catalogModel.addItem()">הוסף</button>
    <span ng-show="catalogModel.isChanged">
      <span>     הקש על</span>
      <button ng-click="catalogModel.updateItems()">שמור</button>
      <span> לשמירת העדכונים שבוצעו, או על </span>
      <button ng-click="catalogModel.setDomain()">ביטול</button>
      <span> כדי לבטלם</span>
    </span>
 <table border="0">
      <thead>
        <th>קטגוריה</th>
        <th>תיאור</th>
        <th>יח' מידה</th>
        <th>כמות</th>
        <th>מחיר</th>
        <th>כמות ייצור</th>
         <th>מחק</th>
      </thead>
      <tbody>
      <tr ng-repeat="catalogItem in catalogModel.catalog" ng-class="catalogItem.isChanged?'myChanged':null">
        <td>
          <select ng-model="catalogItem.view.category" ng-change="catalogModel.itemChanged($index)"
                ng-options="category.label for category in catalogModel.categories"></select>
        </td>
        <td>
          <input type="text" size = 90 ng-model="catalogItem.attributes.productDescription"
                 ng-change="catalogModel.setProductDescription($index)" ng-model-options="{updateOn: 'blur'}"
                 ng-class="catalogItem.isProductDescriptionError?'myError':null">
        </td>
        <td>
          <select ng-model="catalogItem.view.measurementUnit" ng-change="catalogModel.itemChanged($index)"
                  ng-options="measurementUnit.label for measurementUnit in catalogModel.measurementUnits"></select>
        </td>
        <td>
          <input type="text" size = 4 ng-model="catalogItem.attributes.priceQuantity"
                 ng-change="catalogModel.setPriceQuantity($index)" ng-model-options="{updateOn: 'blur'}"
                 ng-class="catalogItem.isPriceQuantityError?'myError':null">
        </td>
        <td> <!-- ng-model-options with updateOn:blur does not work with money directive -->
          <input type="text" money min=0 size = 5 ng-model="catalogItem.attributes.price"
                 ng-blur="catalogModel.setPrice($index)"
                 ng-change="catalogModel.priceChanged($index)"
                 ng-class="catalogItem.isPriceError?'myError':null">
        </td>
        <td>
          <input type="text" size = 4 ng-model="catalogItem.attributes.productionQuantity"
                 ng-change="catalogModel.setProductionQuantity($index)" ng-model-options="{updateOn: 'blur'}"
                 ng-class="catalogItem.isProductionQuantityError?'myError':null">
        </td>
        <td>
          <input type="checkbox" ng-model="catalogItem.isDelete" ng-change="catalogModel.itemChanged($index)">
        </td>
        <td ng-show="catalogModel.currentDomain.id===1">
          <button ng-click="catalogModel.updateExitList($index)">יציאה</button>
        </td>
        <td ng-show="catalogModel.currentDomain.id===1">
          <button ng-click="catalogModel.updateComponents($index,2)">מרכיבים</button>
        </td>
        <td ng-show="catalogModel.currentDomain.id<3">
          <button ng-click="catalogModel.updateComponents($index,3)">חומרים</button>
        </td>
      </tr>
      </tbody>
    </table>
