<div class="modal-header">
  <h3 class="modal-title">נתונים נוספים לפריט</h3>
</div>
<div class="modal-body">
<table>
  <tbody>
  <tr>
    <td><label>תיאור מפורט: </label></td>
    <td>{{catalogExitListModel.productDescription}}</td>
  </tr>
  <tr>
    <td><label>תיאור לתפריט:</label></td>
    <td><input type="text" size="90" ng-model="catalogExitListModel.shortDescription"></td>
  </tr>
  <tr>
    <td><label>האם לכלול בתפריט?</label></td>
    <td><input type="checkbox" ng-model="catalogExitListModel.isInMenu"></td>
  </tr>
  </tbody>
</table>
  <h4 style="text-decoration: underline">רשימת יציאה</h4>
  <button class="btn btn-default" ng-click="catalogExitListModel.addItem()">הוסף</button>
  <table>
    <tbody>
    <tr ng-repeat="listItem in catalogExitListModel.exitList track by listItem.item">
      <td>
        <input type="text" size=40 ng-model="listItem.item">
      </td>
      <td>
        <button class="btn btn-default" ng-click="catalogExitListModel.delItem($index)">מחק</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="catalogExitListModel.done()">שמור</button>
  <button class="btn btn-warning" ng-click="catalogExitListModel.cancel()">בטל</button>
</div>
