<h1>הסבה</h1>
<div>
  <button class="btn btn-success" ng-click="conversionModel.convertCatalog()">הסבת קטלוג</button>
  <button class="btn btn-success" ng-click="conversionModel.convertCustomers()">הסבת לקוחות</button>
  <button class="btn btn-success" ng-click="conversionModel.convertOrders()">הסבת הזמנות</button>
</div>
    <h3>
      <span>{{conversionModel.counter}}</span>
      <span> מתוך </span>
      <span>{{conversionModel.total}}</span>
    </h3>
    <div>
      <button class="btn btn-warning" ng-click="conversionModel.cancel()">הפסק</button>
    </div>
    <div>
      <span>מספר הזמנה אחרון: </span>
      <span>{{conversionModel.maxOrderNum}}</span>
      <button class="btn btn-success" ng-click="conversionModel.updateLastOrder()">עדכן</button>
    </div>
<div>
    <button ng-click="conversionModel.newUser()">משתמש חדש</button>
    <input type="text" ng-model="conversionModel.user.attributes.username" placeholder="username">
    <input type="text" ng-model="conversionModel.user.attributes.password" placeholder="password">
    <input type="text" ng-model="conversionModel.user.attributes.email" placeholder="email">
    <button ng-click="conversionModel.saveUser()">צור</button>
</div>
<div>
    <button ng-click="conversionModel.createRole()">Role</button>
</div>