<h1>רשימת לקוחות</h1>

<table border="0">
  <thead>
      <td>שם פרטי</td>
      <td>שם משפחה</td>
      <td>כתובת</td>
      <th>טלפון נייד</th>
      <td>טלפון בית</td>
      <td>טלפון עבודה</td>
      <td>דוא"ל</td>
  </thead>  
  <tr ng-repeat="customer in customerListModel.customers">
    <td>
      <a ui-sref="editCustomer({id:customer.id})">{{customer.attributes.firstName}}</a>
    </td>
    <td>
        {{customer.attributes.lastName}}
    </td>
    <td>
        {{customer.attributes.address}}
    </td>
    <td>
        {{customer.attributes.mobilePhone}}
    </td>
    <td>
        {{customer.attributes.homePhone}}
    </td>
    <td>
        {{customer.attributes.workPhone}}
    </td>
    <td>
        {{customer.attributes.email}}
    </td>
  </tr>
</table>

<!--       <a ui-sref="state2({id:order.id})">{{order.attributes.eventDate}}</a> -->

