<span id="background_element">
        <img align="left"  src="img/ElementOne300.jpg"/>
</span>

<hr id="top_hr"></hr>

<div id="menu_container">
    <h1>
        תפריט
    </h1>
    
    <div id="menu_date">
        {{menuModel.order.attributes.eventDate | date: 'dd/MM/yyyy'}}
    </div>
    
    <div id="menu_items" ng-repeat="category in menuModel.filteredCategories">
      <label>
          {{category.label}}
      </label>
          {{menuModel.setupCategoryItems(category.tId)}}
      <ul ng-repeat="item in menuModel.categoryItems">
          <li>{{item.productDescription}}</li>
      </ul>
    </div>    
</div>

<span id="bottom_logo" >
    <img  src="img/menu_logo.png"/>
</span>

