<h1>לקוח</h1>
    <form name="customerForm" ng-submit="oldCustomerModel.submitCustomer(customerForm.$valid)" novalidate>
        <table>
            <tr>   
                <td><label>שם פרטי</label></td>
                <td>
                    <input type="text" name="firstName" ng-model="oldCustomerModel.customer.attributes.firstName" required>
                    <p ng-show="customerForm.firstName.$invalid && !customerForm.firstName.$pristine">חובה לציין שם פרטי</p>
                </td>
            </tr>
            <tr>
                <td><label>שם משפחה</label></td>
                <td><input type="text" ng-model="oldCustomerModel.customer.attributes.lastName"></td>
            </tr>
            <tr>
                <td><label>כתובת</label></td>
                <td><input type="text" ng-model="oldCustomerModel.customer.attributes.address"></td>
            </tr>
            <tr>
                <td><label>טל' נייד</label></td>
                <td><input type="tel" ng-model="oldCustomerModel.customer.attributes.mobilePhone"></td>
            </tr>
            <tr>
                <td><label>טל' בית</label></td>
                <td><input type="tel" ng-model="oldCustomerModel.customer.attributes.homePhone"></td>
            </tr>
            <tr>
                <td><label>טל' עבודה</label></td>
                <td><input type="tel" ng-model="oldCustomerModel.customer.attributes.workPhone"></td>
            </tr>
            <tr>
                <td><label>דוא"ל</label></td>
                <td><input type="email" ng-model="oldCustomerModel.customer.attributes.email"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" ng-disabled="customerForm.$invalid">שמור</button></td>
            </tr>
        </table>
    </form>
    <button ng-click="oldCustomerModel.deleteCustomer()" ng-show="oldCustomerModel.customer.id">מחק</button>
