<h1>הזמנה</h1>
    <form name="orderForm" ng-submit="orderModel.submitOrder(orderForm.$valid)" novalidate>
      <button type="submit" ng-disabled="orderForm.$invalid">שמור</button>
      <button ng-click="orderModel.deleteOrder()" ng-show="orderModel.order.id">מחק</button><br/>
      <label>תבנית</label><input type="text" ng-model="orderModel.order.attributes.template"><br/>
      <label>לקוח</label><select ng-model="orderModel.currentOrderCustomer"
                             ng-options="customer.firstName+' '+customer.lastName for customer in orderModel.customerList" required></select>
      <span ng-show="orderModel.currentOrderCustomer.mobilePhone">טל' נייד: </span><span>{{orderModel.currentOrderCustomer.mobilePhone}}</span>
      <span ng-show="orderModel.currentOrderCustomer.homePhone">טל' בית: </span><span>{{orderModel.currentOrderCustomer.homePhone}}</span>
      <span ng-show="orderModel.currentOrderCustomer.workPhone">טל עבודה: </span><span>{{orderModel.currentOrderCustomer.workPhone}}</span>
      <span ng-show="orderModel.currentOrderCustomer.email">דואל: </span><span>{{orderModel.currentOrderCustomer.email}}</span><br/>
      <label>תאריך</label><input type='date' name="eventDate" ng-model="orderModel.eventDate" min="orderModel.today" required>
      <p ng-show="orderForm.eventDate.$error.min && !orderForm.eventDate.$pristine">תאריך האירוע לא יכול להיות בעבר</p>
      <label>שעה</label><input type="text" ng-model="orderModel.order.attributes.eventTime">
      <label>מספר משתתפים</label><input type="number" name="noOfParticipants" min="1" max="1000" ng-model="orderModel.order.attributes.noOfParticipants" required>
      <p ng-show="orderForm.noOfParticipants.$error.min && !orderForm.noOfParticipants.$pristine">חייב להיות לפחות משתתף אחד</p>
      <p ng-show="orderForm.noOfParticipants.$error.max && !orderForm.noOfParticipants.$pristine">פומפידו תומכת באירועים עד 1000 משתתפים בלבד</p>
      <p ng-show="orderForm.noOfParticipants.$error.required && !orderForm.noOfParticipants.$pristine">יש לציין מספר משתתפים באירוע</p>
      <label>סוג אירוע</label><select ng-model="orderModel.currentEventType"
                                      ng-options="eventType.label for eventType in orderModel.eventTypes"></select><br/>
      <label>מקום משלוח</label><textarea rows="2" cols="48" ng-model="orderModel.order.attributes.deliveryLocation"></textarea><br/>
      <label>הערות</label><textarea rows="4" cols="48" ng-model="orderModel.order.attributes.remarks"></textarea><br/>
      <label>הכלל הערות בהצעה</label><input type="checkbox" ng-model="orderModel.order.attributes.includeRemarksInBid"><br/>
      <label>סטטוס</label><select ng-model="orderModel.currentOrderStatus"
                                ng-options="orderStatus.name for orderStatus in orderModel.orderStatuses"></select>
      <label>טקסט מבוא</label><select ng-model="orderModel.currentStartBidTextType"
                                      ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes"></select>
      <label>טקסט סיום</label><select ng-model="orderModel.currentEndBidTextType"
                                      ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes"></select>
  </form>