    <h1 ng-show="orderModel.isNewOrder">הזמנה חדשה</h1>
    <h1 ng-hide="orderModel.isNewOrder">הזמנה מס' {{orderModel.order.attributes.number}}</h1>
        <div ng-show="orderModel.isChanged">
          <span>לשמירת העדכונים הקש על </span>
          <button ng-click="orderModel.saveOrder()"> שמור</button>
          <span> לביטול הקש על </span>
          <button ng-click="orderModel.cancel()">ביטול</button>
        </div>
        <label>לקוח</label><select ng-model="orderModel.order.view.customer" ng-change="orderModel.orderChanged()"
                                   ng-options="customer.firstName+' '+customer.lastName for customer in orderModel.customerList" required></select>
        <span ng-show="orderModel.order.view.customer.mobilePhone">טל' נייד: </span><span>{{orderModel.order.view.customer.mobilePhone}}</span>
        <span ng-show="orderModel.order.view.customer.homePhone">טל' בית: </span><span>{{orderModel.order.view.customer.homePhone}}</span>
        <span ng-show="orderModel.order.view.customer.workPhone">טל עבודה: </span><span>{{orderModel.order.view.customer.workPhone}}</span>
        <span ng-show="orderModel.order.view.customer.email">דואל: </span><span>{{orderModel.order.view.customer.email}}</span><br/>
        <label>תאריך</label><input type='date' ng-model="orderModel.eventDate" ng-change="orderModel.setEventDate()" required
                                   ng-class="orderModel.errors.eventDate?'myError':null">
        <label>שעה</label><input type="text" size="8" ng-model="orderModel.order.attributes.eventTime" ng-blur="orderModel.orderChanged()">
        <label>מספר משתתפים</label><input type="text" size="4" ng-model="orderModel.noOfParticipants"
                                          ng-blur="orderModel.setNoOfParticipants()"
                                          ng-class="orderModel.errors.noOfParticipants?'myError':null">
        <label>סוג אירוע</label><select ng-model="orderModel.order.view.eventType" ng-change="orderModel.orderChanged()"
                                        ng-options="eventType.label for eventType in orderModel.eventTypes"></select>
        <label>סטטוס</label><select ng-model="orderModel.order.view.orderStatus" ng-change="orderModel.orderChanged()"
                                    ng-options="orderStatus.name for orderStatus in orderModel.orderStatuses"></select><br/>
        <tabset>
          <tab heading="פרטים כלליים">
            <table>
              <tr>
                <td>תבנית</td>
                <td>
                  <input type="text" ng-model="orderModel.order.attributes.template" ng-blur="orderModel.orderChanged()">
                </td>
              </tr>
              <tr>
                <td>מקום משלוח</td>
                <td>
                  <textarea rows="2" cols="48" ng-model="orderModel.order.attributes.deliveryLocation"
                            ng-blur="orderModel.orderChanged()"></textarea>
                </td>
              </tr>
              <tr>
                <td>הערות</td>
                <td>
                  <textarea rows="4" cols="48" ng-model="orderModel.order.attributes.remarks"
                            ng-blur="orderModel.orderChanged()"></textarea>
                </td>
              </tr>
              <tr>
                <td>הכלל הערות בהצעה</td>
                <td>
                  <input type="checkbox" ng-model="orderModel.order.attributes.includeRemarksInBid"
                         ng-change="orderModel.orderChanged()">
                </td>
              </tr>
              <tr>
                <td>טקסט מבוא</td>
                <td>
                  <select ng-model="orderModel.order.view.startBidTextType" ng-change="orderModel.orderChanged()"
                          ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes"></select>
                </td>
              </tr>
              <tr>
                <td>טקסט סיום</td>
                <td>
                  <select ng-model="orderModel.order.view.endBidTextType" ng-change="orderModel.orderChanged()"
                          ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes"></select>
                </td>
              </tr>
            </table>
            <button ng-click="orderModel.deleteOrder()" ng-show="orderModel.order.id">מחק הזמנה</button>

          </tab>
          <tab heading="מוצרים">
            <button ng-click="orderModel.addItem()">הוסף מוצר</button>
            <span ng-show="orderModel.isAddItem">
              <select ng-model="orderModel.currentCategory" ng-change="orderModel.setCategory()"
                      ng-options="category.label for category in orderModel.categories"></select>
              <label>סינון:</label><input type="text" ng-model="orderModel.filterText" ng-change="orderModel.filterProducts()">
              <table border="1">
                <tbody>
                <tr ng-repeat="product in orderModel.filteredCatalog">
                  <td ng-click="orderModel.setProduct(product)">{{product.productDescription}}</td>
                </tr>
                </tbody>
              </table>
            </span>
            <table>
              <thead>
              <th>קטגוריה</th>
              <th>מוצר</th>
              <th>יח' מידה</th>
              <th>כמות</th>
              <th>מחיר</th>
              <th>בונוס</th>
              </thead>
              <tbody>
              <tr ng-repeat="item in orderModel.order.attributes.items">
                <td>{{item.category.label}}</td>
                <td>
                  <input type="text" size="70" ng-model="item.productDescription" ng-blur="orderModel.orderChanged()">
                </td>
                <td>{{item.measurementUnit.label}}</td>
                <td>
                  <input type="text" size="3" ng-model="item.quantity" ng-blur="orderModel.setQuantity($index)"
                  ng-class="orderModel.errors.items[$index].quantity?'myError':null">
                </td>
                <td>
                  <input type="text" size="7" money min=0 ng-model="item.price" ng-blur="orderModel.setPrice($index)"
                         ng-class="orderModel.errors.items[$index].price?'myError':null">
                 </td>
                <td>
                  <input type="checkbox" ng-model="item.isFreeItem" ng-change="orderModel.setFreeItem($index)">
                </td>
                <td>
                  <button ng-click="orderModel.deleteItem($index)">מחק</button>
                </td>
              </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="נתונים כספיים">
            <table>
              <tbody>
              <tr>
                <td><label>ס"ה ביניים</label></td>
                <td></td>
                <td>{{orderModel.order.attributes.subTotal | currency:" ₪"}}</td>
              </tr>
              <tr>
                <td><label>סיבת הנחה</label></td>
                <td>
                  <select ng-model="orderModel.order.view.discountCause" ng-change="orderModel.setDiscountCause()"
                          ng-options="discountCause.label for discountCause in orderModel.discountCauses"></select>
                </td>
                <td></td>
              </tr>
              <tr>
                <td><label>% הנחה</label></td>
                <td>
                  <input type="text" ng-model="orderModel.order.attributes.discountRate"
                         ng-disabled="!orderModel.order.view.discountCause.tId>0"
                         ng-blur="orderModel.setDiscountRate()"
                         ng-class="orderModel.errors.discountRate?'myError':null">
                </td>
                <td>{{orderModel.order.attributes.discount | currency:" ₪"}}</td>
              </tr>
              <tr>
                <td><label>משלוח</label></td>
                <td>
                  <input type="text" money ng-model="orderModel.order.attributes.transportationInclVat"
                         ng-blur="orderModel.setTransportation()"
                         ng-class="orderModel.errors.transportationInclVat?'myError':null">
                </td>
                <td>{{orderModel.order.attributes.transportation | currency:" ₪"}}</td>
              </tr>
              <tr>
                <td><label>זיכוי משלוח</label></td>
                <td>
                  <input type="checkbox" ng-model="orderModel.order.attributes.isTransportationBonus"
                         ng-disabled="!orderModel.order.attributes.transportation > 0"
                         ng-change="orderModel.setTransportationBonus()">
                </td>
                <td>{{orderModel.order.attributes.transportationBonus | currency:" ₪"}}</td>
              </tr>
              <tr>
                <td><label>עיגול</label></td>
                <td></td>
                <td>{{orderModel.order.attributes.rounding | currency:" ₪"}}</td>
              </tr>
              <tr>
                <td><label>לפני מע"מ</label></td>
                <td></td>
                <td>{{orderModel.order.attributes.totalBeforeVat | currency:" ₪"}}</td>
              </tr>
              <tr>
                <td><label>מע"מ</label></td>
                <td>אירוע עסקי?
                  <input type="checkbox" ng-model="orderModel.order.attributes.isBusinessEvent"
                         ng-change="orderModel.setBusinessEvent()">
                </td>
                <td>{{orderModel.order.attributes.vat | currency:" ₪"}}</td>
              </tr>
              <tr>
                <td><label>לתשלום</label></td>
                <td></td>
                <td>{{orderModel.order.attributes.total | currency:" ₪"}}</td>
                <td>למשתתף:</td>
                <td>{{orderModel.order.attributes.total / orderModel.order.attributes.noOfParticipants | currency:" ₪"}}</td>
              </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="פעילויות">
            <table>
              <thead>
              <th><label>תאריך</label></th>
              <th><label>פעילות</label></th>
              <th></th>
              </thead>
              <tr>
                <td>{{orderModel.activityDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>
                  <input type="text" ng-model="orderModel.activityText" ng-blur="orderModel.addActivity()">
                </td>
                <td></td>
              </tr>
               <tr ng-repeat="activity in orderModel.order.attributes.activities track by activity.date">
                <td>{{activity.date | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{activity.text}}</td>
                <td>
                  <button ng-click="orderModel.delActivity($index)">מחק</button>
                </td>
              </tr>
            </table>
          </tab>
        </tabset>