    <h1 ng-show="orderModel.isNewOrder">הזמנה חדשה</h1>
    <h1 ng-hide="orderModel.isNewOrder">הזמנה מס' {{orderModel.order.attributes.number}}</h1>
        <div ng-show="orderModel.order.view.isChanged">
          <span>לשמירת העדכונים הקש על </span>
          <button ng-click="orderModel.saveOrder()"> שמור</button>
          <span> לביטול הקש על </span>
          <button ng-click="orderModel.cancel()">ביטול</button>
        </div>
       <div>
          <ng-include src="'partials/order/header.html'"></ng-include>
        </div>
        <tabset>
          <tab heading="פרטים כלליים">
            <ng-include src="'partials/order/general.html'"></ng-include>
          </tab>
          <tab heading="פריטים">
            <ng-include src="'partials/order/items.html'"></ng-include>
          </tab>
          <tab heading="נתונים כספיים">
            <ng-include src="'partials/order/financial.html'"></ng-include>
          </tab>
          <tab heading="פעילויות">
            <ng-include src="'partials/order/activities.html'"></ng-include>
          </tab>
        </tabset>