<h1>רשימת הזמנות</h1>
    <div>
        <label>עתידיות</label><input type="checkbox" ng-model="orderListModel.isListFuture" ng-change="orderListModel.filterOrders()">
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-show="orderListModel.filterByCustomer.id">
          {{orderListModel.filterByCustomer.firstName + ' ' + orderListModel.filterByCustomer.lastName}}
        </button>
        <button class="btn btn-default" ng-click="orderListModel.setCustomerFilter()"
                ng-hide="orderListModel.filterByCustomer.id">
          סינון לפי לקוח
        </button>
        <label>תבניות</label>
        <input type="checkbox" ng-model="orderListModel.isFilterTemplates"
               ng-change="orderListModel.filterOrders()">
    </div>
    <table border="0">
      <thead>
      <th>פקודת</th>
      <th>עבודה</th>
      <th>מס'</th>
      <th>תאריך</th>
      <th>שעה</th>
      <th>לקוח</th>
      <th>משתתפים</th>
      <th>סוג אירוע</th>
      <th>סטטוס הזמנה</th>
      <th>תבנית</th>
      <th>תאריך פעילות</th>
      <th>פעילות</th>
      </thead>
      <tbody>
      <tr ng-repeat="order in orderListModel.orders">
        <td>
          <input type="checkbox"
                 ng-model="order.attributes.isMarkedForWorkOrder"
                 ng-change="orderListModel.setWorkOrder(order)"
                 ng-disabled="order.view.isReadOnly || order.attributes.isInWorkOrder">
        </td>
        <td>{{order.attributes.isInWorkOrder | checkMark}}</td>
        <td>{{order.attributes.number}}</td>
        <td>
          <a ui-sref="editOrder({id:order.id})">{{order.attributes.eventDate | date: 'EEEE dd/MM/yyyy'}}</a>
        </td>
        <td>{{order.attributes.eventTime | date: 'hh:mm'}}</td>
        <td>{{order.view.customer.attributes.firstName+' '+order.view.customer.attributes.lastName}}</td>
        <td>{{order.attributes.noOfParticipants}}</td>
        <td>{{order.view.eventType.label}}</td>
        <td>{{order.view.orderStatus.name}}</td>
        <td>{{order.attributes.template}}</td>
        <td>{{order.attributes.activities[0].date | date: 'HH:mm dd/MM/yyyy'}}</td>
        <td>{{order.attributes.activities[0].text}}</td>
      </tr>
      </tbody>
    </table>

