<div ng-controller="ActivitiesCtrl as activitiesModel">
<table class="table table-hover">
  <thead>
  <th><label>תאריך</label></th>
  <th><label>פעילות</label></th>
  <th></th>
  <th></th>
  </thead>
  <tr>
    <td>{{activitiesModel.activityDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>
      <textarea rows="5" cols="70" ng-model="activitiesModel.activityText"
             ng-disabled="activitiesModel.readOnly.is"
      ></textarea>
    </td>
    <td>
        <button ng-click="activitiesModel.addActivity()"
                ng-disabled="activitiesModel.readOnly.is"
                class="btn btn-sm btn-default">צור</button>
    </td>
  </tr>
  <tr ng-repeat="activity in activitiesModel.order.properties.activities track by activity.date">
    <td>{{activity.date | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{activity.text}}</td>
    <td>
      <button ng-click="activitiesModel.delActivity($index)"
              class="btn btn-sm btn-default"
              ng-disabled="activitiesModel.readOnly.is"
              >מחק</button>
    </td>
    <td>
      <button ng-click="activitiesModel.showMail(activity.mail)"
              class="btn btn-sm btn-default"
              ng-show="activity.mail"
              >הצג דואל</button>
    </td>
  </tr>
</table>
  <table class="table table-hover" style="width:30%">
    <tr>
      <td><label>תאריך יצירה</label></td>
      <td>{{activitiesModel.order.createdAt | date:'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <td><label>תאריך הצעה ראשונה</label></td>
      <td>{{activitiesModel.order.properties.bidDate | date:'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <td><label>תאריך סגירה</label></td>
      <td>{{activitiesModel.order.properties.closingDate | date:'dd/MM/yyyy'}}</td>
    </tr>
  </table>
</div>
