<div class="modal-header">
  <h3 class="modal-title">ציין את סיבת הביטול</h3>
</div>
<div class="modal-body">
  <table>
    <tr>
      <td><label>בחר סיבת ביטול</label></td>
      <td>
        <select ng-model="cancelReasonModel.cancelReason"
                ng-options="cancelReason.label for cancelReason in cancelReasonModel.cancelReasons"
        ></select>
      </td>
    </tr>
    <tr>
      <td><label>פירוט נוסף</label></td>
      <td><input type="text" size="20" ng-model="cancelReasonModel.cancelReasonText"></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" ng-click="cancelReasonModel.save()">שמור</button>
</div>
