<div ng-controller="DocumentsCtrl as documentsModel">
  <table style="width:90%">
    <tbody>
    <tr>
      <td>
        <button class="btn btn-default" ng-click="documentsModel.sendMail()"
                ng-disabled="documentsModel.readOnly.is ||
                             documentsModel.order.view.isChanged ||
                             documentsModel.isBidsLoading">
          <img src="app/img/gmail.png">
        </button>
      </td>
      <td>
        <button class="btn btn-default" ng-click="documentsModel.sendWhatsApp()"
                ng-disabled="documentsModel.readOnly.is ||
                             documentsModel.order.view.isChanged ||
                             documentsModel.isBidsLoading">
          <img src="app/img/WhatsApp_icon.png">
        </button>
      </td>
      <td>
        <button class="btn btn-default" ng-click="documentsModel.sendEquipMail()"
                ng-disabled="documentsModel.readOnly.is ||
                             documentsModel.order.view.isChanged">
          שלח הזמנת ציוד
        </button>
      </td>
      <td>
        <button class="btn btn-default" ng-click="documentsModel.sendFeedbackMail()"
                ng-disabled="documentsModel.order.view.isChanged">
          שלח בקשת משוב
        </button>
      </td>
      <td>
        <a ng-href="#/menu/{{documentsModel.order.id}}" target="_blank">
          תפריט מודפס
        </a>
      </td>
      <td>
        <a ng-href="#/orderStickers/{{documentsModel.order.id}}/{{documentsModel.order.properties.customer}}/{{documentsModel.order.properties.color}}"
              target="_blank"
              ng-disabled="!documentsModel.order.properties.color">
          מדבקות
        </a>
      </td>
      <td>
        <a ng-href="#/sensitivityList/{{documentsModel.order.id}}" target="_blank">
          רשימת רגישויות
        </a>
      </td>
      <td>
        <a ng-href="#/instructionsList/{{documentsModel.order.id}}" target="_blank">
          רשימת הוראות
        </a>
      </td>
     <td>
        <a ng-href="#/serviceList/{{documentsModel.order.id}}" target="_blank">
          רשימת סרוויס
        </a>
      </td>
      <td>
        <a ng-href="#/packingList/{{documentsModel.order.id}}" target="_blank">
          רשימת אריזה
        </a>
      </td>
      <!--
      <td>
        <button class="btn btn-warning"
                ng-click="documentsModel.createAccountingOrder()"
                ng-disabled="documentsModel.order.properties.orderStatus === 1 ||
                             documentsModel.order.properties.orderStatus === 2 ||
                             documentsModel.order.properties.orderStatus === 6 || true">
           drop the 'true' when ready
          צור הזמנה
        </button>
      </td>
      -->
    </tr>
    </tbody>
  </table>
  <p></p>
  <!--
 <table style="width: 50%">
   <tbody>
     <tr ng-class="documentsModel.order.view.changes.bidTextType?'bg-success':null">
       <td><label>הצעת מחיר ישנה:</label></td>
         <td><label>טקסט מבוא</label></td>
         <td>
             <select ng-model="documentsModel.order.view.startBidTextType"
                     ng-change="documentsModel.orderChanged('bidTextType')"
                     ng-options="bidTextType.label for bidTextType in documentsModel.bidTextTypes | filter: {documentType: 1}"
                     ng-disabled="documentsModel.readOnly.is"
                     ></select>
         </td>
       <td><label>טקסט סיום</label></td>
       <td>
         <select ng-model="documentsModel.order.view.endBidTextType"
                 ng-change="documentsModel.orderChanged('bidTextType')"
                 ng-options="bidTextType.label for bidTextType in documentsModel.bidTextTypes | filter: {documentType: 1}"
                 ng-disabled="documentsModel.readOnly.is"
           ></select>
       </td>
     </tr>
     </tbody>
 </table>
 -->
<div ng-hide="documentsModel.order.view.isChanged">
  <label>
    צור מסמך חדש:
  </label>
  <input type="text" placeholder="תיאור מסמך"
         size=50
         ng-model="documentsModel.bidDesc"
         ng-disabled="documentsModel.readOnly.is">
  <span>רק לתפריט הנבחר?</span>
  <input type="checkbox" ng-model="documentsModel.isOnlyActiveQuote">
    <span ng-repeat="documentType in documentsModel.sortedDocumentTypes track by documentType.id">
        <button ng-click="documentsModel.createBid(documentType.id,undefined)"
                ng-disabled="documentsModel.readOnly.is ||
                             !documentsModel.order.view.quote.foodPrice"
                class="btn btn-default">  <!-- disable for quotes before 7/3/2019 -->
            {{documentType.label}}
        </button>
   </span>
 </div>
  <p></p>
<table class="table table-hover" style="width: 60%">
  <thead>
  <th style="width: 20%">סוג מסמך</th>
  <th style="width: 20%">תאריך</th>
  <th style="width: 30%">תיאור</th>
  <th style="width: 10%">סכום</th>
  <th style="width: 10%"></th>
  <th style="width: 10%"></th>
  </thead>
  <tbody>
  <tr ng-repeat="bid in documentsModel.bids track by bid.id">
      <td>{{documentsModel.documentTypes[bid.properties.documentType].label}}</td>
    <td ng-show="bid.properties.documentType === 1">
      <a ng-href="#/bid/{{bid.properties.uuid}}" target="_blank">
        {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </a>
    </td>
    <td ng-show="bid.properties.documentType === 4">
      <a ng-href="#/quote/{{bid.properties.uuid}}" target="_blank">
        {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </a>
    </td>
    <td ng-show="bid.properties.documentType === 5">
      <a ng-href="#/quote2/{{bid.properties.uuid}}" target="_blank">
        {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </a>
    </td>
    <td ng-show="bid.properties.documentType===0">
              {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </td>
    <td>{{bid.properties.desc}}</td>
    <td>
      {{bid.properties.total | currency}}
    </td>
    <td>
      <button class="btn btn-default btn-sm"
              ng-disabled="documentsModel.readOnly.is">
        <a ng-href="{{bid.downloadUrl}}">הורד</a>
      </button>
    </td>
    <td>
          <button ng-click="documentsModel.restoreBid(bid)"
                  ng-hide="documentsModel.order.view.isChanged"
                  ng-disabled="documentsModel.readOnly.is || bid.properties.version < 4"
                  class="btn btn-default btn-sm">
                  שחזר
          </button>
      </td>
    <td>
      <button ng-click="documentsModel.delBid(bid)"
              ng-disabled="documentsModel.readOnly.is"
              class="btn btn-default btn-sm">
        מחק
      </button>
    </td>
  </tr>
  </tbody>
</table>

</div>
