<div ng-controller="DocumentsCtrl as documentsModel">
  <table style="width:90%">
    <tbody>
    <tr>
      <td style="width: 7%">
        <button class="btn btn-default" ng-click="documentsModel.sendMail()"
                ng-disabled="documentsModel.readOnly.is ||
                             documentsModel.order.view.isChanged ||
                             documentsModel.isBidsLoading">
          <img src="app/img/gmail.png">
        </button>
      </td>
      <td style="width: 7%">
        <button class="btn btn-default" ng-click="documentsModel.sendWhatsApp()"
                ng-disabled="documentsModel.readOnly.is ||
                             documentsModel.order.view.isChanged ||
                             documentsModel.isBidsLoading">
          <img src="app/img/WhatsApp_icon.png">
        </button>
      </td>
      <td style="width: 10%">
        <button class="btn btn-default" ng-click="documentsModel.sendEquipMail()"
                ng-disabled="documentsModel.readOnly.is ||
                             documentsModel.order.view.isChanged">
          שלח הזמנת ציוד
        </button>
      </td>
      <td style="width: 10%">
        <button class="btn btn-default" ng-click="documentsModel.sendFeedbackMail()"
                ng-disabled="documentsModel.order.view.isChanged">
          שלח בקשת משוב
        </button>
      </td>
      <td style="width: 16%">
        הדפסות
        <select ng-model="documentsModel.printType"
                ng-options="printType.label for printType in documentsModel.printTypes"
      </td>
      <!-- not in use
      <td style="width: 10%" ng-show="documentsModel.printType.id === 0">
        <a ng-href="#/menu/{{documentsModel.order.id}}" target="_blank">
          תפריט מודפס
        </a>
      </td>
      -->
      <td style="width: 10%" ng-show="documentsModel.printType.id === 0">
        <a ng-href="#/sensitivityList/{{documentsModel.order.id}}" target="_blank">
          רשימת רגישויות
        </a>
      </td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 0">
        <a ng-href="#/instructionsList/{{documentsModel.order.id}}" target="_blank">
          רשימת הוראות
        </a>
      </td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 0"></td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 0"></td>
      <td ng-show="documentsModel.printType.id === 1">
        <a ng-href="#/orderDishStickers/{{documentsModel.order.id}}/{{documentsModel.order.properties.customer}}/1"
           target="_blank"
           ng-disabled="documentsModel.order.properties.orderStatus<2 || documentsModel.order.properties.orderStatus===6">
          מדבקות ללקוח
        </a>
      </td>
      <td ng-show="documentsModel.printType.id === 1">
        <a ng-href="#/orderDishStickers/{{documentsModel.order.id}}/{{documentsModel.order.properties.customer}}/2"
           target="_blank"
           ng-disabled="documentsModel.order.properties.orderStatus<2 || documentsModel.order.properties.orderStatus===6">
          מדבקות לדגימות מזון
        </a>
      </td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 1"></td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 1"></td>
      <td ng-show="documentsModel.printType.id === 2">
        <a ng-href="#/orderServiceList/{{documentsModel.order.id}}" target="_blank">
          רשימת סרוויס
        </a>
      </td>
      <td ng-show="documentsModel.printType.id === 2">
        <a ng-href="#/packingList/{{documentsModel.order.id}}" target="_blank">
          רשימת אריזה
        </a>
      </td>
      <td ng-show="documentsModel.printType.id === 2">
        <a ng-href="#/packingListOld/{{documentsModel.order.id}}" target="_blank">
          רשימת אריזה ישנה
        </a>
      </td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 2"></td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 2"></td>
      <td ng-show="documentsModel.printType.id === 3">
        <a ng-href="#/samplingForm/{{documentsModel.order.id}}" target="_blank">
          דגימות מזון
        </a>
      </td>
      <td ng-show="documentsModel.printType.id === 3">
        <a ng-href="#/finalCheckForm/{{documentsModel.order.id}}" target="_blank">
          בקרה סופית
        </a>
      </td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 3"></td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 3"></td>
      <td style="width: 10%" ng-show="documentsModel.printType.id === 3"></td>
    </tr>
    </tbody>
  </table>
  <p></p>
<div ng-hide="documentsModel.order.view.isChanged">
  <label>
    צור מסמך חדש:
  </label>
  <input type="text" placeholder="תיאור מסמך"
         size=50
         ng-model="documentsModel.bidDesc"
         ng-disabled="documentsModel.readOnly.is">
  <span>רק לתפריט הנבחר?</span>
  <input type="checkbox" ng-model="documentsModel.isOnlyActiveQuote">
    <span ng-repeat="documentType in documentsModel.sortedDocumentTypes track by documentType.id">
        <button ng-click="documentsModel.createBid(documentType.id,undefined)"
                ng-disabled="documentsModel.readOnly.is ||
                             !documentsModel.order.view.quote.foodPrice"
                class="btn btn-default">  <!-- disable for quotes before 7/3/2019 -->
            {{documentType.label}}
        </button>
   </span>
 </div>
  <p></p>
<table class="table table-hover" style="width: 60%">
  <thead>
  <th style="width: 20%">סוג מסמך</th>
  <th style="width: 20%">תאריך</th>
  <th style="width: 30%">תיאור</th>
  <th style="width: 10%">סכום</th>
  <th style="width: 10%"></th>
  <th style="width: 10%"></th>
  </thead>
  <tbody>
  <tr ng-repeat="bid in documentsModel.bids track by bid.id">
      <td>{{documentsModel.documentTypes[bid.properties.documentType].label}}</td>
    <td ng-show="bid.properties.documentType === 1">
      <a ng-href="#/bid/{{bid.properties.uuid}}" target="_blank">
        {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </a>
    </td>
    <td ng-show="bid.properties.documentType === 4">
      <a ng-href="#/quote/{{bid.properties.uuid}}" target="_blank">
        {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </a>
    </td>
    <td ng-show="bid.properties.documentType === 5">
      <a ng-href="#/quote2/{{bid.properties.uuid}}" target="_blank">
        {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </a>
    </td>
    <td ng-show="bid.properties.documentType===0">
              {{bid.properties.date | date: 'dd/MM/yyyy HH:mm'}}
      </td>
    <td>{{bid.properties.desc}}</td>
    <td>
      {{bid.properties.total | currency}}
    </td>
    <td>
      <button class="btn btn-default btn-sm"
              ng-disabled="documentsModel.readOnly.is">
        <a ng-href="{{bid.downloadUrl}}">הורד</a>
      </button>
    </td>
    <td>
      <button class="btn btn-default"
              ng-disabled="documentsModel.readOnly.is">
        <a ng-href="{{documentsModel.downloadEquip(bid)}}">הורד הזמנת ציוד</a>
      </button>
    </td>
    <td>
          <button ng-click="documentsModel.restoreBid(bid)"
                  ng-hide="documentsModel.order.view.isChanged"
                  ng-disabled="documentsModel.readOnly.is || bid.properties.version < 4"
                  class="btn btn-default btn-sm">
                  שחזר
          </button>
      </td>
    <td>
      <button ng-click="documentsModel.delBid(bid)"
              ng-disabled="documentsModel.readOnly.is"
              class="btn btn-default btn-sm">
        מחק
      </button>
    </td>
  </tr>
  </tbody>
</table>

</div>
