<div ng-controller="FinancialCtrl as financialModel">
  <table>
  <tbody>
  <tr>
    <td>
      <button ng-click="financialModel.updateFromCatalog()"
              class="btn btn-default">
        עדכן מקטלוג
      </button>
    </td>
  </tr>
  <tr>
    <td><label>מחיר אוכל</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.foodPrice | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.isShowTransportationPrice?'bg-success':null">
    <td><label>הפרד משלוח?</label></td>
    <td>
      <input type="checkbox" ng-model="financialModel.order.view.quote.isShowTransportationPrice"
             ng-disabled="financialModel.readOnly.is"
             ng-change="financialModel.quoteChanged('isShowTransportationPrice')">
    </td>
    <td>{{financialModel.order.view.quote.transportationInclVat | currency}}</td>
  </tr>
  <tr>
    <td><label>ס"ה ביניים</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.subTotal | currency}}</td>
  </tr>
   <tr ng-class="financialModel.order.view.quote.changes.discountRate?'bg-success':null">
    <td><label>% הנחה</label></td>
    <td>
      <input type="number" max=100 min = 0 ng-model="financialModel.order.view.quote.discountRate"
             ng-disabled="financialModel.readOnly.is"
             ng-change="financialModel.setDiscountRate()"
             ng-class="financialModel.order.view.quote.errors.discountRate?'bg-danger':null">
    </td>
    <td>{{financialModel.order.view.quote.discount | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.properties.couponAppliedType">
    <td><label>
      הנחת קופון מסוג
      {{financialModel.order.properties.couponAppliedType}}
    </label></td>
    <td>{{financialModel.order.properties.couponApplied}}</td>
  <td>{{financialModel.order.view.quote.couponDiscount | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.view.quote.discount + financialModel.order.view.quote.couponDiscount">
    <td><label>אחרי הנחות</label></td>
    <td></td>
    <td>
      {{(financialModel.order.view.quote.subTotal +
         financialModel.order.view.quote.discount +
         financialModel.order.view.quote.couponDiscount) | currency}}
    </td>
  </tr>
  <tr>
    <td><label>לסועד</label></td>
    <td>
      {{financialModel.order.view.quote.perPerson | currency}}
    </td>
  </tr>
  <tr ng-show="financialModel.order.view.quote.priceIncrease">
    <td><label>שבת וחג</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.priceIncrease | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.view.quote.extraServices">
    <td><label>שירותים נלווים</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.extraServices | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.properties.isBusinessEvent">
    <td><label>לפני מע"מ</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.totalBeforeVat | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.properties.isBusinessEvent">
    <td>
      <label>
        <span>מע"מ %</span>
        <span>{{financialModel.order.properties.vatRate*100}}</span>
      </label>
    </td>
    <td></td>
    <td>{{financialModel.order.view.quote.vat | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.showPrices?'bg-success':null">
    <td><label>פירוט מחירים</label></td>
    <td>
      <input type="checkbox" ng-model="financialModel.order.view.quote.isShowPrices"
             ng-disabled="financialModel.readOnly.is"
             ng-change="financialModel.quoteChanged('showPrices')">
    </td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.fixedPrice?'bg-success':null">
    <td><label>מחיר קבוע</label></td>
    <td>
      <input type="checkbox" ng-model="financialModel.order.view.quote.isFixedPrice"
             ng-disabled="financialModel.readOnly.is"
             ng-change="financialModel.setFixedPrice()">
    </td>
    <td>
      <input type="text" money size=5 ng-model="financialModel.order.view.quote.fixedPrice"
             ng-disabled="financialModel.readOnly.is || !financialModel.order.view.quote.isFixedPrice"
             ng-change="financialModel.setFixedPrice()"
             ng-class="financialModel.order.view.quote.errors.fixedPrice?'bg-danger':null">
    </td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.noTotal?'bg-success':null">
    <td><label>לא להציג סה"כ</label></td>
    <td>
      <input type="checkbox" ng-model="financialModel.order.view.quote.isNoTotal"
             ng-disabled="financialModel.readOnly.is ||
                          !financialModel.order.view.quote.isFixedPrice"
             ng-change="financialModel.quoteChanged('noTotal')">
    </td>
   </tr>
  <tr>
    <td><label>לתשלום</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.total | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.advance?'bg-success':null">
    <td><label>מקדמה</label></td>
    <td></td>
    <td>
      <input type="text" money size=5 ng-model="financialModel.order.view.quote.advance"
             ng-change="financialModel.setAdvance()"
             ng-class="financialModel.order.view.quote.errors.advance?'bg-danger':null">
    </td>
   </tr>
  <tr ng-show="financialModel.order.view.quote.advance">
    <td><label>יתרה</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.balance | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.noQuantities?'bg-success':null">
    <td><label>ללא כמויות</label></td>
    <td><input type="checkbox"
               ng-model="financialModel.order.view.quote.isNoQuantities"
               ng-change="financialModel.setNoQuantities()">
    </td>
  </tr>
  <tr ng-show="financialModel.order.view.quote.waitersFee">
    <td> <label>למלצרים - לא לחשבונית</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.waitersFee | currency}}</td>
  </tr>
  <tr>
    <td><label>לפני מע"מ לחשבונית</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.totalBeforeVatForInvoice | currency}}</td>
  </tr>
  </tbody>
</table>
</div>
