<div ng-controller="FinancialCtrl as financialModel">
  <table>
  <tbody>
  <tr>
    <td><label>ס"ה ביניים</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.subTotal | currency}}</td>
    <td>
      <button ng-click="financialModel.updatePrices()"
              class="btn btn-default">
              עדכן מחירים
      </button>
    </td>
  </tr>
  <tr ng-show="financialModel.order.view.quote.bonusValue">
    <td><label>פריטי בונוס</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.bonusValue | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.view.quote.oldTransportation">
    <td><label>משלוח (ישן)</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.oldTransportation | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.view.quote.transportationBonus">
    <td><label>זיכוי משלוח</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.transportationBonus | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.discountCause?'bg-success':null">
    <td><label>סיבת הנחה</label></td>
    <td>
      <select ng-model="financialModel.order.view.quote.discountCause"
              ng-change="financialModel.setDiscountCause()"
              ng-options="discountCause.label for discountCause in financialModel.discountCauses"
              ng-disabled="financialModel.isReadOnly"
      ></select>
    </td>
    <td></td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.discountRate?'bg-success':null">
    <td><label>% הנחה</label></td>
    <td>
      <input type="number" max=100 min = 0 ng-model="financialModel.order.view.quote.discountRate"
             ng-disabled="!financialModel.order.view.quote.discountCause.tId>0 || financialModel.isReadOnly"
             ng-change="financialModel.setDiscountRate()"
             ng-class="financialModel.order.view.quote.errors.discountRate?'bg-danger':null">
    </td>
    <td>{{financialModel.order.view.quote.discount | currency}}</td>
  </tr>
  <tr>
    <td><label>עיגול</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.rounding | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.attributes.isBusinessEvent">
    <td><label>לפני מע"מ</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.totalBeforeVat | currency}}</td>
  </tr>
  <tr ng-show="financialModel.order.attributes.isBusinessEvent">
    <td>
      <label>
        <span>מע"מ %</span>
        <span>{{financialModel.order.attributes.vatRate*100}}</span>
      </label>
    </td>
    <td></td>
    <td>{{financialModel.order.view.quote.vat | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.fixedPrice?'bg-success':null">
    <td><label>מחיר קבוע</label></td>
    <td>
      <input type="checkbox" ng-model="financialModel.order.view.quote.isFixedPrice"
             ng-disabled="financialModel.isReadOnly"
             ng-change="financialModel.setFixedPrice()">
    </td>
    <td>
      <input type="text" money size=5 ng-model="financialModel.order.view.quote.fixedPrice"
             ng-disabled="financialModel.isReadOnly || !financialModel.order.view.quote.isFixedPrice"
             ng-change="financialModel.setFixedPrice()"
             ng-class="financialModel.order.view.quote.errors.fixedPrice?'bg-danger':null">
    </td>
  </tr>
  <tr>
    <td><label>לתשלום</label></td>
    <td></td>
    <td>{{financialModel.order.view.quote.total | currency}}</td>
    <td>למשתתף:</td>
    <td>{{financialModel.order.view.quote.total / financialModel.order.attributes.noOfParticipants | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.advance?'bg-success':null">
    <td><label>מקדמה</label></td>
    <td></td>
    <td>
      <input type="text" money size=5 ng-model="financialModel.order.view.quote.advance"
             ng-change="financialModel.setAdvance()"
             ng-class="financialModel.order.view.quote.errors.advance?'bg-danger':null">
    </td>
    <td>יתרה:</td>
    <td>{{financialModel.order.view.quote.balance | currency}}</td>
  </tr>
  <tr ng-class="financialModel.order.view.quote.changes.noQuantities?'bg-success':null">
    <td><label>ללא כמויות</label></td>
    <td><input type="checkbox"
               ng-model="financialModel.order.view.quote.isNoQuantities"
               ng-change="financialModel.setNoQuantities()">
    </td>
  </tr>
  </tbody>
</table>
</div>
