<div ng-controller="GeneralCtrl as generalModel">
<table>
  <tr ng-class="generalModel.order.view.changes.eventName?'bg-success':null">
    <td>שם האירוע</td>
    <td>
      <input type="text" size="30" ng-model="generalModel.order.attributes.eventName"
             ng-change="generalModel.orderChanged('eventName')"
             ng-disabled="generalModel.readOnly.is">
    </td>
  </tr>
  <tr ng-class="generalModel.order.view.changes.deliveryLocation?'bg-success':null">
    <td>מקום משלוח</td>
    <td>
      <textarea rows="2" cols="48" ng-model="generalModel.order.attributes.deliveryLocation"
                ng-change="generalModel.orderChanged('deliveryLocation')"
                ng-disabled="generalModel.readOnly.is"
          ></textarea>
    </td>
  </tr>
  <tr ng-class="generalModel.order.view.changes.remarks?'bg-success':null">
    <td>הערות</td>
    <td>
      <textarea rows="4" cols="48" ng-model="generalModel.order.attributes.remarks"
                ng-change="generalModel.orderChanged('remarks')"
                ng-disabled="generalModel.readOnly.is"
          ></textarea>
    </td>
  </tr>
  <tr ng-class="generalModel.order.view.changes.includeRemarksInBid?'bg-success':null">
    <td>הכלל הערות בהצעה</td>
    <td>
      <input type="checkbox" ng-model="generalModel.order.attributes.includeRemarksInBid"
             ng-change="generalModel.orderChanged('includeRemarksInBid')"
             ng-disabled="generalModel.readOnly.is">
    </td>
  </tr>
  <tr ng-class="generalModel.order.view.changes.isBusinessEvent?'bg-success':null">
    <td>אירוע עסקי</td>
    <td>
      <input type="checkbox" ng-model="generalModel.order.attributes.isBusinessEvent"
             ng-change="generalModel.setBusinessEvent()"
             ng-disabled="generalModel.readOnly.is">
    </td>
  </tr>
  <tr ng-class="generalModel.order.view.changes.referralSource?'bg-success':null">
    <td>מקור הפניה</td>
    <td>
      <select ng-model="generalModel.order.view.referralSource"
              ng-change="generalModel.orderChanged('referralSource')"
              ng-options="referralSource.label for referralSource in generalModel.referralSources"
              ng-disabled="generalModel.readOnly.is"
        ></select>
    </td>
    <td>
      <input type="text" size="50" ng-model="generalModel.order.attributes.referralSourceText"
             ng-change="generalModel.orderChanged('referralSource')"
             ng-disabled="generalModel.readOnly.is">
    </td>
    <td></td>
  </tr>
  <tr ng-class="generalModel.order.view.changes.template?'bg-success':null">
    <td>שם תבנית</td>
    <td>
      <input type="text" ng-model="generalModel.order.attributes.template"
             ng-change="generalModel.orderChanged('template')"
             ng-disabled="generalModel.readOnly.is">

    </td>
  </tr>
  <tr ng-class="generalModel.order.view.changes.color?'bg-success':null">
    <td>צבע</td>
    <td>{{generalModel.order.view.color.label}}</td>
    <td>
      <button class="btn btn-default btn-sm"
              ng-click="generalModel.resetColor()"
              ng-disabled="generalModel.readOnly.is || !generalModel.order.attributes.color">
        מחק צבע
      </button>
    </td>
    <td>
      השתמש בזה כדי למחוק צבע של אירוע עתידי אם נכנס אירוע קרוב יותר שאין עבורו צבע
    </td>
  </tr>
  <tr>
    <td>
      <button class="btn btn-default btn-sm"
              ng-click="generalModel.duplicateOrder()"
              ng-show="!generalModel.order.view.isChanged && generalModel.order.id">
        שכפל אירוע
      </button>

    </td>
   <td>
      <button class="btn btn-warning btn-sm"
              ng-click="generalModel.deleteOrder()"
              ng-show="generalModel.order.id">
        מחק אירוע
      </button>

    </td>
  </tr>
</table>
</div>
