<div ng-controller="HeaderCtrl as headerModel">
<table style="width: 95%">
  <tbody>
    <tr ng-class="headerModel.order.view.changes.customer?'bg-success':null">
      <td style="width: 50%">
      <table>
        <tr>
      <td><label>לקוח</label></td>
      <td>
        <button ng-click="headerModel.setCustomer(1,'בחירת לקוח')"
                ng-class="headerModel.order.view.errors.customer?'btn btn-danger':'btn btn-default'"
                class="btn btn-default"
                ng-show="headerModel.order.view.customer.id">
          {{headerModel.order.view.customer.firstName + ' ' + headerModel.order.view.customer.lastName}}
        </button>
        <button ng-click="headerModel.setCustomer(1,'בחירת לקוח')"
                ng-class="headerModel.order.view.errors.customer?'btn bg-danger':'btn btn-default'"
                ng-hide="headerModel.order.view.customer.id">
          בחר
        </button>
      </td>
      <td>
        <span ng-show="headerModel.order.view.customer.mobilePhone">טל' נייד: </span>
        <a href="tel:{{headerModel.order.view.customer.mobilePhone}}">{{headerModel.order.view.customer.mobilePhone}}</a>
      </td>
      <td>
        <span ng-show="headerModel.order.view.customer.homePhone">טל' בית: </span>
        <a href="tel:{{headerModel.order.view.customer.homePhone}}">{{headerModel.order.view.customer.homePhone}}</a>
      </td>
      <td>
        <span ng-show="headerModel.order.view.customer.workPhone">טל עבודה: </span>
        <a href="tel:{{headerModel.order.view.customer.workPhone}}">{{headerModel.order.view.customer.workPhone}}</a>
      </td>
      <td>
        <span ng-show="headerModel.order.view.customer.email">דואל: </span>
        <a href="mailto:{{headerModel.order.view.customer.email}}">{{headerModel.order.view.customer.email}}</a>
      </td>
    </tr>
        </table>
    </td>
      <td style="width: 50%">
        <table>
          <tr>
      <td><label>איש קשר</label></td>
      <td>
        <button ng-click="headerModel.setCustomer(2,'בחירת איש קשר')"
                ng-class="headerModel.order.view.errors.contact?'bg-danger':null"
                class="btn btn-default"
                ng-show="headerModel.order.view.contact.id">
          {{headerModel.order.view.contact.firstName + ' ' + headerModel.order.view.contact.lastName}}
        </button>
        <button ng-click="headerModel.setCustomer(2,'בחירת איש קשר')"
                ng-class="headerModel.order.view.errors.contact?'bg-danger':null"
                class="btn btn-default"
                ng-hide="headerModel.order.view.contact.id">
          בחר
        </button>
      </td>
      <td>
        <span ng-show="headerModel.order.view.contact.mobilePhone">טל' נייד: </span>
        <a href="tel:{{headerModel.order.view.contact.mobilePhone}}">{{headerModel.order.view.contact.mobilePhone}}</a>
      </td>
      <td>
        <span ng-show="headerModel.order.view.contact.homePhone">טל' בית: </span>
        <a href="tel:{{headerModel.order.view.contact.homlePhone}}">{{headerModel.order.view.contact.homlePhone}}</a>
      </td>
      <td>
        <span ng-show="headerModel.order.view.contact.workPhone">טל עבודה: </span>
        <a href="tel:{{headerModel.order.view.contact.workPhone}}">{{headerModel.order.view.contact.workPhone}}</a>
      </td>
      <td>
        <span ng-show="headerModel.order.view.contact.email">דואל: </span>
        <a href="mailto:{{headerModel.order.view.contact.email}}">{{headerModel.order.view.contact.email}}</a>
      </td>
          </tr>
          </table>
  </td>
   </tbody>
  </table>
<table style="width: 95%">
  <tr ng-class="headerModel.order.view.changes.header?'bg-success':null">
    <td style="width: 17%">
      <label>תאריך:</label>&nbsp;<input type='date' ng-model="headerModel.order.attributes.eventDate"
                                 ng-change="headerModel.setEventDate()" required
                                 ng-class="headerModel.order.view.errors.eventDate?'bg-danger':null">
    </td>
    <td style="width: 14%">
      <label>שעת מסירה:</label>&nbsp;<input type="time" ng-model="headerModel.order.attributes.eventTime"
                               ng-disabled="headerModel.isReadOnly"
                               ng-change="headerModel.orderChanged('header')">
    </td>
    <td style="width: 14%">
      <label>שעת יציאה:</label>&nbsp;<input type="time" ng-model="headerModel.order.attributes.exitTime"
                               ng-disabled="headerModel.isReadOnly"
                               ng-change="headerModel.orderChanged('header')">
    </td>
    <td style="width: 12%">
      <label>משתתפים:</label>&nbsp;<input type="number" min=1 max="9999"
                                          ng-model="headerModel.order.attributes.noOfParticipants"
                                          ng-change="headerModel.setNoOfParticipants()"
                                          ng-disabled="headerModel.isReadOnly"
                                          ng-class="headerModel.order.view.errors.noOfParticipants?'bg-danger':null">
    </td>
    <td style="width: 10%">
      <label>ילדים:</label>&nbsp;<input type="number" min="-999" max="9999"
                                          placeholder="מתוכם"
                                          ng-model="headerModel.order.attributes.children"
                                          ng-change="headerModel.setChildren()"
                                          ng-disabled="headerModel.isReadOnly"
                                          ng-class="headerModel.order.view.errors.children?'bg-danger':null">
    </td>
    <td style="width: 14%">
      <label>סוג אירוע:</label>&nbsp;<select ng-model="headerModel.order.view.eventType"
                                      ng-change="headerModel.orderChanged('header')"
                                      ng-options="eventType.label for eventType in headerModel.eventTypes"
                                      ng-disabled="headerModel.isReadOnly"
            ></select>
    </td>
    <td style="width: 19%">
      <label>סטטוס:</label>&nbsp;<select ng-model="headerModel.order.view.orderStatus"
                                         ng-change="headerModel.orderChanged('header')"
                                         ng-options="orderStatus.name for orderStatus in headerModel.orderStatuses"
      ></select>
    </td>
  </tr>
    <tr ng-class="headerModel.order.view.changes.header?'bg-success':null">
      <td>
        <label>
        {{(headerModel.order.view.quote?headerModel.order.view.quote.title:
        headerModel.order.attributes.quotes[headerModel.order.attributes.activeQuote].title)+':'}}
        </label>
      </td>
    <td>
      <label>סכום: </label>&nbsp;<span>
      {{headerModel.order.view.quote?headerModel.order.view.quote.total:
            headerModel.order.attributes.quotes[headerModel.order.attributes.activeQuote].total | currency}}
    </span>
    </td>
    <td>
      <label>קופסאות: </label>&nbsp;<span>
      {{headerModel.order.view.quote?headerModel.order.view.quote.boxEstimate:
            headerModel.order.attributes.quotes[headerModel.order.attributes.activeQuote].boxEstimate | number:2}}
    </span>
    </td>
    <td>
      <label>שובע: </label>&nbsp;<span>
      {{headerModel.order.view.quote?headerModel.order.view.quote.satietyIndex:
            headerModel.order.attributes.quotes[headerModel.order.attributes.activeQuote].satietyIndex | number:2}}
      </span>
    </td>
  </tr>
</table>
</div>
