<div ng-controller="ItemsCtrl as itemsModel">
  <div class="hidden-xs">
<button ng-click="itemsModel.addItem(true)"
        ng-show="!itemsModel.isAddTemplate && !itemsModel.isAddItem && !itemsModel.isAddQuote"
        ng-disabled="itemsModel.readOnly.is"
        class="btn btn-default"
        >הוסף פריט</button>
<button ng-click="itemsModel.addItem(false)"
        ng-show="itemsModel.isAddItem"
        ng-disabled="itemsModel.readOnly.is"
        class="btn btn-warning">
    בטל
</button>
<span ng-show="itemsModel.isAddItem">
    <select ng-model="itemsModel.currentCategory" ng-change="itemsModel.setCategory()"
            ng-options="category.label for category in itemsModel.categories"></select>
    <label>סינון:</label><input type="text" ng-model="itemsModel.filterText"
                                ng-change="itemsModel.filterProducts()">
    <table class="table table-hover" style="width:40%">
      <thead>
      <th>שם מנה</th>
      <th>כבר מופיע?</th>
      </thead>
      <tbody>
      <tr ng-repeat="product in itemsModel.filteredCatalog">
        <td style="cursor: pointer" ng-click="itemsModel.setProduct(product)">{{product.productName}}</td>
        <td>{{product.isInOrder | checkMark}}</td>
      </tr>
      </tbody>
    </table>
</span>
  <button ng-click="itemsModel.addTemplate(true)"
          ng-show="!itemsModel.isAddTemplate && !itemsModel.isAddItem && !itemsModel.isAddQuote"
          ng-disabled="itemsModel.readOnly.is"
          class="btn btn-default">
    הוסף תבנית
  </button>
  <span ng-show="itemsModel.isAddTemplate">
  <button ng-click="itemsModel.addTemplate(false)"
          ng-disabled="itemsModel.readOnly.is"
          class="btn btn-warning">
      בטל
  </button>
  &nbsp;
  <span>
    התאמת כמויות
  </span>
  <input type="checkbox" ng-model="itemsModel.isAdjustQuantity">
  <table style="width: 40%" class="table table-hover">
    <thead>
    <th>סוג תפריט</th>
    <th>שם תבנית</th>
    <th>משתתפים</th>
    </thead>
      <tbody>
      <tr ng-repeat="template in itemsModel.templates | filter: {isCurrentMenuType:true}">
        <td style="cursor: pointer" ng-click="itemsModel.setTemplate(template)">
          {{template.attributes.header.menuType.label}}
        </td>
        <td style="cursor: pointer" ng-click="itemsModel.setTemplate(template)">
          {{template.attributes.template}}
        </td>
        <td style="cursor: pointer" ng-click="itemsModel.setTemplate(template)">
          {{template.attributes.noOfParticipants}}
        </td>
      </tr>
      <tr ng-show="itemsModel.isBothMenuTypes()">
        <td>---------------</td>
      </tr>
      <tr ng-repeat="template in itemsModel.templates | filter: {isCurrentMenuType:false}">
        <td style="cursor: pointer" ng-click="itemsModel.setTemplate(template)">
          {{template.attributes.header.menuType.label}}
        </td>
        <td style="cursor: pointer" ng-click="itemsModel.setTemplate(template)">
          {{template.attributes.template}}
        </td>
        <td style="cursor: pointer" ng-click="itemsModel.setTemplate(template)">
          {{template.attributes.noOfParticipants}}
        </td>
      </tr>
     </tbody>
  </table>
</span>
    <button ng-click="itemsModel.addQuote(true)"
               ng-show="!itemsModel.isAddTemplate && !itemsModel.isAddItem && !itemsModel.isAddQuote"
               ng-disabled="itemsModel.readOnly.is"
               class="btn btn-default">
  הוסף תפריט אחר
</button>
  <span ng-show="itemsModel.isAddQuote">
  <button ng-click="itemsModel.addQuote(false)"
          ng-disabled="itemsModel.readOnly.is"
          class="btn btn-warning">
      בטל
  </button>
  &nbsp;
  <table style="width: 40%" class="table table-hover">
    <thead>
    <th>שם תפריט</th>
    </thead>
      <tbody>
      <tr ng-repeat="quote in itemsModel.quotes">
        <td style="cursor: pointer" ng-click="itemsModel.setQuote(quote)">
          {{quote.title}}
        </td>
     </tr>
      </tbody>
  </table>
</span>
  </div>
  <p></p>
  <div class="hidden-xs">
    <table class="table table-hover" ng-show="itemsModel.order.view.quote.items.length" style="width: 80%">
      <thead>
      <th style="width: 9%">קטגוריה</th>
      <th style="width: 73%">מוצר</th>
      <th style="width: 6%">יח'</th>
      <th style="width: 2%">כמות</th>
      <th style="width: 5%">מחיר</th>
      <th style="width: 5%">בונוס</th>
      </thead>
      <tbody>
      <tr ng-repeat="item in itemsModel.order.view.quote.items track by item.index"
          ng-class="item.isChanged?'bg-success':null">
        <td>{{item.category.label}}</td>
        <td>
          <input type="text" size="{{item.isDescChanged ? 89 : 100}}" ng-model="item.productDescription"
                 ng-change="itemsModel.setProductDescription($index)"
                 ng-disabled="itemsModel.readOnly.is"
                 ng-class="item.errors.productDescription?'bg-danger':null">
          <input type="checkbox" ng-model="item.isCosmeticChange"
                 ng-show="item.isDescChanged"
                 ng-change="itemsModel.setCosmeticChange($index)"
                 ng-disabled="itemsModel.readOnly.is">
          <button ng-show="item.isDescChanged"
                  class="btn btn-default btn-sm bg-success"
                  ng-click="itemsModel.resetDescChange($index)">מקור</button>
        </td>
        <td>{{item.measurementUnit.label}}</td>
        <td>
          <input type="number" size="1" min=0 max="10000"
                 ng-model="item.quantity"
                 ng-change="itemsModel.setQuantity($index)"
                 ng-disabled="itemsModel.readOnly.is || item.isForcedPrice"
                 ng-class="item.errors.quantity?'bg-danger':null">
        </td>
        <td>
          <input type="text" size="7" money min=0 ng-model="item.price"
                 ng-change="itemsModel.setPrice($index)"
                 ng-disabled="itemsModel.readOnly.is || item.category.type === 4"
                 ng-class="item.errors.price?'bg-danger':null">
        </td>
        <td>
          <input type="checkbox"
                 ng-model="item.isFreeItem"
                 ng-change="itemsModel.setFreeItem($index)"
                 ng-disabled="itemsModel.readOnly.is"
          >
        </td>
        <td ng-hide="item.isForcedPrice">
          <button ng-click="itemsModel.editCatalogItem($index)"
                  ng-disabled="itemsModel.order.view.isChanged"
                  class="btn btn-default btn-sm"
          >קטלוג</button>
        </td>
        <td ng-show="item.isForcedPrice">
          <button ng-click="itemsModel.setQuantity($index)"
                  ng-disabled="itemsModel.readOnly.is"
                  class="btn btn-warning btn-sm"
          >מחיר ב"מ</button> <!-- setQuantity causes price recalc -->
        </td>
        <td>
          <button ng-click="itemsModel.deleteItem($index)"
                  ng-disabled="itemsModel.readOnly.is"
                  class="btn btn-warning btn-sm"
          >מחק</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="hidden-sm hidden-md hidden-lg hidden-xl" style="width: 99%">
    <table class="table table-hover" ng-show="itemsModel.order.view.quote.items.length">
      <thead>
      <th style="width: 73%">מוצר</th>
      <th style="width: 2%">כמות</th>
      <th style="width: 5%">מחיר</th>
      <th style="width: 5%">בונוס</th>
      </thead>
      <tbody>
      <tr ng-repeat="item in itemsModel.order.view.quote.items track by item.index">
        <td>{{item.productDescription}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price | currency}}</td>
         <td>
          <input type="checkbox"
                 ng-model="item.isFreeItem"
                 ng-disabled="true"
          >
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
