<div ng-controller="OrderTableCtrl as orderTableModel">
  <div ng-hide="orderTableModel.queryType==='templates'">
<table class="table table-hover table-responsive" style="width: 99%">
  <thead ng-hide="orderTableModel.isProcessing">
  <th style="width:3%">מס'</th>
  <th ng-show="orderTableModel.queryType==='sales'" style="width:3%">נוצר</th>
  <th style="width: 11%">תאריך</th>
  <th ng-show="orderTableModel.queryType==='future'" style="width: 4%">מסירה</th>
  <th class="hidden-xs" ng-show="orderTableModel.queryType==='future'" style="width: 4%">יציאה</th>
  <th ng-hide="orderTableModel.queryType==='customer'" style="width: 11%">לקוח</th>
  <th ng-hide="orderTableModel.queryType==='customer'" style="width:1%">טל'</th>
  <th ng-show="orderTableModel.queryType==='invoices'" style="width:10%">חשבונית ע"ש</th>
  <th style="width: 5%">סועדים</th>
  <th ng-hide="orderTableModel.queryType==='sales'" style="width: 11%">תפריט</th>
  <th ng-show="orderTableModel.queryType==='sales'" style="width: 11%">פרטים</th>
  <th style="width: 7%">סטטוס</th>
  <th ng-show="orderTableModel.isOrderNumbers && orderTableModel.queryType==='future'">זיהוי</th>
  <th ng-hide="orderTableModel.queryType==='invoices'" style="width: 7%">סכום</th>
  <th ng-show="orderTableModel.queryType==='invoices'" style="width: 7%">לפני מע"מ</th>
  <th class="hidden-xs"
      ng-show="orderTableModel.queryType==='future'"
      style="width: 21%">
    שירותים מיוחדים
  </th>
  <th class="hidden-xs"
      ng-show="orderTableModel.queryType==='sales'"
      style="width: 21%">
    פעילות אחרונה
  </th>
  <th ng-show="orderTableModel.queryType==='invoices'">בוצע</th>
<th  class="hidden-xs" style="width: 6%">יוצר</th>
  </thead>
  <tbody>
  <tr ng-repeat="order in orderTableModel.orders"
      ng-class="order.view.orderStatus.id<2 && order.attributes.header.activityDate &&
                            (orderTableModel.today - order.attributes.header.activityDate)/(24*3600000)>2
                              ? 'myAlertEvent' :
                        order.view.orderStatus.id===1?'bg-active':
                        order.view.orderStatus.id===2?'bg-warning':
                        (order.view.orderStatus.id>=3 && order.view.orderStatus.id<=5)?'bg-success':
                        order.view.orderStatus.id===6?'active myCanceledEvent':null">
     <td ng-hide="orderTableModel.isDisableLink">
      <a  ng-href="#/editOrderView/{{order.id}}/0">
        {{order.attributes.number}}
      </a>
    </td>
    <td ng-show="orderTableModel.isDisableLink">
      {{order.attributes.number}}
    </td>
    <td ng-show="orderTableModel.queryType==='sales'">
      {{order.createdAt | date: 'dd/MM'}}
    </td>
    <td ng-hide="order.attributes.isDateUnknown">
      {{order.attributes.eventDate | date: 'EEE dd/MM/yy'}}
    </td>
    <td ng-show="order.attributes.isDateUnknown">
      <span>אין תאריך</span>
    </td>
    <td ng-show="orderTableModel.queryType==='future'">
      {{order.attributes.eventTime | date: 'HH:mm'}}</td>
    <td class="hidden-xs" ng-show="orderTableModel.queryType==='future'">
      {{order.attributes.exitTime | date: 'HH:mm'}}</td>
    <td ng-hide="orderTableModel.queryType==='customer'">
      {{order.view.customer.attributes.firstName+' '+order.view.customer.attributes.lastName}}
    </td>
    <td class="hidden-xs"
        ng-show="orderTableModel.queryType!=='customer' && order.view.customer"
        style="cursor: pointer"
        ng-click="orderTableModel.showCustomerContactInfo(order)">
      <img src="app/img/phone.png">
    </td>
    <td class="hidden-xs"
        ng-hide="orderTableModel.queryType!=='customer' && order.view.customer">
      </td>
    <td class="hidden-sm hidden-md hidden-lg hidden-xl"
        ng-show="orderTableModel.queryType!=='customer'">
      <a href="tel:{{order.view.customer.anyPhone}}">
        <img src="app/img/phone.png">
      </a>
    </td>
    <td ng-show="orderTableModel.queryType==='invoices'">
      {{order.attributes.taskData.invoiceName}}
    </td>
    <td>{{order.attributes.noOfParticipants}}</td>
    <td ng-show="order.view.orderStatus.id === 0">
      {{order.view.referralSource.label}}
    </td>
    <td ng-show="order.view.orderStatus.id === 6">
      {{order.view.cancelReason.label}}
    </td>
   <td ng-show="order.view.orderStatus.id > 0 && order.view.orderStatus.id < 6">
      {{order.attributes.header.title}}
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='sales') &&
                 order.view.orderStatus.id > 0 &&
                 order.view.orderStatus.id < 6 &&
                 !order.attributes.isDateUnknown &&
                 !orderTableModel.user.isSalesPerson">
      <select ng-model="order.view.orderStatus"  ng-style="orderTableModel.isOrderColors ? order.view.color.style : null"
              ng-change="orderListModel.setStatus(order)"
              ng-options=
  "orderStatus.name for orderStatus in orderListModel.orderStatuses | filter:{isSelectDefault:true}"
      ></select>
    </td>
    <td class="hidden-xs"
        ng-show="orderTableModel.queryType==='sales' &&
                 order.view.orderStatus.id > 0 &&
                 order.view.orderStatus.id < 6 &&
                 order.attributes.isDateUnknown &&
                 !orderTableModel.user.isSalesPerson">
      <select ng-model="order.view.orderStatus"  ng-style="orderTableModel.isOrderColors ? order.view.color.style : null"
              ng-change="orderListModel.setStatus(order)"
              ng-options=
 "orderStatus.name for orderStatus in orderListModel.orderStatuses | filter:{isSelectNoDate:true}"
      ></select>
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='sales') &&
                 order.view.orderStatus.id === 0 &&
                 !orderTableModel.user.isSalesPerson">
      <select ng-model="order.view.orderStatus"  ng-style="orderTableModel.isOrderColors ? order.view.color.style : null"
              ng-change="orderListModel.setStatus(order)"
              ng-options=
   "orderStatus.name for orderStatus in orderListModel.orderStatuses | filter:{isSelectLead:true}"
      ></select>
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='sales') &&
                 order.view.orderStatus.id === 6  &&
                 !orderTableModel.user.isSalesPerson">
      {{order.view.orderStatus.name}}
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='sales') &&
                 orderTableModel.user.isSalesPerson">
      {{order.view.orderStatus.name}}
    </td>
    <td class="hidden-sm hidden-md hidden-lg hidden-xl"
        ng-show="orderTableModel.queryType==='future'||
                 orderTableModel.queryType==='sales'">
      {{order.view.orderStatus.name}}
    </td>
    <td ng-hide="orderTableModel.queryType==='future'||
                  orderTableModel.queryType==='sales'">
      {{order.view.orderStatus.name}}
    </td>
    <td ng-show="orderTableModel.isOrderNumbers && orderTableModel.queryType==='future'">
      {{order.view.color.tId}}
    </td>
    <td ng-hide="orderTableModel.queryType==='invoices'">
      {{order.attributes.header.total | currency}}
    </td>
    <td ng-show="orderTableModel.queryType==='invoices'">
      {{order.attributes.header.totalBeforeVatForInvoice | currency}}
    </td>
    <td class="hidden-xs" style="overflow-wrap: break-word"
         ng-show="orderTableModel.queryType==='future'">
       <span class="taskRequired">{{order.attributes.header.extraUndone}}</span>
       <span class="taskNormal">{{order.attributes.header.extraDone}}</span>
     </td>
    <td class="hidden-xs"
      ng-show="orderTableModel.queryType==='sales'">
      <span>{{order.attributes.header.activityDate | date:'dd/MM/yy'}}</span>
      <span>{{order.attributes.header.activityText}}</span>
    </td>
    <td ng-show="orderTableModel.queryType==='invoices'">
      <input type="checkbox" ng-model="order.view.isInvoiceDone" ng-change="orderListModel.setInvoiceDone(order)">
    </td>
     <td class="hidden-xs">{{order.attributes.createdBy}}</td>
  </tr>
  </tbody>
</table>
</div>
  <div ng-show="orderTableModel.queryType==='templates'">
    <table class="table table-hover" style="width: 99%">
      <thead ng-hide="orderTableModel.isProcessing">
      <th style="width: 10%">סוג תפריט</th>
      <th style="width: 23%">שם תבנית</th>
      <th style="width: 5%">סועדים</th>
      <th style="width: 7%">סכום</th>
      <th style="width: 45%">הערות</th>
      </thead>
      <tbody>
      <tr ng-repeat="order in orderTableModel.orders"
          ng-class="order.view.orderStatus.id===6?'active myCanceledEvent':null">
        <td>
          <a ng-href="#/editOrderView/{{order.id}}/0">{{order.attributes.header.menuType.label}}</a>
        </td>
        <td>
          <a ng-href="#/editOrderView/{{order.id}}/0">{{order.attributes.template}}</a>
        </td>
        <td>{{order.attributes.noOfParticipants}}</td>
        <td>{{order.attributes.header.total | currency}}</td>
        <td>{{order.attributes.remarks}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
