<div ng-controller="OrderTableCtrl as orderTableModel">
  <div ng-hide="orderTableModel.queryType==='templates'">
<table class="table table-hover table-responsive" style="width: 99%">
  <thead ng-hide="orderTableModel.isProcessing">
  <th style="width:3%">מס'</th>
  <th style="width: 11%">תאריך</th>
  <th style="width: 4%">מסירה</th>
  <th class="hidden-xs" ng-show="orderTableModel.queryType==='future'" style="width: 4%">יציאה</th>
  <th ng-hide="orderTableModel.queryType==='customer'" style="width: 11%">לקוח</th>
  <th ng-hide="orderTableModel.queryType==='customer'" style="width:1%">טל'</th>
  <th style="width: 5%">סועדים</th>
  <th style="width: 11%">תפריט</th>
  <th style="width: 7%">סטטוס</th>
  <th style="width: 7%">סכום</th>
  <th  ng-show="orderTableModel.queryType==='debts'" style="width: 7%">יתרה</th>
  <th class="hidden-xs" ng-show="orderTableModel.queryType==='future'" style="width: 6%">ת' פעילות</th>
  <th class="hidden-xs" ng-show="orderTableModel.queryType==='future'" style="width: 15%">פעילות</th>
  <th  class="hidden-xs" style="width: 6%">יוצר</th>
  </thead>
  <tbody>
  <tr ng-repeat="order in orderTableModel.orders"
      ng-class="order.view.orderStatus.id===1 && order.attributes.header.activityDate &&
                            (orderTableModel.today - order.attributes.header.activityDate)/(24*3600000)>2
                              ? 'myAlertEvent' :
                        order.view.orderStatus.id===1?'bg-active':
                        order.view.orderStatus.id===2?'bg-warning':
                        (order.view.orderStatus.id>=3 && order.view.orderStatus.id<=5)?'bg-success':
                        order.view.orderStatus.id===6?'active myCanceledEvent':null">
     <td ng-hide="orderTableModel.isDisableLink">
      <a  ng-href="#/editOrderView/{{order.id}}/0">
        {{order.attributes.number}}
      </a>
    </td>
    <td ng-show="orderTableModel.isDisableLink">
      {{order.attributes.number}}
    </td>
    <td ng-hide="order.attributes.isDateUnknown">
      {{order.attributes.eventDate | date: 'EEE dd/MM/yy'}}
    </td>
    <td ng-show="order.attributes.isDateUnknown">
      <span>אין תאריך</span>
    </td>
    <td>{{order.attributes.eventTime | date: 'HH:mm'}}</td>
    <td class="hidden-xs" ng-show="orderTableModel.queryType==='future'">{{order.attributes.exitTime | date: 'HH:mm'}}</td>
    <td ng-hide="orderTableModel.queryType==='customer'">
      {{order.view.customer.attributes.firstName+' '+order.view.customer.attributes.lastName}}
    </td>
    <td class="hidden-xs"
        ng-show="orderTableModel.queryType!=='customer'"
        style="cursor: pointer"
        ng-click="orderTableModel.showCustomerContactInfo(order)">
        <img src="app/img/phone.png">
    </td>
    <td class="hidden-sm hidden-md hidden-lg hidden-xl"
        ng-show="orderTableModel.queryType!=='customer'">
      <a href="tel:{{order.view.customer.anyPhone}}">
        <img src="app/img/phone.png">
      </a>
    </td>
    <td>{{order.attributes.noOfParticipants}}</td>
    <td>{{order.attributes.header.title}}</td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='debts' ||
                 orderTableModel.queryType==='year') &&
                 order.view.orderStatus.id > 0 &&
                 order.view.orderStatus.id < 6 &&
                 !order.attributes.isDateUnknown &&
                 !orderTableModel.user.isSalesPerson">
      <select ng-model="order.view.orderStatus"  ng-style="order.view.color.style"
              ng-change="orderListModel.setStatus(order)"
              ng-options=
  "orderStatus.name for orderStatus in orderListModel.orderStatuses | filter:{isSelectDefault:true}"
      ></select>
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='debts' ||
                 orderTableModel.queryType==='year') &&
                 order.view.orderStatus.id > 0 &&
                 order.view.orderStatus.id < 6 &&
                 order.attributes.isDateUnknown &&
                 !orderTableModel.user.isSalesPerson">
      <select ng-model="order.view.orderStatus"  ng-style="order.view.color.style"
              ng-change="orderListModel.setStatus(order)"
              ng-options=
 "orderStatus.name for orderStatus in orderListModel.orderStatuses | filter:{isSelectNoDate:true}"
      ></select>
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='debts' ||
                 orderTableModel.queryType==='year') &&
                 order.view.orderStatus.id === 0 &&
                 !orderTableModel.user.isSalesPerson">
      <select ng-model="order.view.orderStatus"  ng-style="order.view.color.style"
              ng-change="orderListModel.setStatus(order)"
              ng-options=
   "orderStatus.name for orderStatus in orderListModel.orderStatuses | filter:{isSelectLead:true}"
      ></select>
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='debts' ||
                 orderTableModel.queryType==='year') &&
                 order.view.orderStatus.id === 6  &&
                 !orderTableModel.user.isSalesPerson">
      {{order.view.orderStatus.name}}
    </td>
    <td class="hidden-xs"
        ng-show="(orderTableModel.queryType==='future' ||
                 orderTableModel.queryType==='debts' ||
                 orderTableModel.queryType==='year') &&
                 orderTableModel.user.isSalesPerson">
      {{order.view.orderStatus.name}}
    </td>
    <td class="hidden-sm hidden-md hidden-lg hidden-xl"
        ng-show="orderTableModel.queryType==='future'||
                 orderTableModel.queryType==='debts'||
                 orderTableModel.queryType==='year'">
      {{order.view.orderStatus.name}}
    </td>
    <td ng-hide="orderTableModel.queryType==='future'||orderTableModel.queryType==='debts'||orderTableModel.queryType==='year'">
      {{order.view.orderStatus.name}}
    </td>
    <td>{{order.attributes.header.total | currency}}</td>
    <td ng-show="orderTableModel.queryType==='debts'">
      {{order.attributes.header.balance | currency}}
    </td>
     <td class="hidden-xs" ng-show="orderTableModel.queryType==='future'">{{order.attributes.header.activityDate | date: 'dd/MM/yy'}}</td>
    <td class="hidden-xs" ng-show="orderTableModel.queryType==='future'">{{order.attributes.header.activityText}}</td>
    <td class="hidden-xs">{{order.attributes.createdBy}}</td>
  </tr>
  </tbody>
</table>
</div>
  <div ng-show="orderTableModel.queryType==='templates'">
    <table class="table table-hover" style="width: 99%">
      <thead ng-hide="orderTableModel.isProcessing">
      <th style="width: 10%">סוג תפריט</th>
      <th style="width: 23%">שם תבנית</th>
      <th style="width: 5%">סועדים</th>
      <th style="width: 7%">סכום</th>
      <th style="width: 45%">הערות</th>
      </thead>
      <tbody>
      <tr ng-repeat="order in orderTableModel.orders"
          ng-class="order.view.orderStatus.id===6?'active myCanceledEvent':null">
        <td>
          <a ng-href="#/editOrderView/{{order.id}}/0">{{order.attributes.header.menuType.label}}</a>
        </td>
        <td>
          <a ng-href="#/editOrderView/{{order.id}}/0">{{order.attributes.template}}</a>
        </td>
        <td>{{order.attributes.noOfParticipants}}</td>
        <td>{{order.attributes.header.total | currency}}</td>
        <td>{{order.attributes.remarks}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
