<table style="width: 70%">
    <thead>
    <th style="width: 5%">מס'</th>
    <th style="width: 20%">תאריך</th>
    <th style="width: 9%">מסירה</th>
    <th style="width: 9%">סועדים</th>
    <th style="width: 9%">סוג אירוע</th>
    <th style="width: 9%">סטטוס</th>
    <th style="width: 9%">סכום</th>
    <th style="width: 9%">משלוח</th>
    <th style="width: 7%">הנחה</th>
    <th style="width: 14%">הצעת מחיר</th>
    </thead>
    <tbody>
    <tr ng-repeat="order in orderModel.prevOrders"
        ng-class="order.view.orderStatus.id===1?'bg-active':
                        order.view.orderStatus.id===2?'bg-warning':
                        (order.view.orderStatus.id>=3 && order.view.orderStatus.id<=5)?'bg-success':
                        order.view.orderStatus.id===6?'active myCanceledEvent':null">
        <td>
            <a ng-href="#/editOrderView/{{order.id}}">{{order.attributes.number}}</a>
        </td>
        <td>{{order.attributes.eventDate | date: 'EEEE dd/MM/yy'}}</td>
        <td>{{order.attributes.eventTime | date: 'HH:mm'}}</td>
        <td>{{order.attributes.noOfParticipants}}</td>
        <td>{{order.view.eventType.label}}</td>
        <td>{{order.view.orderStatus.name}}</td>
        <td>{{order.attributes.header.total | currency}}</td>
        <td>{{order.attributes.header.transportationInclVat | currency}}</td>
        <td>{{order.attributes.header.discountRate | number:0}}</td>
        <td>
            <button class="btn btn-default btn-sm" ng-click="orderModel.getLastBid(order)">הצג</button>
        </td>
    </tr>
    </tbody>
</table>
