<div ng-controller="QuoteManagementCtrl as quoteManagementModel">
<table class="table table-hover" style="width: 60%">
  <thead>
  <th>סוג תפריט</th>
  <th>כותרת</th>
  <th>סכום</th>
  <th>נבחר?</th>
  <th></th>
  </thead>
  <tbody>
  <tr ng-repeat="quote in quoteManagementModel.order.attributes.quotes track by quote.menuType.tId"
      ng-class="quote.changes.management?'bg-success':null">
    <td>{{quote.menuType.label}}</td>
    <td>
      <input type="text" size="30" ng-model="quote.title"
             ng-change="quoteManagementModel.setQuoteChanged($index)"
             ng-disabled="quoteManagementModel.isReadOnly">
    </td>
    <td>{{quote.total | currency}}</td>
    <td>
      <input type="checkbox" ng-model="quote.isActive"
             ng-change="quoteManagementModel.setActiveQuote($index)"
             ng-disabled="quoteManagementModel.isReadOnly">
    </td>
    <td>
      <button class="btn btn-warning btn-small"
              ng-disabled="quote.isActive || quoteManagementModel.isReadOnly"
              ng-click="quoteManagementModel.delQuote($index)">
        מחק
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div ng-show="quoteManagementModel.remainingMenuTypes.length"
     ng-class="quoteManagementModel.order.attributes.quotes.length===0?bg-error:null">
<span>הוסף תפריט מסוג:</span>
<select ng-model="quoteManagementModel.newMenuType"
        ng-change="quoteManagementModel.addQuote()"
        ng-options="menuType.label for menuType in quoteManagementModel.remainingMenuTypes"
        ng-disabled="quoteManagementModel.isReadOnly"
  ></select>
  </div>
  </div>
