<tabset>
  <tab ng-controller="QuoteParamsCtrl as quoteParamsModel"
       select="quoteParamsModel.filterCategories()"
       heading="הצעת מחיר" >
    <ng-include src="'app/partials/order/quoteParams.html'"></ng-include>
  </tab>
  <tab active="orderModel.isFinancialTabActive"
       deselect="orderModel.calcFinancialTabErrors()"
       ng-hide="orderModel.isErrorFinancialTab"
       heading="נתונים כספיים">
    <ng-include src="'app/partials/order/financial.html'"></ng-include>
  </tab>
  <tab class="bg-danger"
       select="orderModel.switchFinancialTab()"
       ng-show="orderModel.isErrorFinancialTab"
       heading="נתונים כספיים">
  </tab>
  <tab active="orderModel.isItemsTabActive"
       deselect="orderModel.calcItemsTabErrors()"
       ng-hide="orderModel.isErrorItemsTab"
       heading="מנות">
    <ng-include src="'app/partials/order/items.html'"></ng-include>
  </tab>
  <tab class="bg-danger"
       select="orderModel.switchItemsTab()"
       ng-show="orderModel.isErrorItemsTab"
       heading="מנות">
  </tab>
</tabset>
