<div class="modal-header">
  <h3 class="modal-title">שליחת בקשת משוב ללקוח</h3>
</div>
<div class="modal-body">

  <div>
    <label>
      אל:
    </label>
    <span>{{sendFeedbackMailModel.customer. firstName+' '+
    sendFeedbackMailModel.customer.lastName}}</span>
    <input type="text" size="30" ng-model="sendFeedbackMailModel.mail.to"><br/>
    <label>
      דע:
    </label>
    <span>{{sendFeedbackMailModel.contact. firstName+' '+
    sendFeedbackMailModel.contact.lastName}}</span>
    <input type="text" size="30" ng-model="sendFeedbackMailModel.mail.cc"><br/>
  </div>
  <div>
    <label>
      הנדון:
    </label>
    <input type="text" size="60" ng-model="sendFeedbackMailModel.mail.subject">
  </div>
  <div>
    <h5>טקסט מבוא</h5>
    <textarea ckeditor="editorOptions" rows="5" cols="70" ng-model="sendFeedbackMailModel.msg"
    ></textarea>
  </div>
  <p></p>
 </div>
<table>
  <tr>
    <td>האם משלוח פרימיום?</td>
    <td>
      <input type="checkbox" ng-model="sendFeedbackMailModel.isPremiumDelivery">
    </td>
  </tr>
  <tr>
    <td>האם היו מלצרים?</td>
    <td>
      <input type="checkbox" ng-model="sendFeedbackMailModel.isWaiters">
    </td>
  </tr>
  <tr>
    <td>האם היה שליח חיצוני?</td>
    <td>
      <input type="checkbox" ng-model="sendFeedbackMailModel.isExternalDelivery">
    </td>
  </tr>
  <tr>
    <td>האם הלקוח שלח מייל משוב?</td>
    <td>
      <input type="checkbox" ng-model="sendFeedbackMailModel.isSentFeedbackMail">
    </td>
  </tr>
</table>
<div class="modal-footer">
  <email-first-time-experience>
    <button class="btn btn-primary" ng-click="sendFeedbackMailModel.doEmail('send')"
            ng-disabled = "!sendFeedbackMailModel.msg || !sendFeedbackMailModel.mail.to"
    >שלח</button>
  </email-first-time-experience>
  <email-first-time-experience>
    <button class="btn btn-primary" ng-click="sendFeedbackMailModel.doEmail('save')"
            ng-disabled = "!sendFeedbackMailModel.msg || !sendFeedbackMailModel.mail.to"
    >שמור</button>
  </email-first-time-experience>
  <button class="btn btn-warning" ng-click="sendFeedbackMailModel.cancel()">ביטול</button>
</div>
