<div class="modal-header">
  <h3 class="modal-title">שליחת דוא"ל ללקוח</h3>
</div>
<div class="modal-body">

  <div>
    <label>
      אל:
    </label>
    <span>{{sendMailModel.customer. firstName+' '+
            sendMailModel.customer.lastName}}</span>
    <input type="text" size="30" ng-model="sendMailModel.mail.to"><br/>
    <label>
      דע:
    </label>
    <span>{{sendMailModel.contact. firstName+' '+
            sendMailModel.contact.lastName}}</span>
    <input type="text" size="30" ng-model="sendMailModel.mail.cc"><br/>
  </div>
  <div>
    <label>
      הנדון:
    </label>
    <input type="text" size="60" ng-model="sendMailModel.mail.subject">
  </div>
  <div>
    <label>
      בחר וערוך מלל:
    </label>
    <select ng-model="sendMailModel.mailTextType"
            ng-change="sendMailModel.setText()"
            ng-options="bidTextType.label for bidTextType in sendMailModel.bidTextTypes | filter: {documentType: 3}"
            ></select><br/>
     <textarea ckeditor="editorOptions" rows="5" cols="70" ng-model="sendMailModel.msg"
                  ></textarea>
  </div>
  <div>
    <span>צרופות:</span> &nbsp;&nbsp;&nbsp;
    <span>קישור</span>
    <input type="radio" ng-model="sendMailModel.attachmentType" value="link">
    <span>PDF</span>
    <input type="radio" ng-model="sendMailModel.attachmentType" value="pdf">
 </div>
  <p></p>
  <table class="table table-hover">
    <tr ng-repeat="bid in sendMailModel.bids | filter: sendMailModel.isShowDocument">
      <td>
      <input type="checkbox" ng-model="bid.isInclude">
      </td>
      <td>{{sendMailModel.documentTypes[bid.attributes.documentType].label}}</td>
      <td>{{bid.attributes.desc}}</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
    <email-first-time-experience>
        <button class="btn btn-primary" ng-click="sendMailModel.doSend()"
                ng-disabled = "!sendMailModel.msg || !sendMailModel.mail.to"
                >שלח</button>
    </email-first-time-experience>
  <button class="btn btn-warning" ng-click="sendMailModel.cancel()">ביטול</button>
</div>
