<div  ng-controller="TasksCtrl as tasksModel">
  <table>
    <tr>
      <td style="vertical-align: top; width: 25%;"
          ng-repeat="phase in tasksModel.order.view.phases">
        <h4 ng-class="phase.isDone?'taskDone':null">{{phase.description}}</h4>
        <table ng-disabled="tasksModel.readOnly.is">
          <tr ng-repeat="task in phase.tasks">
            <td style="vertical-align: top;" ng-disabled="">
              <input type="checkbox"
                     ng-model="task.isDone"
                     ng-change="tasksModel.taskChecked(task)"
                     ng-disabled="tasksModel.readOnly.is || task.isDisabled">
            </td>
            <td>
              <div>{{task.description}}</div>
              <table>
                <tr ng-repeat="detail in task.details" ng-show="detail.isShow">
                  <td>
                    <div ng-hide="(detail.type===2 || detail.type===4) && !detail.inputText && !detail.isRequired">
                      <span ng-show="detail.isRequired">*</span>
                      <span ng-hide="detail.isRequired">-</span>
                      <span ng-class="detail.isRequired && !detail.isDone?'taskRequired':
                                      (detail.type===1 || detail.type===3) && detail.isDone?'taskDone':null">
                        {{detail.description}}
                      </span>
                      <span ng-show="detail.type===5">
                        <input type="checkbox" ng-model="detail.boolean"
                               ng-change="tasksModel.detailBooleanSet(detail)"
                               ng-disabled="tasksModel.readOnly.is">
                      </span>
                    </div>
                    <div ng-show="detail.type===2">
                      <input type="text" size="30" ng-model="detail.inputText"
                             ng-change="tasksModel.detailTextChanged(detail)"
                             placeholder="{{detail.description}}"
                             ng-disabled="tasksModel.readOnly.is">
                    </div>
                    <div ng-show="detail.type===4">
                      <textarea rows="2" cols="32" ng-model="detail.inputText"
                                ng-change="tasksModel.detailTextChanged(detail)"
                                placeholder="{{detail.description}}"
                                ng-disabled="tasksModel.readOnly.is">
                      </textarea>
                    </div>
                    <div ng-show="detail.type===11">
                      <select ng-model="tasksModel.order.view.referralSource"
                              ng-change="tasksModel.setReferralSource(detail)"
                              ng-options="referralSource.label for referralSource in tasksModel.referralSources"
                              ng-disabled="tasksModel.readOnly.is"
                      ></select>
                    </div>
                    <div ng-show="detail.type===12">
                      <select ng-model="tasksModel.order.view.foodType"
                              ng-change="tasksModel.setFoodType(detail)"
                              ng-options="foodType.label for foodType in tasksModel.foodTypes"
                              ng-disabled="tasksModel.readOnly.is">
                        <option value=""></option>
                      </select>
                    </div>
                  </td>
                </tr>
              </table>
             </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</div>
