<table>
  <thead>
  <th><label>תאריך</label></th>
  <th><label>פעילות</label></th>
  <th></th>
  </thead>
  <tr>
    <td>{{orderModel.activityDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>
      <input type="text" size="70" ng-model="orderModel.activityText"
             ng-disabled="orderModel.isReadOnly"
          >
    </td>
    <td>
        <button ng-click="orderModel.addActivity()"
                ng-disabled="orderModel.isReadOnly"
                class="btn btn-sm btn-default">צור</button>
    </td>
  </tr>
  <tr ng-repeat="activity in orderModel.order.attributes.activities track by activity.date">
    <td>{{activity.date | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{activity.text}}</td>
    <td>
      <button ng-click="orderModel.delActivity($index)"
              class="btn btn-sm btn-warning"
              ng-disabled="orderModel.isReadOnly"
          >מחק</button>
    </td>
  </tr>
</table>
