<div ng-hide="orderModel.order.view.isChanged">
  <input type="text"
         size=50
         ng-model="orderModel.bidDesc"
         ng-disabled="orderModel.isReadOnly">
  <button ng-click="orderModel.createBid()"
          ng-disabled="orderModel.isReadOnly"
      >צור</button>
</div>
<table>
  <thead>
  <th><label>תאריך</label></th>
  <th><label>הערות</label></th>
  <th><label>סכום</label></th>
  </thead>
  <tbody>
  <tr ng-repeat="bid in orderModel.bids track by bid.id">
    <td>
      <a ng-href="index.html#/bid/{{bid.id}}" target="_blank">
      {{bid.attributes.date | date: 'dd/MM/yyyy HH:mm'}}
      </a>
    </td>
    <td>{{bid.attributes.desc}}</td>
    <td>{{bid.attributes.order.total | currency}}</td>
    <td>
      <button ng-click="orderModel.delBid(bid)"
              ng-disabled="orderModel.isReadOnly"
          >מחק</button>
    </td>
  </tr>
  </tbody>
</table>