<table>
    <thead>
    <th>
        הצעת מחיר
    </th>
    <th></th>
    <th>
        מסמכים נוספים
    </th>
    </thead>
    <tbody>
    <tr ng-class="orderModel.order.view.changes.startBidTextType?'myChanged':null">
        <td>טקסט מבוא</td>
        <td>
            <select ng-model="orderModel.order.view.startBidTextType"
                    ng-change="orderModel.orderChanged('startBidTextType')"
                    ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes | filter: {documentType: 1}"
                    ng-disabled="orderModel.isReadOnly"
                    ></select>
        </td>
        <td>
            <a ng-href="#/menu/{{orderModel.order.id}}"target="_blank">
                תפריט
            </a>
        </td>
    </tr>
    <tr ng-class="orderModel.order.view.changes.endBidTextType?'myChanged':null">
        <td>טקסט סיום</td>
        <td>
            <select ng-model="orderModel.order.view.endBidTextType"
                    ng-change="orderModel.orderChanged('endBidTextType')"
                    ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes | filter: {documentType: 1}"
                    ng-disabled="orderModel.isReadOnly"
                    ></select>
        </td>
        <td>
            <a ng-href="#/exitList/{{orderModel.order.id}}"target="_blank">רשימת יציאה  </a>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <th>
        הזמנה
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="textType in orderModel.bidTextTypes | filter: {documentType: 2}"
        ng-class="orderModel.order.view.changes.orderTextType?'myChanged':null">
        <td>
            <input type="checkbox" ng-model="textType.isInclude"
                   ng-change="orderModel.setOrderDocTextType(textType)">
        </td>
        <td>{{textType.label}}</td>
    </tr>
    </tbody>
</table>

<div ng-hide="orderModel.order.view.isChanged">
  <input type="text" placeholder="תיאור מסמך"
         size=50
         ng-model="orderModel.bidDesc"
         ng-disabled="orderModel.isReadOnly">
    <span ng-repeat="documentType in orderModel.documentTypes">
        <button ng-click="orderModel.createBid(documentType.id)"
                ng-disabled="orderModel.isReadOnly"
                class="btn btn-default">
            {{documentType.label}}
        </button>
   </span>
</div>
<table>
  <thead>
  <th>סוג מסמך</th>
  <th>תאריך</th>
  <th>הערות</th>
  <th>סכום</th>
  </thead>
  <tbody>
  <tr ng-repeat="bid in orderModel.bids track by bid.id">
      <td>{{orderModel.documentTypes[bid.attributes.documentType].label}}</td>
      <td ng-hide="bid.attributes.documentType===0">
          <a ng-href="index.html#/bid/{{bid.id}}" target="_blank">
              {{bid.attributes.date | date: 'dd/MM/yyyy HH:mm'}}
          </a>
      </td>
      <td ng-show="bid.attributes.documentType===0">
              {{bid.attributes.date | date: 'dd/MM/yyyy HH:mm'}}
      </td>
    <td>{{bid.attributes.desc}}</td>
    <td>{{bid.attributes.order.total | currency}}</td>
      <td>
          <button ng-click="orderModel.restoreBid(bid)"
                  ng-hide="orderModel.order.view.isChanged"
                  ng-disabled="orderModel.isReadOnly"
                  class="btn btn-default btn-sm">
                  שחזר
          </button>
      </td>
      <td>
          <button ng-click="orderModel.delBid(bid)"
                  ng-disabled="orderModel.isReadOnly"
                  class="btn btn-default btn-sm">
              מחק
          </button>
      </td>
  </tr>
  </tbody>
</table>