<table>
  <tr ng-class="orderModel.order.view.changes.template?'myChanged':null">
    <td>תבנית</td>
    <td>
      <input type="text" ng-model="orderModel.order.attributes.template"
             ng-model-options="{updateOn: 'blur'}"
             ng-change="orderModel.orderChanged('template')">
    </td>
  </tr>
  <tr ng-class="orderModel.order.view.changes.deliveryLocation?'myChanged':null">
    <td>מקום משלוח</td>
    <td>
      <textarea rows="2" cols="48" ng-model="orderModel.order.attributes.deliveryLocation"
                ng-model-options="{updateOn: 'blur'}"
                ng-change="orderModel.orderChanged('deliveryLocation')"></textarea>
    </td>
  </tr>
  <tr ng-class="orderModel.order.view.changes.remarks?'myChanged':null">
    <td>הערות</td>
    <td>
      <textarea rows="4" cols="48" ng-model="orderModel.order.attributes.remarks"
                ng-model-options="{updateOn: 'blur'}"
                ng-change="orderModel.orderChanged('remarks')"></textarea>
    </td>
  </tr>
  <tr ng-class="orderModel.order.view.changes.includeRemarksInBid?'myChanged':null">
    <td>הכלל הערות בהצעה</td>
    <td>
      <input type="checkbox" ng-model="orderModel.order.attributes.includeRemarksInBid"
             ng-change="orderModel.orderChanged('includeRemarksInBid')">
    </td>
  </tr>
  <tr ng-class="orderModel.order.view.changes.startBidTextType?'myChanged':null">
    <td>טקסט מבוא</td>
    <td>
      <select ng-model="orderModel.order.view.startBidTextType"
              ng-change="orderModel.orderChanged('startBidTextType')"
              ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes"></select>
    </td>
  </tr>
  <tr ng-class="orderModel.order.view.changes.endBidTextType?'myChanged':null">
    <td>טקסט סיום</td>
    <td>
      <select ng-model="orderModel.order.view.endBidTextType"
              ng-change="orderModel.orderChanged('endBidTextType')"
              ng-options="bidTextType.label for bidTextType in orderModel.bidTextTypes"></select>
    </td>
  </tr>
</table>
<button ng-click="orderModel.deleteOrder()" ng-show="orderModel.order.id">מחק הזמנה</button><br/>
  <!--<a ui-sref="bid({id:orderModel.order.id})" target="_blank"><button>הצעת מחיר</button></a> -->
  <!--<a ng-href="index.html#/bid/{{orderModel.order.id}}" target="_blank"><button>הצעת מחיר</button></a> -->


