<table>
  <tbody>
    <tr ng-class="orderModel.order.view.changes.customer?'myChanged':null">
      <td><label>לקוח</label></td>
      <td>
        <button ng-click="orderModel.setCustomer(1,'בחירת לקוח')"
                ng-class="orderModel.order.view.errors.customer?'myError':null"
                class="btn btn-default"
                ng-show="orderModel.order.view.customer.id">
          {{orderModel.order.view.customer.firstName + ' ' + orderModel.order.view.customer.lastName}}
        </button>
        <button ng-click="orderModel.setCustomer(1,'בחירת לקוח')"
                ng-class="orderModel.order.view.errors.customer?'myError':null"
                class="btn btn-default"
                ng-hide="orderModel.order.view.customer.id">
          בחר
        </button>
      </td>
      <td>
        <span ng-show="orderModel.order.view.customer.mobilePhone">טל' נייד: </span>
        <span>{{orderModel.order.view.customer.mobilePhone}}</span>
      </td>
      <td>
        <span ng-show="orderModel.order.view.customer.homePhone">טל' בית: </span>
        <span>{{orderModel.order.view.customer.homePhone}}</span>
      </td>
      <td>
        <span ng-show="orderModel.order.view.customer.workPhone">טל עבודה: </span>
        <span>{{orderModel.order.view.customer.workPhone}}</span>
      </td>
      <td>
        <span ng-show="orderModel.order.view.customer.email">דואל: </span>
        <span>{{orderModel.order.view.customer.email}}</span>
      </td>
    </tr>
    <tr ng-class="orderModel.order.view.changes.contact?'myChanged':null">
      <td><label>איש קשר</label></td>
      <td>
        <button ng-click="orderModel.setCustomer(2,'בחירת איש קשר')"
                ng-class="orderModel.order.view.errors.contact?'myError':null"
                class="btn btn-default"
                ng-show="orderModel.order.view.contact.id">
          {{orderModel.order.view.contact.firstName + ' ' + orderModel.order.view.contact.lastName}}
        </button>
        <button ng-click="orderModel.setCustomer(2,'בחירת איש קשר')"
                ng-class="orderModel.order.view.errors.contact?'myError':null"
                class="btn btn-default"
                ng-hide="orderModel.order.view.contact.id">
          בחר
        </button>
      </td>
      <td>
        <span ng-show="orderModel.order.view.contact.mobilePhone">טל' נייד: </span>
        <span>{{orderModel.order.view.contact.mobilePhone}}</span>
      </td>
      <td>
        <span ng-show="orderModel.order.view.contact.homePhone">טל' בית: </span>
        <span>{{orderModel.order.view.contact.homePhone}}</span>
      </td>
      <td>
        <span ng-show="orderModel.order.view.contact.workPhone">טל עבודה: </span>
        <span>{{orderModel.order.view.contact.workPhone}}</span>
      </td>
      <td>
        <span ng-show="orderModel.order.view.contact.email">דואל: </span>
        <span>{{orderModel.order.view.contact.email}}</span>
      </td>
      </tr>
    </tbody>
  </table>
<table style="width: 80%">
  <tr ng-class="orderModel.order.view.changes.header?'myChanged':null">
    <td style="width: 21%">
      <label>תאריך</label><input type='date' ng-model="orderModel.order.attributes.eventDate"
                                 ng-change="orderModel.setEventDate()" required
                                 ng-class="orderModel.order.view.errors.eventDate?'myError':null">
    </td>
    <td style="width: 14%">
      <label>שעה</label><input type="time" ng-model="orderModel.order.attributes.eventTime"
                               ng-model-options="{updateOn: 'blur'}"
                               ng-disabled="orderModel.isReadOnly"
                               ng-change="orderModel.orderChanged('header')">
    </td>
    <td style="width: 18%">
      <label>מספר משתתפים</label><input type="number" min=1 max=1000
                                        ng-model="orderModel.order.attributes.noOfParticipants"
                                        ng-change="orderModel.setNoOfParticipants()"
                                        ng-model-options="{updateOn: 'blur'}"
                                        ng-disabled="orderModel.isReadOnly"
                                        ng-class="orderModel.order.view.errors.noOfParticipants?'myError':null">
    </td>
    <td style="width: 19%">
      <label>סוג אירוע</label><select ng-model="orderModel.order.view.eventType"
                                      ng-change="orderModel.orderChanged('header')"
                                      ng-options="eventType.label for eventType in orderModel.eventTypes"
                                      ng-disabled="orderModel.isReadOnly"
            ></select>
    </td>
    <td style="width: 14%">
      <label>סטטוס</label><select ng-model="orderModel.order.view.orderStatus"
                                  ng-change="orderModel.orderChanged('header')"
                                  ng-options="orderStatus.name for orderStatus in orderModel.orderStatuses"
                                  ng-disabled="orderModel.isReadOnly"
            ></select>
    </td>
    <td style="width: 14%">
      <label>סכום: </label><span>{{orderModel.order.attributes.total | currency}}</span>
    </td>
  </tr>
</table>
