<table>
  <tbody>
  <tr ng-class="orderModel.changes.header?'myChanged':null">
    <td>
      <label>לקוח</label><select ng-model="orderModel.order.view.customer" ng-change="orderModel.setCustomer()"
                                 ng-options="customer.firstName+' '+customer.lastName for customer in orderModel.customerList" required
                                 ng-class="orderModel.errors.customer?'myError':null"></select>
      <span ng-show="orderModel.order.view.customer.mobilePhone">טל' נייד: </span>
      <span>{{orderModel.order.view.customer.mobilePhone}}</span>
      <span ng-show="orderModel.order.view.customer.homePhone">טל' בית: </span>
      <span>{{orderModel.order.view.customer.homePhone}}</span>
      <span ng-show="orderModel.order.view.customer.workPhone">טל עבודה: </span>
      <span>{{orderModel.order.view.customer.workPhone}}</span>
      <span ng-show="orderModel.order.view.customer.email">דואל: </span>
      <span>{{orderModel.order.view.customer.email}}</span><br/>
    </td>
    <td>
      <label>תאריך</label><input type='date' ng-model="orderModel.order.attributes.eventDate"
                                 ng-change="orderModel.setEventDate()" required
                                 ng-class="orderModel.errors.eventDate?'myError':null">
    </td>
    <td>
      <label>שעה</label><input type="text" size="8" ng-model="orderModel.order.attributes.eventTime"
                               ng-change="orderModel.orderChanged('header')" ng-model-options="{updateOn: 'blur'}">
    </td>
    <td>
      <label>מספר משתתפים</label><input type="number" min=1 max=1000
                                        ng-model="orderModel.order.attributes.noOfParticipants"
                                        ng-change="orderModel.setNoOfParticipants()"
                                        ng-model-options="{updateOn: 'blur'}"
                                        ng-class="orderModel.errors.noOfParticipants?'myError':null">
    </td>
    <td>
      <label>סוג אירוע</label><select ng-model="orderModel.order.view.eventType"
                                      ng-change="orderModel.orderChanged('header')"
                                      ng-options="eventType.label for eventType in orderModel.eventTypes"></select>
    <td>
      <label>סטטוס</label><select ng-model="orderModel.order.view.orderStatus"
                                  ng-change="orderModel.orderChanged('header')"
                                  ng-options="orderStatus.name for orderStatus in orderModel.orderStatuses"></select><br/>
    </td>
  </tr>
  </tbody>
</table>
