<button ng-click="orderModel.addItem()"
        ng-disabled="orderModel.isReadOnly"
        class="btn btn-default"
    >הוסף פריט</button>
<span ng-show="orderModel.isAddItem">
    <select ng-model="orderModel.currentCategory" ng-change="orderModel.setCategory()"
            ng-options="category.label for category in orderModel.categories"></select>
    <label>סינון:</label><input type="text" ng-model="orderModel.filterText"
                                ng-change="orderModel.filterProducts()">
    <table border="1">
      <tbody>
      <tr ng-repeat="product in orderModel.filteredCatalog">
        <td ng-click="orderModel.setProduct(product)">{{product.productDescription}}</td>
      </tr>
      </tbody>
    </table>
</span>
<table style="width: 80%">
  <thead>
  <th style="width: 5%">קטגוריה</th>
  <th style="width: 70%">מוצר</th>
  <th style="width: 5%">יח' מידה</th>
  <th style="width: 5%">כמות</th>
  <th style="width: 5%">קופסאות</th>
  <th style="width: 5%">מחיר</th>
  <th style="width: 5%">בונוס</th>
  </thead>
  <tbody>
  <tr ng-repeat="item in orderModel.order.attributes.items track by item.catalogId"
      ng-class="item.isChanged?'myChanged':null">
    <td>{{item.category.label}}</td>
    <td>
      <input type="text" size="90" ng-model="item.productDescription"
             ng-model-options="{updateOn: 'blur'}"
             ng-change="orderModel.setProductDescription($index)"
             ng-disabled="orderModel.isReadOnly"
             ng-class="item.errors.productDescription?'myError':null">
    </td>
    <td>{{item.measurementUnit.label}}</td>
    <td>
      <input type="number" size="3" max=1000 min=1
             ng-model="item.quantity"
             ng-model-options="{updateOn: 'blur'}"
             ng-change="orderModel.setQuantity($index)"
             ng-disabled="orderModel.isReadOnly"
             ng-class="item.errors.quantity?'myError':null">
    </td>
    <td>{{item.boxCount | number: 2}}</td>
    <td> <!-- ng-model-options with updateOn:blur does not work with money directive -->
      <input type="text" size="7" money min=0 ng-model="item.price"
             ng-change="orderModel.priceChanged($index)"
             ng-blur="orderModel.setPrice($index)"
             ng-disabled="orderModel.isReadOnly"
             ng-class="item.errors.price?'myError':null">
    </td>
    <td>
      <input type="checkbox"
             ng-model="item.isFreeItem"
             ng-change="orderModel.setFreeItem($index)"
             ng-disabled="orderModel.isReadOnly"
          >
    </td>
    <td>
      <button ng-click="orderModel.deleteItem($index)"
              ng-disabled="orderModel.isReadOnly"
              class="btn btn-warning"
          >מחק</button>
    </td>
  </tr>
  </tbody>
</table>
