<div class="modal-header">
  <h3 class="modal-title">עדכון מחירי פריטים מהקטלוג</h3>
</div>
<div class="modal-body">
  <table>
    <thead>
    <th>
      מנה
    </th>
    <th>
      מחיר ישן
    </th>
    <th>
      מחיר חדש
    </th>
    <th>
      עדכן
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="item in updatePricesModel.changedItems">
      <td>{{item.productDescription}}</td>
      <td>{{item.price | currency}}</td>
      <td>{{item.newPrice | currency}}</td>
      <td>
        <input type="checkbox" ng-model="item.isChangePrice">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="updatePricesModel.done()">סיום</button>
</div>
